openapi: 3.2.0
info:
  title: GitLab access_requests Migrations API
  version: v4
  description: Operations related to access requests
servers:
- url: https://gitlab.com
tags:
- name: migrations
  description: Operations about migrations
paths:
  /api/v4/admin/migrations/pending:
    get:
      description: List pending database migrations
      parameters:
      - in: query
        name: database
        description: The name of the database
        required: false
        schema:
          type: string
          enum:
          - main
          - ci
          - sec
          - embedding
          - geo
          default: main
      responses:
        '200':
          description: 200 OK
        '401':
          description: 401 Unauthorized
        '403':
          description: 403 Forbidden
      tags:
      - migrations
      operationId: getApiV4AdminMigrationsPending
  /api/v4/admin/migrations/{timestamp}/mark:
    post:
      description: Mark the migration as successfully executed
      parameters:
      - in: path
        name: timestamp
        description: The migration version timestamp
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '201':
          description: 201 Created
        '401':
          description: 401 Unauthorized
        '403':
          description: 403 Forbidden
        '404':
          description: 404 Not found
        '422':
          description: You can mark only pending migrations
      tags:
      - migrations
      operationId: postApiV4AdminMigrationsTimestampMark
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4AdminMigrationsTimestampMark'
        required: true
components:
  schemas:
    postApiV4AdminMigrationsTimestampMark:
      type: object
      properties:
        database:
          type: string
          description: The name of the database
          enum:
          - main
          - ci
          - sec
          - embedding
          - geo
          default: main
      description: Mark the migration as successfully executed
  securitySchemes:
    access_token_header:
      type: apiKey
      name: PRIVATE-TOKEN
      in: header
    access_token_query:
      type: apiKey
      name: private_token
      in: query
