openapi: 3.2.0
info:
  title: GitLab access_requests Project Import API
  version: v4
  description: Operations related to access requests
servers:
- url: https://gitlab.com
tags:
- name: project_import
  description: Operations related to importing projects
paths:
  /api/v4/projects/{id}/export:
    get:
      summary: Get export status
      description: This feature was introduced in GitLab 10.6.
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get export status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_ProjectExportStatus'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '503':
          description: Service unavailable
      tags:
      - project_import
      operationId: getApiV4ProjectsIdExport
    post:
      summary: Start export
      description: This feature was introduced in GitLab 10.6.
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Start export
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
      tags:
      - project_import
      operationId: postApiV4ProjectsIdExport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4ProjectsIdExport'
        required: true
  /api/v4/projects/{id}/export/download:
    get:
      summary: Download export
      description: This feature was introduced in GitLab 10.6.
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Download export
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '503':
          description: Service unavailable
      tags:
      - project_import
      operationId: getApiV4ProjectsIdExportDownload
  /api/v4/projects/{id}/export_relations:
    post:
      summary: Start relations export
      description: This feature was introduced in GitLab 14.4
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Start relations export
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '503':
          description: Service unavailable
      tags:
      - project_import
      operationId: postApiV4ProjectsIdExportRelations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4ProjectsIdExportRelations'
        required: true
  /api/v4/projects/{id}/export_relations/download:
    get:
      summary: Download relations export
      description: This feature was introduced in GitLab 14.4
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: query
        name: relation
        description: Project relation name
        required: true
        schema:
          type: string
      - in: query
        name: batched
        description: Whether to download in batches
        required: false
        schema:
          type: boolean
      - in: query
        name: batch_number
        description: Batch number to download
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Download relations export
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '500':
          description: Internal Server Error
        '503':
          description: Service unavailable
      tags:
      - project_import
      operationId: getApiV4ProjectsIdExportRelationsDownload
  /api/v4/projects/{id}/export_relations/status:
    get:
      summary: Relations export status
      description: This feature was introduced in GitLab 14.4
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: query
        name: relation
        description: Project relation name
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Relations export status
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_BulkImports_ExportStatus'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '503':
          description: Service unavailable
      tags:
      - project_import
      operationId: getApiV4ProjectsIdExportRelationsStatus
  /api/v4/projects/import/authorize:
    post:
      summary: Workhorse authorize the project import upload
      description: This feature was introduced in GitLab 12.9
      responses:
        '201':
          description: Workhorse authorize the project import upload
      tags:
      - project_import
      operationId: postApiV4ProjectsImportAuthorize
  /api/v4/projects/import:
    post:
      summary: Create a new project import
      description: This feature was introduced in GitLab 10.6.
      responses:
        '201':
          description: Create a new project import
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_ProjectImportStatus'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '400':
          description: Bad request
        '404':
          description: Not found
        '503':
          description: Service unavailable
      tags:
      - project_import
      operationId: postApiV4ProjectsImport
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                path:
                  type: string
                  description: The new project path and name
                file:
                  type: string
                  description: The project export file to be imported
                  format: binary
                name:
                  type: string
                  description: The name of the project to be imported. Defaults to the path of the project if not provided.
                namespace:
                  type: string
                  description: (deprecated) The ID or path of the namespace to import the project to. Defaults to the current user's namespace.
                namespace_id:
                  type: integer
                  format: int32
                  description: The ID of the namespace that the project will be imported into. Defaults to the current user's namespace.
                namespace_path:
                  type: string
                  description: The path of the namespace that the project will be imported into. Defaults to the current user's namespace.
                overwrite:
                  type: boolean
                  default: false
                  description: If there is a project in the same namespace and with the same name overwrite it
                override_params[description]:
                  type: string
                  description: The description of the project
                override_params[build_git_strategy]:
                  type: string
                  enum:
                  - fetch
                  - clone
                  description: The Git strategy. Defaults to `fetch`
                override_params[build_timeout]:
                  type: integer
                  format: int32
                  description: Build timeout
                override_params[auto_cancel_pending_pipelines]:
                  type: string
                  enum:
                  - disabled
                  - enabled
                  description: Auto-cancel pending pipelines
                override_params[ci_config_path]:
                  type: string
                  description: The path to CI config file. Defaults to `.gitlab-ci.yml`
                override_params[service_desk_enabled]:
                  type: boolean
                  description: Disable or enable the service desk
                override_params[issues_enabled]:
                  type: boolean
                  description: Flag indication if the issue tracker is enabled
                override_params[merge_requests_enabled]:
                  type: boolean
                  description: Flag indication if merge requests are enabled
                override_params[wiki_enabled]:
                  type: boolean
                  description: Flag indication if the wiki is enabled
                override_params[jobs_enabled]:
                  type: boolean
                  description: Flag indication if jobs are enabled
                override_params[snippets_enabled]:
                  type: boolean
                  description: Flag indication if snippets are enabled
                override_params[issues_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Issues access level. One of `disabled`, `private` or `enabled`
                override_params[repository_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Repository access level. One of `disabled`, `private` or `enabled`
                override_params[merge_requests_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Merge requests access level. One of `disabled`, `private` or `enabled`
                override_params[forking_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Forks access level. One of `disabled`, `private` or `enabled`
                override_params[wiki_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Wiki access level. One of `disabled`, `private` or `enabled`
                override_params[builds_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Builds access level. One of `disabled`, `private` or `enabled`
                override_params[snippets_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Snippets access level. One of `disabled`, `private` or `enabled`
                override_params[package_registry_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  - public
                  description: Controls visibility of the package registry. One of `disabled`, `private`, `enabled` or `public`. `private` will make the package registry accessible only to project members (reporter role and above). `enabled` will make the package registry accessible to everyone who has access to the project. `public` will make the package registry accessible to everyone. `disabled` will disable the package registry
                override_params[pages_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  - public
                  description: Pages access level. One of `disabled`, `private`, `enabled` or `public`
                override_params[analytics_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Analytics access level. One of `disabled`, `private` or `enabled`
                override_params[container_registry_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Controls visibility of the container registry. One of `disabled`, `private` or `enabled`. `private` will make the container registry accessible only to project members (reporter role and above). `enabled` will make the container registry accessible to everyone who has access to the project. `disabled` will disable the container registry
                override_params[security_and_compliance_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Security and compliance access level. One of `disabled`, `private` or `enabled`
                override_params[releases_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Releases access level. One of `disabled`, `private` or `enabled`
                override_params[environments_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Environments access level. One of `disabled`, `private` or `enabled`
                override_params[feature_flags_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Feature flags access level. One of `disabled`, `private` or `enabled`
                override_params[infrastructure_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Infrastructure access level. One of `disabled`, `private` or `enabled`
                override_params[monitor_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Monitor access level. One of `disabled`, `private` or `enabled`
                override_params[model_experiments_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Model experiments access level. One of `disabled`, `private` or `enabled`
                override_params[model_registry_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Model registry access level. One of `disabled`, `private` or `enabled`
                override_params[emails_disabled]:
                  type: boolean
                  description: 'Deprecated: Use emails_enabled instead.'
                override_params[emails_enabled]:
                  type: boolean
                  description: Enable email notifications
                override_params[show_default_award_emojis]:
                  type: boolean
                  description: Show default award emojis
                override_params[show_diff_preview_in_email]:
                  type: boolean
                  description: Include the code diff preview in merge request notification emails
                override_params[warn_about_potentially_unwanted_characters]:
                  type: boolean
                  description: Warn about potentially unwanted characters
                override_params[enforce_auth_checks_on_uploads]:
                  type: boolean
                  description: Enforce auth check on uploads
                override_params[shared_runners_enabled]:
                  type: boolean
                  description: Flag indication if shared runners are enabled for that project
                override_params[group_runners_enabled]:
                  type: boolean
                  description: Flag indication if group runners are enabled for that project
                override_params[resource_group_default_process_mode]:
                  type: string
                  enum:
                  - unordered
                  - oldest_first
                  - newest_first
                  - newest_ready_first
                  description: The process mode of the resource group
                override_params[resolve_outdated_diff_discussions]:
                  type: boolean
                  description: Automatically resolve merge request diff threads on lines changed with a push
                override_params[remove_source_branch_after_merge]:
                  type: boolean
                  description: Remove the source branch by default after merge
                override_params[packages_enabled]:
                  type: boolean
                  description: 'Deprecated: Use :package_registry_access_level instead. Enable project packages feature'
                override_params[container_registry_enabled]:
                  type: boolean
                  description: 'Deprecated: Use :container_registry_access_level instead. Flag indication if the container registry is enabled for that project'
                override_params[container_expiration_policy_attributes][cadence]:
                  type: string
                  description: Container expiration policy cadence for recurring job
                override_params[container_expiration_policy_attributes][keep_n]:
                  type: integer
                  format: int32
                  description: Container expiration policy number of images to keep
                override_params[container_expiration_policy_attributes][older_than]:
                  type: string
                  description: Container expiration policy remove images older than value
                override_params[container_expiration_policy_attributes][name_regex]:
                  type: string
                  description: Container expiration policy regex for image removal
                override_params[container_expiration_policy_attributes][name_regex_keep]:
                  type: string
                  description: Container expiration policy regex for image retention
                override_params[container_expiration_policy_attributes][enabled]:
                  type: boolean
                  description: Flag indication if container expiration policy is enabled
                override_params[lfs_enabled]:
                  type: boolean
                  description: Flag indication if Git LFS is enabled for that project
                override_params[visibility]:
                  type: string
                  enum:
                  - private
                  - internal
                  - public
                  description: The visibility of the project.
                override_params[public_builds]:
                  type: boolean
                  description: 'Deprecated: Use public_jobs instead.'
                override_params[public_jobs]:
                  type: boolean
                  description: Perform public builds
                override_params[request_access_enabled]:
                  type: boolean
                  description: Allow users to request member access
                override_params[only_allow_merge_if_pipeline_succeeds]:
                  type: boolean
                  description: Only allow to merge if builds succeed
                override_params[allow_merge_on_skipped_pipeline]:
                  type: boolean
                  description: Allow to merge if pipeline is skipped
                override_params[only_allow_merge_if_all_discussions_are_resolved]:
                  type: boolean
                  description: Only allow to merge if all threads are resolved
                override_params[tag_list]:
                  type: array
                  items:
                    type: string
                  description: 'Deprecated: Use :topics instead'
                override_params[topics]:
                  type: array
                  items:
                    type: string
                  description: The list of topics for a project
                override_params[avatar]:
                  type: string
                  description: Avatar image for project
                  format: binary
                override_params[printing_merge_request_link_enabled]:
                  type: boolean
                  description: Show link to create/view merge request when pushing from the command line
                override_params[merge_method]:
                  type: string
                  enum:
                  - ff
                  - rebase_merge
                  - merge
                  description: The merge method used when merging merge requests
                override_params[suggestion_commit_message]:
                  type: string
                  description: The commit message used to apply merge request suggestions
                override_params[merge_commit_template]:
                  type: string
                  description: Template used to create merge commit message
                override_params[squash_commit_template]:
                  type: string
                  description: Template used to create squash commit message
                override_params[issue_branch_template]:
                  type: string
                  description: Template used to create a branch from an issue
                override_params[auto_devops_enabled]:
                  type: boolean
                  description: Flag indication if Auto DevOps is enabled
                override_params[auto_devops_deploy_strategy]:
                  type: string
                  enum:
                  - continuous
                  - manual
                  - timed_incremental
                  description: Auto Deploy strategy
                override_params[autoclose_referenced_issues]:
                  type: boolean
                  description: Flag indication if referenced issues auto-closing is enabled
                override_params[repository_storage]:
                  type: string
                  description: Which storage shard the repository is on. Available only to admins
                override_params[squash_option]:
                  type: string
                  enum:
                  - never
                  - always
                  - default_on
                  - default_off
                  description: Squash default for project. One of `never`, `always`, `default_on`, or `default_off`.
                override_params[mr_default_target_self]:
                  type: boolean
                  description: Merge requests of this forked project targets itself by default
                override_params[mr_default_title_template]:
                  type: string
                  description: Template used to generate the default merge request title. Maximum 100 characters.
                override_params[only_allow_merge_if_all_status_checks_passed]:
                  type: boolean
                  description: Blocks merge requests from merging unless all status checks have passed
                override_params[approvals_before_merge]:
                  type: integer
                  format: int32
                  description: How many approvers should approve merge request by default
                override_params[mirror]:
                  type: boolean
                  description: '[Deprecated] Enables pull mirroring in a project'
                override_params[mirror_trigger_builds]:
                  type: boolean
                  description: '[Deprecated] Pull mirroring triggers builds'
                override_params[external_authorization_classification_label]:
                  type: string
                  description: The classification label for the project
                override_params[requirements_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Requirements feature access level. One of `disabled`, `private` or `enabled`
                override_params[prevent_merge_without_jira_issue]:
                  type: boolean
                  description: Require an associated issue from Jira
                override_params[auto_duo_code_review_enabled]:
                  type: boolean
                  description: Enable automatic reviews by GitLab Duo on merge requests
                override_params[duo_remote_flows_enabled]:
                  type: boolean
                  description: Enable GitLab Duo remote flows for this project
                override_params[duo_sast_fp_detection_enabled]:
                  type: boolean
                  description: Enable GitLab Duo SAST false positive detection for this project
                override_params[duo_secret_detection_fp_enabled]:
                  type: boolean
                  description: Enable GitLab Duo Secret Detection false positive detection for this project
                override_params[duo_sast_vr_workflow_enabled]:
                  type: boolean
                  description: Enable GitLab Duo SAST vulnerability resolution workflow for this project
                override_params[spp_repository_pipeline_access]:
                  type: boolean
                  description: Grant read-only access to security policy configurations for enforcement in linked CI/CD projects
                override_params[merge_request_title_regex]:
                  type: string
                  description: The regex the Merge Request must adhere to
                override_params[merge_request_title_regex_description]:
                  type: string
                  description: The description for the regex the Merge Request must adhere to
                file.path:
                  type: string
                  description: Path to locally stored body (generated by Workhorse)
                file.name:
                  type: string
                  description: Real filename as send in Content-Disposition (generated by Workhorse)
                file.type:
                  type: string
                  description: Real content type as send in Content-Type (generated by Workhorse)
                file.size:
                  type: integer
                  format: int32
                  description: Real size of file (generated by Workhorse)
                file.md5:
                  type: string
                  description: MD5 checksum of the file (generated by Workhorse)
                file.sha1:
                  type: string
                  description: SHA1 checksum of the file (generated by Workhorse)
                file.sha256:
                  type: string
                  description: SHA256 checksum of the file (generated by Workhorse)
                file.etag:
                  type: string
                  description: Etag of the file (generated by Workhorse)
                file.remote_id:
                  type: string
                  description: Remote_id of the file (generated by Workhorse)
                file.remote_url:
                  type: string
                  description: Remote_url of the file (generated by Workhorse)
              required:
              - path
              - file
  /api/v4/projects/{id}/import:
    get:
      summary: Get a project import status
      description: This feature was introduced in GitLab 10.6.
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get a project import status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_ProjectImportStatus'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '400':
          description: Bad request
        '404':
          description: Not found
        '503':
          description: Service unavailable
      tags:
      - project_import
      operationId: getApiV4ProjectsIdImport
  /api/v4/projects/{id}/import/git:
    post:
      summary: Import a project from a Git URL
      description: This feature was introduced in GitLab 18.10.
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Import a project from a Git URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_ProjectImportStatus'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '400':
          description: Bad request
        '404':
          description: Not found
        '409':
          description: Conflict
        '422':
          description: Unprocessable Entity
      tags:
      - project_import
      operationId: postApiV4ProjectsIdImportGit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4ProjectsIdImportGit'
        required: true
  /api/v4/projects/remote-import:
    post:
      summary: Create a new project import using a remote object storage path
      description: This feature was introduced in GitLab 13.2.
      responses:
        '201':
          description: Create a new project import using a remote object storage path
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_ProjectImportStatus'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '400':
          description: Bad request
        '404':
          description: Not found
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
      tags:
      - project_import
      operationId: postApiV4ProjectsRemoteImport
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                url:
                  type: string
                  description: The URL for the file.
                path:
                  type: string
                  description: The new project path and name
                name:
                  type: string
                  description: The name of the project to be imported. Defaults to the path of the project if not provided.
                namespace:
                  type: string
                  description: (deprecated) The ID or path of the namespace to import the project to. Defaults to the current user's namespace.
                namespace_id:
                  type: integer
                  format: int32
                  description: The ID of the namespace that the project will be imported into. Defaults to the current user's namespace.
                namespace_path:
                  type: string
                  description: The path of the namespace that the project will be imported into. Defaults to the current user's namespace.
                overwrite:
                  type: boolean
                  default: false
                  description: If there is a project in the same namespace and with the same name overwrite it
                override_params[description]:
                  type: string
                  description: The description of the project
                override_params[build_git_strategy]:
                  type: string
                  enum:
                  - fetch
                  - clone
                  description: The Git strategy. Defaults to `fetch`
                override_params[build_timeout]:
                  type: integer
                  format: int32
                  description: Build timeout
                override_params[auto_cancel_pending_pipelines]:
                  type: string
                  enum:
                  - disabled
                  - enabled
                  description: Auto-cancel pending pipelines
                override_params[ci_config_path]:
                  type: string
                  description: The path to CI config file. Defaults to `.gitlab-ci.yml`
                override_params[service_desk_enabled]:
                  type: boolean
                  description: Disable or enable the service desk
                override_params[issues_enabled]:
                  type: boolean
                  description: Flag indication if the issue tracker is enabled
                override_params[merge_requests_enabled]:
                  type: boolean
                  description: Flag indication if merge requests are enabled
                override_params[wiki_enabled]:
                  type: boolean
                  description: Flag indication if the wiki is enabled
                override_params[jobs_enabled]:
                  type: boolean
                  description: Flag indication if jobs are enabled
                override_params[snippets_enabled]:
                  type: boolean
                  description: Flag indication if snippets are enabled
                override_params[issues_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Issues access level. One of `disabled`, `private` or `enabled`
                override_params[repository_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Repository access level. One of `disabled`, `private` or `enabled`
                override_params[merge_requests_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Merge requests access level. One of `disabled`, `private` or `enabled`
                override_params[forking_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Forks access level. One of `disabled`, `private` or `enabled`
                override_params[wiki_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Wiki access level. One of `disabled`, `private` or `enabled`
                override_params[builds_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Builds access level. One of `disabled`, `private` or `enabled`
                override_params[snippets_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Snippets access level. One of `disabled`, `private` or `enabled`
                override_params[package_registry_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  - public
                  description: Controls visibility of the package registry. One of `disabled`, `private`, `enabled` or `public`. `private` will make the package registry accessible only to project members (reporter role and above). `enabled` will make the package registry accessible to everyone who has access to the project. `public` will make the package registry accessible to everyone. `disabled` will disable the package registry
                override_params[pages_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  - public
                  description: Pages access level. One of `disabled`, `private`, `enabled` or `public`
                override_params[analytics_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Analytics access level. One of `disabled`, `private` or `enabled`
                override_params[container_registry_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Controls visibility of the container registry. One of `disabled`, `private` or `enabled`. `private` will make the container registry accessible only to project members (reporter role and above). `enabled` will make the container registry accessible to everyone who has access to the project. `disabled` will disable the container registry
                override_params[security_and_compliance_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Security and compliance access level. One of `disabled`, `private` or `enabled`
                override_params[releases_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Releases access level. One of `disabled`, `private` or `enabled`
                override_params[environments_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Environments access level. One of `disabled`, `private` or `enabled`
                override_params[feature_flags_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Feature flags access level. One of `disabled`, `private` or `enabled`
                override_params[infrastructure_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Infrastructure access level. One of `disabled`, `private` or `enabled`
                override_params[monitor_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Monitor access level. One of `disabled`, `private` or `enabled`
                override_params[model_experiments_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Model experiments access level. One of `disabled`, `private` or `enabled`
                override_params[model_registry_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Model registry access level. One of `disabled`, `private` or `enabled`
                override_params[emails_disabled]:
                  type: boolean
                  description: 'Deprecated: Use emails_enabled instead.'
                override_params[emails_enabled]:
                  type: boolean
                  description: Enable email notifications
                override_params[show_default_award_emojis]:
                  type: boolean
                  description: Show default award emojis
                override_params[show_diff_preview_in_email]:
                  type: boolean
                  description: Include the code diff preview in merge request notification emails
                override_params[warn_about_potentially_unwanted_characters]:
                  type: boolean
                  description: Warn about potentially unwanted characters
                override_params[enforce_auth_checks_on_uploads]:
                  type: boolean
                  description: Enforce auth check on uploads
                override_params[shared_runners_enabled]:
                  type: boolean
                  description: Flag indication if shared runners are enabled for that project
                override_params[group_runners_enabled]:
                  type: boolean
                  description: Flag indication if group runners are enabled for that project
                override_params[resource_group_default_process_mode]:
                  type: string
                  enum:
                  - unordered
                  - oldest_first
                  - newest_first
                  - newest_ready_first
                  description: The process mode of the resource group
                override_params[resolve_outdated_diff_discussions]:
                  type: boolean
                  description: Automatically resolve merge request diff threads on lines changed with a push
                override_params[remove_source_branch_after_merge]:
                  type: boolean
                  description: Remove the source branch by default after merge
                override_params[packages_enabled]:
                  type: boolean
                  description: 'Deprecated: Use :package_registry_access_level instead. Enable project packages feature'
                override_params[container_registry_enabled]:
                  type: boolean
                  description: 'Deprecated: Use :container_registry_access_level instead. Flag indication if the container registry is enabled for that project'
                override_params[container_expiration_policy_attributes][cadence]:
                  type: string
                  description: Container expiration policy cadence for recurring job
                override_params[container_expiration_policy_attributes][keep_n]:
                  type: integer
                  format: int32
                  description: Container expiration policy number of images to keep
                override_params[container_expiration_policy_attributes][older_than]:
                  type: string
                  description: Container expiration policy remove images older than value
                override_params[container_expiration_policy_attributes][name_regex]:
                  type: string
                  description: Container expiration policy regex for image removal
                override_params[container_expiration_policy_attributes][name_regex_keep]:
                  type: string
                  description: Container expiration policy regex for image retention
                override_params[container_expiration_policy_attributes][enabled]:
                  type: boolean
                  description: Flag indication if container expiration policy is enabled
                override_params[lfs_enabled]:
                  type: boolean
                  description: Flag indication if Git LFS is enabled for that project
                override_params[visibility]:
                  type: string
                  enum:
                  - private
                  - internal
                  - public
                  description: The visibility of the project.
                override_params[public_builds]:
                  type: boolean
                  description: 'Deprecated: Use public_jobs instead.'
                override_params[public_jobs]:
                  type: boolean
                  description: Perform public builds
                override_params[request_access_enabled]:
                  type: boolean
                  description: Allow users to request member access
                override_params[only_allow_merge_if_pipeline_succeeds]:
                  type: boolean
                  description: Only allow to merge if builds succeed
                override_params[allow_merge_on_skipped_pipeline]:
                  type: boolean
                  description: Allow to merge if pipeline is skipped
                override_params[only_allow_merge_if_all_discussions_are_resolved]:
                  type: boolean
                  description: Only allow to merge if all threads are resolved
                override_params[tag_list]:
                  type: array
                  items:
                    type: string
                  description: 'Deprecated: Use :topics instead'
                override_params[topics]:
                  type: array
                  items:
                    type: string
                  description: The list of topics for a project
                override_params[avatar]:
                  type: string
                  description: Avatar image for project
                  format: binary
                override_params[printing_merge_request_link_enabled]:
                  type: boolean
                  description: Show link to create/view merge request when pushing from the command line
                override_params[merge_method]:
                  type: string
                  enum:
                  - ff
                  - rebase_merge
                  - merge
                  description: The merge method used when merging merge requests
                override_params[suggestion_commit_message]:
                  type: string
                  description: The commit message used to apply merge request suggestions
                override_params[merge_commit_template]:
                  type: string
                  description: Template used to create merge commit message
                override_params[squash_commit_template]:
                  type: string
                  description: Template used to create squash commit message
                override_params[issue_branch_template]:
                  type: string
                  description: Template used to create a branch from an issue
                override_params[auto_devops_enabled]:
                  type: boolean
                  description: Flag indication if Auto DevOps is enabled
                override_params[auto_devops_deploy_strategy]:
                  type: string
                  enum:
                  - continuous
                  - manual
                  - timed_incremental
                  description: Auto Deploy strategy
                override_params[autoclose_referenced_issues]:
                  type: boolean
                  description: Flag indication if referenced issues auto-closing is enabled
                override_params[repository_storage]:
                  type: string
                  description: Which storage shard the repository is on. Available only to admins
                override_params[squash_option]:
                  type: string
                  enum:
                  - never
                  - always
                  - default_on
                  - default_off
                  description: Squash default for project. One of `never`, `always`, `default_on`, or `default_off`.
                override_params[mr_default_target_self]:
                  type: boolean
                  description: Merge requests of this forked project targets itself by default
                override_params[mr_default_title_template]:
                  type: string
                  description: Template used to generate the default merge request title. Maximum 100 characters.
                override_params[only_allow_merge_if_all_status_checks_passed]:
                  type: boolean
                  description: Blocks merge requests from merging unless all status checks have passed
                override_params[approvals_before_merge]:
                  type: integer
                  format: int32
                  description: How many approvers should approve merge request by default
                override_params[mirror]:
                  type: boolean
                  description: '[Deprecated] Enables pull mirroring in a project'
                override_params[mirror_trigger_builds]:
                  type: boolean
                  description: '[Deprecated] Pull mirroring triggers builds'
                override_params[external_authorization_classification_label]:
                  type: string
                  description: The classification label for the project
                override_params[requirements_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Requirements feature access level. One of `disabled`, `private` or `enabled`
                override_params[prevent_merge_without_jira_issue]:
                  type: boolean
                  description: Require an associated issue from Jira
                override_params[auto_duo_code_review_enabled]:
                  type: boolean
                  description: Enable automatic reviews by GitLab Duo on merge requests
                override_params[duo_remote_flows_enabled]:
                  type: boolean
                  description: Enable GitLab Duo remote flows for this project
                override_params[duo_sast_fp_detection_enabled]:
                  type: boolean
                  description: Enable GitLab Duo SAST false positive detection for this project
                override_params[duo_secret_detection_fp_enabled]:
                  type: boolean
                  description: Enable GitLab Duo Secret Detection false positive detection for this project
                override_params[duo_sast_vr_workflow_enabled]:
                  type: boolean
                  description: Enable GitLab Duo SAST vulnerability resolution workflow for this project
                override_params[spp_repository_pipeline_access]:
                  type: boolean
                  description: Grant read-only access to security policy configurations for enforcement in linked CI/CD projects
                override_params[merge_request_title_regex]:
                  type: string
                  description: The regex the Merge Request must adhere to
                override_params[merge_request_title_regex_description]:
                  type: string
                  description: The description for the regex the Merge Request must adhere to
              required:
              - url
              - path
  /api/v4/projects/import-relation/authorize:
    post:
      summary: Workhorse authorize the project relation import upload
      description: This feature was introduced in GitLab 16.11
      responses:
        '201':
          description: Workhorse authorize the project relation import upload
      tags:
      - project_import
      operationId: postApiV4ProjectsImportRelationAuthorize
  /api/v4/projects/import-relation:
    post:
      summary: Re-import a relation into a project
      description: This feature was introduced in GitLab 16.11.
      responses:
        '201':
          description: Re-import a relation into a project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_RelationImportTracker'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '400':
          description: Bad request
        '404':
          description: Not found
        '503':
          description: Service unavailable
      tags:
      - project_import
      operationId: postApiV4ProjectsImportRelation
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                path:
                  type: string
                  description: The project path and name
                file:
                  type: string
                  description: The project export file from which to extract the relation.
                  format: binary
                relation:
                  type: string
                  description: The relation to import. Must be one of issues, merge_requests, ci_pipelines, or milestones.
                file.path:
                  type: string
                  description: Path to locally stored body (generated by Workhorse)
                file.name:
                  type: string
                  description: Real filename as sent in Content-Disposition (generated by Workhorse)
                file.type:
                  type: string
                  description: Real content type as send in Content-Type (generated by Workhorse)
                file.size:
                  type: integer
                  format: int32
                  description: Real size of file (generated by Workhorse)
                file.md5:
                  type: string
                  description: MD5 checksum of the file (generated by Workhorse)
                file.sha1:
                  type: string
                  description: SHA1 checksum of the file (generated by Workhorse)
                file.sha256:
                  type: string
                  description: SHA256 checksum of the file (generated by Workhorse)
                file.etag:
                  type: string
                  description: Etag of the file (generated by Workhorse)
                file.remote_id:
                  type: string
                  description: Remote_id of the file (generated by Workhorse)
                file.remote_url:
                  type: string
                  description: Remote_url of the file (generated by Workhorse)
              required:
              - path
              - file
              - relation
  /api/v4/projects/{id}/relation-imports:
    get:
      summary: Get the statuses of relation imports for specified project
      description: This feature was introduced in GitLab 16.11.
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get the statuses of relation imports for specified project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_ProjectImportStatus'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '400':
          description: Bad request
        '404':
          description: Not found
        '503':
          description: Service unavailable
      tags:
      - project_import
      operationId: getApiV4ProjectsIdRelationImports
  /api/v4/projects/remote-import-s3:
    post:
      summary: Create a new project import using a file from AWS S3
      description: This feature was introduced in GitLab 14.9.
      responses:
        '201':
          description: Create a new project import using a file from AWS S3
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_ProjectImportStatus'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '400':
          description: Bad request
        '404':
          description: Not found
        '429':
          description: Too many requests
        '503':
          description: Service unavailable
      tags:
      - project_import
      operationId: postApiV4ProjectsRemoteImportS3
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                region:
                  type: string
                  description: AWS region
                bucket_name:
                  type: string
                  description: Bucket name
                file_key:
                  type: string
                  description: File key
                access_key_id:
                  type: string
                  description: Access key id
                secret_access_key:
                  type: string
                  description: Secret access key
                path:
                  type: string
                  description: The new project path and name
                name:
                  type: string
                  description: The name of the project to be imported. Defaults to the path of the project if not provided.
                namespace:
                  type: string
                  description: (deprecated) The ID or path of the namespace to import the project to. Defaults to the current user's namespace.
                namespace_id:
                  type: integer
                  format: int32
                  description: The ID of the namespace that the project will be imported into. Defaults to the current user's namespace.
                namespace_path:
                  type: string
                  description: The path of the namespace that the project will be imported into. Defaults to the current user's namespace.
                overwrite:
                  type: boolean
                  default: false
                  description: If there is a project in the same namespace and with the same name overwrite it
                override_params[description]:
                  type: string
                  description: The description of the project
                override_params[build_git_strategy]:
                  type: string
                  enum:
                  - fetch
                  - clone
                  description: The Git strategy. Defaults to `fetch`
                override_params[build_timeout]:
                  type: integer
                  format: int32
                  description: Build timeout
                override_params[auto_cancel_pending_pipelines]:
                  type: string
                  enum:
                  - disabled
                  - enabled
                  description: Auto-cancel pending pipelines
                override_params[ci_config_path]:
                  type: string
                  description: The path to CI config file. Defaults to `.gitlab-ci.yml`
                override_params[service_desk_enabled]:
                  type: boolean
                  description: Disable or enable the service desk
                override_params[issues_enabled]:
                  type: boolean
                  description: Flag indication if the issue tracker is enabled
                override_params[merge_requests_enabled]:
                  type: boolean
                  description: Flag indication if merge requests are enabled
                override_params[wiki_enabled]:
                  type: boolean
                  description: Flag indication if the wiki is enabled
                override_params[jobs_enabled]:
                  type: boolean
                  description: Flag indication if jobs are enabled
                override_params[snippets_enabled]:
                  type: boolean
                  description: Flag indication if snippets are enabled
                override_params[issues_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Issues access level. One of `disabled`, `private` or `enabled`
                override_params[repository_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Repository access level. One of `disabled`, `private` or `enabled`
                override_params[merge_requests_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Merge requests access level. One of `disabled`, `private` or `enabled`
                override_params[forking_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Forks access level. One of `disabled`, `private` or `enabled`
                override_params[wiki_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Wiki access level. One of `disabled`, `private` or `enabled`
                override_params[builds_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Builds access level. One of `disabled`, `private` or `enabled`
                override_params[snippets_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Snippets access level. One of `disabled`, `private` or `enabled`
                override_params[package_registry_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  - public
                  description: Controls visibility of the package registry. One of `disabled`, `private`, `enabled` or `public`. `private` will make the package registry accessible only to project members (reporter role and above). `enabled` will make the package registry accessible to everyone who has access to the project. `public` will make the package registry accessible to everyone. `disabled` will disable the package registry
                override_params[pages_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  - public
                  description: Pages access level. One of `disabled`, `private`, `enabled` or `public`
                override_params[analytics_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Analytics access level. One of `disabled`, `private` or `enabled`
                override_params[container_registry_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Controls visibility of the container registry. One of `disabled`, `private` or `enabled`. `private` will make the container registry accessible only to project members (reporter role and above). `enabled` will make the container registry accessible to everyone who has access to the project. `disabled` will disable the container registry
                override_params[security_and_compliance_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Security and compliance access level. One of `disabled`, `private` or `enabled`
                override_params[releases_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Releases access level. One of `disabled`, `private` or `enabled`
                override_params[environments_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Environments access level. One of `disabled`, `private` or `enabled`
                override_params[feature_flags_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Feature flags access level. One of `disabled`, `private` or `enabled`
                override_params[infrastructure_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Infrastructure access level. One of `disabled`, `private` or `enabled`
                override_params[monitor_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Monitor access level. One of `disabled`, `private` or `enabled`
                override_params[model_experiments_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Model experiments access level. One of `disabled`, `private` or `enabled`
                override_params[model_registry_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Model registry access level. One of `disabled`, `private` or `enabled`
                override_params[emails_disabled]:
                  type: boolean
                  description: 'Deprecated: Use emails_enabled instead.'
                override_params[emails_enabled]:
                  type: boolean
                  description: Enable email notifications
                override_params[show_default_award_emojis]:
                  type: boolean
                  description: Show default award emojis
                override_params[show_diff_preview_in_email]:
                  type: boolean
                  description: Include the code diff preview in merge request notification emails
                override_params[warn_about_potentially_unwanted_characters]:
                  type: boolean
                  description: Warn about potentially unwanted characters
                override_params[enforce_auth_checks_on_uploads]:
                  type: boolean
                  description: Enforce auth check on uploads
                override_params[shared_runners_enabled]:
                  type: boolean
                  description: Flag indication if shared runners are enabled for that project
                override_params[group_runners_enabled]:
                  type: boolean
                  description: Flag indication if group runners are enabled for that project
                override_params[resource_group_default_process_mode]:
                  type: string
                  enum:
                  - unordered
                  - oldest_first
                  - newest_first
                  - newest_ready_first
                  description: The process mode of the resource group
                override_params[resolve_outdated_diff_discussions]:
                  type: boolean
                  description: Automatically resolve merge request diff threads on lines changed with a push
                override_params[remove_source_branch_after_merge]:
                  type: boolean
                  description: Remove the source branch by default after merge
                override_params[packages_enabled]:
                  type: boolean
                  description: 'Deprecated: Use :package_registry_access_level instead. Enable project packages feature'
                override_params[container_registry_enabled]:
                  type: boolean
                  description: 'Deprecated: Use :container_registry_access_level instead. Flag indication if the container registry is enabled for that project'
                override_params[container_expiration_policy_attributes][cadence]:
                  type: string
                  description: Container expiration policy cadence for recurring job
                override_params[container_expiration_policy_attributes][keep_n]:
                  type: integer
                  format: int32
                  description: Container expiration policy number of images to keep
                override_params[container_expiration_policy_attributes][older_than]:
                  type: string
                  description: Container expiration policy remove images older than value
                override_params[container_expiration_policy_attributes][name_regex]:
                  type: string
                  description: Container expiration policy regex for image removal
                override_params[container_expiration_policy_attributes][name_regex_keep]:
                  type: string
                  description: Container expiration policy regex for image retention
                override_params[container_expiration_policy_attributes][enabled]:
                  type: boolean
                  description: Flag indication if container expiration policy is enabled
                override_params[lfs_enabled]:
                  type: boolean
                  description: Flag indication if Git LFS is enabled for that project
                override_params[visibility]:
                  type: string
                  enum:
                  - private
                  - internal
                  - public
                  description: The visibility of the project.
                override_params[public_builds]:
                  type: boolean
                  description: 'Deprecated: Use public_jobs instead.'
                override_params[public_jobs]:
                  type: boolean
                  description: Perform public builds
                override_params[request_access_enabled]:
                  type: boolean
                  description: Allow users to request member access
                override_params[only_allow_merge_if_pipeline_succeeds]:
                  type: boolean
                  description: Only allow to merge if builds succeed
                override_params[allow_merge_on_skipped_pipeline]:
                  type: boolean
                  description: Allow to merge if pipeline is skipped
                override_params[only_allow_merge_if_all_discussions_are_resolved]:
                  type: boolean
                  description: Only allow to merge if all threads are resolved
                override_params[tag_list]:
                  type: array
                  items:
                    type: string
                  description: 'Deprecated: Use :topics instead'
                override_params[topics]:
                  type: array
                  items:
                    type: string
                  description: The list of topics for a project
                override_params[avatar]:
                  type: string
                  description: Avatar image for project
                  format: binary
                override_params[printing_merge_request_link_enabled]:
                  type: boolean
                  description: Show link to create/view merge request when pushing from the command line
                override_params[merge_method]:
                  type: string
                  enum:
                  - ff
                  - rebase_merge
                  - merge
                  description: The merge method used when merging merge requests
                override_params[suggestion_commit_message]:
                  type: string
                  description: The commit message used to apply merge request suggestions
                override_params[merge_commit_template]:
                  type: string
                  description: Template used to create merge commit message
                override_params[squash_commit_template]:
                  type: string
                  description: Template used to create squash commit message
                override_params[issue_branch_template]:
                  type: string
                  description: Template used to create a branch from an issue
                override_params[auto_devops_enabled]:
                  type: boolean
                  description: Flag indication if Auto DevOps is enabled
                override_params[auto_devops_deploy_strategy]:
                  type: string
                  enum:
                  - continuous
                  - manual
                  - timed_incremental
                  description: Auto Deploy strategy
                override_params[autoclose_referenced_issues]:
                  type: boolean
                  description: Flag indication if referenced issues auto-closing is enabled
                override_params[repository_storage]:
                  type: string
                  description: Which storage shard the repository is on. Available only to admins
                override_params[squash_option]:
                  type: string
                  enum:
                  - never
                  - always
                  - default_on
                  - default_off
                  description: Squash default for project. One of `never`, `always`, `default_on`, or `default_off`.
                override_params[mr_default_target_self]:
                  type: boolean
                  description: Merge requests of this forked project targets itself by default
                override_params[mr_default_title_template]:
                  type: string
                  description: Template used to generate the default merge request title. Maximum 100 characters.
                override_params[only_allow_merge_if_all_status_checks_passed]:
                  type: boolean
                  description: Blocks merge requests from merging unless all status checks have passed
                override_params[approvals_before_merge]:
                  type: integer
                  format: int32
                  description: How many approvers should approve merge request by default
                override_params[mirror]:
                  type: boolean
                  description: '[Deprecated] Enables pull mirroring in a project'
                override_params[mirror_trigger_builds]:
                  type: boolean
                  description: '[Deprecated] Pull mirroring triggers builds'
                override_params[external_authorization_classification_label]:
                  type: string
                  description: The classification label for the project
                override_params[requirements_access_level]:
                  type: string
                  enum:
                  - disabled
                  - private
                  - enabled
                  description: Requirements feature access level. One of `disabled`, `private` or `enabled`
                override_params[prevent_merge_without_jira_issue]:
                  type: boolean
                  description: Require an associated issue from Jira
                override_params[auto_duo_code_review_enabled]:
                  type: boolean
                  description: Enable automatic reviews by GitLab Duo on merge requests
                override_params[duo_remote_flows_enabled]:
                  type: boolean
                  description: Enable GitLab Duo remote flows for this project
                override_params[duo_sast_fp_detection_enabled]:
                  type: boolean
                  description: Enable GitLab Duo SAST false positive detection for this project
                override_params[duo_secret_detection_fp_enabled]:
                  type: boolean
                  description: Enable GitLab Duo Secret Detection false positive detection for this project
                override_params[duo_sast_vr_workflow_enabled]:
                  type: boolean
                  description: Enable GitLab Duo SAST vulnerability resolution workflow for this project
                override_params[spp_repository_pipeline_access]:
                  type: boolean
                  description: Grant read-only access to security policy configurations for enforcement in linked CI/CD projects
                override_params[merge_request_title_regex]:
                  type: string
                  description: The regex the Merge Request must adhere to
                override_params[merge_request_title_regex_description]:
                  type: string
                  description: The description for the regex the Merge Request must adhere to
              required:
              - region
              - bucket_name
              - file_key
              - access_key_id
              - secret_access_key
              - path
  /api/v4/import/bitbucket:
    post:
      summary: Import a BitBucket Cloud repository
      description: This feature was introduced in GitLab 17.0.
      responses:
        '201':
          description: Import a BitBucket Cloud repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectImportEntity'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable entity
        '503':
          description: Service unavailable
      tags:
      - project_import
      operationId: postApiV4ImportBitbucket
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4ImportBitbucket'
        required: true
  /api/v4/import/bitbucket_server:
    post:
      summary: Import a BitBucket Server repository
      description: This feature was introduced in GitLab 13.2.
      responses:
        '201':
          description: Import a BitBucket Server repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectEntity'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable entity
        '503':
          description: Service unavailable
      tags:
      - project_import
      operationId: postApiV4ImportBitbucketServer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4ImportBitbucketServer'
        required: true
  /api/v4/import/github:
    post:
      summary: Import a GitHub project
      description: This feature was introduced in GitLab 11.3.4.
      responses:
        '201':
          description: Import a GitHub project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectEntity'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '422':
          description: Unprocessable entity
        '503':
          description: Service unavailable
      tags:
      - project_import
      operationId: postApiV4ImportGithub
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4ImportGithub'
        required: true
  /api/v4/import/github/cancel:
    post:
      summary: Cancel GitHub project import
      description: This feature was introduced in GitLab 15.5
      responses:
        '200':
          description: Cancel GitHub project import
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectImportEntity'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
        '503':
          description: Service unavailable
      tags:
      - project_import
      operationId: postApiV4ImportGithubCancel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4ImportGithubCancel'
        required: true
components:
  schemas:
    API_Entities_ProjectImportFailedRelation:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 1
        created_at:
          type: string
          format: date-time
          example: '2012-05-28T04:42:42-07:00'
        exception_class:
          type: string
          example: StandardError
        source:
          type: string
          example: ImportRepositoryWorker
        exception_message:
          type: string
        relation_name:
          type: string
          example: issues
        line_number:
          type: integer
          format: int32
          example: 1
      required:
      - id
      - created_at
      - exception_class
      - source
      - exception_message
      - relation_name
      - line_number
    API_Entities_BulkImports_ExportBatchStatus:
      type: object
      properties:
        status:
          type: string
          enum:
          - started
          - finished
          - failed
          example: started
        batch_number:
          type: integer
          format: int32
          example: 1
        objects_count:
          type: integer
          format: int32
          example: 100
        error:
          type: string
          example: Error message
        updated_at:
          type: string
          format: date-time
          example: '2012-05-28T04:42:42-07:00'
      required:
      - status
      - batch_number
      - objects_count
      - error
      - updated_at
    postApiV4ImportBitbucketServer:
      type: object
      properties:
        bitbucket_server_url:
          type: string
          description: Bitbucket Server URL
        bitbucket_server_username:
          type: string
          description: BitBucket Server Username
        personal_access_token:
          type: string
          description: BitBucket Server personal access token/password
        bitbucket_server_project:
          type: string
          description: BitBucket Server Project Key
        bitbucket_server_repo:
          type: string
          description: BitBucket Server Repository Name
        new_name:
          type: string
          description: New repo name
        new_namespace:
          type: string
          description: Namespace to import repo into
        timeout_strategy:
          type: string
          description: Strategy for behavior on timeouts
          enum:
          - optimistic
          - pessimistic
      required:
      - bitbucket_server_url
      - bitbucket_server_username
      - personal_access_token
      - bitbucket_server_project
      - bitbucket_server_repo
      description: Import a BitBucket Server repository
    postApiV4ProjectsIdExport:
      type: object
      properties:
        description:
          type: string
          description: Override the project description
        upload:
          type: object
          description: Object that contains information on the upload
          properties:
            url:
              type: string
              description: The URL to upload the project
            http_method:
              type: string
              description: HTTP method to upload the exported project
              enum:
              - PUT
              - POST
              default: PUT
        excluded_relations:
          type: array
          description: List of project relation names to exclude from the export (e.g. ["merge_requests", "issues"])
          items:
            type: string
      description: Start export
    API_Entities_RelationImportTracker:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 1
        project_path:
          type: string
          example: namespace1/project1
        relation:
          type: string
          example: issues
        status:
          type: string
          example: pending
        created_at:
          type: string
          format: date-time
          example: '2022-01-31T15:10:45.080Z'
        updated_at:
          type: string
          format: date-time
          example: '2022-01-31T15:10:45.080Z'
      required:
      - id
      - project_path
      - relation
      - status
      - created_at
      - updated_at
      description: API_Entities_RelationImportTracker model
    postApiV4ImportBitbucket:
      type: object
      properties:
        bitbucket_email:
          type: string
          description: BitBucket email
        bitbucket_api_token:
          type: string
          description: BitBucket API token
        repo_path:
          type: string
          description: Repository path
        target_namespace:
          type: string
          description: Target namespace
        new_name:
          type: string
          description: New repository name
      required:
      - bitbucket_email
      - bitbucket_api_token
      - repo_path
      - target_namespace
      description: Import a BitBucket Cloud repository
    ProjectEntity:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 1
        name:
          type: string
          example: GitLab
        full_path:
          type: string
          example: gitlab-org/gitlab
        full_name:
          type: string
          example: GitLab Org / GitLab
        refs_url:
          type: string
        forked:
          type: boolean
          example: true
      required:
      - id
      - name
      - full_path
      - full_name
      - refs_url
      - forked
      description: ProjectEntity model
    API_Entities_ProjectExportStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 1
        description:
          type: string
          example: desc
        name:
          type: string
          example: project1
        name_with_namespace:
          type: string
          example: John Doe / project1
        path:
          type: string
          example: project1
        path_with_namespace:
          type: string
          example: namespace1/project1
        created_at:
          type: string
          format: date-time
          example: '2020-05-07T04:27:17.016Z'
        export_status:
          type: string
          enum:
          - queued
          - started
          - finished
          - failed
          example: finished
        _links:
          type: object
          properties:
            api_url:
              type: string
              example: https://gitlab.example.com/api/v4/projects/1/export/download
            web_url:
              type: string
              example: https://gitlab.example.com/gitlab-org/gitlab-test/download_export
          required:
          - api_url
          - web_url
      required:
      - id
      - description
      - name
      - name_with_namespace
      - path
      - path_with_namespace
      - created_at
      - export_status
      description: API_Entities_ProjectExportStatus model
    API_Entities_BulkImports_ExportStatus:
      type: object
      properties:
        relation:
          type: string
          example: issues
        status:
          type: string
          enum:
          - pending
          - started
          - finished
          - failed
          example: started
        error:
          type: string
          example: Error message
        updated_at:
          type: string
          format: date-time
          example: '2012-05-28T04:42:42-07:00'
        batched:
          type: boolean
          example: true
        batches_count:
          type: integer
          format: int32
          example: 2
        total_objects_count:
          type: integer
          format: int32
          example: 100
        batches:
          $ref: '#/components/schemas/API_Entities_BulkImports_ExportBatchStatus'
      required:
      - relation
      - status
      - error
      - updated_at
      - batched
      - batches_count
      - total_objects_count
      description: API_Entities_BulkImports_ExportStatus model
    ProjectImportEntity:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 1
        name:
          type: string
          example: GitLab
        full_path:
          type: string
          example: gitlab-org/gitlab
        full_name:
          type: string
          example: GitLab Org / GitLab
        refs_url:
          type: string
        forked:
          type: boolean
          example: true
        import_source:
          type: string
          example: source/source-repo
        import_status:
          type: string
          enum:
          - scheduled
          - started
          - finished
          - failed
          - canceled
          example: scheduled
        human_import_status_name:
          type: string
          example: canceled
        provider_link:
          type: string
          example: /source/source-repo
        import_error:
          type: string
        import_warning:
          type: string
        relation_type:
          type: string
      required:
      - id
      - name
      - full_path
      - full_name
      - refs_url
      - forked
      - import_source
      - import_status
      - human_import_status_name
      - provider_link
      - relation_type
      description: ProjectImportEntity model
    postApiV4ImportGithubCancel:
      type: object
      properties:
        project_id:
          type: integer
          format: int32
          description: ID of importing project to be canceled
      required:
      - project_id
      description: Cancel GitHub project import
    postApiV4ProjectsIdExportRelations:
      type: object
      properties:
        batched:
          type: boolean
          description: Whether to export in batches
      description: Start relations export
    postApiV4ImportGithub:
      type: object
      properties:
        personal_access_token:
          type: string
          description: GitHub personal access token
        repo_id:
          type: integer
          format: int32
          description: GitHub repository ID
        new_name:
          type: string
          description: New repo name
        target_namespace:
          type: string
          description: Namespace or group to import repository into
        github_hostname:
          type: string
          description: 'Custom GitHub enterprise hostname. For example: https://github.example.com. From GitLab 16.5 to GitLab 17.1, you must include the path `/api/v3`.'
        optional_stages:
          type: object
          description: Optional stages of import to be performed
        timeout_strategy:
          type: string
          description: Strategy for behavior on timeouts
          enum:
          - optimistic
          - pessimistic
        pagination_limit:
          type: integer
          format: int32
          description: Pagination limit
          minimum: 1
          maximum: 100
      required:
      - personal_access_token
      - repo_id
      - target_namespace
      description: Import a GitHub project
    postApiV4ProjectsIdImportGit:
      type: object
      properties:
        import_url:
          type: string
          description: The URL from which the project is imported
        import_url_user:
          type: string
          description: Username for the import URL
        import_url_password:
          type: string
          description: Password for the import URL
      required:
      - import_url
      description: Import a project from a Git URL
    API_Entities_ProjectImportStatus:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 1
        description:
          type: string
          example: desc
        name:
          type: string
          example: project1
        name_with_namespace:
          type: string
          example: John Doe / project1
        path:
          type: string
          example: project1
        path_with_namespace:
          type: string
          example: namespace1/project1
        created_at:
          type: string
          format: date-time
          example: '2020-05-07T04:27:17.016Z'
        import_status:
          type: string
          example: scheduled
        import_type:
          type: string
          example: gitlab_project
        correlation_id:
          type: string
          example: dfcf583058ed4508e4c7c617bd7f0edd
        failed_relations:
          type: array
          items:
            $ref: '#/components/schemas/API_Entities_ProjectImportFailedRelation'
        import_error:
          type: string
          example: Error message
        stats:
          type: object
      required:
      - id
      - description
      - name
      - name_with_namespace
      - path
      - path_with_namespace
      - created_at
      - import_status
      - import_type
      - correlation_id
      - failed_relations
      - import_error
      - stats
      description: API_Entities_ProjectImportStatus model
  securitySchemes:
    access_token_header:
      type: apiKey
      name: PRIVATE-TOKEN
      in: header
    access_token_query:
      type: apiKey
      name: private_token
      in: query
