openapi: 3.2.0
info:
  title: GitLab access_requests Integrations API
  version: v4
  description: Operations related to access requests
servers:
- url: https://gitlab.com
tags:
- name: integrations
  description: Operations related to integrations
paths:
  /api/v4/groups/{id}/integrations:
    get:
      summary: List all active integrations
      description: Get a list of all active integrations.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: List all active integrations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '401':
          description: Unauthorized
        '404':
          description: Not found
      tags:
      - integrations
      operationId: getApiV4GroupsIdIntegrations
  /api/v4/groups/{id}/integrations/apple-app-store:
    put:
      summary: Create/Edit Apple App Store integration
      description: Set Apple App Store integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Apple App Store integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsAppleAppStore
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsAppleAppStore'
        required: true
  /api/v4/groups/{id}/integrations/asana:
    put:
      summary: Create/Edit Asana integration
      description: Set Asana integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Asana integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsAsana
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsAsana'
        required: true
  /api/v4/groups/{id}/integrations/assembla:
    put:
      summary: Create/Edit Assembla integration
      description: Set Assembla integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Assembla integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsAssembla
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsAssembla'
        required: true
  /api/v4/groups/{id}/integrations/bamboo:
    put:
      summary: Create/Edit Bamboo integration
      description: Set Bamboo integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Bamboo integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsBamboo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsBamboo'
        required: true
  /api/v4/groups/{id}/integrations/bugzilla:
    put:
      summary: Create/Edit Bugzilla integration
      description: Set Bugzilla integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Bugzilla integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsBugzilla
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsBugzilla'
        required: true
  /api/v4/groups/{id}/integrations/buildkite:
    put:
      summary: Create/Edit Buildkite integration
      description: Set Buildkite integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Buildkite integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsBuildkite
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsBuildkite'
        required: true
  /api/v4/groups/{id}/integrations/campfire:
    put:
      summary: Create/Edit Campfire integration
      description: Set Campfire integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Campfire integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsCampfire
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsCampfire'
        required: true
  /api/v4/groups/{id}/integrations/confluence:
    put:
      summary: Create/Edit Confluence integration
      description: Set Confluence integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Confluence integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsConfluence
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsConfluence'
        required: true
  /api/v4/groups/{id}/integrations/custom-issue-tracker:
    put:
      summary: Create/Edit Custom Issue Tracker integration
      description: Set Custom Issue Tracker integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Custom Issue Tracker integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsCustomIssueTracker
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsCustomIssueTracker'
        required: true
  /api/v4/groups/{id}/integrations/datadog:
    put:
      summary: Create/Edit Datadog integration
      description: Set Datadog integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Datadog integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsDatadog
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsDatadog'
        required: true
  /api/v4/groups/{id}/integrations/diffblue-cover:
    put:
      summary: Create/Edit Diffblue Cover integration
      description: Set Diffblue Cover integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Diffblue Cover integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsDiffblueCover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsDiffblueCover'
        required: true
  /api/v4/groups/{id}/integrations/discord:
    put:
      summary: Create/Edit Discord integration
      description: Set Discord integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Discord integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsDiscord
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsDiscord'
        required: true
  /api/v4/groups/{id}/integrations/drone-ci:
    put:
      summary: Create/Edit Drone Ci integration
      description: Set Drone Ci integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Drone Ci integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsDroneCi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsDroneCi'
        required: true
  /api/v4/groups/{id}/integrations/emails-on-push:
    put:
      summary: Create/Edit Emails On Push integration
      description: Set Emails On Push integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Emails On Push integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsEmailsOnPush
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsEmailsOnPush'
        required: true
  /api/v4/groups/{id}/integrations/external-wiki:
    put:
      summary: Create/Edit External Wiki integration
      description: Set External Wiki integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit External Wiki integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsExternalWiki
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsExternalWiki'
        required: true
  /api/v4/groups/{id}/integrations/gitlab-slack-application:
    put:
      summary: Create/Edit Gitlab Slack Application integration
      description: Set Gitlab Slack Application integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Gitlab Slack Application integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsGitlabSlackApplication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsGitlabSlackApplication'
        required: true
  /api/v4/groups/{id}/integrations/google-play:
    put:
      summary: Create/Edit Google Play integration
      description: Set Google Play integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Google Play integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsGooglePlay
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsGooglePlay'
        required: true
  /api/v4/groups/{id}/integrations/hangouts-chat:
    put:
      summary: Create/Edit Hangouts Chat integration
      description: Set Hangouts Chat integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Hangouts Chat integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsHangoutsChat
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsHangoutsChat'
        required: true
  /api/v4/groups/{id}/integrations/harbor:
    put:
      summary: Create/Edit Harbor integration
      description: Set Harbor integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Harbor integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsHarbor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsHarbor'
        required: true
  /api/v4/groups/{id}/integrations/irker:
    put:
      summary: Create/Edit Irker integration
      description: Set Irker integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Irker integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsIrker
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsIrker'
        required: true
  /api/v4/groups/{id}/integrations/jenkins:
    put:
      summary: Create/Edit Jenkins integration
      description: Set Jenkins integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Jenkins integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsJenkins
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsJenkins'
        required: true
  /api/v4/groups/{id}/integrations/jira:
    put:
      summary: Create/Edit Jira integration
      description: Set Jira integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Jira integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsJira
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsJira'
        required: true
  /api/v4/groups/{id}/integrations/jira-cloud-app:
    put:
      summary: Create/Edit Jira Cloud App integration
      description: Set Jira Cloud App integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Jira Cloud App integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsJiraCloudApp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsJiraCloudApp'
        required: true
  /api/v4/groups/{id}/integrations/linear:
    put:
      summary: Create/Edit Linear integration
      description: Set Linear integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Linear integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsLinear
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsLinear'
        required: true
  /api/v4/groups/{id}/integrations/matrix:
    put:
      summary: Create/Edit Matrix integration
      description: Set Matrix integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Matrix integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsMatrix
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsMatrix'
        required: true
  /api/v4/groups/{id}/integrations/mattermost-slash-commands:
    put:
      summary: Create/Edit Mattermost Slash Commands integration
      description: Set Mattermost Slash Commands integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Mattermost Slash Commands integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsMattermostSlashCommands
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsMattermostSlashCommands'
        required: true
  /api/v4/groups/{id}/integrations/packagist:
    put:
      summary: Create/Edit Packagist integration
      description: Set Packagist integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Packagist integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsPackagist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsPackagist'
        required: true
  /api/v4/groups/{id}/integrations/phorge:
    put:
      summary: Create/Edit Phorge integration
      description: Set Phorge integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Phorge integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsPhorge
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsPhorge'
        required: true
  /api/v4/groups/{id}/integrations/pipelines-email:
    put:
      summary: Create/Edit Pipelines Email integration
      description: Set Pipelines Email integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Pipelines Email integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsPipelinesEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsPipelinesEmail'
        required: true
  /api/v4/groups/{id}/integrations/pivotaltracker:
    put:
      summary: Create/Edit Pivotaltracker integration
      description: Set Pivotaltracker integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Pivotaltracker integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsPivotaltracker
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsPivotaltracker'
        required: true
  /api/v4/groups/{id}/integrations/pumble:
    put:
      summary: Create/Edit Pumble integration
      description: Set Pumble integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Pumble integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsPumble
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsPumble'
        required: true
  /api/v4/groups/{id}/integrations/pushover:
    put:
      summary: Create/Edit Pushover integration
      description: Set Pushover integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Pushover integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsPushover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsPushover'
        required: true
  /api/v4/groups/{id}/integrations/redmine:
    put:
      summary: Create/Edit Redmine integration
      description: Set Redmine integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Redmine integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsRedmine
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsRedmine'
        required: true
  /api/v4/groups/{id}/integrations/ewm:
    put:
      summary: Create/Edit Ewm integration
      description: Set Ewm integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Ewm integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsEwm
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsEwm'
        required: true
  /api/v4/groups/{id}/integrations/youtrack:
    put:
      summary: Create/Edit Youtrack integration
      description: Set Youtrack integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Youtrack integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsYoutrack
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsYoutrack'
        required: true
  /api/v4/groups/{id}/integrations/clickup:
    put:
      summary: Create/Edit Clickup integration
      description: Set Clickup integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Clickup integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsClickup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsClickup'
        required: true
  /api/v4/groups/{id}/integrations/slack:
    put:
      summary: Create/Edit Slack integration
      description: Set Slack integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Slack integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsSlack
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsSlack'
        required: true
  /api/v4/groups/{id}/integrations/microsoft-teams:
    put:
      summary: Create/Edit Microsoft Teams integration
      description: Set Microsoft Teams integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Microsoft Teams integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsMicrosoftTeams
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsMicrosoftTeams'
        required: true
  /api/v4/groups/{id}/integrations/mattermost:
    put:
      summary: Create/Edit Mattermost integration
      description: Set Mattermost integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Mattermost integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsMattermost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsMattermost'
        required: true
  /api/v4/groups/{id}/integrations/teamcity:
    put:
      summary: Create/Edit Teamcity integration
      description: Set Teamcity integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Teamcity integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsTeamcity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsTeamcity'
        required: true
  /api/v4/groups/{id}/integrations/telegram:
    put:
      summary: Create/Edit Telegram integration
      description: Set Telegram integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Telegram integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsTelegram
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsTelegram'
        required: true
  /api/v4/groups/{id}/integrations/unify-circuit:
    put:
      summary: Create/Edit Unify Circuit integration
      description: Set Unify Circuit integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Unify Circuit integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsUnifyCircuit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsUnifyCircuit'
        required: true
  /api/v4/groups/{id}/integrations/webex-teams:
    put:
      summary: Create/Edit Webex Teams integration
      description: Set Webex Teams integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Webex Teams integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsWebexTeams
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsWebexTeams'
        required: true
  /api/v4/groups/{id}/integrations/zentao:
    put:
      summary: Create/Edit Zentao integration
      description: Set Zentao integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Zentao integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsZentao
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsZentao'
        required: true
  /api/v4/groups/{id}/integrations/squash-tm:
    put:
      summary: Create/Edit Squash Tm integration
      description: Set Squash Tm integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Squash Tm integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsSquashTm
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsSquashTm'
        required: true
  /api/v4/groups/{id}/integrations/github:
    put:
      summary: Create/Edit Github integration
      description: Set Github integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Github integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsGithub
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsGithub'
        required: true
  /api/v4/groups/{id}/integrations/git-guardian:
    put:
      summary: Create/Edit Git Guardian integration
      description: Set Git Guardian integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Git Guardian integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsGitGuardian
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsGitGuardian'
        required: true
  /api/v4/groups/{id}/integrations/google-cloud-platform-artifact-registry:
    put:
      summary: Create/Edit Google Cloud Platform Artifact Registry integration
      description: Set Google Cloud Platform Artifact Registry integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Google Cloud Platform Artifact Registry integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsGoogleCloudPlatformArtifactRegistry
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsGoogleCloudPlatformArtifactRegistry'
        required: true
  /api/v4/groups/{id}/integrations/google-cloud-platform-workload-identity-federation:
    put:
      summary: Create/Edit Google Cloud Platform Workload Identity Federation integration
      description: Set Google Cloud Platform Workload Identity Federation integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Google Cloud Platform Workload Identity Federation integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsGoogleCloudPlatformWorkloadIdentityFederation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsGoogleCloudPlatformWorkloadIdentityFederation'
        required: true
  /api/v4/groups/{id}/integrations/mock-ci:
    put:
      summary: Create/Edit Mock Ci integration
      description: Set Mock Ci integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Mock Ci integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsMockCi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsMockCi'
        required: true
  /api/v4/groups/{id}/integrations/mock-monitoring:
    put:
      summary: Create/Edit Mock Monitoring integration
      description: Set Mock Monitoring integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Mock Monitoring integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsMockMonitoring
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdIntegrationsMockMonitoring'
        required: true
  /api/v4/groups/{id}/integrations/{slug}:
    delete:
      summary: Disable an integration
      description: Disable the integration. Integration settings are preserved.
      parameters:
      - in: path
        name: slug
        description: The name of the integration
        required: true
        schema:
          type: string
          enum:
          - apple-app-store
          - asana
          - assembla
          - bamboo
          - bugzilla
          - buildkite
          - campfire
          - confluence
          - custom-issue-tracker
          - datadog
          - diffblue-cover
          - discord
          - drone-ci
          - emails-on-push
          - external-wiki
          - gitlab-slack-application
          - google-play
          - hangouts-chat
          - harbor
          - irker
          - jenkins
          - jira
          - jira-cloud-app
          - linear
          - matrix
          - mattermost-slash-commands
          - packagist
          - phorge
          - pipelines-email
          - pivotaltracker
          - pumble
          - pushover
          - redmine
          - ewm
          - youtrack
          - clickup
          - slack
          - microsoft-teams
          - mattermost
          - teamcity
          - telegram
          - unify-circuit
          - webex-teams
          - zentao
          - squash-tm
          - github
          - git-guardian
          - google-cloud-platform-artifact-registry
          - google-cloud-platform-workload-identity-federation
          - mock-ci
          - mock-monitoring
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: Disable an integration
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      tags:
      - integrations
      operationId: deleteApiV4GroupsIdIntegrationsSlug
    get:
      summary: Get an integration settings
      description: Get the integration settings.
      parameters:
      - in: path
        name: slug
        description: The name of the integration
        required: true
        schema:
          type: string
          enum:
          - apple-app-store
          - asana
          - assembla
          - bamboo
          - bugzilla
          - buildkite
          - campfire
          - confluence
          - custom-issue-tracker
          - datadog
          - diffblue-cover
          - discord
          - drone-ci
          - emails-on-push
          - external-wiki
          - gitlab-slack-application
          - google-play
          - hangouts-chat
          - harbor
          - irker
          - jenkins
          - jira
          - jira-cloud-app
          - linear
          - matrix
          - mattermost-slash-commands
          - packagist
          - phorge
          - pipelines-email
          - pivotaltracker
          - pumble
          - pushover
          - redmine
          - ewm
          - youtrack
          - clickup
          - slack
          - microsoft-teams
          - mattermost
          - teamcity
          - telegram
          - unify-circuit
          - webex-teams
          - zentao
          - squash-tm
          - github
          - git-guardian
          - google-cloud-platform-artifact-registry
          - google-cloud-platform-workload-identity-federation
          - mock-ci
          - mock-monitoring
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get an integration settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Integration'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      tags:
      - integrations
      operationId: getApiV4GroupsIdIntegrationsSlug
  /api/v4/projects/{id}/services:
    get:
      summary: List all active integrations
      description: Get a list of all active integrations.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: List all active integrations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '401':
          description: Unauthorized
        '404':
          description: Not found
      tags:
      - integrations
      operationId: getApiV4ProjectsIdServices
  /api/v4/projects/{id}/services/apple-app-store:
    put:
      summary: Create/Edit Apple App Store integration
      description: Set Apple App Store integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Apple App Store integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesAppleAppStore
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesAppleAppStore'
        required: true
  /api/v4/projects/{id}/services/asana:
    put:
      summary: Create/Edit Asana integration
      description: Set Asana integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Asana integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesAsana
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesAsana'
        required: true
  /api/v4/projects/{id}/services/assembla:
    put:
      summary: Create/Edit Assembla integration
      description: Set Assembla integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Assembla integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesAssembla
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesAssembla'
        required: true
  /api/v4/projects/{id}/services/bamboo:
    put:
      summary: Create/Edit Bamboo integration
      description: Set Bamboo integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Bamboo integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesBamboo
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesBamboo'
        required: true
  /api/v4/projects/{id}/services/bugzilla:
    put:
      summary: Create/Edit Bugzilla integration
      description: Set Bugzilla integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Bugzilla integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesBugzilla
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesBugzilla'
        required: true
  /api/v4/projects/{id}/services/buildkite:
    put:
      summary: Create/Edit Buildkite integration
      description: Set Buildkite integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Buildkite integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesBuildkite
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesBuildkite'
        required: true
  /api/v4/projects/{id}/services/campfire:
    put:
      summary: Create/Edit Campfire integration
      description: Set Campfire integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Campfire integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesCampfire
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesCampfire'
        required: true
  /api/v4/projects/{id}/services/confluence:
    put:
      summary: Create/Edit Confluence integration
      description: Set Confluence integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Confluence integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesConfluence
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesConfluence'
        required: true
  /api/v4/projects/{id}/services/custom-issue-tracker:
    put:
      summary: Create/Edit Custom Issue Tracker integration
      description: Set Custom Issue Tracker integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Custom Issue Tracker integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesCustomIssueTracker
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesCustomIssueTracker'
        required: true
  /api/v4/projects/{id}/services/datadog:
    put:
      summary: Create/Edit Datadog integration
      description: Set Datadog integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Datadog integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesDatadog
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesDatadog'
        required: true
  /api/v4/projects/{id}/services/diffblue-cover:
    put:
      summary: Create/Edit Diffblue Cover integration
      description: Set Diffblue Cover integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Diffblue Cover integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesDiffblueCover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesDiffblueCover'
        required: true
  /api/v4/projects/{id}/services/discord:
    put:
      summary: Create/Edit Discord integration
      description: Set Discord integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Discord integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesDiscord
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesDiscord'
        required: true
  /api/v4/projects/{id}/services/drone-ci:
    put:
      summary: Create/Edit Drone Ci integration
      description: Set Drone Ci integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Drone Ci integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesDroneCi
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesDroneCi'
        required: true
  /api/v4/projects/{id}/services/emails-on-push:
    put:
      summary: Create/Edit Emails On Push integration
      description: Set Emails On Push integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Emails On Push integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesEmailsOnPush
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesEmailsOnPush'
        required: true
  /api/v4/projects/{id}/services/external-wiki:
    put:
      summary: Create/Edit External Wiki integration
      description: Set External Wiki integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit External Wiki integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesExternalWiki
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesExternalWiki'
        required: true
  /api/v4/projects/{id}/services/gitlab-slack-application:
    put:
      summary: Create/Edit Gitlab Slack Application integration
      description: Set Gitlab Slack Application integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Gitlab Slack Application integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesGitlabSlackApplication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesGitlabSlackApplication'
        required: true
  /api/v4/projects/{id}/services/google-play:
    put:
      summary: Create/Edit Google Play integration
      description: Set Google Play integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Google Play integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesGooglePlay
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesGooglePlay'
        required: true
  /api/v4/projects/{id}/services/hangouts-chat:
    put:
      summary: Create/Edit Hangouts Chat integration
      description: Set Hangouts Chat integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Hangouts Chat integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesHangoutsChat
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesHangoutsChat'
        required: true
  /api/v4/projects/{id}/services/harbor:
    put:
      summary: Create/Edit Harbor integration
      description: Set Harbor integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Harbor integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesHarbor
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesHarbor'
        required: true
  /api/v4/projects/{id}/services/irker:
    put:
      summary: Create/Edit Irker integration
      description: Set Irker integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Irker integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesIrker
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesIrker'
        required: true
  /api/v4/projects/{id}/services/jenkins:
    put:
      summary: Create/Edit Jenkins integration
      description: Set Jenkins integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Jenkins integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesJenkins
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesJenkins'
        required: true
  /api/v4/projects/{id}/services/jira:
    put:
      summary: Create/Edit Jira integration
      description: Set Jira integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Jira integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesJira
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesJira'
        required: true
  /api/v4/projects/{id}/services/jira-cloud-app:
    put:
      summary: Create/Edit Jira Cloud App integration
      description: Set Jira Cloud App integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Jira Cloud App integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesJiraCloudApp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesJiraCloudApp'
        required: true
  /api/v4/projects/{id}/services/linear:
    put:
      summary: Create/Edit Linear integration
      description: Set Linear integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Linear integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesLinear
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesLinear'
        required: true
  /api/v4/projects/{id}/services/matrix:
    put:
      summary: Create/Edit Matrix integration
      description: Set Matrix integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Matrix integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesMatrix
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesMatrix'
        required: true
  /api/v4/projects/{id}/services/mattermost-slash-commands:
    put:
      summary: Create/Edit Mattermost Slash Commands integration
      description: Set Mattermost Slash Commands integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Mattermost Slash Commands integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesMattermostSlashCommands
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesMattermostSlashCommands'
        required: true
  /api/v4/projects/{id}/services/packagist:
    put:
      summary: Create/Edit Packagist integration
      description: Set Packagist integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Packagist integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesPackagist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesPackagist'
        required: true
  /api/v4/projects/{id}/services/phorge:
    put:
      summary: Create/Edit Phorge integration
      description: Set Phorge integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Phorge integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesPhorge
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesPhorge'
        required: true
  /api/v4/projects/{id}/services/pipelines-email:
    put:
      summary: Create/Edit Pipelines Email integration
      description: Set Pipelines Email integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Pipelines Email integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesPipelinesEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesPipelinesEmail'
        required: true
  /api/v4/projects/{id}/services/pivotaltracker:
    put:
      summary: Create/Edit Pivotaltracker integration
      description: Set Pivotaltracker integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Pivotaltracker integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesPivotaltracker
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesPivotaltracker'
        required: true
  /api/v4/projects/{id}/services/pumble:
    put:
      summary: Create/Edit Pumble integration
      description: Set Pumble integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Pumble integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesPumble
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesPumble'
        required: true
  /api/v4/projects/{id}/services/pushover:
    put:
      summary: Create/Edit Pushover integration
      description: Set Pushover integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Pushover integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesPushover
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesPushover'
        required: true
  /api/v4/projects/{id}/services/redmine:
    put:
      summary: Create/Edit Redmine integration
      description: Set Redmine integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Redmine integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesRedmine
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesRedmine'
        required: true
  /api/v4/projects/{id}/services/ewm:
    put:
      summary: Create/Edit Ewm integration
      description: Set Ewm integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Ewm integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesEwm
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesEwm'
        required: true
  /api/v4/projects/{id}/services/youtrack:
    put:
      summary: Create/Edit Youtrack integration
      description: Set Youtrack integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Youtrack integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesYoutrack
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesYoutrack'
        required: true
  /api/v4/projects/{id}/services/clickup:
    put:
      summary: Create/Edit Clickup integration
      description: Set Clickup integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Clickup integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesClickup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesClickup'
        required: true
  /api/v4/projects/{id}/services/slack:
    put:
      summary: Create/Edit Slack integration
      description: Set Slack integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Slack integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesSlack
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesSlack'
        required: true
  /api/v4/projects/{id}/services/microsoft-teams:
    put:
      summary: Create/Edit Microsoft Teams integration
      description: Set Microsoft Teams integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Microsoft Teams integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesMicrosoftTeams
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesMicrosoftTeams'
        required: true
  /api/v4/projects/{id}/services/mattermost:
    put:
      summary: Create/Edit Mattermost integration
      description: Set Mattermost integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Mattermost integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesMattermost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesMattermost'
        required: true
  /api/v4/projects/{id}/services/teamcity:
    put:
      summary: Create/Edit Teamcity integration
      description: Set Teamcity integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Teamcity integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesTeamcity
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesTeamcity'
        required: true
  /api/v4/projects/{id}/services/telegram:
    put:
      summary: Create/Edit Telegram integration
      description: Set Telegram integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Telegram integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesTelegram
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdServicesTelegram'
        required: true
  /api/v4/projects/{id}/services/unify-circuit:
    put:
      summary: Create/Edit Unify Circuit integration
      description: Set Unify Circuit integration.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Create/Edit Unify Circuit integration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
[...]
