swagger: '2.0'
info:
  title: GitLab access_requests projects API
  version: v4
  description: Operations related to access requests
host: gitlab.com
produces:
- application/json
tags:
- name: projects
  description: Operations related to projects
paths:
  /api/v4/projects/{id}/runners:
    get:
      summary: List project's runners
      description: List all runners available in the project, including from ancestor groups and any allowed shared runners.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project owned by the authenticated user
        type: string
        required: true
      - in: query
        name: scope
        description: 'Deprecated: Use `type` or `status` instead. The scope of runners to return'
        type: string
        enum:
        - specific
        - shared
        - instance_type
        - group_type
        - project_type
        - active
        - paused
        - online
        - offline
        - never_contacted
        - stale
        required: false
      - in: query
        name: type
        description: The type of runners to return
        type: string
        enum:
        - instance_type
        - group_type
        - project_type
        required: false
      - in: query
        name: paused
        description: Whether to include only runners that are accepting or ignoring new jobs
        type: boolean
        required: false
      - in: query
        name: status
        description: The status of runners to return
        type: string
        enum:
        - active
        - paused
        - online
        - offline
        - never_contacted
        - stale
        required: false
      - in: query
        name: tag_list
        description: A list of runner tags
        type: array
        items:
          type: string
        required: false
        example: '[''macos'', ''shell'']'
      - in: query
        name: version_prefix
        description: The version prefix of runners to return
        type: string
        required: false
        example: '''15.1.'' or ''16.'''
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      responses:
        '200':
          description: Get runners available for project
          schema:
            $ref: '#/definitions/API_Entities_Ci_Runner'
        '400':
          description: Scope contains invalid value
        '403':
          description: No access granted
      tags:
      - projects
      operationId: getApiV4ProjectsIdRunners
    post:
      summary: Assign a runner to project
      description: Assign an available project runner to the project.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project owned by the authenticated user
        type: string
        required: true
      - name: postApiV4ProjectsIdRunners
        in: body
        required: true
        schema:
          $ref: '#/definitions/postApiV4ProjectsIdRunners'
      responses:
        '201':
          description: Assign a runner to project
          schema:
            $ref: '#/definitions/API_Entities_Ci_Runner'
        '400':
          description: Bad Request
        '403':
          description: No access granted
        '404':
          description: Runner not found
      tags:
      - projects
      operationId: postApiV4ProjectsIdRunners
  /api/v4/projects/{id}/runners/{runner_id}:
    delete:
      summary: Unassign a project runner from the project
      description: It is not possible to unassign a runner from the owner project. If so, an error is returned. Use the call to delete a runner instead.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project owned by the authenticated user
        type: string
        required: true
      - in: path
        name: runner_id
        description: The ID of a runner
        type: integer
        format: int32
        required: true
      responses:
        '400':
          description: Bad Request
        '204':
          description: Unassign a runner from project
          schema:
            $ref: '#/definitions/API_Entities_Ci_Runner'
        '403':
          description: You cannot unassign a runner from the owner project. Delete the runner instead
        '404':
          description: Runner not found
        '412':
          description: Precondition Failed
      tags:
      - projects
      operationId: deleteApiV4ProjectsIdRunnersRunnerId
  /api/v4/projects/{id}/runners/reset_registration_token:
    post:
      summary: Reset the runner registration token for a project
      description: Reset runner registration token
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a project
        type: string
        required: true
      responses:
        '201':
          description: Reset runner registration token
          schema:
            $ref: '#/definitions/API_Entities_Ci_ResetTokenResult'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Project Not Found
      tags:
      - projects
      operationId: postApiV4ProjectsIdRunnersResetRegistrationToken
  /api/v4/projects/{id}/issues:
    get:
      description: Get a list of project issues
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - in: query
        name: with_labels_details
        description: Return titles of labels and other details
        type: boolean
        default: false
        required: false
      - in: query
        name: state
        description: Return opened, closed, or all issues
        type: string
        default: all
        enum:
        - opened
        - closed
        - all
        required: false
      - in: query
        name: closed_by_id
        description: Return issues which were closed by the user with the given ID.
        type: integer
        format: int32
        required: false
      - in: query
        name: order_by
        description: Return issues ordered by `created_at`, `due_date`, `label_priority`, `milestone_due`, `popularity`, `priority`, `relative_position`, `title`, or `updated_at` fields.
        type: string
        default: created_at
        enum:
        - created_at
        - due_date
        - label_priority
        - milestone_due
        - popularity
        - priority
        - relative_position
        - title
        - updated_at
        - weight
        required: false
      - in: query
        name: sort
        description: Return issues sorted in `asc` or `desc` order.
        type: string
        default: desc
        enum:
        - asc
        - desc
        required: false
      - in: query
        name: due_date
        description: 'Return issues that have no due date (`0`), or whose due date is this week, this month, between two weeks ago and next month, or which are overdue. Accepts: `overdue`, `week`, `month`, `next_month_and_previous_two_weeks`, `0`'
        type: string
        enum:
        - '0'
        - any
        - today
        - tomorrow
        - overdue
        - week
        - month
        - next_month_and_previous_two_weeks
        - ''
        required: false
      - in: query
        name: issue_type
        description: 'The type of the issue. Accepts: issue, incident, test_case, requirement, task, ticket'
        type: string
        enum:
        - issue
        - incident
        - test_case
        - requirement
        - task
        - ticket
        required: false
      - in: query
        name: labels
        description: Comma-separated list of label names
        type: array
        items:
          type: string
        required: false
      - in: query
        name: milestone
        description: Milestone title
        type: string
        required: false
      - in: query
        name: milestone_id
        description: Return issues assigned to milestones with the specified timebox value ("Any", "None", "Upcoming" or "Started")
        type: string
        enum:
        - Any
        - None
        - Upcoming
        - Started
        required: false
      - in: query
        name: iids
        description: The IID array of issues
        type: array
        items:
          type: integer
          format: int32
        required: false
      - in: query
        name: search
        description: Search issues for text present in the title, description, or any combination of these
        type: string
        required: false
      - in: query
        name: in
        description: '`title`, `description`, or a string joining them with comma'
        type: string
        required: false
      - in: query
        name: author_id
        description: Return issues which are authored by the user with the given ID
        type: integer
        format: int32
        required: false
      - in: query
        name: author_username
        description: Return issues which are authored by the user with the given username
        type: string
        required: false
      - in: query
        name: assignee_id
        description: Return issues which are assigned to the user with the given ID
        type: integer
        format: int32
        required: false
      - in: query
        name: assignee_username
        description: Return issues which are assigned to the user with the given username
        type: array
        items:
          type: string
        required: false
      - in: query
        name: created_after
        description: Return issues created after the specified time
        type: string
        format: date-time
        required: false
      - in: query
        name: created_before
        description: Return issues created before the specified time
        type: string
        format: date-time
        required: false
      - in: query
        name: updated_after
        description: Return issues updated after the specified time
        type: string
        format: date-time
        required: false
      - in: query
        name: updated_before
        description: Return issues updated before the specified time
        type: string
        format: date-time
        required: false
      - in: query
        name: not[labels]
        description: Comma-separated list of label names
        type: array
        items:
          type: string
        required: false
      - in: query
        name: not[milestone]
        description: Milestone title
        type: string
        required: false
      - in: query
        name: not[milestone_id]
        description: Return issues assigned to milestones without the specified timebox value ("Any", "None", "Upcoming" or "Started")
        type: string
        enum:
        - Any
        - None
        - Upcoming
        - Started
        required: false
      - in: query
        name: not[iids]
        description: The IID array of issues
        type: array
        items:
          type: integer
          format: int32
        required: false
      - in: query
        name: not[author_id]
        description: Return issues which are not authored by the user with the given ID
        type: integer
        format: int32
        required: false
      - in: query
        name: not[author_username]
        description: Return issues which are not authored by the user with the given username
        type: string
        required: false
      - in: query
        name: not[assignee_id]
        description: Return issues which are not assigned to the user with the given ID
        type: integer
        format: int32
        required: false
      - in: query
        name: not[assignee_username]
        description: Return issues which are not assigned to the user with the given username
        type: array
        items:
          type: string
        required: false
      - in: query
        name: not[weight]
        description: Return issues without the specified weight
        type: integer
        format: int32
        required: false
      - in: query
        name: not[iteration_id]
        description: Return issues which are not assigned to the iteration with the given ID
        type: integer
        format: int32
        required: false
      - in: query
        name: not[iteration_title]
        description: Return issues which are not assigned to the iteration with the given title
        type: string
        required: false
      - in: query
        name: scope
        description: 'Return issues for the given scope: `created_by_me`, `assigned_to_me` or `all`'
        type: string
        enum:
        - created-by-me
        - assigned-to-me
        - created_by_me
        - assigned_to_me
        - all
        required: false
      - in: query
        name: my_reaction_emoji
        description: Return issues reacted by the authenticated user by the given emoji
        type: string
        required: false
      - in: query
        name: confidential
        description: Filter confidential or public issues
        type: boolean
        required: false
      - in: query
        name: weight
        description: The weight of the issue
        type: integer
        format: int32
        required: false
      - in: query
        name: epic_id
        description: The ID of an epic associated with the issues
        type: integer
        format: int32
        required: false
      - in: query
        name: health_status
        description: 'The health status of the issue. Must be one of: on_track, needs_attention, at_risk, none, any'
        type: string
        enum:
        - on_track
        - needs_attention
        - at_risk
        - none
        - any
        required: false
      - in: query
        name: iteration_id
        description: Return issues which are assigned to the iteration with the given ID
        type: integer
        format: int32
        required: false
      - in: query
        name: iteration_title
        description: Return issues which are assigned to the iteration with the given title
        type: string
        required: false
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: query
        name: cursor
        description: Cursor for obtaining the next set of records
        type: string
        required: false
      responses:
        '200':
          description: Get a list of project issues
          schema:
            $ref: '#/definitions/API_Entities_Issue'
      tags:
      - projects
      operationId: getApiV4ProjectsIdIssues
    post:
      description: Create a new project issue
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - name: postApiV4ProjectsIdIssues
        in: body
        required: true
        schema:
          $ref: '#/definitions/postApiV4ProjectsIdIssues'
      responses:
        '201':
          description: Create a new project issue
          schema:
            $ref: '#/definitions/API_Entities_Issue'
      tags:
      - projects
      operationId: postApiV4ProjectsIdIssues
  /api/v4/projects/{id}/issues_statistics:
    get:
      description: Get statistics for the list of project issues
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - in: query
        name: labels
        description: Comma-separated list of label names
        type: array
        items:
          type: string
        required: false
      - in: query
        name: milestone
        description: Milestone title
        type: string
        required: false
      - in: query
        name: milestone_id
        description: Return issues assigned to milestones with the specified timebox value ("Any", "None", "Upcoming" or "Started")
        type: string
        enum:
        - Any
        - None
        - Upcoming
        - Started
        required: false
      - in: query
        name: iids
        description: The IID array of issues
        type: array
        items:
          type: integer
          format: int32
        required: false
      - in: query
        name: search
        description: Search issues for text present in the title, description, or any combination of these
        type: string
        required: false
      - in: query
        name: in
        description: '`title`, `description`, or a string joining them with comma'
        type: string
        required: false
      - in: query
        name: author_id
        description: Return issues which are authored by the user with the given ID
        type: integer
        format: int32
        required: false
      - in: query
        name: author_username
        description: Return issues which are authored by the user with the given username
        type: string
        required: false
      - in: query
        name: assignee_id
        description: Return issues which are assigned to the user with the given ID
        type: integer
        format: int32
        required: false
      - in: query
        name: assignee_username
        description: Return issues which are assigned to the user with the given username
        type: array
        items:
          type: string
        required: false
      - in: query
        name: created_after
        description: Return issues created after the specified time
        type: string
        format: date-time
        required: false
      - in: query
        name: created_before
        description: Return issues created before the specified time
        type: string
        format: date-time
        required: false
      - in: query
        name: updated_after
        description: Return issues updated after the specified time
        type: string
        format: date-time
        required: false
      - in: query
        name: updated_before
        description: Return issues updated before the specified time
        type: string
        format: date-time
        required: false
      - in: query
        name: not[labels]
        description: Comma-separated list of label names
        type: array
        items:
          type: string
        required: false
      - in: query
        name: not[milestone]
        description: Milestone title
        type: string
        required: false
      - in: query
        name: not[milestone_id]
        description: Return issues assigned to milestones without the specified timebox value ("Any", "None", "Upcoming" or "Started")
        type: string
        enum:
        - Any
        - None
        - Upcoming
        - Started
        required: false
      - in: query
        name: not[iids]
        description: The IID array of issues
        type: array
        items:
          type: integer
          format: int32
        required: false
      - in: query
        name: not[author_id]
        description: Return issues which are not authored by the user with the given ID
        type: integer
        format: int32
        required: false
      - in: query
        name: not[author_username]
        description: Return issues which are not authored by the user with the given username
        type: string
        required: false
      - in: query
        name: not[assignee_id]
        description: Return issues which are not assigned to the user with the given ID
        type: integer
        format: int32
        required: false
      - in: query
        name: not[assignee_username]
        description: Return issues which are not assigned to the user with the given username
        type: array
        items:
          type: string
        required: false
      - in: query
        name: not[weight]
        description: Return issues without the specified weight
        type: integer
        format: int32
        required: false
      - in: query
        name: not[iteration_id]
        description: Return issues which are not assigned to the iteration with the given ID
        type: integer
        format: int32
        required: false
      - in: query
        name: not[iteration_title]
        description: Return issues which are not assigned to the iteration with the given title
        type: string
        required: false
      - in: query
        name: scope
        description: 'Return issues for the given scope: `created_by_me`, `assigned_to_me` or `all`'
        type: string
        enum:
        - created-by-me
        - assigned-to-me
        - created_by_me
        - assigned_to_me
        - all
        required: false
      - in: query
        name: my_reaction_emoji
        description: Return issues reacted by the authenticated user by the given emoji
        type: string
        required: false
      - in: query
        name: confidential
        description: Filter confidential or public issues
        type: boolean
        required: false
      - in: query
        name: weight
        description: The weight of the issue
        type: integer
        format: int32
        required: false
      - in: query
        name: epic_id
        description: The ID of an epic associated with the issues
        type: integer
        format: int32
        required: false
      - in: query
        name: health_status
        description: 'The health status of the issue. Must be one of: on_track, needs_attention, at_risk, none, any'
        type: string
        enum:
        - on_track
        - needs_attention
        - at_risk
        - none
        - any
        required: false
      - in: query
        name: iteration_id
        description: Return issues which are assigned to the iteration with the given ID
        type: integer
        format: int32
        required: false
      - in: query
        name: iteration_title
        description: Return issues which are assigned to the iteration with the given title
        type: string
        required: false
      responses:
        '200':
          description: Get statistics for the list of project issues
      tags:
      - projects
      operationId: getApiV4ProjectsIdIssuesStatistics
  /api/v4/projects/{id}/issues/{issue_iid}:
    get:
      description: Get a single project issue
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - in: path
        name: issue_iid
        description: The internal ID of a project issue
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get a single project issue
          schema:
            $ref: '#/definitions/API_Entities_Issue'
      tags:
      - projects
      operationId: getApiV4ProjectsIdIssuesIssueIid
    put:
      description: Update an existing issue
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - in: path
        name: issue_iid
        description: The internal ID of a project issue
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdIssuesIssueIid
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdIssuesIssueIid'
      responses:
        '200':
          description: Update an existing issue
          schema:
            $ref: '#/definitions/API_Entities_Issue'
      tags:
      - projects
      operationId: putApiV4ProjectsIdIssuesIssueIid
    delete:
      description: Delete a project issue
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - in: path
        name: issue_iid
        description: The internal ID of a project issue
        type: integer
        format: int32
        required: true
      responses:
        '204':
          description: Delete a project issue
      tags:
      - projects
      operationId: deleteApiV4ProjectsIdIssuesIssueIid
  /api/v4/projects/{id}/issues/{issue_iid}/reorder:
    put:
      description: Reorder an existing issue
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - in: path
        name: issue_iid
        description: The internal ID of a project issue
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdIssuesIssueIidReorder
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdIssuesIssueIidReorder'
      responses:
        '200':
          description: Reorder an existing issue
          schema:
            $ref: '#/definitions/API_Entities_Issue'
      tags:
      - projects
      operationId: putApiV4ProjectsIdIssuesIssueIidReorder
  /api/v4/projects/{id}/issues/{issue_iid}/move:
    post:
      description: Move an existing issue
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - in: path
        name: issue_iid
        description: The internal ID of a project issue
        type: integer
        format: int32
        required: true
      - name: postApiV4ProjectsIdIssuesIssueIidMove
        in: body
        required: true
        schema:
          $ref: '#/definitions/postApiV4ProjectsIdIssuesIssueIidMove'
      responses:
        '201':
          description: Move an existing issue
          schema:
            $ref: '#/definitions/API_Entities_Issue'
      tags:
      - projects
      operationId: postApiV4ProjectsIdIssuesIssueIidMove
  /api/v4/projects/{id}/issues/{issue_iid}/clone:
    post:
      description: Clone an existing issue
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - in: path
        name: issue_iid
        description: The internal ID of a project issue
        type: integer
        format: int32
        required: true
      - name: postApiV4ProjectsIdIssuesIssueIidClone
        in: body
        required: true
        schema:
          $ref: '#/definitions/postApiV4ProjectsIdIssuesIssueIidClone'
      responses:
        '201':
          description: Clone an existing issue
          schema:
            $ref: '#/definitions/API_Entities_Issue'
      tags:
      - projects
      operationId: postApiV4ProjectsIdIssuesIssueIidClone
  /api/v4/projects/{id}/issues/{issue_iid}/closed_by:
    get:
      description: List merge requests closing issue
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - in: path
        name: issue_iid
        description: The internal ID of a project issue
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: List merge requests closing issue
          schema:
            $ref: '#/definitions/API_Entities_MergeRequestBasic'
      tags:
      - projects
      operationId: getApiV4ProjectsIdIssuesIssueIidClosedBy
  /api/v4/projects/{id}/uploads/authorize:
    post:
      summary: Workhorse authorize the file upload
      description: This feature was introduced in GitLab 13.11
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Workhorse authorize the file upload
        '404':
          description: Not found
      tags:
      - projects
      operationId: postApiV4ProjectsIdUploadsAuthorize
  /api/v4/projects/{id}/uploads:
    post:
      description: Upload a file
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: postApiV4ProjectsIdUploads
        in: body
        required: true
        schema:
          $ref: '#/definitions/postApiV4ProjectsIdUploads'
      responses:
        '201':
          description: Upload a file
          schema:
            $ref: '#/definitions/API_Entities_ProjectUpload'
        '404':
          description: Not found
      tags:
      - projects
      operationId: postApiV4ProjectsIdUploads
    get:
      description: Get the list of uploads of a project
      produces:
      - application/json
      parameters:
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get the list of uploads of a project
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_MarkdownUploadAdmin'
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
      - projects
      operationId: getApiV4ProjectsIdUploads
  /api/v4/projects/{id}/uploads/{upload_id}:
    get:
      description: Download a single project upload by ID
      produces:
      - application/json
      parameters:
      - in: path
        name: upload_id
        description: The ID of a project upload
        type: integer
        format: int32
        required: true
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Download a single project upload by ID
          schema:
            type: file
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
      - projects
      operationId: getApiV4ProjectsIdUploadsUploadId
    delete:
      description: Delete a single project upload by ID
      produces:
      - application/json
      parameters:
      - in: path
        name: upload_id
        description: The ID of a project upload
        type: integer
        format: int32
        required: true
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '204':
          description: Delete a single project upload by ID
        '400':
          description: Bad request
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
      - projects
      operationId: deleteApiV4ProjectsIdUploadsUploadId
  /api/v4/projects/{id}/uploads/{secret}/{filename}:
    get:
      description: Download a single project upload by secret and filename
      produces:
      - application/json
      parameters:
      - in: path
        name: secret
        description: The 32-character secret of a project upload
        type: string
        required: true
      - in: path
        name: filename
        description: The filename of a project upload
        type: string
        required: true
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Download a single project upload by secret and filename
          schema:
            type: file
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
      - projects
      operationId: getApiV4ProjectsIdUploadsSecretFilename
    delete:
      description: Delete a single project upload by secret and filename
      produces:
      - application/json
      parameters:
      - in: path
        name: secret
        description: The 32-character secret of a project upload
        type: string
        required: true
      - in: path
        name: filename
        description: The filename of a project upload
        type: string
        required: true
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '204':
          description: Delete a single project upload by secret and filename
        '400':
          description: Bad request
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
      - projects
      operationId: deleteApiV4ProjectsIdUploadsSecretFilename
  /api/v4/projects/{id}/create_ci_config:
    post:
      summary: Create merge request for missing ci config in project
      description: Creates a merge request to add missing CI configuration
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '201':
          description: Create merge request for missing ci config in project
      tags:
      - projects
      operationId: postApiV4ProjectsIdCreateCiConfig
  /api/v4/projects/{id}/registry/protection/repository/rules:
    get:
      description: Get list of container registry protection rules for a project
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      responses:
        '200':
          description: Get list of container registry protection rules for a project
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_Projects_ContainerRegistry_Protection_Rule'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - projects
      operationId: getApiV4ProjectsIdRegistryProtectionRepositoryRules
    post:
      description: Create a container protection rule for a project
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - name: postApiV4ProjectsIdRegistryProtectionRepositoryRules
        in: body
        required: true
        schema:
          $ref: '#/definitions/postApiV4ProjectsIdRegistryProtectionRepositoryRules'
      responses:
        '201':
          description: Create a container protection rule for a project
          schema:
            $ref: '#/definitions/API_Entities_Projects_ContainerRegistry_Protection_Rule'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      tags:
      - projects
      operationId: postApiV4ProjectsIdRegistryProtectionRepositoryRules
  /api/v4/projects/{id}/registry/protection/repository/rules/{protection_rule_id}:
    patch:
      description: Update a container protection rule for a project
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - in: path
        name: protection_rule_id
        description: The ID of the container protection rule
        type: integer
        format: int32
        required: true
      - name: patchApiV4ProjectsIdRegistryProtectionRepositoryRulesProtectionRuleId
        in: body
        required: true
        schema:
          $ref: '#/definitions/patchApiV4ProjectsIdRegistryProtectionRepositoryRulesProtectionRuleId'
      responses:
        '200':
          description: Update a container protection rule for a project
          schema:
            $ref: '#/definitions/API_Entities_Projects_ContainerRegistry_Protection_Rule'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      tags:
      - projects
      operationId: patchApiV4ProjectsIdRegistryProtectionRepositoryRulesProtectionRuleId
    delete:
      description: Delete container protection rule
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - in: path
        name: protection_rule_id
        description: The ID of the container protection rule
        type: integer
        format: int32
        required: true
      responses:
        '204':
          description: 204 No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - projects
      operationId: deleteApiV4ProjectsIdRegistryProtectionRepositoryRulesProtectionRuleId
  /api/v4/projects/{id}/registry/protection/tag/rules:
    get:
      summary: Gets a list of container protection tag rules for a project.
      description: This feature was introduced in GitLab 18.7.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project.
        type: string
        required: true
      responses:
        '200':
          description: Gets a list of container protection tag rules for a project.
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_Projects_ContainerRegistry_Protection_TagRule'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - projects
      operationId: getApiV4ProjectsIdRegistryProtectionTagRules
    post:
      summary: Create a container protection tag rule for a project. 5 rule limit per project.
      description: This feature was introduced in GitLab 18.8.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project.
        type: string
        required: true
      - name: postApiV4ProjectsIdRegistryProtectionTagRules
        in: body
        required: true
        schema:
          $ref: '#/definitions/postApiV4ProjectsIdRegistryProtectionTagRules'
      responses:
        '201':
          description: Create a container protection tag rule for a project. 5 rule limit per project.
          schema:
            $ref: '#/definitions/API_Entities_Projects_ContainerRegistry_Protection_TagRule'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      tags:
      - projects
      operationId: postApiV4ProjectsIdRegistryProtectionTagRules
  /api/v4/projects/{id}/registry/protection/tag/rules/{protection_rule_id}:
    patch:
      summary: Update a container protection tag rule for a project.
      description: This feature was introduced in GitLab 18.9.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project.
        type: string
        required: true
      - in: path
        name: protection_rule_id
        description: The ID of the container protection tag rule.
        type: integer
        format: int32
        required: true
      - name: patchApiV4ProjectsIdRegistryProtectionTagRulesProtectionRuleId
        in: body
        required: true
        schema:
          $ref: '#/definitions/patchApiV4ProjectsIdRegistryProtectionTagRulesProtectionRuleId'
      responses:
        '200':
          description: Update a container protection tag rule for a project.
          schema:
            $ref: '#/definitions/API_Entities_Projects_ContainerRegistry_Protection_TagRule'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      tags:
      - projects
      operationId: patchApiV4ProjectsIdRegistryProtectionTagRulesProtectionRuleId
    delete:
      summary: Delete container protection tag rule
      description: This feature was introduced in GitLab 18.9.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project.
        type: string
        required: true
      - in: path
        name: protection_rule_id
        description: The ID of the container protection tag rule.
        type: integer
        format: int32
        required: true
      responses:
        '204':
          description: Delete a container protection tag rule
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - projects
      operationId: deleteApiV4ProjectsIdRegistryProtectionTagRulesProtectionRuleId
  /api/v4/projects/{id}/packages/protection/rules:
    get:
      description: Get list of package protection rules for a project
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      responses:
        '200':
          description: Get list of package protection rules for a project
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_Projects_Packages_Protection_Rule'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - projects
      operationId: getApiV4ProjectsIdPackagesProtectionRules
    post:
      description: Create a package protection rule for a project
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - name: postApiV4ProjectsIdPackagesProtectionRules
        in: body
        required: true
        schema:
          $ref: '#/definitions/postApiV4ProjectsIdPackagesProtectionRules'
      responses:
        '201':
          description: Create a package protection rule for a project
          schema:
            $ref: '#/definitions/API_Entities_Projects_Packages_Protection_Rule'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      tags:
      - projects
      operationId: postApiV4ProjectsIdPackagesProtectionRules
  /api/v4/projects/{id}/packages/protection/rules/{package_protection_rule_id}:
    patch:
      description: Update a package protection rule for a project
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - in: path
        name: package_protection_rule_id
        description: The ID of the package protection rule
        type: integer
        format: int32
        required: true
      - name: patchApiV4ProjectsIdPackagesProtectionRulesPackageProtectionRuleId
        in: body
        required: true
        schema:
          $ref: '#/definitions/patchApiV4ProjectsIdPackagesProtectionRulesPackageProtectionRuleId'
      responses:
        '200':
          description: Update a package protection rule for a project
          schema:
            $ref: '#/definitions/API_Entities_Projects_Packages_Protection_Rule'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
      tags:
      - projects
      operationId: patchApiV4ProjectsIdPackagesProtectionRulesPackageProtectionRuleId
    delete:
      description: Delete package protection rule
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - in: path
        name: package_protection_rule_id
        description: The ID of the package protection rule
        type: integer
        format: int32
        required: true
      responses:
        '204':
          description: 204 No Content
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - projects
      operationId: deleteApiV4ProjectsIdPackagesProtectionRulesPackageProtectionRuleId
  /api/v4/projects/{id}/statistics:
    get:
      description: Get the list of project fetch statistics for the last 30 days
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      responses:
        '200':
          description: Get the list of project fetch statistics for the last 30 days
          schema:
            $ref: '#/definitions/API_Entities_ProjectDailyStatistics'
        '404':
          description: 404 Project Not Found
        '401':
          description: 401 Unauthorized
      tags:
      - projects
      operationId: getApiV4ProjectsIdStatistics
  /api/v4/projects/{id}/restore:
    post:
      description: Restore a project
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '201':
          description: Restore a project
          schema:
            $ref: '#/definitions/API_Entities_Project'
      tags:
      - projects
      operationId: postApiV4ProjectsIdRestore
  /api/v4/projects:
    get:
      description: Get a list of visible projects for authenticated user
      produces:
      - application/json
      parameters:
      - in: query
        name: order_by
        description: Return projects ordered by field. storage_size, repository_size, wiki_size, packages_size are only available to admins. Similarity is available when searching and is limited to projects the user has access to.
        type: string
        default: created_at
        enum:
        - id
        - name
        - path
        - created_at
        - updated_at
        - last_activity_at
        - similarity
        - star_count
        - storage_size
        - repository_size
        - wiki_size
        - packages_size
        required: false
      - in: query
        name: sort
        description: Return projects sorted in ascending and descending order
        type: string
        default: desc
        enum:
        - asc
        - desc
        required: false
      - in: query
        name: archived
        description: Limit by archived status
        type: boolean
        required: false
      - in: query
        name: visibility
        description: Limit by visibility
        type: string
        enum:
        - private
        - internal
        - public
        required: false
      - in: query
        name: search
        description: Return list of projects matching the search criteria
        type: string
        required: false
      - in: query
        name: search_namespaces
        description: Include ancestor namespaces when matching search criteria
        type: boolean
        required: false
      - in: query
        name: owned
        description: Limit by owned by authenticated user
        type: boolean
        default: false
        required: false
      - in: query
        name: starred
        description: Limit by starred status
        type: boolean
        default: false
        required: false
      - in: query
        name: imported
        description: Limit by imported by authenticated user
        type: boolean
        default: false
        required: false
      - in: query
        name: membership
        description: Limit by projects that the current user is a member of
        type: boolean
        default: false
        required: false
      - in: query
        name: with_issues_enabled
        description: Limit by enabled issues feature
        type: boolean
        default: false
        required: false
      - in: query
        name: with_merge_requests_enabled
        description: Limit by enabled merge requests feature
        type: boolean
        default: false
        required: false
      - in: query
        name: with_programming_language
        description: Limit to repositories which use the given programming language
        type: string
        required: false
      - in: query
        name: min_access_level
        description: Limit by minimum access level of authenticated user
        type: integer
        format: int32
        enum:
        - 10
        - 15
        - 20
        - 30
        - 40
        - 50
        required: false
      - in: query
        name: id_after
        description: Limit results to projects with IDs greater than the specified ID
        type: integer
        format: int32
        required: false
      - in: query
        name: id_before
        description: Limit results to projects with IDs less than the specified ID
        type: integer
        format: int32
        required: false
      - in: query
        name: last_activity_after
        description: 'Limit results to projects with last_activity after specified time. Format: ISO 8601 YYYY-MM-DDTHH:MM:SSZ'
        type: string
        format: date-time
        required: false
      - in: query
        name: last_activity_before
        description: 'Limit results to projects with last_activity before specified time. Format: ISO 8601 YYYY-MM-DDTHH:MM:SSZ'
        type: string
        format: date-time
        required: false
      - in: query
        name: repository_storage
        description: Which storage shard the repository is on. Available only to admins
        type: string
        required: false
      - in: query
        name: topic
        description: Comma-separated list of topics. Limit results to projects having all topics
        type: array
        items:
          type: string
        required: false
      - in: query
        name: topic_id
        description: Limit results to projects with the assigned topic given by the topic ID
        type: integer
        format: int32
        required: false
      - in: query
        name: updated_before
        description: 'Return projects updated before the specified datetime. Format: ISO 8601 YYYY-MM-DDTHH:MM:SSZ'
        type: string
        format: date-time
        required: false
      - in: query
        name: updated_after
        description: 'Return projects updated after the specified datetime. Format: ISO 8601 YYYY-MM-DDTHH:MM:SSZ'
        type: string
        format: date-time
        required: false
      - in: query
        name: include_pending_delete
        description: Include projects in pending delete state. Can only be set by admins
        type: boolean
        required: false
      - in: query
        name: marked_for_deletion_on
        description: Date when the project was marked for deletion
        type: string
        format: date
        required: false
      - in: query
        name: active
        description: Limit by projects that are not archived and not marked for deletion
        type: boolean
        required: false
      - in: query
        name: wiki_checksum_failed
        description: Limit by projects where wiki checksum is failed
        type: boolean
        default: false
        required: false
      - in: query
        name: repository_checksum_failed
        description: Limit by projects where repository checksum is failed
        type: boolean
        default: false
        required: false
      - in: query
        name: include_hidden
        description: Include hidden projects. Can only be set by admins
        type: boolean
        default: false
        required: false
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: query
        name: simple
        description: Return only the ID, URL, name, and path of each project
        type: boolean
        default: false
        required: false
      - in: query
        name: statistics
        description: Include project statistics
        type: boolean
        default: false
        required: false
      - in: query
        name: with_custom_attributes
        description: Include custom attributes in the response
        type: boolean
        default: false
        required: false
      responses:
        '200':
          description: Get a list of visible projects for authenticated user
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_BasicProjectDetails'
        '400':
          description: Bad request
      tags:
      - projects
      operationId: getApiV4Projects
    post:
      description: Create new project
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: postApiV4Projects
        in: body
        required: true
        schema:
          $ref: '#/definitions/postApiV4Projects'
      responses:
        '201':
          description: Create new project
          schema:
            $ref: '#/definitions/API_Entities_Project'
        '403':
          description: Unauthenticated
        '404':
          description: Not found
        '400':
          description: Bad request
      tags:
      - projects
      operationId: postApiV4Projects
  /api/v4/projects/user/{user_id}:
    post:
      description: Create new project for a specified user. Only available to admin users.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: user_id
        description: The ID of a user
        type: integer
        format: int32
        required: true
        example: 1
      - name: postApiV4ProjectsUserUserId
        in: body
        required: true
        schema:
          $ref: '#/definitions/postApiV4ProjectsUserUserId'
      responses:
        '201':
          description: Create new project for a specified user. Only available to admin users.
          schema:
            $ref: '#/definitions/API_Entities_Project'
        '403':
          description: Unauthenticated
        '404':
          description: Not found
        '400':
          description: Bad request
      tags:
      - projects
      operationId: postApiV4ProjectsUserUserId
  /api/v4/projects/{id}/share_locations:
    get:
      description: Returns group that can be shared with the given project
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The id of the project
        type: integer
        format: int32
        required: true
      - in: query
        name: search
        description: Return list of groups matching the search criteria
        type: string
        required: false
      responses:
        '200':
          description: Returns group that can be shared with the given project
          schema:
            $ref: '#/definitions/API_Entities_Group'
      tags:
      - projects
      operationId: getApiV4ProjectsIdShareLocations
  /api/v4/projects/{id}:
    get:
      description: Get a single project
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - in: query
        name: statistics
        description: Include project statistics
        type: boolean
        default: false
        required: false
      - in: query
        name: with_custom_attributes
        description: Include custom attributes in the response
        type: boolean
        default: false
        required: false
      - in: query
        name: license
        description: Include project license data
        type: boolean
        default: false
        required: false
      responses:
        '200':
          description: Get a single project
          schema:
            $ref: '#/definitions/API_Entities_ProjectWithAccess'
      tags:
      - projects
      operationId: getApiV4ProjectsId
    put:
      description: Update an existing project
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - name: putApiV4ProjectsId
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsId'
      responses:
        '200':
          description: Update an existing project
          schema:
            $ref: '#/definitions/API_Entities_Project'
        '400':
          description: Bad request
        '403':
          description: Unauthenticated
      tags:
      - projects
      operationId: putApiV4ProjectsId
    delete:
      description: Delete a project
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      responses:
        '202':
          description: Delete a project
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
      - projects
      operationId: deleteApiV4ProjectsId
  /api/v4/projects/{id}/fork:
    post:
      description: Fork new project for the current user or provided namespace.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - name: postApiV4ProjectsIdFork
        in: body
        required: true
        schema:
          $ref: '#/definitions/postApiV4ProjectsIdFork'
      responses:
        '201':
          description: Fork new project for the current user or provided namespace.
          schema:
            $ref: '#/definitions/API_Entities_Project'
        '403':
          description: Unauthenticated
        '404':
          description: Not found
        '409':
          description: Conflict
      tags:
      - projects
      operationId: postApiV4ProjectsIdFork
    delete:
      description: Remove a forked_from relationship
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      responses:
        '204':
          description: Remove a forked_from relationship
        '304':
          description: Not modified
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
      - projects
      operationId: deleteApiV4ProjectsIdFork
  /api/v4/projects/{id}/forks:
    get:
      description: List forks of this project
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - in: query
        name: order_by
        description: Return projects ordered by field. storage_size, repository_size, wiki_size, packages_size are only available to admins. Similarity is available when searching and is limited to projects the user has access to.
        type: string
        default: created_at
        enum:
        - id
        - name
        - path
        - created_at
        - updated_at
        - last_activity_at
        - similarity
        - star_count
        - storage_size
        - repository_size
        - wiki_size
        - packages_size
        required: false
      - in: query
        name: sort
        description: Return projects sorted in ascending and descending order
        type: string
        default: desc
        enum:
        - asc
        - desc
        required: false
      - in: query
        name: archived
        description: Limit by archived status
        type: boolean
        required: false
      - in: query
        name: visibility
        description: Limit by visibility
        type: string
        enum:
        - private
        - internal
        - public
        required: false
      - in: query
        name: search
        description: Return list of projects matching the search criteria
        type: string
        required: false
      - in: query
        name: search_namespaces
        description: Include ancestor namespaces when matching search criteria
        type: boolean
        required: false
      - in: query
        name: owned
        description: Limit by owned by authenticated user
        type: boolean
        default: false
        required: false
      - in: query
        name: starred
        description: Limit by starred status
        type: boolean
        default: false
        required: false
      - in: query
        name: imported
        description: Limit by imported by authenticated user
        type: boolean
        default: false
        required: false
      - in: query
        name: membership
        description: Limit by projects that the current user is a member of
        type: boolean
        default: false
        required: false
      - in: query
        name: with_issues_enabled
        description: Limit by enabled issues feature
        type: boolean
        default: false
        required: false
      - in: query
        name: with_merge_requests_enabled
        description: Limit by enabled merge requests feature
        type: boolean
        default: false
        required: false
      - in: query
        name: with_programming_language
        description: Limit to repositories which use the given programming language
        type: string
        required: false
      - in: query
        name: min_access_level
        description: Limit by minimum access level of authenticated user
        type: integer
        format: int32
        enum:
        - 10
        - 15
        - 20
        - 30
        - 40
        - 50
        required: false
      - in: query
        name: id_after
        description: Limit results to projects with IDs greater than the specified ID
        type: integer
        format: int32
        required: false
      - in: query
        name: id_before
        description: Limit results to projects with IDs less than the specified ID
        type: integer
        format: int32
        required: false
      - in: query
        name: last_activity_after
        description: 'Limit results to projects with last_activity after specified time. Format: ISO 8601 YYYY-MM-DDTHH:MM:SSZ'
        type: string
        format: date-time
        required: false
      - in: query
        name: last_activity_before
        description: 'Limit results to projects with last_activity before specified time. Format: ISO 8601 YYYY-MM-DDTHH:MM:SSZ'
        type: string
        format: date-time
        required: false
      - in: query
        name: repository_storage
        description: Which storage shard the repository is on. Available only to admins
        type: string
        required: false
      - in: query
        name: topic
        description: Comma-separated list of topics. Limit results to projects having all topics
        type: array
        items:
          type: string
        required: false
      - in: query
        name: topic_id
        description: Limit results to projects with the assigned topic given by the topic ID
        type: integer
        format: int32
        required: false
      - in: query
        name: updated_before
        description: 'Return projects updated before the specified datetime. Format: ISO 8601 YYYY-MM-DDTHH:MM:SSZ'
        type: string
        format: date-time
        required: false
      - in: query
        name: updated_after
        description: 'Return projects updated after the specified datetime. Format: ISO 8601 YYYY-MM-DDTHH:MM:SSZ'
        type: string
        format: date-time
        required: false
      - in: query
        name: include_pending_delete
        description: Include projects in pending delete state. Can only be set by admins
        type: boolean
        required: false
      - in: query
        name: marked_for_deletion_on
        description: Date when the project was marked for deletion
        type: string
        format: date
        required: false
      - in: query
        name: active
        description: Limit by projects that are not archived and not marked for deletion
        type: boolean
        required: false
      - in: query
        name: wiki_checksum_failed
        description: Limit by projects where wiki checksum is failed
        type: boolean
        default: false
        required: false
      - in: query
        name: repository_checksum_failed
        description: Limit by projects where repository checksum is failed
        type: boolean
        default: false
        required: false
      - in: query
        name: include_hidden
        description: Include hidden projects. Can only be set by admins
        type: boolean
        default: false
        required: false
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: query
        name: simple
        description: Return only the ID, URL, name, and path of each project
        type: boolean
        default: false
        required: false
      - in: query
        name: with_custom_attributes
        description: Include custom attributes in the response
        type: boolean
        default: false
        required: false
      responses:
        '200':
          description: List forks of this project
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_Project'
      tags:
      - projects
      operationId: getApiV4ProjectsIdForks
  /api/v4/projects/{id}/pages_access:
    get:
      description: Check pages access of this project
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      responses:
        '200':
          description: Check pages access of this project
        '403':
          description: Unauthenticated
      tags:
      - projects
      operationId: getApiV4ProjectsIdPagesAccess
  /api/v4/projects/{id}/archive:
    post:
      description: Archive a project
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      responses:
        '201':
          description: Archive a project
          schema:
            $ref: '#/definitions/API_Entities_Project'
        '403':
          description: Unauthenticated
      tags:
      - projects
      operationId: postApiV4ProjectsIdArchive
  /api/v4/projects/{id}/unarchive:
    post:
      description: Unarchive a project
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      responses:
        '201':
          description: Unarchive a project
          schema:
            $ref: '#/definitions/API_Entities_Project'
        '403':
          description: Unauthenticated
      tags:
      - projects
      operationId: postApiV4ProjectsIdUnarchive
  /api/v4/projects/{id}/star:
    post:
      description: Star a project
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      responses:
        '201':
          description: Star a project
          schema:
            $ref: '#/definitions/API_Entities_Project'
        '304':
          description: Not modified
        '403':
          description: Unauthenticated
      tags:
      - projects
      operationId: postApiV4ProjectsIdStar
  /api/v4/projects/{id}/unstar:
    post:
      description: Unstar a project
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      responses:
        '201':
          description: Unstar a project
          schema:
            $ref: '#/definitions/API_Entities_Project'
        '304':
          description: Not modified
        '403':
          description: Unauthenticated
      tags:
      - projects
      operationId: postApiV4ProjectsIdUnstar
  /api/v4/projects/{id}/starrers:
    get:
      description: Get the users who starred a project
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - in: query
        name: search
        description: Return list of users matching the search criteria
        type: string
        required: false
        example: user
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      responses:
        '200':
          description: Get the users who starred a project
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_UserBasic'
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
      - projects
      operationId: getApiV4ProjectsIdStarrers
  /api/v4/projects/{id}/languages:
    get:
      description: Get languages in project repository
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      responses:
        '200':
          description: Get languages in project repository
        '404':
          description: Not found
      tags:
      - projects
      operationId: getApiV4ProjectsIdLanguages
  /api/v4/projects/{id}/fork/{forked_from_id}:
    post:
      description: Mark this project as forked from another
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - in: path
        name: forked_from_id
        description: The ID of the project it was forked from
        type: string
        required: true
        example: gitlab
      responses:
        '201':
          description: Mark this project as forked from another
          schema:
            $ref: '#/definitions/API_Entities_Project'
        '401':
          description: Unauthorized
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
      - projects
      operationId: postApiV4ProjectsIdForkForkedFromId
  /api/v4/projects/{id}/share:
    post:
      description: Share the project with a group
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - name: postApiV4ProjectsIdShare
        in: body
        required: true
        schema:
          $ref: '#/definitions/postApiV4ProjectsIdShare'
      responses:
        '201':
          description: Share the project with a group
          schema:
            $ref: '#/definitions/API_Entities_ProjectGroupLink'
        '400':
          description: Bad request
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
      - projects
      operationId: postApiV4ProjectsIdShare
  /api/v4/projects/{id}/share/{group_id}:
    delete:
      description: Remove a group share
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - in: path
        name: group_id
        description: The ID of the group
        type: integer
        format: int32
        required: true
      responses:
        '204':
          description: Remove a group share
        '400':
          description: Bad request
        '404':
          description: Not found
      tags:
      - projects
      operationId: deleteApiV4ProjectsIdShareGroupId
  /api/v4/projects/{id}/import_project_members/{project_id}:
    post:
      summary: Import members from another project
      description: This feature was introduced in GitLab 14.2
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - in: path
        name: project_id
        description: The ID of the source project to import the members from.
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Import members from another project
        '403':
          description: Unauthenticated
        '404':
          description: Project Not Found
        '422':
          description: Import failed
      tags:
      - projects
      operationId: postApiV4ProjectsIdImportProjectMembersProjectId
  /api/v4/projects/{id}/users:
    get:
      description: Get the users list of a project
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - in: query
        name: search
        description: Return list of users matching the search criteria
        type: string
        required: false
        example: user
      - in: query
        name: skip_users
        description: Filter out users with the specified IDs
        type: array
        items:
          type: integer
          format: int32
        required: false
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      responses:
        '200':
          description: Get the users list of a project
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_UserBasic'
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
      - projects
      operationId: getApiV4ProjectsIdUsers
  /api/v4/projects/{id}/groups:
    get:
      description: Get ancestor and shared groups for a project
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - in: query
        name: search
        description: Return list of groups matching the search criteria
        type: string
        required: false
        example: group
      - in: query
        name: skip_groups
        description: Array of group ids to exclude from list
        type: array
        items:
          type: integer
          format: int32
        required: false
      - in: query
        name: with_shared
        description: Include shared groups
        type: boolean
        default: false
        required: false
      - in: query
        name: shared_visible_only
        description: Limit to shared groups user has access to
        type: boolean
        default: false
        required: false
      - in: query
        name: shared_min_access_level
        description: Limit returned shared groups by minimum access level to the project
        type: integer
        format: int32
        enum:
        - 10
        - 15
        - 20
        - 30
        - 40
        - 50
        required: false
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      responses:
        '200':
          description: Get ancestor and shared groups for a project
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_PublicGroupDetails'
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
      - projects
      operationId: getApiV4ProjectsIdGroups
  /api/v4/projects/{id}/invited_groups:
    get:
      description: Get a list of invited groups in this project
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - in: query
        name: relation
        description: Filter by group relation
        type: array
        items:
          type: string
          enum:
          - direct
          - inherited
        required: false
      - in: query
        name: search
        description: Search for a specific group
        type: string
        required: false
      - in: query
        name: min_access_level
        description: Limit by minimum access level of authenticated user
        type: integer
        format: int32
        enum:
        - 10
        - 15
        - 20
        - 30
        - 40
        - 50
        required: false
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: query
        name: with_custom_attributes
        description: Include custom attributes in the response
        type: boolean
        default: false
        required: false
      responses:
        '200':
          description: Get a list of invited groups in this project
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_Group'
      tags:
      - projects
      operationId: getApiV4ProjectsIdInvitedGroups
  /api/v4/projects/{id}/housekeeping:
    post:
      summary: Start the housekeeping task for a project
      description: This feature was introduced in GitLab 9.0.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - name: postApiV4ProjectsIdHousekeeping
        in: body
        required: true
        schema:
          $ref: '#/definitions/postApiV4ProjectsIdHousekeeping'
      responses:
        '201':
          description: Start the housekeeping task for a project
        '401':
          description: Unauthorized
        '403':
          description: Unauthenticated
        '409':
          description: Conflict
      tags:
      - projects
      operationId: postApiV4ProjectsIdHousekeeping
  /api/v4/projects/{id}/repository_size:
    post:
      summary: Start a task to recalculate repository size for a project
      description: This feature was introduced in GitLab 15.0.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      responses:
        '201':
          description: Start a task to recalculate repository size for a project
        '401':
          description: Unauthorized
        '403':
          description: Unauthenticated
      tags:
      - projects
      operationId: postApiV4ProjectsIdRepositorySize
  /api/v4/projects/{id}/transfer:
    put:
      description: Transfer a project to a new namespace
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - name: putApiV4ProjectsIdTransfer
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdTransfer'
      responses:
        '200':
          description: Transfer a project to a new namespace
          schema:
            $ref: '#/definitions/API_Entities_Project'
        '400':
          description: Bad request
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
      - projects
      operationId: putApiV4ProjectsIdTransfer
  /api/v4/projects/{id}/transfer_locations:
    get:
      description: Get the namespaces to where the project can be transferred
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - in: query
        name: search
        description: Return list of namespaces matching the search criteria
        type: string
        required: false
        example: search
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      responses:
        '200':
          description: Get the namespaces to where the project can be transferred
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_PublicGroupDetails'
        '403':
          description: Unauthenticated
      tags:
      - projects
      operationId: getApiV4ProjectsIdTransferLocations
  /api/v4/projects/{id}/storage:
    get:
      description: Show the storage information
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: ID of a project
        type: string
        required: true
      responses:
        '200':
          description: Show the storage information
          schema:
            $ref: '#/definitions/API_Entities_ProjectRepositoryStorage'
        '403':
          description: Unauthenticated
      tags:
      - projects
      operationId: getApiV4ProjectsIdStorage
  /api/v4/projects/{id}/audit_events:
    get:
      description: Get a list of audit events in this project.
      produces:
      - application/json
      parameters:
      - in: query
        name: created_after
        description: Return audit events created after the specified time
        type: string
        format: date-time
        required: false
        example: '2016-01-19T09:05:50.355Z'
      - in: query
        name: created_before
        description: Return audit events created before the specified time
        type: string
        format: date-time
        required: false
        example: '2016-01-19T09:05:50.355Z'
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get a list of audit events in this project.
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_AuditEvent'
      tags:
      - projects
      operationId: getApiV4ProjectsIdAuditEvents
  /api/v4/projects/{id}/audit_events/{audit_event_id}:
    get:
      description: Get a specific audit event in this project.
      produces:
      - application/json
      parameters:
      - in: path
        name: audit_event_id
        description: The ID of the audit event
        type: integer
        format: int32
        required: true
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get a specific audit event in this project.
          schema:
            $ref: '#/definitions/API_Entities_AuditEvent'
      tags:
      - projects
      operationId: getApiV4ProjectsIdAuditEventsAuditEventId
  /api/v4/projects/{id}/(-/)search:
    get:
      summary: Search on GitLab within a project
      description: This feature was introduced in GitLab 10.5.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      - in: query
        name: search
        description: The expression it should be searched for
        type: string
        required: true
      - in: query
        name: scope
        description: The scope of the search
        type: string
        enum:
        - issues
        - work_items
        - merge_requests
        - milestones
        - notes
        - wiki_blobs
        - commits
        - blobs
        - users
        required: true
      - in: query
        name: ref
        description: The name of a repository branch or tag. If not given, the default branch is used
        type: string
        required: false
      - in: query
        name: state
        description: Filter results by state
        type: string
        enum:
        - all
        - opened
        - closed
        - merged
        required: false
      - in: query
        name: confidential
        description: Filter results by confidentiality
        type: boolean
        required: false
      - in: query
        name: type
        description: 'Filter work items by type. Only applies to work_items scope. Available types: issue, task, epic, incident, test_case, requirement, objective, key_result, ticket.'
        type: array
        items:
          type: string
        required: false
      - in: query
        name: fields
        description: Array of fields you wish to search. Available with advanced search.
        type: array
        items:
          type: string
          enum:
          - title
        required: false
      - in: query
        name: num_context_lines
        description: Number of context lines around each match. Available with advanced and exact code search. Introduced in GitLab 18.11.
        type: integer
        format: int32
        minimum: 0
        maximum: 20
        required: false
      - in: query
        name: regex
        description: Performs a regex code search. Available with exact code search. Introduced in GitLab 18.9
        type: boolean
        required: false
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      responses:
        '200':
          description: Search on GitLab within a project
      tags:
      - projects
      operationId: getApiV4ProjectsId(-)search
  /api/v4/projects/{id}/terraform/state_protection_rules:
    get:
      summary: List all Terraform state protection rules for a project
      description: Lists all Terraform state protection rules for a project. This feature was introduced in GitLab 18.11.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        type: string
        required: true
      responses:
        '200':
          description: List all Terraform state protection rules for a project
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_Terraform_StateProtectionRule'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - projects
      operationId: getApiV4ProjectsIdTerraformStateProtectionRules
  /api/v4/runners/{id}/projects:
    get:
      summary: List runner's projects
      description: Get a paginated list of all projects associated with the specified runner. Access is restricted based on user permissions.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of a runner
        type: integer
        format: int32
        required: true
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      responses:
        '200':
          description: Get projects associated with a runner
          schema:
            $ref: '#/definitions/API_Entities_BasicProjectDetails'
        '401':
          description: Unauthorized
        '403':
          description: No access granted
        '404':
          description: Runner not found
      tags:
      - projects
      operationId: getApiV4RunnersIdProjects
  /api/v4/users/{user_id}/projects:
    get:
      description: Get a user projects
      produces:
      - application/json
      parameters:
      - in: path
        name: user_id
        description: The ID or username of the user
        type: string
        required: true
      - in: query
        name: order_by
        description: Return projects ordered by field. storage_size, repository_size, wiki_size, packages_size are only available to admins. Similarity is available when searching and is limited to projects the user has access to.
        type: string
        default: created_at
        enum:
        - id
        - name
        - path
        - created_at
        - updated_at
        - last_activity_at
        - similarity
        - star_count
        - storage_size
        - repository_size
        - wiki_size
        - packages_size
        required: false
      - in: query
        name: sort
        description: Return projects sorted in ascending and descending order
        type: string
        default: desc
        enum:
        - asc
        - desc
        required: false
      - in: query
        name: archived
        description: Limit by archived status
        type: boolean
        required: false
      - in: query
        name: visibility
        description: Limit by visibility
        type: string
        enum:
        - private
        - internal
        - public
        required: false
      - in: query
        name: search
        description: Return list of projects matching the search criteria
        type: string
        required: false
      - in: query
        name: search_namespaces
        description: Include ancestor namespaces when matching search criteria
        type: boolean
        required: false
      - in: query
        name: owned
        description: Limit by owned by authenticated user
        type: boolean
        default: false
        required: false
      - in: query
        name: starred
        description: Limit by starred status
        type: boolean
        default: false
        required: false
      - in: query
        name: imported
        description: Limit by imported by authenticated user
        type: boolean
        default: false
        required: false
      - in: query
        name: membership
        description: Limit by projects that the current user is a member of
        type: boolean
        default: false
        required: false
      - in: query
        name: with_issues_enabled
        description: Limit by enabled issues feature
        type: boolean
        default: false
        required: false
      - in: query
        name: with_merge_requests_enabled
        description: Limit by enabled merge requests feature
        type: boolean
        default: false
        required: false
      - in: query
        name: with_programming_language
        description: Limit to repositories which use the given programming language
        type: string
        required: false
      - in: query
        name: min_access_level
        description: Limit by minimum access level of authenticated user
        type: integer
        format: int32
        enum:
        - 10
        - 15
        - 20
        - 30
        - 40
        - 50
        required: false
      - in: query
        name: id_after
        description: Limit results to projects with IDs greater than the specified ID
        type: integer
        format: int32
        required: false
      - in: query
        name: id_before
        description: Limit results to projects with IDs less than the specified ID
        type: integer
        format: int32
        required: false
      - in: query
        name: last_activity_after
        description: 'Limit results to projects with last_activity after specified time. Format: ISO 8601 YYYY-MM-DDTHH:MM:SSZ'
        type: string
        format: date-time
        required: false
      - in: query
        name: last_activity_before
        description: 'Limit results to projects with last_activity before specified time. Format: ISO 8601 YYYY-MM-DDTHH:MM:SSZ'
        type: string
        format: date-time
        required: false
      - in: query
        name: repository_storage
        description: Which storage shard the repository is on. Available only to admins
        type: string
        required: false
      - in: query
        name: topic
[...]
