openapi: 3.2.0
info:
  title: GitLab access_requests Packages API
  version: v4
  description: Operations related to access requests
servers:
- url: https://gitlab.com
tags:
- name: packages
  description: Operations about packages
paths:
  /api/v4/groups/{id}/-/packages/debian/dists/*distribution/Release.gpg:
    get:
      summary: The Release file signature
      description: This feature was introduced in GitLab 13.5
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        required: true
        schema:
          type: string
      - in: query
        name: distribution
        description: The Debian Codename or Suite
        required: true
        example: my-distro
        schema:
          type: string
      responses:
        '200':
          description: The Release file signature
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdPackagesDebianDists*distributionReleaseGpg
  /api/v4/groups/{id}/-/packages/debian/dists/*distribution/Release:
    get:
      summary: The unsigned Release file
      description: This feature was introduced in GitLab 13.5
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        required: true
        schema:
          type: string
      - in: query
        name: distribution
        description: The Debian Codename or Suite
        required: true
        example: my-distro
        schema:
          type: string
      responses:
        '200':
          description: The unsigned Release file
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdPackagesDebianDists*distributionRelease
  /api/v4/groups/{id}/-/packages/debian/dists/*distribution/InRelease:
    get:
      summary: The signed Release file
      description: This feature was introduced in GitLab 13.5
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        required: true
        schema:
          type: string
      - in: query
        name: distribution
        description: The Debian Codename or Suite
        required: true
        example: my-distro
        schema:
          type: string
      responses:
        '200':
          description: The signed Release file
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdPackagesDebianDists*distributionInrelease
  /api/v4/groups/{id}/-/packages/debian/dists/*distribution/{component}/debian-installer/binary-{architecture}/Packages:
    get:
      summary: The installer (udeb) binary files index
      description: This feature was introduced in GitLab 15.4
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        required: true
        schema:
          type: string
      - in: query
        name: distribution
        description: The Debian Codename or Suite
        required: true
        example: my-distro
        schema:
          type: string
      - in: path
        name: component
        description: The Debian Component
        required: true
        example: main
        schema:
          type: string
      - in: path
        name: architecture
        description: The Debian Architecture
        required: true
        example: binary-amd64
        schema:
          type: string
      responses:
        '200':
          description: The installer (udeb) binary files index
        '202':
          description: The installer (udeb) binary files index
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdPackagesDebianDists*distributionComponentDebianInstallerBinaryArchitecturePackages
  ? /api/v4/groups/{id}/-/packages/debian/dists/*distribution/{component}/debian-installer/binary-{architecture}/by-hash/SHA256/{file_sha256}
  : get:
      summary: The installer (udeb) binary files index by hash
      description: This feature was introduced in GitLab 15.4
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        required: true
        schema:
          type: string
      - in: query
        name: distribution
        description: The Debian Codename or Suite
        required: true
        example: my-distro
        schema:
          type: string
      - in: path
        name: component
        description: The Debian Component
        required: true
        example: main
        schema:
          type: string
      - in: path
        name: architecture
        description: The Debian Architecture
        required: true
        example: binary-amd64
        schema:
          type: string
      - in: path
        name: file_sha256
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The installer (udeb) binary files index by hash
        '202':
          description: The installer (udeb) binary files index by hash
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdPackagesDebianDists*distributionComponentDebianInstallerBinaryArchitectureByHashSha256FileSha256
  /api/v4/groups/{id}/-/packages/debian/dists/*distribution/{component}/source/Sources:
    get:
      summary: The source files index
      description: This feature was introduced in GitLab 15.4
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        required: true
        schema:
          type: string
      - in: query
        name: distribution
        description: The Debian Codename or Suite
        required: true
        example: my-distro
        schema:
          type: string
      - in: path
        name: component
        description: The Debian Component
        required: true
        example: main
        schema:
          type: string
      responses:
        '200':
          description: The source files index
        '202':
          description: The source files index
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdPackagesDebianDists*distributionComponentSourceSources
  /api/v4/groups/{id}/-/packages/debian/dists/*distribution/{component}/source/by-hash/SHA256/{file_sha256}:
    get:
      summary: The source files index by hash
      description: This feature was introduced in GitLab 15.4
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        required: true
        schema:
          type: string
      - in: query
        name: distribution
        description: The Debian Codename or Suite
        required: true
        example: my-distro
        schema:
          type: string
      - in: path
        name: component
        description: The Debian Component
        required: true
        example: main
        schema:
          type: string
      - in: path
        name: file_sha256
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The source files index by hash
        '202':
          description: The source files index by hash
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdPackagesDebianDists*distributionComponentSourceByHashSha256FileSha256
  /api/v4/groups/{id}/-/packages/debian/dists/*distribution/{component}/binary-{architecture}/Packages:
    get:
      summary: The binary files index
      description: This feature was introduced in GitLab 13.5
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        required: true
        schema:
          type: string
      - in: query
        name: distribution
        description: The Debian Codename or Suite
        required: true
        example: my-distro
        schema:
          type: string
      - in: path
        name: component
        description: The Debian Component
        required: true
        example: main
        schema:
          type: string
      - in: path
        name: architecture
        description: The Debian Architecture
        required: true
        example: binary-amd64
        schema:
          type: string
      responses:
        '200':
          description: The binary files index
        '202':
          description: The binary files index
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdPackagesDebianDists*distributionComponentBinaryArchitecturePackages
  /api/v4/groups/{id}/-/packages/debian/dists/*distribution/{component}/binary-{architecture}/by-hash/SHA256/{file_sha256}:
    get:
      summary: The binary files index by hash
      description: This feature was introduced in GitLab 15.4
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        required: true
        schema:
          type: string
      - in: query
        name: distribution
        description: The Debian Codename or Suite
        required: true
        example: my-distro
        schema:
          type: string
      - in: path
        name: component
        description: The Debian Component
        required: true
        example: main
        schema:
          type: string
      - in: path
        name: architecture
        description: The Debian Architecture
        required: true
        example: binary-amd64
        schema:
          type: string
      - in: path
        name: file_sha256
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The binary files index by hash
        '202':
          description: The binary files index by hash
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdPackagesDebianDists*distributionComponentBinaryArchitectureByHashSha256FileSha256
  ? /api/v4/groups/{id}/-/packages/debian/pool/{distribution}/{project_id}/{letter}/{package_name}/{package_version}/{file_name}
  : get:
      summary: Download Debian package
      description: This feature was introduced in GitLab 14.2
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        required: true
        schema:
          type: string
      - in: path
        name: project_id
        description: The Project Id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: distribution
        description: The Debian Codename or Suite
        required: true
        example: my-distro
        schema:
          type: string
      - in: path
        name: letter
        description: The Debian Classification (first-letter or lib-first-letter)
        required: true
        example: a
        schema:
          type: string
      - in: path
        name: package_name
        description: The Debian Source Package Name
        required: true
        example: my-pkg
        schema:
          type: string
      - in: path
        name: package_version
        description: The Debian Source Package Version
        required: true
        example: 1.0.0
        schema:
          type: string
      - in: path
        name: file_name
        description: The Debian File Name
        required: true
        example: example_1.0.0~alpha2_amd64.deb
        schema:
          type: string
      responses:
        '200':
          description: Download Debian package
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdPackagesDebianPoolDistributionProjectIdLetterPackageNamePackageVersionFileName
  /api/v4/groups/{id}/-/debian_distributions:
    post:
      summary: Create a Debian Distribution
      description: This feature was introduced in 14.0
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Create a Debian Distribution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Packages_Debian_Distribution'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: postApiV4GroupsIdDebianDistributions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4GroupsIdDebianDistributions'
        required: true
    get:
      summary: Get a list of Debian Distributions
      description: This feature was introduced in 14.0
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group
        required: true
        schema:
          type: string
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      - in: query
        name: codename
        description: The Debian Codename
        required: false
        example: sid
        schema:
          type: string
      - in: query
        name: suite
        description: The Debian Suite
        required: false
        example: unstable
        schema:
          type: string
      - in: query
        name: origin
        description: The Debian Origin
        required: false
        example: Grep
        schema:
          type: string
      - in: query
        name: label
        description: The Debian Label
        required: false
        example: grep.be
        schema:
          type: string
      - in: query
        name: version
        description: The Debian Version
        required: false
        example: '12'
        schema:
          type: string
      - in: query
        name: description
        description: The Debian Description
        required: false
        example: My description
        schema:
          type: string
      - in: query
        name: valid_time_duration_seconds
        description: The duration before the Release file should be considered expired by the client
        required: false
        example: 604800
        schema:
          type: integer
          format: int32
      - in: query
        name: components
        description: The list of Components
        required: false
        example: main
        schema:
          type: array
          items:
            type: string
      - in: query
        name: architectures
        description: The list of Architectures
        required: false
        example: amd64
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Get a list of Debian Distributions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Packages_Debian_Distribution'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdDebianDistributions
  /api/v4/groups/{id}/-/debian_distributions/{codename}:
    get:
      summary: Get a Debian Distribution
      description: This feature was introduced in 14.0
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group
        required: true
        schema:
          type: string
      - in: path
        name: codename
        description: The Debian Codename
        required: true
        example: sid
        schema:
          type: string
      responses:
        '200':
          description: Get a Debian Distribution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Packages_Debian_Distribution'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdDebianDistributionsCodename
    put:
      summary: Update a Debian Distribution
      description: This feature was introduced in 14.0
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group
        required: true
        schema:
          type: string
      - in: path
        name: codename
        description: The Debian Codename
        required: true
        example: sid
        schema:
          type: string
      responses:
        '200':
          description: Update a Debian Distribution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Packages_Debian_Distribution'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: putApiV4GroupsIdDebianDistributionsCodename
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdDebianDistributionsCodename'
        required: true
    delete:
      summary: Delete a Debian Distribution
      description: This feature was introduced in 14.0
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group
        required: true
        schema:
          type: string
      - in: path
        name: codename
        description: The Debian Codename
        required: true
        example: sid
        schema:
          type: string
      - in: query
        name: suite
        description: The Debian Suite
        required: false
        example: unstable
        schema:
          type: string
      - in: query
        name: origin
        description: The Debian Origin
        required: false
        example: Grep
        schema:
          type: string
      - in: query
        name: label
        description: The Debian Label
        required: false
        example: grep.be
        schema:
          type: string
      - in: query
        name: version
        description: The Debian Version
        required: false
        example: '12'
        schema:
          type: string
      - in: query
        name: description
        description: The Debian Description
        required: false
        example: My description
        schema:
          type: string
      - in: query
        name: valid_time_duration_seconds
        description: The duration before the Release file should be considered expired by the client
        required: false
        example: 604800
        schema:
          type: integer
          format: int32
      - in: query
        name: components
        description: The list of Components
        required: false
        example: main
        schema:
          type: array
          items:
            type: string
      - in: query
        name: architectures
        description: The list of Architectures
        required: false
        example: amd64
        schema:
          type: array
          items:
            type: string
      responses:
        '202':
          description: Delete a Debian Distribution
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: deleteApiV4GroupsIdDebianDistributionsCodename
  /api/v4/groups/{id}/-/debian_distributions/{codename}/key.asc:
    get:
      summary: Get a Debian Distribution Key
      description: This feature was introduced in 14.4
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group
        required: true
        schema:
          type: string
      - in: path
        name: codename
        description: The Debian Codename
        required: true
        example: sid
        schema:
          type: string
      responses:
        '200':
          description: Get a Debian Distribution Key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Packages_Debian_Distribution'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdDebianDistributionsCodenameKeyAsc
  /api/v4/groups/{id}/packages:
    get:
      summary: List packages within a group
      description: Get a list of project packages at the group level. This feature was introduced in GitLab 12.5
      parameters:
      - in: path
        name: id
        description: ID or URL-encoded path of the group
        required: true
        schema:
          type: string
      - in: query
        name: exclude_subgroups
        description: Determines if subgroups should be excluded
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      - in: query
        name: order_by
        description: Return packages ordered by `created_at`, `name`, `version` or `type` fields.
        required: false
        schema:
          type: string
          enum:
          - created_at
          - name
          - version
          - type
          - project_path
          default: created_at
      - in: query
        name: sort
        description: Return packages sorted in `asc` or `desc` order.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - in: query
        name: package_type
        description: Return packages of a certain type
        required: false
        schema:
          type: string
          enum:
          - maven
          - npm
          - conan
          - nuget
          - pypi
          - composer
          - generic
          - golang
          - debian
          - rubygems
          - helm
          - terraform_module
          - rpm
          - ml_model
          - cargo
      - in: query
        name: package_name
        description: Return packages with this name
        required: false
        schema:
          type: string
      - in: query
        name: package_version
        description: Return packages with this version
        required: false
        schema:
          type: string
      - in: query
        name: include_versionless
        description: Returns packages without a version
        required: false
        schema:
          type: boolean
      - in: query
        name: status
        description: Return packages with specified status
        required: false
        schema:
          type: string
          enum:
          - default
          - hidden
          - processing
          - error
          - pending_destruction
          - deprecated
      responses:
        '200':
          description: List packages within a group
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_Package'
        '401':
          description: Unauthorized
        '404':
          description: Group Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdPackages
  /api/v4/groups/{id}/-/packages/maven/*path/{file_name}:
    get:
      summary: Download the maven package file at a group level
      description: This feature was introduced in GitLab 11.7
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group
        required: true
        schema:
          type: string
      - in: query
        name: path
        description: Package path
        required: true
        example: foo/bar/mypkg/1.0-SNAPSHOT
        schema:
          type: string
      - in: path
        name: file_name
        description: Package file name
        required: true
        example: mypkg-1.0-SNAPSHOT.jar
        schema:
          type: string
      responses:
        '200':
          description: Download the maven package file at a group level
        '302':
          description: Download the maven package file at a group level
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdPackagesMaven*pathFileName
  /api/v4/groups/{id}/-/packages/npm/-/package/*package_name/dist-tags:
    get:
      summary: Get all tags for a given an NPM package
      description: This feature was introduced in GitLab 12.7
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group
        required: true
        schema:
          type: string
      - in: query
        name: package_name
        description: Package name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get all tags for a given an NPM package
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_NpmPackageTag'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdPackagesNpmPackage*packageNameDistTags
  /api/v4/groups/{id}/-/packages/npm/-/package/*package_name/dist-tags/{tag}:
    put:
      summary: Create or Update the given tag for the given NPM package and version
      description: This feature was introduced in GitLab 12.7
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group
        required: true
        schema:
          type: string
      - in: path
        name: tag
        description: Package dist-tag
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Create or Update the given tag for the given NPM package and version
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: putApiV4GroupsIdPackagesNpmPackage*packageNameDistTagsTag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdPackagesNpmPackage_packageNameDistTagsTag'
        required: true
    delete:
      summary: Deletes the given tag
      description: This feature was introduced in GitLab 12.7
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group
        required: true
        schema:
          type: string
      - in: query
        name: package_name
        description: Package name
        required: true
        schema:
          type: string
      - in: path
        name: tag
        description: Package dist-tag
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Deletes the given tag
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: deleteApiV4GroupsIdPackagesNpmPackage*packageNameDistTagsTag
  /api/v4/groups/{id}/-/packages/npm/-/npm/v1/security/advisories/bulk:
    post:
      summary: NPM registry bulk advisory endpoint
      description: This feature was introduced in GitLab 15.6
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
        '307':
          description: Temporary Redirect
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: postApiV4GroupsIdPackagesNpmNpmV1SecurityAdvisoriesBulk
  /api/v4/groups/{id}/-/packages/npm/-/npm/v1/security/audits/quick:
    post:
      summary: NPM registry quick audit endpoint
      description: This feature was introduced in GitLab 15.6
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ok
        '307':
          description: Temporary Redirect
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: postApiV4GroupsIdPackagesNpmNpmV1SecurityAuditsQuick
  /api/v4/groups/{id}/-/packages/npm/*package_name:
    get:
      summary: NPM registry metadata endpoint
      description: This feature was introduced in GitLab 11.8
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group
        required: true
        schema:
          type: string
      - in: query
        name: package_name
        description: Package name
        required: true
        example: mypackage
        schema:
          type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_NpmPackage'
        '302':
          description: Found (redirect)
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdPackagesNpm*packageName
  /api/v4/groups/{id}/-/packages/nuget/index:
    get:
      summary: The NuGet V3 Feed Service Index
      description: This feature was introduced in GitLab 12.6
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The NuGet V3 Feed Service Index
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Nuget_ServiceIndex'
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdPackagesNugetIndex
  /api/v4/groups/{id}/-/packages/nuget/symbolfiles/*file_name/*signature/*same_file_name:
    get:
      summary: The NuGet Symbol File Download Endpoint
      description: This feature was introduced in GitLab 16.7
      parameters:
      - in: header
        name: Symbolchecksum
        required: true
        schema:
          type: string
      - in: path
        name: id
        description: The group ID or full group path.
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: file_name
        description: The symbol file name
        required: true
        example: mynugetpkg.pdb
        schema:
          type: string
      - in: query
        name: signature
        description: The symbol file signature
        required: true
        example: k813f89485474661234z7109cve5709eFFFFFFFF
        schema:
          type: string
      - in: query
        name: same_file_name
        description: The symbol file name. Must match the 'file_name' parameter
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The NuGet Symbol File Download Endpoint
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdPackagesNugetSymbolfiles*fileName*signature*sameFileName
  /api/v4/groups/{id}/-/packages/nuget/v2:
    get:
      summary: The NuGet V2 Feed Service Index
      description: This feature was introduced in GitLab 16.2
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The NuGet V2 Feed Service Index
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdPackagesNugetV2
  /api/v4/groups/{id}/-/packages/nuget/v2/$metadata:
    get:
      summary: The NuGet V2 Feed Package $metadata endpoint
      description: This feature was introduced in GitLab 16.3
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The NuGet V2 Feed Package $metadata endpoint
      tags:
      - packages
      operationId: getApiV4GroupsIdPackagesNugetV2$metadata
  /api/v4/groups/{id}/-/packages/nuget/metadata/*package_name/index:
    get:
      summary: The NuGet Metadata Service - Package name level
      description: This feature was introduced in GitLab 12.8
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: package_name
        description: The NuGet package name
        required: true
        example: MyNuGetPkg
        schema:
          type: string
      responses:
        '200':
          description: The NuGet Metadata Service - Package name level
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Nuget_PackagesMetadata'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdPackagesNugetMetadata*packageNameIndex
  /api/v4/groups/{id}/-/packages/nuget/metadata/*package_name/*package_version:
    get:
      summary: The NuGet Metadata Service - Package name and version level
      description: This feature was introduced in GitLab 12.8
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: package_name
        description: The NuGet package name
        required: true
        example: MyNuGetPkg
        schema:
          type: string
      - in: query
        name: package_version
        description: The NuGet package version
        required: true
        example: 1.0.0
        schema:
          type: string
      responses:
        '200':
          description: The NuGet Metadata Service - Package name and version level
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Nuget_PackageMetadata'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdPackagesNugetMetadata*packageName*packageVersion
  /api/v4/groups/{id}/-/packages/nuget/query:
    get:
      summary: The NuGet Search Service
      description: This feature was introduced in GitLab 12.8
      parameters:
      - in: path
        name: id
        description: The group ID or full group path.
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: q
        description: The search term
        required: false
        example: MyNuGet
        schema:
          type: string
      - in: query
        name: skip
        description: The number of results to skip
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 0
      - in: query
        name: take
        description: The number of results to return
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 20
      - in: query
        name: prerelease
        description: Include prerelease versions
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: The NuGet Search Service
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Nuget_SearchResults'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdPackagesNugetQuery
  /api/v4/groups/{id}/-/packages/pypi/simple:
    get:
      summary: The PyPi Simple Group Index Endpoint
      description: This feature was introduced in GitLab 15.1
      parameters:
      - in: path
        name: id
        description: The ID or full path of the group.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: The PyPi Simple Group Index Endpoint
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdPackagesPypiSimple
  /api/v4/groups/{id}/-/packages/pypi/simple/*package_name:
    get:
      summary: The PyPi Simple Group Package Endpoint
      description: This feature was introduced in GitLab 12.10
      parameters:
      - in: path
        name: id
        description: The ID or full path of the group.
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: package_name
        description: The PyPi package name
        required: true
        example: my.pypi.package
        schema:
          type: string
      responses:
        '200':
          description: The PyPi Simple Group Package Endpoint
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4GroupsIdPackagesPypiSimple*packageName
  /api/v4/projects/{id}/packages/cargo/config.json:
    get:
      summary: Get config.json
      description: This will be used by cargo for further requests
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get config.json
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      tags:
      - packages
      operationId: getApiV4ProjectsIdPackagesCargoConfigJson
  /api/v4/projects/{id}/packages/composer:
    post:
      summary: Composer packages endpoint for registering packages
      description: This feature was introduced in GitLab 13.1
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of a project
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Composer packages endpoint for registering packages
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: postApiV4ProjectsIdPackagesComposer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4ProjectsIdPackagesComposer'
        required: true
  /api/v4/projects/{id}/packages/composer/archives/*package_name:
    get:
      summary: Composer package endpoint to download a package archive
      description: This feature was introduced in GitLab 13.1
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of a project
        required: true
        schema:
          type: string
      - in: query
        name: sha
        description: Shasum of current json
        required: true
        example: 673594f85a55fe3c0eb45df7bd2fa9d95a1601ab
        schema:
          type: string
      - in: query
        name: package_name
        description: The Composer package name
        required: true
        example: my-composer-package
        schema:
          type: string
      responses:
        '200':
          description: Composer package endpoint to download a package archive
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4ProjectsIdPackagesComposerArchives*packageName
  /api/v4/projects/{id}/packages/conan/v1/users/authenticate:
    get:
      summary: Authenticate user against conan CLI
      description: This feature was introduced in GitLab 12.2
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Authenticate user against conan CLI
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4ProjectsIdPackagesConanV1UsersAuthenticate
  /api/v4/projects/{id}/packages/conan/v1/users/check_credentials:
    get:
      summary: Check for valid user credentials per conan CLI
      description: This feature was introduced in GitLab 12.4
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Check for valid user credentials per conan CLI
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4ProjectsIdPackagesConanV1UsersCheckCredentials
  /api/v4/projects/{id}/packages/conan/v1/conans/search:
    get:
      summary: Search for packages
      description: This feature was introduced in GitLab 12.4
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: query
        name: q
        description: Search query
        required: true
        example: Hello*
        schema:
          type: string
      - in: query
        name: ignorecase
        description: Ignore case when searching (case-insensitive search)
        required: false
        example: 'False'
        schema:
          type: boolean
      responses:
        '200':
          description: Search for packages
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4ProjectsIdPackagesConanV1ConansSearch
  ? /api/v4/projects/{id}/packages/conan/v1/conans/{package_name}/{package_version}/{package_username}/{package_channel}/search
  : get:
      summary: Get package references metadata
      description: This feature was introduced in GitLab 18.0
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      responses:
        '200':
          description: Get package references metadata
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4ProjectsIdPackagesConanV1ConansPackageNamePackageVersionPackageUsernamePackageChannelSearch
  /api/v4/projects/{id}/packages/conan/v1/ping:
    get:
      summary: Ping the Conan API
      description: This feature was introduced in GitLab 12.2
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Ping the Conan API
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4ProjectsIdPackagesConanV1Ping
  ? /api/v4/projects/{id}/packages/conan/v1/conans/{package_name}/{package_version}/{package_username}/{package_channel}/packages/{conan_package_reference}
  : get:
      summary: Package Snapshot
      description: This feature was introduced in GitLab 12.5
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      - in: path
        name: conan_package_reference
        description: Conan package ID
        required: true
        example: 103f6067a947f366ef91fc1b7da351c588d1827f
        schema:
          type: string
      responses:
        '200':
          description: Package Snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Packages_Conan_PackageSnapshot'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4ProjectsIdPackagesConanV1ConansPackageNamePackageVersionPackageUsernamePackageChannelPackagesConanPackageReference
  /api/v4/projects/{id}/packages/conan/v1/conans/{package_name}/{package_version}/{package_username}/{package_channel}:
    get:
      summary: Recipe Snapshot
      description: This feature was introduced in GitLab 12.5
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      responses:
        '200':
          description: Recipe Snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Packages_Conan_RecipeSnapshot'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4ProjectsIdPackagesConanV1ConansPackageNamePackageVersionPackageUsernamePackageChannel
    delete:
      summary: Delete Package
      description: This feature was introduced in GitLab 12.5
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      responses:
        '204':
          description: Delete Package
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: deleteApiV4ProjectsIdPackagesConanV1ConansPackageNamePackageVersionPackageUsernamePackageChannel
  ? /api/v4/projects/{id}/packages/conan/v1/conans/{package_name}/{package_version}/{package_username}/{package_channel}/packages/{conan_package_reference}/digest
  : get:
      summary: Package Digest
      description: This feature was introduced in GitLab 12.5
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      - in: path
        name: conan_package_reference
        description: Conan package ID
        required: true
        example: 103f6067a947f366ef91fc1b7da351c588d1827f
        schema:
          type: string
      responses:
        '200':
          description: Package Digest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Packages_Conan_PackageManifest'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4ProjectsIdPackagesConanV1ConansPackageNamePackageVersionPackageUsernamePackageChannelPackagesConanPackageReferenceDigest
  ? /api/v4/projects/{id}/packages/conan/v1/conans/{package_name}/{package_version}/{package_username}/{package_channel}/digest
  : get:
      summary: Recipe Digest
      description: This feature was introduced in GitLab 12.5
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      responses:
        '200':
          description: Recipe Digest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Packages_Conan_RecipeManifest'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4ProjectsIdPackagesConanV1ConansPackageNamePackageVersionPackageUsernamePackageChannelDigest
  ? /api/v4/projects/{id}/packages/conan/v1/conans/{package_name}/{package_version}/{package_username}/{package_channel}/packages/{conan_package_reference}/download_urls
  : get:
      summary: Package Download Urls
      description: This feature was introduced in GitLab 12.5
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      - in: path
        name: conan_package_reference
        description: Conan package ID
        required: true
        example: 103f6067a947f366ef91fc1b7da351c588d1827f
        schema:
          type: string
      responses:
        '200':
          description: Package Download Urls
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Packages_Conan_PackageManifest'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4ProjectsIdPackagesConanV1ConansPackageNamePackageVersionPackageUsernamePackageChannelPackagesConanPackageReferenceDownloadUrls
  ? /api/v4/projects/{id}/packages/conan/v1/conans/{package_name}/{package_version}/{package_username}/{package_channel}/download_urls
  : get:
      summary: Recipe Download Urls
      description: This feature was introduced in GitLab 12.5
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      responses:
        '200':
          description: Recipe Download Urls
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Packages_Conan_RecipeManifest'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4ProjectsIdPackagesConanV1ConansPackageNamePackageVersionPackageUsernamePackageChannelDownloadUrls
  ? /api/v4/projects/{id}/packages/conan/v1/conans/{package_name}/{package_version}/{package_username}/{package_channel}/packages/{conan_package_reference}/upload_urls
  : post:
      summary: Package Upload Urls
      description: This feature was introduced in GitLab 12.4
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      - in: path
        name: conan_package_reference
        description: Conan package ID
        required: true
        example: 103f6067a947f366ef91fc1b7da351c588d1827f
        schema:
          type: string
      responses:
        '200':
          description: Package Upload Urls
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Packages_Conan_UploadUrls'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: postApiV4ProjectsIdPackagesConanV1ConansPackageNamePackageVersionPackageUsernamePackageChannelPackagesConanPackageReferenceUploadUrls
  ? /api/v4/projects/{id}/packages/conan/v1/conans/{package_name}/{package_version}/{package_username}/{package_channel}/upload_urls
  : post:
      summary: Recipe Upload Urls
      description: This feature was introduced in GitLab 12.4
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      responses:
        '200':
          description: Recipe Upload Urls
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Packages_Conan_UploadUrls'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: postApiV4ProjectsIdPackagesConanV1ConansPackageNamePackageVersionPackageUsernamePackageChannelUploadUrls
  ? /api/v4/projects/{id}/packages/conan/v1/files/{package_name}/{package_version}/{package_username}/{package_channel}/{recipe_revision}/export/{file_name}
  : get:
      summary: Download recipe files
      description: This feature was introduced in GitLab 12.6
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      - in: path
        name: recipe_revision
        description: Conan Recipe Revision
        required: true
        example: '0'
        schema:
          type: string
      - in: path
        name: file_name
        description: Package file name
        required: true
        example: conanfile.py
        schema:
          type: string
          enum:
          - conanfile.py
          - conanmanifest.txt
          - conan_sources.tgz
          - conan_export.tgz
          - conaninfo.txt
          - conan_package.tgz
      responses:
        '200':
          description: Download recipe files
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4ProjectsIdPackagesConanV1FilesPackageNamePackageVersionPackageUsernamePackageChannelRecipeRevisionExportFileName
    put:
      summary: Upload recipe package files
      description: This feature was introduced in GitLab 12.6
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      - in: path
        name: recipe_revision
        description: Conan Recipe Revision
        required: true
        example: '0'
        schema:
          type: string
      - in: path
        name: file_name
        description: Package file name
        required: true
        example: conanfile.py
        schema:
          type: string
          enum:
          - conanfile.py
          - conanmanifest.txt
          - conan_sources.tgz
          - conan_export.tgz
          - conaninfo.txt
          - conan_package.tgz
      responses:
        '200':
          description: Upload recipe package files
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: putApiV4ProjectsIdPackagesConanV1FilesPackageNamePackageVersionPackageUsernamePackageChannelRecipeRevisionExportFileName
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdPackagesConanV1FilesPackageNamePackageVersionPackageUsernamePackageChannelRecipeRevisionExportFileName'
        required: true
  ? /api/v4/projects/{id}/packages/conan/v1/files/{package_name}/{package_version}/{package_username}/{package_channel}/{recipe_revision}/export/{file_name}/authorize
  : put:
      summary: Workhorse authorize the conan recipe file
      description: This feature was introduced in GitLab 12.6
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      - in: path
        name: recipe_revision
        description: Conan Recipe Revision
        required: true
        example: '0'
        schema:
          type: string
      - in: path
        name: file_name
        description: Package file name
        required: true
        example: conanfile.py
        schema:
          type: string
          enum:
          - conanfile.py
          - conanmanifest.txt
          - conan_sources.tgz
          - conan_export.tgz
          - conaninfo.txt
          - conan_package.tgz
      responses:
        '200':
          description: Workhorse authorize the conan recipe file
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: putApiV4ProjectsIdPackagesConanV1FilesPackageNamePackageVersionPackageUsernamePackageChannelRecipeRevisionExportFileNameAuthorize
  ? /api/v4/projects/{id}/packages/conan/v1/files/{package_name}/{package_version}/{package_username}/{package_channel}/{recipe_revision}/package/{conan_package_reference}/{package_revision}/{file_name}
  : get:
      summary: Download package files
      description: This feature was introduced in GitLab 12.5
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      - in: path
        name: recipe_revision
        description: Conan Recipe Revision
        required: true
        example: '0'
        schema:
          type: string
      - in: path
        name: conan_package_reference
        description: Conan Package ID
        required: true
        example: 103f6067a947f366ef91fc1b7da351c588d1827f
        schema:
          type: string
      - in: path
        name: package_revision
        description: Conan Package Revision
        required: true
        example: '0'
        schema:
          type: string
      - in: path
        name: file_name
        description: Package file name
        required: true
        example: conaninfo.txt
        schema:
          type: string
          enum:
          - conanfile.py
          - conanmanifest.txt
          - conan_sources.tgz
          - conan_export.tgz
          - conaninfo.txt
          - conan_package.tgz
      responses:
        '200':
          description: Download package files
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4ProjectsIdPackagesConanV1FilesPackageNamePackageVersionPackageUsernamePackageChannelRecipeRevisionPackageConanPackageReferencePackageRevisionFileName
    put:
      summary: Upload package files
      description: This feature was introduced in GitLab 12.6
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      - in: path
        name: recipe_revision
        description: Conan Recipe Revision
        required: true
        example: '0'
        schema:
          type: string
      - in: path
        name: conan_package_reference
        description: Conan Package ID
        required: true
        example: 103f6067a947f366ef91fc1b7da351c588d1827f
        schema:
          type: string
      - in: path
        name: package_revision
        description: Conan Package Revision
        required: true
        example: '0'
        schema:
          type: string
      - in: path
        name: file_name
        description: Package file name
        required: true
        example: conaninfo.txt
        schema:
          type: string
          enum:
          - conanfile.py
          - conanmanifest.txt
          - conan_sources.tgz
          - conan_export.tgz
          - conaninfo.txt
          - conan_package.tgz
      responses:
        '200':
          description: Upload package files
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: putApiV4ProjectsIdPackagesConanV1FilesPackageNamePackageVersionPackageUsernamePackageChannelRecipeRevisionPackageConanPackageReferencePackageRevisionFileName
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdPackagesConanV1FilesPackageNamePackageVersionPackageUsernamePackageChannelRecipeRevisionPackageConanPackageReferencePackageRevisionFileName'
        required: true
  ? /api/v4/projects/{id}/packages/conan/v1/files/{package_name}/{package_version}/{package_username}/{package_channel}/{recipe_revision}/package/{conan_package_reference}/{package_revision}/{file_name}/authorize
  : put:
      summary: Workhorse authorize the conan package file
      description: This feature was introduced in GitLab 12.6
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      - in: path
        name: recipe_revision
        description: Conan Recipe Revision
        required: true
        example: '0'
        schema:
          type: string
      - in: path
        name: conan_package_reference
        description: Conan Package ID
        required: true
        example: 103f6067a947f366ef91fc1b7da351c588d1827f
        schema:
          type: string
      - in: path
        name: package_revision
        description: Conan Package Revision
        required: true
        example: '0'
        schema:
          type: string
      - in: path
        name: file_name
        description: Package file name
        required: true
        example: conaninfo.txt
        schema:
          type: string
          enum:
          - conanfile.py
          - conanmanifest.txt
          - conan_sources.tgz
          - conan_export.tgz
          - conaninfo.txt
          - conan_package.tgz
      responses:
        '200':
          description: Workhorse authorize the conan package file
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: putApiV4ProjectsIdPackagesConanV1FilesPackageNamePackageVersionPackageUsernamePackageChannelRecipeRevisionPackageConanPackageReferencePackageRevisionFileNameAuthorize
  /api/v4/projects/{id}/packages/conan/v2/users/authenticate:
    get:
      summary: Authenticate user against conan CLI
      description: This feature was introduced in GitLab 12.2
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Authenticate user against conan CLI
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4ProjectsIdPackagesConanV2UsersAuthenticate
  /api/v4/projects/{id}/packages/conan/v2/users/check_credentials:
    get:
      summary: Check for valid user credentials per conan CLI
      description: This feature was introduced in GitLab 12.4
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Check for valid user credentials per conan CLI
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4ProjectsIdPackagesConanV2UsersCheckCredentials
  /api/v4/projects/{id}/packages/conan/v2/conans/search:
    get:
      summary: Search for packages
      description: This feature was introduced in GitLab 12.4
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: query
        name: q
        description: Search query
        required: true
        example: Hello*
        schema:
          type: string
      - in: query
        name: ignorecase
        description: Ignore case when searching (case-insensitive search)
        required: false
        example: 'False'
        schema:
          type: boolean
      responses:
        '200':
          description: Search for packages
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4ProjectsIdPackagesConanV2ConansSearch
  ? /api/v4/projects/{id}/packages/conan/v2/conans/{package_name}/{package_version}/{package_username}/{package_channel}/search
  : get:
      summary: Get package references metadata
      description: This feature was introduced in GitLab 18.0
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      responses:
        '200':
          description: Get package references metadata
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4ProjectsIdPackagesConanV2ConansPackageNamePackageVersionPackageUsernamePackageChannelSearch
  ? /api/v4/projects/{id}/packages/conan/v2/conans/{package_name}/{package_version}/{package_username}/{package_channel}/latest
  : get:
      summary: Get the latest recipe revision
      description: This feature was introduced in GitLab 17.11
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      responses:
        '200':
          description: Get the latest recipe revision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Packages_Conan_Revision'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4ProjectsIdPackagesConanV2ConansPackageNamePackageVersionPackageUsernamePackageChannelLatest
  ? /api/v4/projects/{id}/packages/conan/v2/conans/{package_name}/{package_version}/{package_username}/{package_channel}/revisions
  : get:
      summary: Get the list of revisions
      description: This feature was introduced in GitLab 17.11
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      responses:
        '200':
          description: Get the list of revisions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Packages_Conan_RecipeRevisions'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4ProjectsIdPackagesConanV2ConansPackageNamePackageVersionPackageUsernamePackageChannelRevisions
  ? /api/v4/projects/{id}/packages/conan/v2/conans/{package_name}/{package_version}/{package_username}/{package_channel}/revisions/{recipe_revision}
  : delete:
      summary: Delete recipe revision
      description: This feature was introduced in GitLab 18.1
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      - in: path
        name: recipe_revision
        description: Recipe revision
        required: true
        example: df28fd816be3a119de5ce4d374436b25
        schema:
          type: string
      responses:
        '204':
          description: Delete recipe revision
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: deleteApiV4ProjectsIdPackagesConanV2ConansPackageNamePackageVersionPackageUsernamePackageChannelRevisionsRecipeRevision
  ? /api/v4/projects/{id}/packages/conan/v2/conans/{package_name}/{package_version}/{package_username}/{package_channel}/revisions/{recipe_revision}/files
  : get:
      summary: List recipe files
      description: This feature was introduced in GitLab 17.11
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      - in: path
        name: recipe_revision
        description: Recipe revision
        required: true
        example: df28fd816be3a119de5ce4d374436b25
        schema:
          type: string
      responses:
        '200':
          description: List recipe files
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Packages_Conan_FilesList'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4ProjectsIdPackagesConanV2ConansPackageNamePackageVersionPackageUsernamePackageChannelRevisionsRecipeRevisionFiles
  ? /api/v4/projects/{id}/packages/conan/v2/conans/{package_name}/{package_version}/{package_username}/{package_channel}/revisions/{recipe_revision}/files/{file_name}
  : get:
      summary: Download recipe files
      description: This feature was introduced in GitLab 17.8
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      - in: path
        name: recipe_revision
        description: Recipe revision
        required: true
        example: df28fd816be3a119de5ce4d374436b25
        schema:
          type: string
      - in: path
        name: file_name
        description: Package file name
        required: true
        example: conanfile.py
        schema:
          type: string
          enum:
          - conanfile.py
          - conanmanifest.txt
          - conan_sources.tgz
          - conan_export.tgz
          - conaninfo.txt
          - conan_package.tgz
      responses:
        '200':
          description: Download recipe files
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4ProjectsIdPackagesConanV2ConansPackageNamePackageVersionPackageUsernamePackageChannelRevisionsRecipeRevisionFilesFileName
    put:
      summary: Upload recipe package files
      description: This feature was introduced in GitLab 17.10
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      - in: path
        name: recipe_revision
        description: Recipe revision
        required: true
        example: df28fd816be3a119de5ce4d374436b25
        schema:
          type: string
      - in: path
        name: file_name
        description: Package file name
        required: true
        example: conanfile.py
        schema:
          type: string
          enum:
          - conanfile.py
          - conanmanifest.txt
          - conan_sources.tgz
          - conan_export.tgz
          - conaninfo.txt
          - conan_package.tgz
      responses:
        '200':
          description: Upload recipe package files
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: putApiV4ProjectsIdPackagesConanV2ConansPackageNamePackageVersionPackageUsernamePackageChannelRevisionsRecipeRevisionFilesFileName
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdPackagesConanV2ConansPackageNamePackageVersionPackageUsernamePackageChannelRevisionsRecipeRevisionFilesFileName'
        required: true
  ? /api/v4/projects/{id}/packages/conan/v2/conans/{package_name}/{package_version}/{package_username}/{package_channel}/revisions/{recipe_revision}/files/{file_name}/authorize
  : put:
      summary: Workhorse authorize the conan recipe file
      description: This feature was introduced in GitLab 17.10
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      - in: path
        name: recipe_revision
        description: Recipe revision
        required: true
        example: df28fd816be3a119de5ce4d374436b25
        schema:
          type: string
      - in: path
        name: file_name
        description: Package file name
        required: true
        example: conanfile.py
        schema:
          type: string
          enum:
          - conanfile.py
          - conanmanifest.txt
          - conan_sources.tgz
          - conan_export.tgz
          - conaninfo.txt
          - conan_package.tgz
      responses:
        '200':
          description: Workhorse authorize the conan recipe file
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: putApiV4ProjectsIdPackagesConanV2ConansPackageNamePackageVersionPackageUsernamePackageChannelRevisionsRecipeRevisionFilesFileNameAuthorize
  ? /api/v4/projects/{id}/packages/conan/v2/conans/{package_name}/{package_version}/{package_username}/{package_channel}/revisions/{recipe_revision}/search
  : get:
      summary: Get package references metadata
      description: This feature was introduced in GitLab 18.1
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      - in: path
        name: recipe_revision
        description: Recipe revision
        required: true
        example: df28fd816be3a119de5ce4d374436b25
        schema:
          type: string
      responses:
        '200':
          description: Get package references metadata
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - packages
      operationId: getApiV4ProjectsIdPackagesConanV2ConansPackageNamePackageVersionPackageUsernamePackageChannelRevisionsRecipeRevisionSearch
  ? /api/v4/projects/{id}/packages/conan/v2/conans/{package_name}/{package_version}/{package_username}/{package_channel}/revisions/{recipe_revision}/packages/{conan_package_reference}/latest
  : get:
      summary: Get the latest package revision
      description: This feature was introduced in GitLab 17.11
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: package_name
        description: Package name
        required: true
        example: my-package
        schema:
          type: string
      - in: path
        name: package_version
        description: Package version
        required: true
        example: '1.0'
        schema:
          type: string
      - in: path
        name: package_username
        description: Package username
        required: true
        example: my-group+my-project
        schema:
          type: string
      - in: path
        name: package_channel
        description: Package channel
        required: true
        example: stable
        schema:
          type: string
      - in: path
        name: recipe_revision
        description: Recipe revision
        required: true
        example: df28fd816be3a119de5ce4d374436b25
        schema:
          type: string
      - in: path
        name: conan_package_reference
        description: Package reference
        required: true
        example: 5ab84d6acfe1f23c4fae0ab88f26e3a396351ac9
        schema:
          type: string
      responses:
        '200':
          description: Get the latest package revision
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Packages_Conan_Revision'
        '400':
          description: Bad Request
[...]
