openapi: 3.2.0
info:
  title: GitLab access_requests Award Emoji API
  version: v4
  description: Operations related to access requests
servers:
- url: https://gitlab.com
tags:
- name: award_emoji
  description: Operations about award_emoji
paths:
  /api/v4/groups/{id}/epics/{epic_iid}/award_emoji:
    get:
      summary: List an awardable's emoji reactions for groups
      description: Get a list of all emoji reactions for a specified awardable. This feature was introduced in 8.9
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group
        required: true
        schema:
          type: string
      - in: path
        name: epic_iid
        description: ID (`iid` for merge requests/issues/epics, `id` for snippets) of an awardable.
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: List an awardable's emoji reactions for groups
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_AwardEmoji'
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: getApiV4GroupsIdEpicsEpicIidAwardEmoji
    post:
      summary: Add a new emoji reaction
      description: Add an emoji reaction on the specified awardable. This feature was introduced in 8.9
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: epic_iid
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '201':
          description: Add a new emoji reaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_AwardEmoji'
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: postApiV4GroupsIdEpicsEpicIidAwardEmoji
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4GroupsIdEpicsEpicIidAwardEmoji'
        required: true
  /api/v4/groups/{id}/epics/{epic_iid}/award_emoji/{award_id}:
    get:
      summary: Get a single emoji reaction
      description: Get a single emoji reaction from an issue, snippet, or merge request. This feature was introduced in 8.9
      parameters:
      - in: path
        name: award_id
        description: ID of the emoji reaction.
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: epic_iid
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get a single emoji reaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_AwardEmoji'
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: getApiV4GroupsIdEpicsEpicIidAwardEmojiAwardId
    delete:
      summary: Delete an emoji reaction
      description: Only an administrator or the author of the reaction can delete an emoji reaction. This feature was introduced in 8.9
      parameters:
      - in: path
        name: award_id
        description: ID of an emoji reaction.
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: epic_iid
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: Delete an emoji reaction
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: deleteApiV4GroupsIdEpicsEpicIidAwardEmojiAwardId
  /api/v4/groups/{id}/epics/{epic_iid}/notes/{note_id}/award_emoji:
    get:
      summary: List an awardable's emoji reactions for groups
      description: Get a list of all emoji reactions for a specified awardable. This feature was introduced in 8.9
      parameters:
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: epic_iid
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: note_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: List an awardable's emoji reactions for groups
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_AwardEmoji'
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: getApiV4GroupsIdEpicsEpicIidNotesNoteIdAwardEmoji
    post:
      summary: Add a new emoji reaction
      description: Add an emoji reaction on the specified awardable. This feature was introduced in 8.9
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: epic_iid
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: note_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '201':
          description: Add a new emoji reaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_AwardEmoji'
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: postApiV4GroupsIdEpicsEpicIidNotesNoteIdAwardEmoji
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4GroupsIdEpicsEpicIidNotesNoteIdAwardEmoji'
        required: true
  /api/v4/groups/{id}/epics/{epic_iid}/notes/{note_id}/award_emoji/{award_id}:
    get:
      summary: Get a single emoji reaction
      description: Get a single emoji reaction from an issue, snippet, or merge request. This feature was introduced in 8.9
      parameters:
      - in: path
        name: award_id
        description: ID of the emoji reaction.
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: epic_iid
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: note_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get a single emoji reaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_AwardEmoji'
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: getApiV4GroupsIdEpicsEpicIidNotesNoteIdAwardEmojiAwardId
    delete:
      summary: Delete an emoji reaction
      description: Only an administrator or the author of the reaction can delete an emoji reaction. This feature was introduced in 8.9
      parameters:
      - in: path
        name: award_id
        description: ID of an emoji reaction.
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: epic_iid
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: note_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: Delete an emoji reaction
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: deleteApiV4GroupsIdEpicsEpicIidNotesNoteIdAwardEmojiAwardId
  /api/v4/projects/{id}/issues/{issue_iid}/award_emoji:
    get:
      summary: List an awardable's emoji reactions for projects
      description: Get a list of all emoji reactions for a specified awardable. This feature was introduced in 8.9
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: issue_iid
        description: ID (`iid` for merge requests/issues/epics, `id` for snippets) of an awardable.
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: List an awardable's emoji reactions for projects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_AwardEmoji'
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: getApiV4ProjectsIdIssuesIssueIidAwardEmoji
    post:
      summary: Add a new emoji reaction
      description: Add an emoji reaction on the specified awardable. This feature was introduced in 8.9
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: issue_iid
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '201':
          description: Add a new emoji reaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_AwardEmoji'
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: postApiV4ProjectsIdIssuesIssueIidAwardEmoji
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4ProjectsIdIssuesIssueIidAwardEmoji'
        required: true
  /api/v4/projects/{id}/issues/{issue_iid}/award_emoji/{award_id}:
    get:
      summary: Get a single emoji reaction
      description: Get a single emoji reaction from an issue, snippet, or merge request. This feature was introduced in 8.9
      parameters:
      - in: path
        name: award_id
        description: ID of the emoji reaction.
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: issue_iid
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get a single emoji reaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_AwardEmoji'
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: getApiV4ProjectsIdIssuesIssueIidAwardEmojiAwardId
    delete:
      summary: Delete an emoji reaction
      description: Only an administrator or the author of the reaction can delete an emoji reaction. This feature was introduced in 8.9
      parameters:
      - in: path
        name: award_id
        description: ID of an emoji reaction.
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: issue_iid
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: Delete an emoji reaction
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: deleteApiV4ProjectsIdIssuesIssueIidAwardEmojiAwardId
  /api/v4/projects/{id}/issues/{issue_iid}/notes/{note_id}/award_emoji:
    get:
      summary: List an awardable's emoji reactions for projects
      description: Get a list of all emoji reactions for a specified awardable. This feature was introduced in 8.9
      parameters:
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: issue_iid
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: note_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: List an awardable's emoji reactions for projects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_AwardEmoji'
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: getApiV4ProjectsIdIssuesIssueIidNotesNoteIdAwardEmoji
    post:
      summary: Add a new emoji reaction
      description: Add an emoji reaction on the specified awardable. This feature was introduced in 8.9
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: issue_iid
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: note_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '201':
          description: Add a new emoji reaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_AwardEmoji'
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: postApiV4ProjectsIdIssuesIssueIidNotesNoteIdAwardEmoji
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4ProjectsIdIssuesIssueIidNotesNoteIdAwardEmoji'
        required: true
  /api/v4/projects/{id}/issues/{issue_iid}/notes/{note_id}/award_emoji/{award_id}:
    get:
      summary: Get a single emoji reaction
      description: Get a single emoji reaction from an issue, snippet, or merge request. This feature was introduced in 8.9
      parameters:
      - in: path
        name: award_id
        description: ID of the emoji reaction.
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: issue_iid
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: note_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get a single emoji reaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_AwardEmoji'
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: getApiV4ProjectsIdIssuesIssueIidNotesNoteIdAwardEmojiAwardId
    delete:
      summary: Delete an emoji reaction
      description: Only an administrator or the author of the reaction can delete an emoji reaction. This feature was introduced in 8.9
      parameters:
      - in: path
        name: award_id
        description: ID of an emoji reaction.
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: issue_iid
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: note_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: Delete an emoji reaction
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: deleteApiV4ProjectsIdIssuesIssueIidNotesNoteIdAwardEmojiAwardId
  /api/v4/projects/{id}/merge_requests/{merge_request_iid}/award_emoji:
    get:
      summary: List an awardable's emoji reactions for projects
      description: Get a list of all emoji reactions for a specified awardable. This feature was introduced in 8.9
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: merge_request_iid
        description: ID (`iid` for merge requests/issues/epics, `id` for snippets) of an awardable.
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: List an awardable's emoji reactions for projects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_AwardEmoji'
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: getApiV4ProjectsIdMergeRequestsMergeRequestIidAwardEmoji
    post:
      summary: Add a new emoji reaction
      description: Add an emoji reaction on the specified awardable. This feature was introduced in 8.9
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: merge_request_iid
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '201':
          description: Add a new emoji reaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_AwardEmoji'
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: postApiV4ProjectsIdMergeRequestsMergeRequestIidAwardEmoji
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4ProjectsIdMergeRequestsMergeRequestIidAwardEmoji'
        required: true
  /api/v4/projects/{id}/merge_requests/{merge_request_iid}/award_emoji/{award_id}:
    get:
      summary: Get a single emoji reaction
      description: Get a single emoji reaction from an issue, snippet, or merge request. This feature was introduced in 8.9
      parameters:
      - in: path
        name: award_id
        description: ID of the emoji reaction.
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: merge_request_iid
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get a single emoji reaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_AwardEmoji'
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: getApiV4ProjectsIdMergeRequestsMergeRequestIidAwardEmojiAwardId
    delete:
      summary: Delete an emoji reaction
      description: Only an administrator or the author of the reaction can delete an emoji reaction. This feature was introduced in 8.9
      parameters:
      - in: path
        name: award_id
        description: ID of an emoji reaction.
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: merge_request_iid
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: Delete an emoji reaction
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: deleteApiV4ProjectsIdMergeRequestsMergeRequestIidAwardEmojiAwardId
  /api/v4/projects/{id}/merge_requests/{merge_request_iid}/notes/{note_id}/award_emoji:
    get:
      summary: List an awardable's emoji reactions for projects
      description: Get a list of all emoji reactions for a specified awardable. This feature was introduced in 8.9
      parameters:
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: merge_request_iid
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: note_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: List an awardable's emoji reactions for projects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_AwardEmoji'
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: getApiV4ProjectsIdMergeRequestsMergeRequestIidNotesNoteIdAwardEmoji
    post:
      summary: Add a new emoji reaction
      description: Add an emoji reaction on the specified awardable. This feature was introduced in 8.9
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: merge_request_iid
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: note_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '201':
          description: Add a new emoji reaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_AwardEmoji'
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: postApiV4ProjectsIdMergeRequestsMergeRequestIidNotesNoteIdAwardEmoji
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4ProjectsIdMergeRequestsMergeRequestIidNotesNoteIdAwardEmoji'
        required: true
  /api/v4/projects/{id}/merge_requests/{merge_request_iid}/notes/{note_id}/award_emoji/{award_id}:
    get:
      summary: Get a single emoji reaction
      description: Get a single emoji reaction from an issue, snippet, or merge request. This feature was introduced in 8.9
      parameters:
      - in: path
        name: award_id
        description: ID of the emoji reaction.
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: merge_request_iid
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: note_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get a single emoji reaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_AwardEmoji'
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: getApiV4ProjectsIdMergeRequestsMergeRequestIidNotesNoteIdAwardEmojiAwardId
    delete:
      summary: Delete an emoji reaction
      description: Only an administrator or the author of the reaction can delete an emoji reaction. This feature was introduced in 8.9
      parameters:
      - in: path
        name: award_id
        description: ID of an emoji reaction.
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: merge_request_iid
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: note_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: Delete an emoji reaction
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: deleteApiV4ProjectsIdMergeRequestsMergeRequestIidNotesNoteIdAwardEmojiAwardId
  /api/v4/projects/{id}/snippets/{snippet_id}/award_emoji:
    get:
      summary: List an awardable's emoji reactions for projects
      description: Get a list of all emoji reactions for a specified awardable. This feature was introduced in 8.9
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: snippet_id
        description: ID (`iid` for merge requests/issues/epics, `id` for snippets) of an awardable.
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: List an awardable's emoji reactions for projects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_AwardEmoji'
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: getApiV4ProjectsIdSnippetsSnippetIdAwardEmoji
    post:
      summary: Add a new emoji reaction
      description: Add an emoji reaction on the specified awardable. This feature was introduced in 8.9
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: snippet_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '201':
          description: Add a new emoji reaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_AwardEmoji'
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: postApiV4ProjectsIdSnippetsSnippetIdAwardEmoji
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4ProjectsIdSnippetsSnippetIdAwardEmoji'
        required: true
  /api/v4/projects/{id}/snippets/{snippet_id}/award_emoji/{award_id}:
    get:
      summary: Get a single emoji reaction
      description: Get a single emoji reaction from an issue, snippet, or merge request. This feature was introduced in 8.9
      parameters:
      - in: path
        name: award_id
        description: ID of the emoji reaction.
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: snippet_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get a single emoji reaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_AwardEmoji'
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: getApiV4ProjectsIdSnippetsSnippetIdAwardEmojiAwardId
    delete:
      summary: Delete an emoji reaction
      description: Only an administrator or the author of the reaction can delete an emoji reaction. This feature was introduced in 8.9
      parameters:
      - in: path
        name: award_id
        description: ID of an emoji reaction.
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: snippet_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: Delete an emoji reaction
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: deleteApiV4ProjectsIdSnippetsSnippetIdAwardEmojiAwardId
  /api/v4/projects/{id}/snippets/{snippet_id}/notes/{note_id}/award_emoji:
    get:
      summary: List an awardable's emoji reactions for projects
      description: Get a list of all emoji reactions for a specified awardable. This feature was introduced in 8.9
      parameters:
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: snippet_id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: note_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: List an awardable's emoji reactions for projects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_AwardEmoji'
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: getApiV4ProjectsIdSnippetsSnippetIdNotesNoteIdAwardEmoji
    post:
      summary: Add a new emoji reaction
      description: Add an emoji reaction on the specified awardable. This feature was introduced in 8.9
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: snippet_id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: note_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '201':
          description: Add a new emoji reaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_AwardEmoji'
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: postApiV4ProjectsIdSnippetsSnippetIdNotesNoteIdAwardEmoji
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4ProjectsIdSnippetsSnippetIdNotesNoteIdAwardEmoji'
        required: true
  /api/v4/projects/{id}/snippets/{snippet_id}/notes/{note_id}/award_emoji/{award_id}:
    get:
      summary: Get a single emoji reaction
      description: Get a single emoji reaction from an issue, snippet, or merge request. This feature was introduced in 8.9
      parameters:
      - in: path
        name: award_id
        description: ID of the emoji reaction.
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: snippet_id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: note_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get a single emoji reaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_AwardEmoji'
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: getApiV4ProjectsIdSnippetsSnippetIdNotesNoteIdAwardEmojiAwardId
    delete:
      summary: Delete an emoji reaction
      description: Only an administrator or the author of the reaction can delete an emoji reaction. This feature was introduced in 8.9
      parameters:
      - in: path
        name: award_id
        description: ID of an emoji reaction.
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: snippet_id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: note_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: Delete an emoji reaction
        '401':
          description: Unauthorized
        '404':
          description: Not Found
      tags:
      - award_emoji
      operationId: deleteApiV4ProjectsIdSnippetsSnippetIdNotesNoteIdAwardEmojiAwardId
components:
  schemas:
    postApiV4ProjectsIdMergeRequestsMergeRequestIidNotesNoteIdAwardEmoji:
      type: object
      properties:
        name:
          type: string
          description: Name of the emoji without colons.
      required:
      - name
      description: Add a new emoji reaction
    postApiV4ProjectsIdIssuesIssueIidNotesNoteIdAwardEmoji:
      type: object
      properties:
        name:
          type: string
          description: Name of the emoji without colons.
      required:
      - name
      description: Add a new emoji reaction
    postApiV4ProjectsIdSnippetsSnippetIdNotesNoteIdAwardEmoji:
      type: object
      properties:
        name:
          type: string
          description: Name of the emoji without colons.
      required:
      - name
      description: Add a new emoji reaction
    API_Entities_CustomAttribute:
      type: object
      properties:
        key:
          type: string
          example: foo
        value:
          type: string
          example: bar
      required:
      - key
      - value
      description: API_Entities_CustomAttribute model
    postApiV4ProjectsIdSnippetsSnippetIdAwardEmoji:
      type: object
      properties:
        name:
          type: string
          description: Name of the emoji without colons.
      required:
      - name
      description: Add a new emoji reaction
    API_Entities_AwardEmoji:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 1
        name:
          type: string
          example: lizard
        user:
          $ref: '#/components/schemas/API_Entities_UserBasic'
        created_at:
          type: string
          format: date-time
          example: '2019-01-10T13:39:08Z'
        updated_at:
          type: string
          format: date-time
          example: '2020-06-28T10:52:04Z'
        awardable_id:
          type: integer
          format: int32
          example: 42
        awardable_type:
          type: string
          example: Issue
        url:
          type: string
          example: https://example.com/emojis/example.gif
      required:
      - id
      - name
      - user
      - created_at
      - updated_at
      - awardable_id
      - awardable_type
      - url
      description: API_Entities_AwardEmoji model
    API_Entities_UserBasic:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 1
        username:
          type: string
          example: admin
        public_email:
          type: string
          example: john@example.com
        name:
          type: string
          example: Administrator
        state:
          type: string
          example: active
        locked:
          type: boolean
        avatar_url:
          type: string
          example: https://gravatar.com/avatar/1
        avatar_path:
          type: string
          example: /user/avatar/28/The-Big-Lebowski-400-400.png
        custom_attributes:
          type: array
          items:
            $ref: '#/components/schemas/API_Entities_CustomAttribute'
        web_url:
          type: string
          example: https://gitlab.example.com/root
      required:
      - id
      - username
      - public_email
      - name
      - state
      - locked
      - avatar_url
      - web_url
      description: API_Entities_UserBasic model
    postApiV4GroupsIdEpicsEpicIidAwardEmoji:
      type: object
      properties:
        name:
          type: string
          description: Name of the emoji without colons.
      required:
      - name
      description: Add a new emoji reaction
    postApiV4ProjectsIdIssuesIssueIidAwardEmoji:
      type: object
      properties:
        name:
          type: string
          description: Name of the emoji without colons.
      required:
      - name
      description: Add a new emoji reaction
    postApiV4GroupsIdEpicsEpicIidNotesNoteIdAwardEmoji:
      type: object
      properties:
        name:
          type: string
          description: Name of the emoji without colons.
      required:
      - name
      description: Add a new emoji reaction
    postApiV4ProjectsIdMergeRequestsMergeRequestIidAwardEmoji:
      type: object
      properties:
        name:
          type: string
          description: Name of the emoji without colons.
      required:
      - name
      description: Add a new emoji reaction
  securitySchemes:
    access_token_header:
      type: apiKey
      name: PRIVATE-TOKEN
      in: header
    access_token_query:
      type: apiKey
      name: private_token
      in: query
