openapi: 3.2.0
info:
  title: GitLab Suggestions API
  version: v4
  description: Operations related to suggestions
servers:
- url: https://gitlab.com
tags:
- name: Suggestions
  description: Operations related to suggestions
paths:
  /api/v4/suggestions/{id}/apply:
    put:
      description: Apply suggestion patch in the Merge Request it was created
      parameters:
      - in: path
        name: id
        description: The ID of the suggestion
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Apply suggestion patch in the Merge Request it was created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Suggestion'
      tags:
      - Suggestions
      operationId: putApiV4SuggestionsIdApply
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4SuggestionsIdApply'
        required: true
      summary: Put api V4 suggestions id apply
      x-summary-source: derived
  /api/v4/suggestions/batch_apply:
    put:
      description: Apply multiple suggestion patches in the Merge Request where they were created
      responses:
        '200':
          description: Apply multiple suggestion patches in the Merge Request where they were created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Suggestion'
      tags:
      - Suggestions
      operationId: putApiV4SuggestionsBatchApply
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4SuggestionsBatchApply'
        required: true
      summary: Put api V4 suggestions batch apply
      x-summary-source: derived
components:
  schemas:
    putApiV4SuggestionsBatchApply:
      type: object
      properties:
        ids:
          type: array
          description: An array of the suggestion IDs
          items:
            type: integer
            format: int32
        commit_message:
          type: string
          description: A custom commit message to use instead of the default generated message or the project's default message
      required:
      - ids
      description: Apply multiple suggestion patches in the Merge Request where they were created
    putApiV4SuggestionsIdApply:
      type: object
      properties:
        commit_message:
          type: string
          description: A custom commit message to use instead of the default generated message or the project's default message
      description: Apply suggestion patch in the Merge Request it was created
    API_Entities_Suggestion:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 1
        from_line:
          type: integer
          format: int32
          example: 1
        to_line:
          type: integer
          format: int32
          example: 1
        appliable:
          type: boolean
          example: true
        applied:
          type: boolean
          example: false
        from_content:
          type: string
          example: 'Original content

            '
        to_content:
          type: string
          example: 'New content

            '
      required:
      - id
      - from_line
      - to_line
      - appliable
      - applied
      - from_content
      - to_content
      description: API_Entities_Suggestion model
  securitySchemes:
    access_token_header:
      type: apiKey
      name: PRIVATE-TOKEN
      in: header
    access_token_query:
      type: apiKey
      name: private_token
      in: query
