openapi: 3.2.0
info:
  title: GitLab Wikis API
  version: v4
  description: Operations about wikis
servers:
- url: https://gitlab.com
tags:
- name: Wikis
  description: Operations about wikis
paths:
  /api/v4/groups/{id}/wikis:
    get:
      description: Get a list of wiki pages
      parameters:
      - in: query
        name: with_content
        description: Include pages' content
        required: false
        schema:
          type: boolean
          default: false
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get a list of wiki pages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_WikiPageBasic'
        '404':
          description: Not found
      tags:
      - Wikis
      operationId: getApiV4GroupsIdWikis
      summary: Get api V4 groups id wikis
      x-summary-source: derived
    post:
      description: Create a wiki page
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '201':
          description: Create a wiki page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_WikiPage'
        '400':
          description: Validation error
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - Wikis
      operationId: postApiV4GroupsIdWikis
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4GroupsIdWikis'
        required: true
      summary: Post api V4 groups id wikis
      x-summary-source: derived
  /api/v4/groups/{id}/wikis/{slug}:
    get:
      description: Get a wiki page
      parameters:
      - in: path
        name: slug
        description: The slug of a wiki page
        required: true
        schema:
          type: string
      - in: query
        name: version
        description: The version hash of a wiki page
        required: false
        schema:
          type: string
      - in: query
        name: render_html
        description: Render content to HTML
        required: false
        schema:
          type: boolean
          default: false
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get a wiki page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_WikiPage'
        '404':
          description: Not found
      tags:
      - Wikis
      operationId: getApiV4GroupsIdWikisSlug
      summary: Get api V4 groups id wikis slug
      x-summary-source: derived
    put:
      description: Update a wiki page
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: slug
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Update a wiki page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_WikiPage'
        '400':
          description: Validation error
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - Wikis
      operationId: putApiV4GroupsIdWikisSlug
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsIdWikisSlug'
        required: true
      summary: Put api V4 groups id wikis slug
      x-summary-source: derived
    delete:
      description: Delete a wiki page
      parameters:
      - in: path
        name: slug
        description: The slug of a wiki page
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: Delete a wiki page
        '400':
          description: Validation error
        '404':
          description: Not found
      tags:
      - Wikis
      operationId: deleteApiV4GroupsIdWikisSlug
      summary: Delete api V4 groups id wikis slug
      x-summary-source: derived
  /api/v4/groups/{id}/wikis/attachments:
    post:
      summary: Upload an attachment to the wiki repository
      description: This feature was introduced in GitLab 11.3.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '201':
          description: Upload an attachment to the wiki repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_WikiAttachment'
        '404':
          description: Not found
      tags:
      - Wikis
      operationId: postApiV4GroupsIdWikisAttachments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4GroupsIdWikisAttachments'
        required: true
  /api/v4/projects/{id}/wikis:
    get:
      description: Get a list of wiki pages
      parameters:
      - in: query
        name: with_content
        description: Include pages' content
        required: false
        schema:
          type: boolean
          default: false
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get a list of wiki pages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_WikiPageBasic'
        '404':
          description: Not found
      tags:
      - Wikis
      operationId: getApiV4ProjectsIdWikis
      summary: Get api V4 projects id wikis
      x-summary-source: derived
    post:
      description: Create a wiki page
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '201':
          description: Create a wiki page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_WikiPage'
        '400':
          description: Validation error
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - Wikis
      operationId: postApiV4ProjectsIdWikis
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4ProjectsIdWikis'
        required: true
      summary: Post api V4 projects id wikis
      x-summary-source: derived
  /api/v4/projects/{id}/wikis/{slug}:
    get:
      description: Get a wiki page
      parameters:
      - in: path
        name: slug
        description: The slug of a wiki page
        required: true
        schema:
          type: string
      - in: query
        name: version
        description: The version hash of a wiki page
        required: false
        schema:
          type: string
      - in: query
        name: render_html
        description: Render content to HTML
        required: false
        schema:
          type: boolean
          default: false
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get a wiki page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_WikiPage'
        '404':
          description: Not found
      tags:
      - Wikis
      operationId: getApiV4ProjectsIdWikisSlug
      summary: Get api V4 projects id wikis slug
      x-summary-source: derived
    put:
      description: Update a wiki page
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: slug
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Update a wiki page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_WikiPage'
        '400':
          description: Validation error
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - Wikis
      operationId: putApiV4ProjectsIdWikisSlug
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdWikisSlug'
        required: true
      summary: Put api V4 projects id wikis slug
      x-summary-source: derived
    delete:
      description: Delete a wiki page
      parameters:
      - in: path
        name: slug
        description: The slug of a wiki page
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: Delete a wiki page
        '400':
          description: Validation error
        '404':
          description: Not found
      tags:
      - Wikis
      operationId: deleteApiV4ProjectsIdWikisSlug
      summary: Delete api V4 projects id wikis slug
      x-summary-source: derived
  /api/v4/projects/{id}/wikis/attachments:
    post:
      summary: Upload an attachment to the wiki repository
      description: This feature was introduced in GitLab 11.3.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '201':
          description: Upload an attachment to the wiki repository
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_WikiAttachment'
        '404':
          description: Not found
      tags:
      - Wikis
      operationId: postApiV4ProjectsIdWikisAttachments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4ProjectsIdWikisAttachments'
        required: true
components:
  schemas:
    putApiV4ProjectsIdWikisSlug:
      type: object
      properties:
        title:
          type: string
          description: Title of a wiki page
        front_matter:
          type: object
          description: Object that contains YAML frontmatter
          properties:
            title:
              type: string
              description: Frontmatter title of a wiki page
        content:
          type: string
          description: Content of a wiki page
        format:
          type: string
          description: Format of a wiki page. Available formats are markdown, rdoc, asciidoc and org
          enum:
          - markdown
          - rdoc
          - asciidoc
          - org
          default: markdown
      description: Update a wiki page
    putApiV4GroupsIdWikisSlug:
      type: object
      properties:
        title:
          type: string
          description: Title of a wiki page
        front_matter:
          type: object
          description: Object that contains YAML frontmatter
          properties:
            title:
              type: string
              description: Frontmatter title of a wiki page
        content:
          type: string
          description: Content of a wiki page
        format:
          type: string
          description: Format of a wiki page. Available formats are markdown, rdoc, asciidoc and org
          enum:
          - markdown
          - rdoc
          - asciidoc
          - org
          default: markdown
      description: Update a wiki page
    API_Entities_WikiPage:
      type: object
      properties:
        format:
          type: string
          example: markdown
        slug:
          type: string
          example: deploy
        title:
          type: string
          example: deploy
        wiki_page_meta_id:
          type: integer
          format: int32
          example: 123
        content:
          type: string
          example: Here is an instruction how to deploy this project.
        encoding:
          type: string
          example: UTF-8
        front_matter:
          type: object
          example:
            title: deploy
      required:
      - format
      - slug
      - title
      - wiki_page_meta_id
      - content
      - encoding
      - front_matter
      description: API_Entities_WikiPage model
    postApiV4ProjectsIdWikisAttachments:
      type: object
      properties:
        file:
          type: string
          description: The attachment file to be uploaded
          format: binary
        branch:
          type: string
          description: The name of the branch
      required:
      - file
      description: Upload an attachment to the wiki repository
    postApiV4GroupsIdWikis:
      type: object
      properties:
        title:
          type: string
          description: Title of a wiki page
        front_matter:
          type: object
          description: Object that contains YAML frontmatter
          properties:
            title:
              type: string
              description: Frontmatter title of a wiki page
        content:
          type: string
          description: Content of a wiki page
        format:
          type: string
          description: Format of a wiki page. Available formats are markdown, rdoc, asciidoc and org
          enum:
          - markdown
          - rdoc
          - asciidoc
          - org
          default: markdown
      required:
      - title
      - content
      description: Create a wiki page
    postApiV4ProjectsIdWikis:
      type: object
      properties:
        title:
          type: string
          description: Title of a wiki page
        front_matter:
          type: object
          description: Object that contains YAML frontmatter
          properties:
            title:
              type: string
              description: Frontmatter title of a wiki page
        content:
          type: string
          description: Content of a wiki page
        format:
          type: string
          description: Format of a wiki page. Available formats are markdown, rdoc, asciidoc and org
          enum:
          - markdown
          - rdoc
          - asciidoc
          - org
          default: markdown
      required:
      - title
      - content
      description: Create a wiki page
    API_Entities_WikiPageBasic:
      type: object
      properties:
        format:
          type: string
          example: markdown
        slug:
          type: string
          example: deploy
        title:
          type: string
          example: deploy
        wiki_page_meta_id:
          type: integer
          format: int32
          example: 123
      required:
      - format
      - slug
      - title
      - wiki_page_meta_id
      description: API_Entities_WikiPageBasic model
    API_Entities_WikiAttachment:
      type: object
      properties:
        file_name:
          type: string
          example: dk.png
        file_path:
          type: string
          example: uploads/6a061c4cf9f1c28cb22c384b4b8d4e3c/dk.png
        branch:
          type: string
          example: main
        link:
          type: object
          properties:
            url:
              type: string
              example: uploads/6a061c4cf9f1c28cb22c384b4b8d4e3c/dk.png
            markdown:
              type: string
              example: '![dk](uploads/6a061c4cf9f1c28cb22c384b4b8d4e3c/dk.png)'
          required:
          - url
          - markdown
      required:
      - file_name
      - file_path
      - branch
      - link
      description: API_Entities_WikiAttachment model
    postApiV4GroupsIdWikisAttachments:
      type: object
      properties:
        file:
          type: string
          description: The attachment file to be uploaded
          format: binary
        branch:
          type: string
          description: The name of the branch
      required:
      - file
      description: Upload an attachment to the wiki repository
  securitySchemes:
    access_token_header:
      type: apiKey
      name: PRIVATE-TOKEN
      in: header
    access_token_query:
      type: apiKey
      name: private_token
      in: query
