openapi: 3.2.0
info:
  title: GitLab access_requests Jira Connect Subscriptions API
  version: v4
  description: Operations related to access requests
servers:
- url: https://gitlab.com
tags:
- name: jira_connect_subscriptions
  description: Operations related to JiraConnect subscriptions
paths:
  /api/v4/integrations/jira_connect/subscriptions:
    post:
      summary: Subscribe a namespace to a JiraConnectInstallation
      description: Subscribes the namespace to the JiraConnectInstallation
      responses:
        '201':
          description: Subscribe a namespace to a JiraConnectInstallation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_BasicSuccess'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
      - jira_connect_subscriptions
      operationId: postApiV4IntegrationsJiraConnectSubscriptions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4IntegrationsJiraConnectSubscriptions'
        required: true
components:
  schemas:
    postApiV4IntegrationsJiraConnectSubscriptions:
      type: object
      properties:
        jwt:
          type: string
          description: JWT token for authorization with the Jira Connect installation
        namespace_path:
          type: string
          description: Path for the namespace that should be subscribed
      required:
      - jwt
      - namespace_path
      description: Subscribe a namespace to a JiraConnectInstallation
    API_Entities_BasicSuccess:
      type: object
      properties:
        success:
          type: object
          properties: {}
      required:
      - success
      description: API_Entities_BasicSuccess model
  securitySchemes:
    access_token_header:
      type: apiKey
      name: PRIVATE-TOKEN
      in: header
    access_token_query:
      type: apiKey
      name: private_token
      in: query
