openapi: 3.2.0
info:
  title: GitLab access_requests Terraform API
  version: v4
  description: Operations related to access requests
servers:
- url: https://gitlab.com
tags:
- name: terraform
  description: Operations about terraforms
paths:
  /api/v4/projects/{id}/packages/terraform/modules/{module_name}/{module_system}:
    get:
      summary: Download the latest version of a module
      description: This feature was introduced in GitLab 16.7
      parameters:
      - in: path
        name: id
        description: The ID or full path of a project
        required: true
        schema:
          type: string
      - in: path
        name: module_name
        description: Module name
        required: true
        example: infra-registry
        schema:
          type: string
      - in: path
        name: module_system
        description: Module system
        required: true
        example: aws
        schema:
          type: string
      - in: query
        name: terraform-get
        description: Terraform get redirection flag
        required: false
        schema:
          type: string
          enum:
          - '1'
      responses:
        '204':
          description: Download the latest version of a module
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
      - terraform
      operationId: getApiV4ProjectsIdPackagesTerraformModulesModuleNameModuleSystem
  /api/v4/projects/{id}/packages/terraform/modules/{module_name}/{module_system}/*module_version:
    get:
      summary: Download a specific version of a module
      description: This feature was introduced in GitLab 16.7
      parameters:
      - in: path
        name: id
        description: The ID or full path of a project
        required: true
        schema:
          type: string
      - in: path
        name: module_name
        description: Module name
        required: true
        example: infra-registry
        schema:
          type: string
      - in: path
        name: module_system
        description: Module system
        required: true
        example: aws
        schema:
          type: string
      - in: query
        name: module_version
        description: Module version
        required: true
        schema:
          type: string
      - in: query
        name: terraform-get
        description: Terraform get redirection flag
        required: false
        schema:
          type: string
          enum:
          - '1'
      responses:
        '204':
          description: Download a specific version of a module
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
      - terraform
      operationId: getApiV4ProjectsIdPackagesTerraformModulesModuleNameModuleSystem*moduleVersion
  /api/v4/projects/{id}/packages/terraform/modules/{module_name}/{module_system}/*module_version/file/authorize:
    put:
      summary: Workhorse authorize Terraform Module package file
      description: This feature was introduced in GitLab 13.11
      parameters:
      - in: path
        name: id
        description: The ID or full path of a project
        required: true
        schema:
          type: string
      - in: path
        name: module_name
        description: Module name
        required: true
        example: infra-registry
        schema:
          type: string
      - in: path
        name: module_system
        description: Module system
        required: true
        example: aws
        schema:
          type: string
      responses:
        '200':
          description: Workhorse authorize Terraform Module package file
        '403':
          description: Forbidden
      tags:
      - terraform
      operationId: putApiV4ProjectsIdPackagesTerraformModulesModuleNameModuleSystem*moduleVersionFileAuthorize
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdPackagesTerraformModulesModuleNameModuleSystem_moduleVersionFileAuthorize'
        required: true
  /api/v4/projects/{id}/packages/terraform/modules/{module_name}/{module_system}/*module_version/file:
    put:
      summary: Upload Terraform Module package file
      description: This feature was introduced in GitLab 13.11
      parameters:
      - in: path
        name: id
        description: The ID or full path of a project
        required: true
        schema:
          type: string
      - in: path
        name: module_name
        description: Module name
        required: true
        example: infra-registry
        schema:
          type: string
      - in: path
        name: module_system
        description: Module system
        required: true
        example: aws
        schema:
          type: string
      responses:
        '201':
          description: Upload Terraform Module package file
        '400':
          description: Invalid file
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
      - terraform
      operationId: putApiV4ProjectsIdPackagesTerraformModulesModuleNameModuleSystem*moduleVersionFile
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                module_version:
                  type: string
                  description: Module version
                file:
                  type: string
                  description: The package file to be published (generated by Multipart middleware)
                  format: binary
              required:
              - module_version
              - file
  /api/v4/projects/{id}/terraform/state/{name}:
    get:
      summary: Get a Terraform state by its name
      description: Get a Terraform state by its name
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: name
        description: The name of a Terraform state
        required: true
        schema:
          type: string
      - in: query
        name: ID
        description: Terraform state lock ID
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Get a Terraform state by its name
        '204':
          description: Empty state
        '403':
          description: Forbidden
        '404':
          description: Not found
        '422':
          description: Validation failure
      tags:
      - terraform
      operationId: getApiV4ProjectsIdTerraformStateName
    post:
      summary: Add a new Terraform state or update an existing one
      description: Add a new Terraform state or update an existing one
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: name
        description: The name of a Terraform state
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Add a new Terraform state or update an existing one
        '204':
          description: No data provided
        '403':
          description: Forbidden
        '422':
          description: Validation failure
        '413':
          description: Request Entity Too Large
      tags:
      - terraform
      operationId: postApiV4ProjectsIdTerraformStateName
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4ProjectsIdTerraformStateName'
        required: true
    delete:
      summary: Delete a Terraform state of a certain name
      description: Delete a Terraform state of a certain name
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: name
        description: The name of a Terraform state
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Delete a Terraform state of a certain name
        '403':
          description: Forbidden
        '404':
          description: Not found
        '422':
          description: Validation failure
      tags:
      - terraform
      operationId: deleteApiV4ProjectsIdTerraformStateName
  /api/v4/projects/{id}/terraform/state/{name}/authorize:
    post:
      summary: Authorize Terraform state upload
      description: This feature was introduced in GitLab 18.5
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: name
        description: The name of a Terraform state
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Authorize Terraform state upload
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - terraform
      operationId: postApiV4ProjectsIdTerraformStateNameAuthorize
  /api/v4/projects/{id}/terraform/state/{name}/lock:
    post:
      summary: Lock a Terraform state of a certain name
      description: Lock a Terraform state of a certain name
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: name
        description: The name of a Terraform state
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Lock a Terraform state of a certain name
        '403':
          description: Forbidden
        '404':
          description: Not found
        '409':
          description: Conflict
        '422':
          description: Validation failure
      tags:
      - terraform
      operationId: postApiV4ProjectsIdTerraformStateNameLock
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4ProjectsIdTerraformStateNameLock'
        required: true
    delete:
      summary: Unlock a Terraform state of a certain name
      description: Unlock a Terraform state of a certain name
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: name
        description: The name of a Terraform state
        required: true
        schema:
          type: string
      - in: query
        name: ID
        description: Terraform state lock ID
        required: false
        schema:
          type: string
      responses:
        '204':
          description: Unlock a Terraform state of a certain name
        '403':
          description: Forbidden
        '404':
          description: Not found
        '409':
          description: Conflict
        '422':
          description: Validation failure
      tags:
      - terraform
      operationId: deleteApiV4ProjectsIdTerraformStateNameLock
  /api/v4/projects/{id}/terraform/state/{name}/versions/{serial}:
    get:
      summary: Get a Terraform state version
      description: Get a Terraform state version
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: name
        description: The name of a Terraform state
        required: true
        schema:
          type: string
      - in: path
        name: serial
        description: The version number of the state
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get a Terraform state version
          content:
            application/json:
              schema:
                type: string
                format: binary
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
      - terraform
      operationId: getApiV4ProjectsIdTerraformStateNameVersionsSerial
    delete:
      summary: Delete a Terraform state version
      description: Delete a Terraform state version
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: name
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: serial
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: Delete a Terraform state version
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
      - terraform
      operationId: deleteApiV4ProjectsIdTerraformStateNameVersionsSerial
  /api/v4/packages/terraform/modules/v1/{module_namespace}/{module_name}/{module_system}/versions:
    get:
      summary: List versions for a module
      description: List versions for a module
      parameters:
      - in: path
        name: module_namespace
        description: Group's ID or slug
        required: true
        schema:
          type: string
      - in: path
        name: module_name
        description: Name of the module
        required: true
        schema:
          type: string
      - in: path
        name: module_system
        description: System of the module
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List versions for a module
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_Terraform_ModuleVersions'
        '403':
          description: Forbidden
      tags:
      - terraform
      operationId: getApiV4PackagesTerraformModulesV1ModuleNamespaceModuleNameModuleSystemVersions
  /api/v4/packages/terraform/modules/v1/{module_namespace}/{module_name}/{module_system}/download:
    get:
      summary: Get download location for the latest version of a module
      description: Download the latest version of a module
      parameters:
      - in: path
        name: module_namespace
        description: Group's ID or slug
        required: true
        schema:
          type: string
      - in: path
        name: module_name
        description: Name of the module
        required: true
        schema:
          type: string
      - in: path
        name: module_system
        description: System of the module
        required: true
        schema:
          type: string
      responses:
        '302':
          description: Get download location for the latest version of a module
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
      - terraform
      operationId: getApiV4PackagesTerraformModulesV1ModuleNamespaceModuleNameModuleSystemDownload
  /api/v4/packages/terraform/modules/v1/{module_namespace}/{module_name}/{module_system}:
    get:
      summary: Get details about the latest version of a module
      description: Get details about the latest version of a module
      parameters:
      - in: path
        name: module_namespace
        description: Group's ID or slug
        required: true
        schema:
          type: string
      - in: path
        name: module_name
        description: Name of the module
        required: true
        schema:
          type: string
      - in: path
        name: module_system
        description: System of the module
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get details about the latest version of a module
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Terraform_ModuleVersion'
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
      - terraform
      operationId: getApiV4PackagesTerraformModulesV1ModuleNamespaceModuleNameModuleSystem
  /api/v4/packages/terraform/modules/v1/{module_namespace}/{module_name}/{module_system}/*module_version/download:
    get:
      summary: Get download location for specific version of a module
      description: Download specific version of a module
      parameters:
      - in: path
        name: module_namespace
        description: Group's ID or slug
        required: true
        schema:
          type: string
      - in: path
        name: module_name
        description: Name of the module
        required: true
        schema:
          type: string
      - in: path
        name: module_system
        description: System of the module
        required: true
        schema:
          type: string
      - in: query
        name: module_version
        description: Version of the module
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Get download location for specific version of a module
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
      - terraform
      operationId: getApiV4PackagesTerraformModulesV1ModuleNamespaceModuleNameModuleSystem*moduleVersionDownload
  /api/v4/packages/terraform/modules/v1/{module_namespace}/{module_name}/{module_system}/*module_version/file:
    get:
      summary: Download specific version of a module
      description: Download specific version of a module
      parameters:
      - in: path
        name: module_namespace
        description: Group's ID or slug
        required: true
        schema:
          type: string
      - in: path
        name: module_name
        description: Name of the module
        required: true
        schema:
          type: string
      - in: path
        name: module_system
        description: System of the module
        required: true
        schema:
          type: string
      - in: query
        name: module_version
        description: Version of the module
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Download specific version of a module
          content:
            application/json:
              schema:
                type: string
                format: binary
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
      - terraform
      operationId: getApiV4PackagesTerraformModulesV1ModuleNamespaceModuleNameModuleSystem*moduleVersionFile
  /api/v4/packages/terraform/modules/v1/{module_namespace}/{module_name}/{module_system}/*module_version:
    get:
      summary: Get details about specific version of a module
      description: Get details about specific version of a module
      parameters:
      - in: path
        name: module_namespace
        description: Group's ID or slug
        required: true
        schema:
          type: string
      - in: path
        name: module_name
        description: Name of the module
        required: true
        schema:
          type: string
      - in: path
        name: module_system
        description: System of the module
        required: true
        schema:
          type: string
      - in: query
        name: module_version
        description: Version of the module
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Get details about specific version of a module
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Terraform_ModuleVersion'
        '403':
          description: Forbidden
        '404':
          description: Not found
      tags:
      - terraform
      operationId: getApiV4PackagesTerraformModulesV1ModuleNamespaceModuleNameModuleSystem*moduleVersion
components:
  schemas:
    API_Entities_Terraform_ModuleVersion:
      type: object
      properties:
        name:
          type: string
        provider:
          type: string
        providers:
          type: string
        root:
          type: string
        source:
          type: string
        submodules:
          type: string
        version:
          type: string
        versions:
          type: string
      required:
      - name
      - provider
      - providers
      - root
      - source
      - submodules
      - version
      - versions
      description: API_Entities_Terraform_ModuleVersion model
    postApiV4ProjectsIdTerraformStateNameLock:
      type: object
      properties:
        ID:
          type: string
          description: Terraform state lock ID
        Operation:
          type: string
          description: Terraform operation
        Info:
          type: string
          description: Terraform info
        Who:
          type: string
          description: Terraform state lock owner
        Version:
          type: string
          description: Terraform version
        Created:
          type: string
          description: Terraform state lock timestamp
        Path:
          type: string
          description: Terraform path
      required:
      - ID
      - Operation
      - Info
      - Who
      - Version
      - Created
      - Path
      description: Lock a Terraform state of a certain name
    putApiV4ProjectsIdPackagesTerraformModulesModuleNameModuleSystem_moduleVersionFileAuthorize:
      type: object
      properties:
        module_version:
          type: string
          description: Module version
      required:
      - module_version
      description: Workhorse authorize Terraform Module package file
    postApiV4ProjectsIdTerraformStateName:
      type: object
      properties:
        file:
          type: string
          description: The package file to be published (generated by Multipart middleware)
          format: binary
      required:
      - file
      description: Add a new Terraform state or update an existing one
    API_Entities_Terraform_ModuleVersions:
      type: object
      properties:
        modules:
          type: string
      required:
      - modules
      description: API_Entities_Terraform_ModuleVersions model
  securitySchemes:
    access_token_header:
      type: apiKey
      name: PRIVATE-TOKEN
      in: header
    access_token_query:
      type: apiKey
      name: private_token
      in: query
