openapi: 3.2.0
info:
  title: GitLab access_requests Project Topics API
  version: v4
  description: Operations related to access requests
servers:
- url: https://gitlab.com
tags:
- name: project_topics
  description: Operations about project_topics
paths:
  /api/v4/topics:
    get:
      summary: Get topics
      description: This feature was introduced in GitLab 14.5.
      parameters:
      - in: query
        name: search
        description: Return list of topics matching the search criteria
        required: false
        example: search
        schema:
          type: string
      - in: query
        name: without_projects
        description: Return list of topics without assigned projects
        required: false
        schema:
          type: boolean
      - in: query
        name: organization_id
        description: The organization id for the topics
        required: false
        schema:
          type: integer
          format: int32
          default: {}
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: Get topics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Projects_Topic'
      tags:
      - project_topics
      operationId: getApiV4Topics
    post:
      summary: Create a topic
      description: This feature was introduced in GitLab 14.5.
      responses:
        '201':
          description: Create a topic
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Projects_Topic'
      tags:
      - project_topics
      operationId: postApiV4Topics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4Topics'
        required: true
  /api/v4/topics/{id}:
    get:
      summary: Get topic
      description: This feature was introduced in GitLab 14.5.
      parameters:
      - in: path
        name: id
        description: ID of project topic
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get topic
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Projects_Topic'
      tags:
      - project_topics
      operationId: getApiV4TopicsId
    put:
      summary: Update a topic
      description: This feature was introduced in GitLab 14.5.
      parameters:
      - in: path
        name: id
        description: ID of project topic
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Update a topic
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Projects_Topic'
      tags:
      - project_topics
      operationId: putApiV4TopicsId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4TopicsId'
        required: true
    delete:
      summary: Delete a topic
      description: This feature was introduced in GitLab 14.9.
      parameters:
      - in: path
        name: id
        description: ID of project topic
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: Delete a topic
      tags:
      - project_topics
      operationId: deleteApiV4TopicsId
  /api/v4/topics/merge:
    post:
      summary: Merge topics
      description: This feature was introduced in GitLab 15.4.
      responses:
        '201':
          description: Merge topics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Projects_Topic'
      tags:
      - project_topics
      operationId: postApiV4TopicsMerge
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4TopicsMerge'
        required: true
components:
  schemas:
    putApiV4TopicsId:
      type: object
      properties:
        name:
          type: string
          description: Slug (name)
        title:
          type: string
          description: Title
        description:
          type: string
          description: Description
        avatar:
          type: string
          description: Avatar image for topic
          format: binary
      description: Update a topic
    API_Entities_Projects_Topic:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 1
        name:
          type: string
          example: topic1
        title:
          type: string
          example: Topic 1
        description:
          type: string
          example: A description
        total_projects_count:
          type: integer
          format: int32
          example: 1
        organization_id:
          type: integer
          format: int32
          example: 1
        avatar_url:
          type: string
          example: http://gitlab.example.com/uploads/topic/avatar/1/avatar.png
      required:
      - id
      - name
      - title
      - description
      - total_projects_count
      - organization_id
      - avatar_url
      description: API_Entities_Projects_Topic model
    postApiV4TopicsMerge:
      type: object
      properties:
        source_topic_id:
          type: integer
          format: int32
          description: ID of source project topic
        target_topic_id:
          type: integer
          format: int32
          description: ID of target project topic
      required:
      - source_topic_id
      - target_topic_id
      description: Merge topics
    postApiV4Topics:
      type: object
      properties:
        name:
          type: string
          description: Slug (name)
        title:
          type: string
          description: Title
        description:
          type: string
          description: Description
        avatar:
          type: string
          description: Avatar image for topic
          format: binary
        organization_id:
          type: integer
          format: int32
          description: The organization id for the topic
          default: {}
      required:
      - name
      - title
      description: Create a topic
  securitySchemes:
    access_token_header:
      type: apiKey
      name: PRIVATE-TOKEN
      in: header
    access_token_query:
      type: apiKey
      name: private_token
      in: query
