swagger: '2.0'
info:
  title: GitLab access_requests audit_events API
  version: v4
  description: Operations related to access requests
host: gitlab.com
produces:
- application/json
tags:
- name: audit_events
  description: Operations about audit_events
paths:
  /api/v4/groups/{id}/audit_events:
    get:
      description: Get a list of audit events in this group.
      produces:
      - application/json
      parameters:
      - in: query
        name: created_after
        description: Return audit events created after the specified time
        type: string
        format: date-time
        required: false
        example: '2016-01-19T09:05:50.355Z'
      - in: query
        name: created_before
        description: Return audit events created before the specified time
        type: string
        format: date-time
        required: false
        example: '2016-01-19T09:05:50.355Z'
      - in: query
        name: page
        description: Current page number
        type: integer
        format: int32
        default: 1
        required: false
        example: 1
      - in: query
        name: per_page
        description: Number of items per page
        type: integer
        format: int32
        default: 20
        required: false
        example: 20
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get a list of audit events in this group.
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_AuditEvent'
      tags:
      - audit_events
      operationId: getApiV4GroupsIdAuditEvents
definitions:
  API_Entities_AuditEvent:
    type: object
    properties:
      id:
        type: string
      author_id:
        type: string
      entity_id:
        type: string
      entity_type:
        type: string
      event_name:
        type: string
      details:
        type: string
      created_at:
        type: string
    required:
    - id
    - author_id
    - entity_id
    - entity_type
    - event_name
    - details
    - created_at
    description: API_Entities_AuditEvent model
securityDefinitions:
  access_token_header:
    type: apiKey
    name: PRIVATE-TOKEN
    in: header
  access_token_query:
    type: apiKey
    name: private_token
    in: query
