openapi: 3.2.0
info:
  title: GitLab access_requests Broadcast Messages API
  version: v4
  description: Operations related to access requests
servers:
- url: https://gitlab.com
tags:
- name: broadcast_messages
  description: Operations about broadcast_messages
paths:
  /api/v4/broadcast_messages:
    get:
      summary: Get all broadcast messages
      description: This feature was introduced in GitLab 8.12.
      parameters:
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: Get all broadcast messages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_System_BroadcastMessage'
      tags:
      - broadcast_messages
      operationId: getApiV4BroadcastMessages
    post:
      summary: Create a broadcast message
      description: This feature was introduced in GitLab 8.12.
      responses:
        '201':
          description: Create a broadcast message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_System_BroadcastMessage'
      tags:
      - broadcast_messages
      operationId: postApiV4BroadcastMessages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4BroadcastMessages'
        required: true
  /api/v4/broadcast_messages/{id}:
    get:
      summary: Get a specific broadcast message
      description: This feature was introduced in GitLab 8.12.
      parameters:
      - in: path
        name: id
        description: Broadcast message ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get a specific broadcast message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_System_BroadcastMessage'
      tags:
      - broadcast_messages
      operationId: getApiV4BroadcastMessagesId
    put:
      summary: Update a broadcast message
      description: This feature was introduced in GitLab 8.12.
      parameters:
      - in: path
        name: id
        description: Broadcast message ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Update a broadcast message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_System_BroadcastMessage'
      tags:
      - broadcast_messages
      operationId: putApiV4BroadcastMessagesId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4BroadcastMessagesId'
        required: true
    delete:
      summary: Delete a broadcast message
      description: This feature was introduced in GitLab 8.12.
      parameters:
      - in: path
        name: id
        description: Broadcast message ID
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Delete a broadcast message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_System_BroadcastMessage'
      tags:
      - broadcast_messages
      operationId: deleteApiV4BroadcastMessagesId
components:
  schemas:
    putApiV4BroadcastMessagesId:
      type: object
      properties:
        message:
          type: string
          description: Message to display
        starts_at:
          type: string
          format: date-time
          description: Starting time
        ends_at:
          type: string
          format: date-time
          description: Ending time
        color:
          type: string
          description: Background color (Deprecated. Use "theme" instead.)
        font:
          type: string
          description: Foreground color (Deprecated. Use "theme" instead.)
        target_access_levels:
          type: array
          description: Target user roles
          items:
            type: integer
            format: int32
            enum:
            - 10
            - 15
            - 20
            - 30
            - 40
            - 50
        target_path:
          type: string
          description: Target path
        broadcast_type:
          type: string
          description: Broadcast Type
          enum:
          - banner
          - notification
        dismissable:
          type: boolean
          description: Is dismissable
        theme:
          type: string
          description: The theme for the message
          enum:
          - indigo
          - light-indigo
          - blue
          - light-blue
          - green
          - light-green
          - red
          - light-red
          - dark
          - light
      description: Update a broadcast message
    API_Entities_System_BroadcastMessage:
      type: object
      properties:
        id:
          type: integer
          format: int32
        message:
          type: string
        starts_at:
          type: string
        ends_at:
          type: string
        color:
          type: string
        font:
          type: string
        target_access_levels:
          type: string
        target_path:
          type: string
        broadcast_type:
          type: string
        theme:
          type: string
        dismissable:
          type: boolean
        active:
          type: boolean
      required:
      - id
      - message
      - starts_at
      - ends_at
      - color
      - font
      - target_access_levels
      - target_path
      - broadcast_type
      - theme
      - dismissable
      - active
      description: API_Entities_System_BroadcastMessage model
    postApiV4BroadcastMessages:
      type: object
      properties:
        message:
          type: string
          description: Message to display
        starts_at:
          type: string
          format: date-time
          description: Starting time
          default: {}
        ends_at:
          type: string
          format: date-time
          description: Ending time
          default: {}
        color:
          type: string
          description: Background color (Deprecated. Use "theme" instead.)
        font:
          type: string
          description: Foreground color (Deprecated. Use "theme" instead.)
        target_access_levels:
          type: array
          description: Target user roles
          items:
            type: integer
            format: int32
            enum:
            - 10
            - 15
            - 20
            - 30
            - 40
            - 50
        target_path:
          type: string
          description: Target path
        broadcast_type:
          type: string
          description: Broadcast type. Defaults to banner
          enum:
          - banner
          - notification
          default: banner
        dismissable:
          type: boolean
          description: Is dismissable
        theme:
          type: string
          description: The theme for the message
          enum:
          - indigo
          - light-indigo
          - blue
          - light-blue
          - green
          - light-green
          - red
          - light-red
          - dark
          - light
      required:
      - message
      description: Create a broadcast message
  securitySchemes:
    access_token_header:
      type: apiKey
      name: PRIVATE-TOKEN
      in: header
    access_token_query:
      type: apiKey
      name: private_token
      in: query
