openapi: 3.2.0
info:
  title: GitLab access_requests Groups API
  version: v4
  description: Operations related to access requests
servers:
- url: https://gitlab.com
tags:
- name: groups
  description: Operations about groups
paths:
  /api/v4/groups:
    get:
      description: Get a groups list
      parameters:
      - in: query
        name: statistics
        description: Include project statistics
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: archived
        description: Limit by archived status
        required: false
        schema:
          type: boolean
      - in: query
        name: skip_groups
        description: Array of group ids to exclude from list
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - in: query
        name: all_available
        description: When `true`, returns all accessible groups. When `false`, returns only groups where the user is a member.
        required: false
        schema:
          type: boolean
      - in: query
        name: visibility
        description: Limit by visibility
        required: false
        schema:
          type: string
          enum:
          - private
          - internal
          - public
      - in: query
        name: search
        description: Search for a specific group
        required: false
        schema:
          type: string
      - in: query
        name: owned
        description: Limit by owned by authenticated user
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: order_by
        description: Order by name, path, id or similarity if searching
        required: false
        schema:
          type: string
          enum:
          - name
          - path
          - id
          - similarity
          default: name
      - in: query
        name: sort
        description: Sort by asc (ascending) or desc (descending)
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - in: query
        name: min_access_level
        description: Minimum access level of authenticated user
        required: false
        schema:
          type: integer
          format: int32
          enum:
          - 10
          - 15
          - 20
          - 30
          - 40
          - 50
      - in: query
        name: top_level_only
        description: Only include top-level groups
        required: false
        schema:
          type: boolean
      - in: query
        name: marked_for_deletion_on
        description: Return groups that are marked for deletion on this date
        required: false
        schema:
          type: string
          format: date
      - in: query
        name: active
        description: Limit by groups that are not archived and not marked for deletion
        required: false
        schema:
          type: boolean
      - in: query
        name: repository_storage
        description: Filter by repository storage used by the group
        required: false
        schema:
          type: string
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      - in: query
        name: with_custom_attributes
        description: Include custom attributes in the response
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Get a groups list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_Group'
      tags:
      - groups
      operationId: getApiV4Groups
    post:
      description: Create a group. Available only for users who can create groups.
      responses:
        '201':
          description: Create a group. Available only for users who can create groups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Group'
      tags:
      - groups
      operationId: postApiV4Groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4Groups'
        required: true
  /api/v4/groups/{id}:
    put:
      description: Update a group. Available only for users who can administrate groups.
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Update a group. Available only for users who can administrate groups.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Group'
      tags:
      - groups
      operationId: putApiV4GroupsId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4GroupsId'
        required: true
    get:
      description: Get a single group, with containing projects.
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      - in: query
        name: with_custom_attributes
        description: Include custom attributes in the response
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: with_projects
        description: Omit project details
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Get a single group, with containing projects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_GroupDetail'
      tags:
      - groups
      operationId: getApiV4GroupsId
    delete:
      description: Remove a group.
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Remove a group.
      tags:
      - groups
      operationId: deleteApiV4GroupsId
  /api/v4/groups/{id}/archive:
    post:
      description: Archive a group
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Archive a group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Group'
        '403':
          description: Unauthenticated
      tags:
      - groups
      operationId: postApiV4GroupsIdArchive
  /api/v4/groups/{id}/unarchive:
    post:
      description: Unarchive a group
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Unarchive a group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Group'
        '403':
          description: Unauthenticated
      tags:
      - groups
      operationId: postApiV4GroupsIdUnarchive
  /api/v4/groups/{id}/restore:
    post:
      description: Restore a group.
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Restore a group.
      tags:
      - groups
      operationId: postApiV4GroupsIdRestore
  /api/v4/groups/{id}/groups/shared:
    get:
      description: Get a list of shared groups this group was invited to
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      - in: query
        name: skip_groups
        description: Array of group ids to exclude from list
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - in: query
        name: visibility
        description: Limit by visibility
        required: false
        schema:
          type: string
          enum:
          - private
          - internal
          - public
      - in: query
        name: search
        description: Search for a specific group
        required: false
        schema:
          type: string
      - in: query
        name: min_access_level
        description: Minimum access level of authenticated user
        required: false
        schema:
          type: integer
          format: int32
          enum:
          - 10
          - 15
          - 20
          - 30
          - 40
          - 50
      - in: query
        name: order_by
        description: Order by name, path, id or similarity if searching
        required: false
        schema:
          type: string
          enum:
          - name
          - path
          - id
          - similarity
          default: name
      - in: query
        name: sort
        description: Sort by asc (ascending) or desc (descending)
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      - in: query
        name: with_custom_attributes
        description: Include custom attributes in the response
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Get a list of shared groups this group was invited to
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_Group'
      tags:
      - groups
      operationId: getApiV4GroupsIdGroupsShared
  /api/v4/groups/{id}/invited_groups:
    get:
      description: Get a list of invited groups in this group
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      - in: query
        name: relation
        description: Include group relations
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - direct
            - inherited
      - in: query
        name: search
        description: Search for a specific group
        required: false
        schema:
          type: string
      - in: query
        name: min_access_level
        description: Minimum access level of authenticated user
        required: false
        schema:
          type: integer
          format: int32
          enum:
          - 10
          - 15
          - 20
          - 30
          - 40
          - 50
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      - in: query
        name: with_custom_attributes
        description: Include custom attributes in the response
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Get a list of invited groups in this group
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_Group'
      tags:
      - groups
      operationId: getApiV4GroupsIdInvitedGroups
  /api/v4/groups/{id}/projects:
    get:
      description: Get a list of projects in this group.
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      - in: query
        name: active
        description: Limit by projects that are not archived and not marked for deletion
        required: false
        schema:
          type: boolean
      - in: query
        name: archived
        description: Limit by archived status
        required: false
        schema:
          type: boolean
      - in: query
        name: visibility
        description: Limit by visibility
        required: false
        schema:
          type: string
          enum:
          - private
          - internal
          - public
      - in: query
        name: search
        description: Return list of authorized projects matching the search criteria
        required: false
        schema:
          type: string
      - in: query
        name: order_by
        description: Return projects ordered by field
        required: false
        schema:
          type: string
          enum:
          - id
          - name
          - path
          - created_at
          - updated_at
          - last_activity_at
          - similarity
          - star_count
          default: created_at
      - in: query
        name: sort
        description: Return projects sorted in ascending and descending order
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: simple
        description: Return only the ID, URL, name, and path of each project
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: owned
        description: Limit by owned by authenticated user
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: starred
        description: Limit by starred status
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: with_issues_enabled
        description: Limit by enabled issues feature
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: with_merge_requests_enabled
        description: Limit by enabled merge requests feature
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: with_shared
        description: Include projects shared to this group
        required: false
        schema:
          type: boolean
          default: true
      - in: query
        name: include_subgroups
        description: Includes projects in subgroups of this group
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: include_ancestor_groups
        description: Includes projects in ancestors of this group
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: min_access_level
        description: Limit by minimum access level of authenticated user on projects
        required: false
        schema:
          type: integer
          format: int32
          enum:
          - 10
          - 15
          - 20
          - 30
          - 40
          - 50
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      - in: query
        name: with_custom_attributes
        description: Include custom attributes in the response
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: with_security_reports
        description: Return only projects having security report artifacts present
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Get a list of projects in this group.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_Project'
      tags:
      - groups
      operationId: getApiV4GroupsIdProjects
  /api/v4/groups/{id}/projects/shared:
    get:
      description: Get a list of shared projects in this group
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      - in: query
        name: archived
        description: Limit by archived status
        required: false
        schema:
          type: boolean
      - in: query
        name: visibility
        description: Limit by visibility
        required: false
        schema:
          type: string
          enum:
          - private
          - internal
          - public
      - in: query
        name: search
        description: Return list of authorized projects matching the search criteria
        required: false
        schema:
          type: string
      - in: query
        name: order_by
        description: Return projects ordered by field
        required: false
        schema:
          type: string
          enum:
          - id
          - name
          - path
          - created_at
          - updated_at
          - last_activity_at
          - star_count
          default: created_at
      - in: query
        name: sort
        description: Return projects sorted in ascending and descending order
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: simple
        description: Return only the ID, URL, name, and path of each project
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: starred
        description: Limit by starred status
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: with_issues_enabled
        description: Limit by enabled issues feature
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: with_merge_requests_enabled
        description: Limit by enabled merge requests feature
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: min_access_level
        description: Limit by minimum access level of authenticated user on projects
        required: false
        schema:
          type: integer
          format: int32
          enum:
          - 10
          - 15
          - 20
          - 30
          - 40
          - 50
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      - in: query
        name: with_custom_attributes
        description: Include custom attributes in the response
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Get a list of shared projects in this group
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_Project'
      tags:
      - groups
      operationId: getApiV4GroupsIdProjectsShared
  /api/v4/groups/{id}/subgroups:
    get:
      description: Get a list of subgroups in this group.
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      - in: query
        name: statistics
        description: Include project statistics
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: archived
        description: Limit by archived status
        required: false
        schema:
          type: boolean
      - in: query
        name: skip_groups
        description: Array of group ids to exclude from list
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - in: query
        name: all_available
        description: When `true`, returns all accessible groups. When `false`, returns only groups where the user is a member.
        required: false
        schema:
          type: boolean
      - in: query
        name: visibility
        description: Limit by visibility
        required: false
        schema:
          type: string
          enum:
          - private
          - internal
          - public
      - in: query
        name: search
        description: Search for a specific group
        required: false
        schema:
          type: string
      - in: query
        name: owned
        description: Limit by owned by authenticated user
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: order_by
        description: Order by name, path, id or similarity if searching
        required: false
        schema:
          type: string
          enum:
          - name
          - path
          - id
          - similarity
          default: name
      - in: query
        name: sort
        description: Sort by asc (ascending) or desc (descending)
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - in: query
        name: min_access_level
        description: Minimum access level of authenticated user
        required: false
        schema:
          type: integer
          format: int32
          enum:
          - 10
          - 15
          - 20
          - 30
          - 40
          - 50
      - in: query
        name: top_level_only
        description: Only include top-level groups
        required: false
        schema:
          type: boolean
      - in: query
        name: marked_for_deletion_on
        description: Return groups that are marked for deletion on this date
        required: false
        schema:
          type: string
          format: date
      - in: query
        name: active
        description: Limit by groups that are not archived and not marked for deletion
        required: false
        schema:
          type: boolean
      - in: query
        name: repository_storage
        description: Filter by repository storage used by the group
        required: false
        schema:
          type: string
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      - in: query
        name: with_custom_attributes
        description: Include custom attributes in the response
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Get a list of subgroups in this group.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_Group'
      tags:
      - groups
      operationId: getApiV4GroupsIdSubgroups
  /api/v4/groups/{id}/descendant_groups:
    get:
      description: Get a list of descendant groups of this group.
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      - in: query
        name: statistics
        description: Include project statistics
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: archived
        description: Limit by archived status
        required: false
        schema:
          type: boolean
      - in: query
        name: skip_groups
        description: Array of group ids to exclude from list
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - in: query
        name: all_available
        description: When `true`, returns all accessible groups. When `false`, returns only groups where the user is a member.
        required: false
        schema:
          type: boolean
      - in: query
        name: visibility
        description: Limit by visibility
        required: false
        schema:
          type: string
          enum:
          - private
          - internal
          - public
      - in: query
        name: search
        description: Search for a specific group
        required: false
        schema:
          type: string
      - in: query
        name: owned
        description: Limit by owned by authenticated user
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: order_by
        description: Order by name, path, id or similarity if searching
        required: false
        schema:
          type: string
          enum:
          - name
          - path
          - id
          - similarity
          default: name
      - in: query
        name: sort
        description: Sort by asc (ascending) or desc (descending)
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
      - in: query
        name: min_access_level
        description: Minimum access level of authenticated user
        required: false
        schema:
          type: integer
          format: int32
          enum:
          - 10
          - 15
          - 20
          - 30
          - 40
          - 50
      - in: query
        name: top_level_only
        description: Only include top-level groups
        required: false
        schema:
          type: boolean
      - in: query
        name: marked_for_deletion_on
        description: Return groups that are marked for deletion on this date
        required: false
        schema:
          type: string
          format: date
      - in: query
        name: active
        description: Limit by groups that are not archived and not marked for deletion
        required: false
        schema:
          type: boolean
      - in: query
        name: repository_storage
        description: Filter by repository storage used by the group
        required: false
        schema:
          type: string
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      - in: query
        name: with_custom_attributes
        description: Include custom attributes in the response
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Get a list of descendant groups of this group.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_Group'
      tags:
      - groups
      operationId: getApiV4GroupsIdDescendantGroups
  /api/v4/groups/{id}/projects/{project_id}:
    post:
      description: Transfer a project to the group namespace. Available only for admin.
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      - in: path
        name: project_id
        description: The ID or path of the project
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Transfer a project to the group namespace. Available only for admin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_GroupDetail'
      tags:
      - groups
      operationId: postApiV4GroupsIdProjectsProjectId
  /api/v4/groups/{id}/transfer_locations:
    get:
      description: Get the groups to where the current group can be transferred to
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      - in: query
        name: search
        description: Return list of namespaces matching the search criteria
        required: false
        schema:
          type: string
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: Get the groups to where the current group can be transferred to
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_Group'
      tags:
      - groups
      operationId: getApiV4GroupsIdTransferLocations
  /api/v4/groups/{id}/transfer:
    post:
      description: Transfer a group to a new parent group or promote a subgroup to a top-level group
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Transfer a group to a new parent group or promote a subgroup to a top-level group
      tags:
      - groups
      operationId: postApiV4GroupsIdTransfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4GroupsIdTransfer'
        required: true
  /api/v4/groups/{id}/transfer_to_organization:
    post:
      description: Transfer a group to an organization
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Transfer a group to an organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_GroupDetail'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Group or Organization not found
        '422':
          description: Unprocessable entity
      tags:
      - groups
      operationId: postApiV4GroupsIdTransferToOrganization
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4GroupsIdTransferToOrganization'
        required: true
  /api/v4/groups/{id}/share:
    post:
      description: Share a group with a group
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Share a group with a group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_GroupDetail'
      tags:
      - groups
      operationId: postApiV4GroupsIdShare
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4GroupsIdShare'
        required: true
  /api/v4/groups/{id}/share/{group_id}:
    delete:
      description: Unshare a group with a group
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      - in: path
        name: group_id
        description: The ID of the shared group
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: Unshare a group with a group
      tags:
      - groups
      operationId: deleteApiV4GroupsIdShareGroupId
  /api/v4/groups/{id}/audit_events/{audit_event_id}:
    get:
      description: Get a specific audit event in this group.
      parameters:
      - in: path
        name: audit_event_id
        description: The ID of the audit event
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get a specific audit event in this group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_AuditEvent'
      tags:
      - groups
      operationId: getApiV4GroupsIdAuditEventsAuditEventId
  /api/v4/groups/{id}/saml_users:
    get:
      description: Get a list of SAML users of the group
      parameters:
      - in: query
        name: username
        description: Return single user with a specific username.
        required: false
        schema:
          type: string
      - in: query
        name: search
        description: Search users by name, email, username.
        required: false
        schema:
          type: string
      - in: query
        name: active
        description: Return only active users.
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: blocked
        description: Return only blocked users.
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: created_after
        description: Return users created after the specified time.
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        description: Return users created before the specified time.
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get a list of SAML users of the group
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_UserPublic'
      tags:
      - groups
      operationId: getApiV4GroupsIdSamlUsers
  /api/v4/groups/{id}/provisioned_users:
    get:
      description: Get a list of users provisioned by the group
      parameters:
      - in: query
        name: username
        description: Return a single user with a specific username
        required: false
        schema:
          type: string
      - in: query
        name: search
        description: Search users by name, email or username
        required: false
        schema:
          type: string
      - in: query
        name: active
        description: Return only active users
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: blocked
        description: Return only blocked users
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: created_after
        description: Return users created after the specified time
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        description: Return users created before the specified time
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get a list of users provisioned by the group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_UserPublic'
      tags:
      - groups
      operationId: getApiV4GroupsIdProvisionedUsers
  /api/v4/groups/{id}/runners:
    get:
      summary: List group's runners
      description: List all runners available in the group as well as its ancestor groups, including any allowed shared runners.
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      - in: query
        name: type
        description: The type of runners to return
        required: false
        schema:
          type: string
          enum:
          - instance_type
          - group_type
          - project_type
      - in: query
        name: paused
        description: Whether to include only runners that are accepting or ignoring new jobs
        required: false
        schema:
          type: boolean
      - in: query
        name: status
        description: The status of runners to return
        required: false
        schema:
          type: string
          enum:
          - active
          - paused
          - online
          - offline
          - never_contacted
          - stale
      - in: query
        name: tag_list
        description: A list of runner tags
        required: false
        example: '[''macos'', ''shell'']'
        schema:
          type: array
          items:
            type: string
      - in: query
        name: version_prefix
        description: The version prefix of runners to return
        required: false
        example: '''15.1.'' or ''16.'''
        schema:
          type: string
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: Get runners available for group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Ci_Runner'
        '400':
          description: Scope contains invalid value
        '403':
          description: Forbidden
      tags:
      - groups
      operationId: getApiV4GroupsIdRunners
  /api/v4/groups/{id}/runners/reset_registration_token:
    post:
      summary: Reset the runner registration token for a group
      description: Reset runner registration token
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Reset runner registration token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Ci_ResetTokenResult'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Group Not Found
      tags:
      - groups
      operationId: postApiV4GroupsIdRunnersResetRegistrationToken
  /api/v4/groups/{id}/placeholder_reassignments:
    get:
      summary: Download the list of pending placeholder assignments for a group
      description: "Downloads a CSV file of pending placeholder assignments for a group.\n          This feature was added in GitLab 17.10"
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Download the list of pending placeholder assignments for a group
      tags:
      - groups
      operationId: getApiV4GroupsIdPlaceholderReassignments
    post:
      summary: Upload placeholder reassignments CSV file
      description: Uploads a CSV file containing placeholder reassignments for a group
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Upload placeholder reassignments CSV file
      tags:
      - groups
      operationId: postApiV4GroupsIdPlaceholderReassignments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4GroupsIdPlaceholderReassignments'
        required: true
  /api/v4/groups/{id}/placeholder_reassignments/authorize:
    post:
      summary: Workhorse authorization for the reassignment CSV file
      description: "Authorizes Workhorse to handle CSV file uploads for placeholder reassignments.\n          This feature was introduced in GitLab 17.10"
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Workhorse authorization for the reassignment CSV file
      tags:
      - groups
      operationId: postApiV4GroupsIdPlaceholderReassignmentsAuthorize
  /api/v4/groups/{id}/issues:
    get:
      description: Get a list of group issues
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      - in: query
        name: with_labels_details
        description: Return titles of labels and other details
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: state
        description: Return opened, closed, or all issues
        required: false
        schema:
          type: string
          enum:
          - opened
          - closed
          - all
          default: all
      - in: query
        name: closed_by_id
        description: Return issues which were closed by the user with the given ID.
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: order_by
        description: Return issues ordered by `created_at`, `due_date`, `label_priority`, `milestone_due`, `popularity`, `priority`, `relative_position`, `title`, or `updated_at` fields.
        required: false
        schema:
          type: string
          enum:
          - created_at
          - due_date
          - label_priority
          - milestone_due
          - popularity
          - priority
          - relative_position
          - title
          - updated_at
          - weight
          default: created_at
      - in: query
        name: sort
        description: Return issues sorted in `asc` or `desc` order.
        required: false
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - in: query
        name: due_date
        description: 'Return issues that have no due date (`0`), or whose due date is this week, this month, between two weeks ago and next month, or which are overdue. Accepts: `overdue`, `week`, `month`, `next_month_and_previous_two_weeks`, `0`'
        required: false
        schema:
          type: string
          enum:
          - '0'
          - any
          - today
          - tomorrow
          - overdue
          - week
          - month
          - next_month_and_previous_two_weeks
          - ''
      - in: query
        name: issue_type
        description: 'The type of the issue. Accepts: issue, incident, test_case, requirement, task, ticket'
        required: false
        schema:
          type: string
          enum:
          - issue
          - incident
          - test_case
          - requirement
          - task
          - ticket
      - in: query
        name: labels
        description: Comma-separated list of label names
        required: false
        schema:
          type: array
          items:
            type: string
      - in: query
        name: milestone
        description: Milestone title
        required: false
        schema:
          type: string
      - in: query
        name: milestone_id
        description: Return issues assigned to milestones with the specified timebox value ("Any", "None", "Upcoming" or "Started")
        required: false
        schema:
          type: string
          enum:
          - Any
          - None
          - Upcoming
          - Started
      - in: query
        name: iids
        description: The IID array of issues
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - in: query
        name: search
        description: Search issues for text present in the title, description, or any combination of these
        required: false
        schema:
          type: string
      - in: query
        name: in
        description: '`title`, `description`, or a string joining them with comma'
        required: false
        schema:
          type: string
      - in: query
        name: author_id
        description: Return issues which are authored by the user with the given ID
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: author_username
        description: Return issues which are authored by the user with the given username
        required: false
        schema:
          type: string
      - in: query
        name: assignee_id
        description: Return issues which are assigned to the user with the given ID
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: assignee_username
        description: Return issues which are assigned to the user with the given username
        required: false
        schema:
          type: array
          items:
            type: string
      - in: query
        name: created_after
        description: Return issues created after the specified time
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        description: Return issues created before the specified time
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: updated_after
        description: Return issues updated after the specified time
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: updated_before
        description: Return issues updated before the specified time
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: not[labels]
        description: Comma-separated list of label names
        required: false
        schema:
          type: array
          items:
            type: string
      - in: query
        name: not[milestone]
        description: Milestone title
        required: false
        schema:
          type: string
      - in: query
        name: not[milestone_id]
        description: Return issues assigned to milestones without the specified timebox value ("Any", "None", "Upcoming" or "Started")
        required: false
        schema:
          type: string
          enum:
          - Any
          - None
          - Upcoming
          - Started
      - in: query
        name: not[iids]
        description: The IID array of issues
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - in: query
        name: not[author_id]
        description: Return issues which are not authored by the user with the given ID
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: not[author_username]
        description: Return issues which are not authored by the user with the given username
        required: false
        schema:
          type: string
      - in: query
        name: not[assignee_id]
        description: Return issues which are not assigned to the user with the given ID
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: not[assignee_username]
        description: Return issues which are not assigned to the user with the given username
        required: false
        schema:
          type: array
          items:
            type: string
      - in: query
        name: not[weight]
        description: Return issues without the specified weight
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: not[iteration_id]
        description: Return issues which are not assigned to the iteration with the given ID
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: not[iteration_title]
        description: Return issues which are not assigned to the iteration with the given title
        required: false
        schema:
          type: string
      - in: query
        name: scope
        description: 'Return issues for the given scope: `created_by_me`, `assigned_to_me` or `all`'
        required: false
        schema:
          type: string
          enum:
          - created-by-me
          - assigned-to-me
          - created_by_me
          - assigned_to_me
          - all
      - in: query
        name: my_reaction_emoji
        description: Return issues reacted by the authenticated user by the given emoji
        required: false
        schema:
          type: string
      - in: query
        name: confidential
        description: Filter confidential or public issues
        required: false
        schema:
          type: boolean
      - in: query
        name: weight
        description: The weight of the issue
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: epic_id
        description: The ID of an epic associated with the issues
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: health_status
        description: 'The health status of the issue. Must be one of: on_track, needs_attention, at_risk, none, any'
        required: false
        schema:
          type: string
          enum:
          - on_track
          - needs_attention
          - at_risk
          - none
          - any
      - in: query
        name: iteration_id
        description: Return issues which are assigned to the iteration with the given ID
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: iteration_title
        description: Return issues which are assigned to the iteration with the given title
        required: false
        schema:
          type: string
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      - in: query
        name: non_archived
        description: Return issues from non archived projects
        required: false
        schema:
          type: boolean
          default: true
      responses:
        '200':
          description: Get a list of group issues
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Issue'
      tags:
      - groups
      operationId: getApiV4GroupsIdIssues
  /api/v4/groups/{id}/issues_statistics:
    get:
      description: Get statistics for the list of group issues
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      - in: query
        name: labels
        description: Comma-separated list of label names
        required: false
        schema:
          type: array
          items:
            type: string
      - in: query
        name: milestone
        description: Milestone title
        required: false
        schema:
          type: string
      - in: query
        name: milestone_id
        description: Return issues assigned to milestones with the specified timebox value ("Any", "None", "Upcoming" or "Started")
        required: false
        schema:
          type: string
          enum:
          - Any
          - None
          - Upcoming
          - Started
      - in: query
        name: iids
        description: The IID array of issues
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - in: query
        name: search
        description: Search issues for text present in the title, description, or any combination of these
        required: false
        schema:
          type: string
      - in: query
        name: in
        description: '`title`, `description`, or a string joining them with comma'
        required: false
        schema:
          type: string
      - in: query
        name: author_id
        description: Return issues which are authored by the user with the given ID
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: author_username
        description: Return issues which are authored by the user with the given username
        required: false
        schema:
          type: string
      - in: query
        name: assignee_id
        description: Return issues which are assigned to the user with the given ID
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: assignee_username
        description: Return issues which are assigned to the user with the given username
        required: false
        schema:
          type: array
          items:
            type: string
      - in: query
        name: created_after
        description: Return issues created after the specified time
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: created_before
        description: Return issues created before the specified time
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: updated_after
        description: Return issues updated after the specified time
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: updated_before
        description: Return issues updated before the specified time
        required: false
        schema:
          type: string
          format: date-time
      - in: query
        name: not[labels]
        description: Comma-separated list of label names
        required: false
        schema:
          type: array
          items:
            type: string
      - in: query
        name: not[milestone]
        description: Milestone title
        required: false
        schema:
          type: string
      - in: query
        name: not[milestone_id]
        description: Return issues assigned to milestones without the specified timebox value ("Any", "None", "Upcoming" or "Started")
        required: false
        schema:
          type: string
          enum:
          - Any
          - None
          - Upcoming
          - Started
      - in: query
        name: not[iids]
        description: The IID array of issues
        required: false
        schema:
          type: array
          items:
            type: integer
            format: int32
      - in: query
        name: not[author_id]
        description: Return issues which are not authored by the user with the given ID
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: not[author_username]
        description: Return issues which are not authored by the user with the given username
        required: false
        schema:
          type: string
      - in: query
        name: not[assignee_id]
        description: Return issues which are not assigned to the user with the given ID
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: not[assignee_username]
        description: Return issues which are not assigned to the user with the given username
        required: false
        schema:
          type: array
          items:
            type: string
      - in: query
        name: not[weight]
        description: Return issues without the specified weight
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: not[iteration_id]
        description: Return issues which are not assigned to the iteration with the given ID
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: not[iteration_title]
        description: Return issues which are not assigned to the iteration with the given title
        required: false
        schema:
          type: string
      - in: query
        name: scope
        description: 'Return issues for the given scope: `created_by_me`, `assigned_to_me` or `all`'
        required: false
        schema:
          type: string
          enum:
          - created-by-me
          - assigned-to-me
          - created_by_me
          - assigned_to_me
          - all
      - in: query
        name: my_reaction_emoji
        description: Return issues reacted by the authenticated user by the given emoji
        required: false
        schema:
          type: string
      - in: query
        name: confidential
        description: Filter confidential or public issues
        required: false
        schema:
          type: boolean
      - in: query
        name: weight
        description: The weight of the issue
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: epic_id
        description: The ID of an epic associated with the issues
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: health_status
        description: 'The health status of the issue. Must be one of: on_track, needs_attention, at_risk, none, any'
        required: false
        schema:
          type: string
          enum:
          - on_track
          - needs_attention
          - at_risk
          - none
          - any
      - in: query
        name: iteration_id
        description: Return issues which are assigned to the iteration with the given ID
        required: false
        schema:
          type: integer
          format: int32
      - in: query
        name: iteration_title
        description: Return issues which are assigned to the iteration with the given title
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Get statistics for the list of group issues
      tags:
      - groups
      operationId: getApiV4GroupsIdIssuesStatistics
  /api/v4/groups/{id}/uploads/authorize:
    post:
      summary: Workhorse authorize the file upload
      description: This feature was introduced in GitLab 19.0
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Workhorse authorize the file upload
        '404':
          description: Not found
      tags:
      - groups
      operationId: postApiV4GroupsIdUploadsAuthorize
  /api/v4/groups/{id}/uploads:
    post:
      summary: Upload a file to a group
      description: Uploads a file to the specified group. Returns a markdown-formatted link to the file.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '201':
          description: Upload a file to a group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_GroupUpload'
        '400':
          description: Bad request
        '404':
          description: Not found
      tags:
      - groups
      operationId: postApiV4GroupsIdUploads
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4GroupsIdUploads'
        required: true
    get:
      description: Get the list of uploads of a group
      parameters:
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get the list of uploads of a group
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_MarkdownUploadAdmin'
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
      - groups
      operationId: getApiV4GroupsIdUploads
  /api/v4/groups/{id}/uploads/{upload_id}:
    get:
      description: Download a single group upload by ID
      parameters:
      - in: path
        name: upload_id
        description: The ID of a group upload
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Download a single group upload by ID
          content:
            application/json:
              schema:
                type: string
                format: binary
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
      - groups
      operationId: getApiV4GroupsIdUploadsUploadId
    delete:
      description: Delete a single group upload
      parameters:
      - in: path
        name: upload_id
        description: The ID of a group upload
        required: true
        schema:
          type: integer
          format: int32
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: Delete a single group upload
        '400':
          description: Bad request
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
      - groups
      operationId: deleteApiV4GroupsIdUploadsUploadId
  /api/v4/groups/{id}/uploads/{secret}/{filename}:
    get:
      description: Download a single group upload by secret and filename
      parameters:
      - in: path
        name: secret
        description: The 32-character secret of a group upload
        required: true
        schema:
          type: string
      - in: path
        name: filename
        description: The filename of a group upload
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Download a single group upload by secret and filename
          content:
            application/json:
              schema:
                type: string
                format: binary
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
      - groups
      operationId: getApiV4GroupsIdUploadsSecretFilename
    delete:
      description: Delete a single group upload by secret and filename
      parameters:
      - in: path
        name: secret
        description: The 32-character secret of a group upload
        required: true
        schema:
          type: string
      - in: path
        name: filename
        description: The filename of a group upload
        required: true
        schema:
          type: string
      - in: path
        name: id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: Delete a single group upload by secret and filename
        '400':
          description: Bad request
        '403':
          description: Unauthenticated
        '404':
          description: Not found
      tags:
      - groups
      operationId: deleteApiV4GroupsIdUploadsSecretFilename
  /api/v4/groups/{id}/billable_members:
    get:
      description: Gets a list of billable users of top-level group.
      parameters:
      - in: path
        name: id
        description: The ID of a group
        required: true
        schema:
          type: string
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      - in: query
        name: search
        description: The exact name of the subscribed member
        required: false
        schema:
          type: string
      - in: query
        name: sort
        description: The sorting option
        required: false
        schema:
          type: string
          enum:
          - access_level_asc
          - access_level_desc
          - last_joined
          - name_asc
          - name_desc
          - oldest_joined
          - oldest_sign_in
          - recent_sign_in
          - last_activity_on_asc
          - last_activity_on_desc
      responses:
        '200':
          description: Gets a list of billable users of top-level group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Member'
      tags:
      - groups
      operationId: getApiV4GroupsIdBillableMembers
  /api/v4/projects/{id}/share_locations:
    get:
      description: Returns group that can be shared with the given project
      parameters:
      - in: path
        name: id
        description: The id of the project
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: search
        description: Return list of groups matching the search criteria
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Returns group that can be shared with the given project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Group'
      tags:
      - groups
      operationId: getApiV4ProjectsIdShareLocations
  /api/v4/runners/reset_registration_token:
    post:
      summary: Reset instance's runner registration token
      description: Reset runner registration token
      responses:
        '201':
          description: Reset runner registration token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Ci_ResetTokenResult'
        '403':
          description: Forbidden
      tags:
      - groups
      operationId: postApiV4RunnersResetRegistrationToken
components:
  schemas:
    API_Entities_UserSafe:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 1
        username:
          type: string
          example: admin
        public_email:
          type: string
          example: john@example.com
        name:
          type: string
          example: Administrator
      required:
      - id
      - username
      - public_email
      - name
    API_Entities_UserBasic:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 1
        username:
          type: string
          example: admin
        public_email:
          type: string
          example: john@example.com
        name:
          type: string
          example: Administrator
        state:
          type: string
          example: active
        locked:
          type: boolean
        avatar_url:
          type: string
          example: https://gravatar.com/avatar/1
        avatar_path:
          type: string
          example: /user/avatar/28/The-Big-Lebowski-400-400.png
        custom_attributes:
          type: array
          items:
            $ref: '#/components/schemas/API_Entities_CustomAttribute'
        web_url:
          type: string
          example: https://gitlab.example.com/root
      required:
      - id
      - username
      - public_email
      - name
      - state
      - locked
      - avatar_url
      - web_url
      description: API_Entities_UserBasic model
    API_Entities_Iteration:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 1
        iid:
          type: integer
          format: int32
          example: 1
        sequence:
          type: integer
          format: int32
          example: 1
        group_id:
          type: integer
          format: int32
          example: 1
        title:
          type: string
          example: Iteration I
        description:
          type: string
          example: Iteration description
        state:
          type: integer
          format: int32
          example: 1
        created_at:
          type: string
          format: date-time
          example: '2022-01-31T15:10:45.080Z'
        updated_at:
          type: string
          format: date-time
          example: '2022-01-31T15:10:45.080Z'
        start_date:
          type: string
          format: date
          example: '2022-01-01'
        due_date:
          type: string
          format: date
          example: '2022-01-31'
        web_url:
          type: string
          example: https://gitlab.example.com/groups/gitlab-org/-/iterations/1
      required:
      - id
      - iid
      - sequence
      - group_id
      - title
      - description
      - state
      - created_at
      - updated_at
      - start_date
      - due_date
      - web_url
    API_Entities_Project:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 1
        description:
          type: string
          example: desc
        name:
          type: string
          example: project1
        name_with_namespace:
          type: string
          example: John Doe / project1
        path:
          type: string
          example: project1
        path_with_namespace:
          type: string
          example: namespace1/project1
        created_at:
          type: string
          format: date-time
          example: '2020-05-07T04:27:17.016Z'
        default_branch:
          type: string
          example: main
        tag_list:
          type: array
          items:
            type: string
          example:
          - tag
        topics:
          type: array
          items:
            type: string
          example:
          - topic
        ssh_url_to_repo:
          type: string
          example: git@gitlab.example.com:gitlab/gitlab.git
        http_url_to_repo:
          type: string
          example: https://gitlab.example.com/gitlab/gitlab.git
        web_url:
          type: string
          example: https://gitlab.example.com/gitlab/gitlab
        readme_url:
          type: string
          example: https://gitlab.example.com/gitlab/gitlab/blob/master/README.md
        forks_count:
          type: integer
          format: int32
          example: 1
        license_url:
          type: string
          example: https://gitlab.example.com/gitlab/gitlab/blob/master/LICENCE
        license:
          $ref: '#/components/schemas/API_Entities_LicenseBasic'
        avatar_url:
          type: string
          example: http://example.com/uploads/project/avatar/3/uploads/avatar.png
        star_count:
          type: integer
          format: int32
          example: 1
        last_activity_at:
          type: string
          format: date-time
          example: '2013-09-30T13:46:02Z'
        visibility:
          type: string
          example: public
        namespace:
          $ref: '#/components/schemas/API_Entities_NamespaceBasic'
        custom_attributes:
          $ref: '#/components/schemas/API_Entities_CustomAttribute'
        repository_storage:
          type: string
          example: default
        forked_from_project:
          $ref: '#/components/schemas/API_Entities_BasicProjectDetails'
        container_registry_image_prefix:
          type: string
          example: registry.gitlab.example.com/gitlab/gitlab-client
        _links:
          type: object
          properties:
            self:
              type: string
              example: https://gitlab.example.com/api/v4/projects/4
            issues:
              type: string
              example: https://gitlab.example.com/api/v4/projects/4/issues
            merge_requests:
              type: string
              example: https://gitlab.example.com/api/v4/projects/4/merge_requests
            repo_branches:
              type: string
              example: https://gitlab.example.com/api/v4/projects/4/repository/branches
            labels:
              type: string
              example: https://gitlab.example.com/api/v4/projects/4/labels
            events:
              type: string
              example: https://gitlab.example.com/api/v4/projects/4/events
            members:
              type: string
              example: https://gitlab.example.com/api/v4/projects/4/members
            cluster_agents:
              type: string
              example: https://gitlab.example.com/api/v4/projects/4/cluster_agents
          required:
          - self
          - repo_branches
          - labels
          - events
          - members
          - cluster_agents
        marked_for_deletion_at:
          type: string
          format: date-time
          example: '2020-05-07T04:27:17.016Z'
        marked_for_deletion_on:
          type: string
          format: date-time
          example: '2020-05-07T04:27:17.016Z'
        packages_enabled:
          type: boolean
        empty_repo:
          type: boolean
        archived:
          type: boolean
        owner:
          $ref: '#/components/schemas/API_Entities_UserBasic'
        resolve_outdated_diff_discussions:
          type: boolean
        container_expiration_policy:
          $ref: '#/components/schemas/API_Entities_ContainerExpirationPolicy'
        repository_object_format:
          type: string
          example: sha1
        issues_enabled:
          type: boolean
        merge_requests_enabled:
          type: boolean
        wiki_enabled:
          type: boolean
        jobs_enabled:
          type: boolean
        snippets_enabled:
          type: boolean
        container_registry_enabled:
          type: boolean
        service_desk_enabled:
          type: boolean
        service_desk_address:
          type: string
          example: address@example.com
        can_create_merge_request_in:
          type: boolean
        issues_access_level:
          type: string
          example: enabled
        repository_access_level:
          type: string
          example: enabled
        merge_requests_access_level:
          type: string
          example: enabled
        forking_access_level:
          type: string
          example: enabled
        wiki_access_level:
          type: string
          example: enabled
        builds_access_level:
          type: string
          example: enabled
        snippets_access_level:
          type: string
          example: enabled
        pages_access_level:
          type: string
          example: enabled
        analytics_access_level:
          type: string
          example: enabled
        container_registry_access_level:
          type: string
          example: enabled
        security_and_compliance_access_level:
          type: string
          example: enabled
        releases_access_level:
          type: string
          example: enabled
        environments_access_level:
          type: string
          example: enabled
        feature_flags_access_level:
          type: string
          example: enabled
        infrastructure_access_level:
          type: string
          example: enabled
        monitor_access_level:
          type: string
          example: enabled
        model_experiments_access_level:
          type: string
          example: enabled
        model_registry_access_level:
          type: string
          example: enabled
        package_registry_access_level:
          type: string
          example: enabled
        emails_disabled:
          type: boolean
        emails_enabled:
          type: boolean
        show_diff_preview_in_email:
          type: boolean
        shared_runners_enabled:
          type: boolean
        lfs_enabled:
          type: boolean
        creator_id:
          type: integer
          format: int32
          example: 1
        mr_default_target_self:
          type: boolean
        import_url:
          type: string
          example: https://gitlab.com/gitlab/gitlab.git
        import_type:
          type: string
          example: git
        import_status:
          type: string
          example: none
        import_error:
          type: string
          example: Import error
        open_issues_count:
          type: integer
          format: int32
          example: 1
        description_html:
          type: string
        updated_at:
          type: string
          format: date-time
          example: '2020-05-07T04:27:17.016Z'
        ci_default_git_depth:
          type: integer
          format: int32
          example: 20
        ci_delete_pipelines_in_seconds:
          type: integer
          format: int32
          example: 86400
        ci_forward_deployment_enabled:
          type: boolean
        ci_forward_deployment_rollback_allowed:
          type: boolean
        ci_job_token_scope_enabled:
          type: boolean
        ci_separated_caches:
          type: boolean
        ci_allow_fork_pipelines_to_run_in_parent_project:
          type: boolean
        ci_id_token_sub_claim_components:
          type: array
          items:
            type: string
        build_git_strategy:
          type: string
          example: fetch
        keep_latest_artifact:
          type: boolean
        restrict_user_defined_variables:
          type: boolean
        ci_pipeline_variables_minimum_override_role:
          type: string
        runner_token_expiration_interval:
          type: integer
          format: int32
          example: 3600
        group_runners_enabled:
          type: boolean
        resource_group_default_process_mode:
          type: string
          example: unordered
        auto_cancel_pending_pipelines:
          type: string
          example: enabled
        build_timeout:
          type: integer
          format: int32
          example: 3600
        auto_devops_enabled:
          type: boolean
        auto_devops_deploy_strategy:
          type: string
          example: continuous
        ci_push_repository_for_job_token_allowed:
          type: boolean
        protect_merge_request_pipelines:
          type: boolean
        ci_display_pipeline_variables:
          type: boolean
        runners_token:
          type: string
          example: b8547b1dc37721d05889db52fa2f02
        ci_config_path:
          type: string
          example: ''
        public_jobs:
          type: boolean
        shared_with_groups:
          type: array
          items:
            type: object
        only_allow_merge_if_pipeline_succeeds:
          type: boolean
        allow_merge_on_skipped_pipeline:
          type: boolean
        request_access_enabled:
          type: boolean
        only_allow_merge_if_all_discussions_are_resolved:
          type: boolean
        remove_source_branch_after_merge:
          type: boolean
        printing_merge_request_link_enabled:
          type: boolean
        merge_method:
          type: string
          example: merge
        squash_option:
          type: string
          example: default_off
        enforce_auth_checks_on_uploads:
          type: boolean
        suggestion_commit_message:
          type: string
          example: Suggestion message
        merge_commit_template:
          type: string
          example: '%(title)'
        squash_commit_template:
          type: string
          example: '%(source_branch)'
        mr_default_title_template:
          type: string
          example: '%(source_branch)'
        issue_branch_template:
          type: string
          example: '%(title)'
        statistics:
          $ref: '#/components/schemas/API_Entities_ProjectStatistics'
        warn_about_potentially_unwanted_characters:
          type: boolean
        autoclose_referenced_issues:
          type: boolean
        max_artifacts_size:
          type: integer
          format: int32
        approvals_before_merge:
          type: string
        mirror:
          type: string
        mirror_user_id:
          type: string
        mirror_trigger_builds:
          type: string
        only_mirror_protected_branches:
          type: string
        mirror_overwrites_diverged_branches:
          type: string
        external_authorization_classification_label:
          type: string
        requirements_enabled:
          type: string
        requirements_access_level:
          type: string
        security_and_compliance_enabled:
          type: string
        secret_push_protection_enabled:
          type: boolean
        pre_receive_secret_detection_enabled:
          type: boolean
        compliance_frameworks:
          type: string
        issues_template:
          type: string
        merge_requests_template:
          type: string
        ci_restrict_pipeline_cancellation_role:
          type: string
        merge_pipelines_enabled:
          type: string
        merge_trains_enabled:
          type: string
        merge_trains_skip_train_allowed:
          type: string
        max_pipelines_per_merge_train:
          type: string
        only_allow_merge_if_all_status_checks_passed:
          type: string
        allow_pipeline_trigger_approve_deployment:
          type: boolean
        prevent_merge_without_jira_issue:
          type: string
        auto_duo_code_review_enabled:
          type: string
        duo_remote_flows_enabled:
          type: string
        duo_foundational_flows_enabled:
          type: string
        duo_sast_fp_detection_enabled:
          type: string
        duo_secret_detection_fp_enabled:
          type: string
        duo_sast_vr_workflow_enabled:
          type: string
        web_based_commit_signing_enabled:
          type: string
        spp_repository_pipeline_access:
          type: boolean
          description: The spp_repository_pipeline_access setting is only visible if the security_orchestration_policies feature is available.
        security_policy_pipeline_must_succeed:
          type: boolean
          description: Require all security policy pipelines to succeed before merge requests can be merged.
        merge_request_title_regex:
          type: string
          example: /Title of merge request/
        merge_request_title_regex_description:
          type: string
          example: This requires the title to include a Jira label
      required:
      - id
      - description
      - name
      - name_with_namespace
      - path
      - path_with_namespace
      - created_at
      - tag_list
      - topics
      - ssh_url_to_repo
      - http_url_to_repo
      - web_url
      - avatar_url
      - star_count
      - last_activity_at
      - visibility
      - namespace
      - _links
      - marked_for_deletion_at
      - marked_for_deletion_on
      - packages_enabled
      - empty_repo
      - archived
      - resolve_outdated_diff_discussions
      - repository_object_format
      - issues_enabled
      - merge_requests_enabled
      - wiki_enabled
      - jobs_enabled
      - snippets_enabled
      - container_registry_enabled
      - service_desk_enabled
      - can_create_merge_request_in
      - issues_access_level
      - repository_access_level
      - merge_requests_access_level
      - forking_access_level
      - wiki_access_level
      - builds_access_level
      - snippets_access_level
      - pages_access_level
      - analytics_access_level
      - container_registry_access_level
      - security_and_compliance_access_level
      - releases_access_level
      - environments_access_level
      - feature_flags_access_level
      - infrastructure_access_level
      - monitor_access_level
      - model_experiments_access_level
      - model_registry_access_level
      - package_registry_access_level
      - emails_disabled
      - emails_enabled
      - show_diff_preview_in_email
      - shared_runners_enabled
      - lfs_enabled
      - creator_id
      - import_status
      - description_html
      - updated_at
      - public_jobs
      - shared_with_groups
      - only_allow_merge_if_pipeline_succeeds
      - allow_merge_on_skipped_pipeline
      - request_access_enabled
      - only_allow_merge_if_all_discussions_are_resolved
      - remove_source_branch_after_merge
      - printing_merge_request_link_enabled
      - merge_method
      - squash_option
      - enforce_auth_checks_on_uploads
      - suggestion_commit_message
      - merge_commit_template
      - squash_commit_template
      - issue_branch_template
      - warn_about_potentially_unwanted_characters
      - autoclose_referenced_issues
      - max_artifacts_size
      - requirements_enabled
      - requirements_access_level
      - security_and_compliance_enabled
      - compliance_frameworks
      description: API_Entities_Project model
    API_Entities_LdapGroupLink:
      type: object
      properties:
        cn:
          type: string
          example: ldap-group-1
        group_access:
          type: integer
          format: int32
          example: 10
        provider:
          type: string
          example: ldapmain
        filter:
          type: string
          example: id >= 500
        member_role_id:
          type: integer
          format: int32
          example: 12
      required:
      - cn
      - group_access
      - provider
    API_Entities_MemberRole:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 2
        group_id:
          type: integer
          format: int32
          example: 2
        name:
          type: text
          example: Custom guest
        description:
          type: text
          example: Guest user who can also read_code
        base_access_level:
          type: integer
          format: int32
          enum:
          - 5
          - 10
          - 15
          - 20
          - 30
          - 40
          example: 40
        apply_security_scan_profiles:
          type: boolean
        admin_merge_request:
          type: boolean
        archive_project:
          type: boolean
        remove_project:
          type: boolean
        remove_group:
          type: boolean
        manage_security_policy_link:
          type: boolean
        admin_compliance_framework:
          type: boolean
        admin_cicd_variables:
          type: boolean
        manage_deploy_tokens:
          type: boolean
        manage_group_access_tokens:
          type: boolean
        admin_group_member:
          type: boolean
        admin_integrations:
          type: boolean
        manage_merge_request_settings:
          type: boolean
        manage_project_access_tokens:
          type: boolean
        admin_protected_branch:
          type: boolean
        admin_protected_environments:
          type: boolean
        manage_protected_tags:
          type: boolean
        admin_push_rules:
          type: boolean
        admin_runners:
          type: boolean
        admin_security_attributes:
          type: boolean
        admin_terraform_state:
          type: boolean
        admin_vulnerability:
          type: boolean
        admin_web_hook:
          type: boolean
        read_compliance_dashboard:
          type: boolean
        read_security_scan_profiles:
          type: boolean
        read_virtual_registry:
          type: boolean
        read_admin_cicd:
          type: boolean
        read_crm_contact:
          type: boolean
        read_dependency:
          type: boolean
        read_admin_groups:
          type: boolean
        read_admin_projects:
          type: boolean
        read_code:
          type: boolean
        read_runners:
          type: boolean
        read_security_attribute:
          type: boolean
        read_admin_subscription:
          type: boolean
        read_admin_monitoring:
          type: boolean
        read_admin_users:
          type: boolean
        read_vulnerability:
          type: boolean
      required:
      - id
      - group_id
      - name
      - description
      - base_access_level
      - apply_security_scan_profiles
      - admin_merge_request
      - archive_project
      - remove_project
      - remove_group
      - manage_security_policy_link
      - admin_compliance_framework
      - admin_cicd_variables
      - manage_deploy_tokens
      - manage_group_access_tokens
      - admin_group_member
      - admin_integrations
      - manage_merge_request_settings
      - manage_project_access_tokens
      - admin_protected_branch
      - admin_protected_environments
      - manage_protected_tags
      - admin_push_rules
      - admin_runners
      - admin_security_attributes
      - admin_terraform_state
      - admin_vulnerability
      - admin_web_hook
      - read_compliance_dashboard
      - read_security_scan_profiles
      - read_virtual_registry
      - read_admin_cicd
      - read_crm_contact
      - read_dependency
      - read_admin_groups
      - read_admin_projects
      - read_code
      - read_runners
      - read_security_attribute
      - read_admin_subscription
      - read_admin_monitoring
      - read_admin_users
      - read_vulnerability
    putApiV4GroupsId:
      type: object
      properties:
        name:
          type: string
          description: The name of the group
        path:
          type: string
          description: The path of the group
        shared_runners_setting:
          type: string
          description: Enable/disable shared runners for the group and its subgroups and projects
          enum:
          - disabled_and_unoverridable
          - disabled_and_overridable
          - enabled
        description:
          type: string
          description: The description of the group
        visibility:
          type: string
          description: The visibility of the group
          enum:
          - private
          - internal
          - public
        avatar:
          type: string
          description: Avatar image for the group
          format: binary
        share_with_group_lock:
          type: boolean
          description: Prevent sharing a project with another group within this group
        require_two_factor_authentication:
          type: boolean
          description: Require all users in this group to setup Two-factor authentication
        two_factor_grace_period:
          type: integer
          format: int32
          description: Time before Two-factor authentication is enforced
        project_creation_level:
          type: string
          description: Determine if developers can create projects in the group
          enum:
          - noone
          - owner
          - maintainer
          - developer
          - administrator
        auto_devops_enabled:
          type: boolean
          description: Default to Auto DevOps pipeline for all projects within this group
        subgroup_creation_level:
          type: string
          description: Allowed to create subgroups
          enum:
          - owner
          - maintainer
        emails_disabled:
          type: boolean
          description: '_(Deprecated)_ Disable email notifications. Use: emails_enabled'
        emails_enabled:
          type: boolean
          description: Enable email notifications
        show_diff_preview_in_email:
          type: boolean
          description: Include the code diff preview in merge request notification emails
        mentions_disabled:
          type: boolean
          description: Disable a group from getting mentioned
        lfs_enabled:
          type: boolean
          description: Enable/disable LFS for the projects in this group
        request_access_enabled:
          type: boolean
          description: Allow users to request member access
        default_branch:
          type: string
          description: The default branch of group's projects
          example: main
        default_branch_protection:
          type: integer
          format: int32
          description: Determine if developers can push to default branch
          enum:
          - 0
          - 3
          - 1
          - 2
          - 4
        default_branch_protection_defaults:
          type: object
          description: Determine if developers can push to default branch
          properties:
            allowed_to_push:
              type: array
              description: An array of access levels allowed to push
              items:
                type: object
                properties:
                  access_level:
                    type: integer
                    format: int32
                    description: A valid access level
                    enum:
                    - 30
                    - 40
                    - 60
                    - 0
                required:
                - access_level
            allow_force_push:
              type: boolean
              description: Allow force push for all users with push access.
            allowed_to_merge:
              type: array
              description: An array of access levels allowed to merge
              items:
                type: object
                properties:
                  access_level:
                    type: integer
                    format: int32
                    description: A valid access level
                    enum:
                    - 30
                    - 40
                    - 60
                    - 0
                required:
                - access_level
            code_owner_approval_required:
              type: boolean
              description: Require approval from code owners
[...]
