openapi: 3.2.0
info:
  title: GitLab access_requests Instance API
  version: v4
  description: Operations related to access requests
servers:
- url: https://gitlab.com
tags:
- name: instance
  description: Operations about instances
paths:
  /api/v4/application/appearance:
    get:
      description: Get the current appearance
      responses:
        '200':
          description: Get the current appearance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Appearance'
      tags:
      - instance
      operationId: getApiV4ApplicationAppearance
    put:
      description: Modify appearance
      responses:
        '200':
          description: Modify appearance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Appearance'
      tags:
      - instance
      operationId: putApiV4ApplicationAppearance
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                title:
                  type: string
                  description: Instance title on the sign in / sign up page
                description:
                  type: string
                  description: Markdown text shown on the sign in / sign up page
                pwa_name:
                  type: string
                  description: Name of the Progressive Web App
                pwa_short_name:
                  type: string
                  description: Optional, short name for Progressive Web App
                pwa_description:
                  type: string
                  description: An explanation of what the Progressive Web App does
                logo:
                  type: string
                  description: Instance image used on the sign in / sign up page
                  format: binary
                pwa_icon:
                  type: string
                  description: Icon used for Progressive Web App
                  format: binary
                header_logo:
                  type: string
                  description: Instance image used for the main navigation bar
                  format: binary
                favicon:
                  type: string
                  description: Instance favicon in .ico/.png format
                  format: binary
                member_guidelines:
                  type: string
                  description: Markdown text shown on the members page of a group or project
                new_project_guidelines:
                  type: string
                  description: Markdown text shown on the new project page
                profile_image_guidelines:
                  type: string
                  description: Markdown text shown on the profile page below Public Avatar
                header_message:
                  type: string
                  description: Message within the system header bar
                footer_message:
                  type: string
                  description: Message within the system footer bar
                message_background_color:
                  type: string
                  description: Background color for the system header / footer bar
                message_font_color:
                  type: string
                  description: Font color for the system header / footer bar
                email_header_and_footer_enabled:
                  type: boolean
                  description: Add header and footer to all outgoing emails if enabled
                site_name:
                  type: string
                  description: Last part of the webpage title. Defaults to empty.
  /api/v4/application/statistics:
    get:
      description: Get the current application statistics
      responses:
        '200':
          description: Get the current application statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_ApplicationStatistics'
      tags:
      - instance
      operationId: getApiV4ApplicationStatistics
components:
  schemas:
    API_Entities_ApplicationStatistics:
      type: object
      properties:
        forks:
          type: integer
          format: int32
          example: 6
          description: Approximate number of repo forks
        issues:
          type: integer
          format: int32
          example: 121
          description: Approximate number of issues
        merge_requests:
          type: integer
          format: int32
          example: 49
          description: Approximate number of merge requests
        notes:
          type: integer
          format: int32
          example: 6
          description: Approximate number of notes
        snippets:
          type: integer
          format: int32
          example: 4
          description: Approximate number of snippets
        ssh_keys:
          type: integer
          format: int32
          example: 11
          description: Approximate number of SSH keys
        milestones:
          type: integer
          format: int32
          example: 3
          description: Approximate number of milestones
        users:
          type: integer
          format: int32
          example: 22
          description: Approximate number of users
        projects:
          type: integer
          format: int32
          example: 4
          description: Approximate number of projects
        groups:
          type: integer
          format: int32
          example: 1
          description: Approximate number of projects
        active_users:
          type: integer
          format: int32
          example: 21
          description: Number of active users
      required:
      - forks
      - issues
      - merge_requests
      - notes
      - snippets
      - ssh_keys
      - milestones
      - users
      - projects
      - groups
      - active_users
      description: API_Entities_ApplicationStatistics model
    API_Entities_Appearance:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        pwa_name:
          type: string
        pwa_short_name:
          type: string
        pwa_description:
          type: string
        logo:
          type: string
        pwa_icon:
          type: string
        header_logo:
          type: string
        favicon:
          type: string
        new_project_guidelines:
          type: string
        member_guidelines:
          type: string
        profile_image_guidelines:
          type: string
        header_message:
          type: string
        footer_message:
          type: string
        message_background_color:
          type: string
        message_font_color:
          type: string
        email_header_and_footer_enabled:
          type: string
        site_name:
          type: string
      required:
      - title
      - description
      - pwa_name
      - pwa_short_name
      - pwa_description
      - logo
      - pwa_icon
      - header_logo
      - favicon
      - new_project_guidelines
      - member_guidelines
      - profile_image_guidelines
      - header_message
      - footer_message
      - message_background_color
      - message_font_color
      - email_header_and_footer_enabled
      - site_name
      description: API_Entities_Appearance model
  securitySchemes:
    access_token_header:
      type: apiKey
      name: PRIVATE-TOKEN
      in: header
    access_token_query:
      type: apiKey
      name: private_token
      in: query
