swagger: '2.0'
info:
  title: GitLab access_requests geo API
  version: v4
  description: Operations related to access requests
host: gitlab.com
produces:
- application/json
tags:
- name: geo
  description: Operations related to Geo
paths:
  /api/v4/geo/proxy:
    get:
      summary: Determine if a Geo site should proxy requests
      description: Returns a Geo proxy response
      produces:
      - application/json
      responses:
        '200':
          description: Returns a Geo proxy response
        '403':
          description: Forbidden
      tags:
      - geo
      operationId: getApiV4GeoProxy
  /api/v4/geo/retrieve/{replicable_name}/{replicable_id}:
    get:
      summary: Internal endpoint that returns a replicable file
      description: Returns a replicable file from store (via CDN or sendfile)
      produces:
      - application/json
      parameters:
      - in: path
        name: replicable_name
        description: The replicable name of a replicator instance
        type: string
        required: true
        example: package_file
      - in: path
        name: replicable_id
        description: The replicable ID of a replicable instance
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Returns a replicable file from store (via CDN or sendfile)
        '401':
          description: 401 Unauthorized
        '404':
          description: 404 Not found
      tags:
      - geo
      operationId: getApiV4GeoRetrieveReplicableNameReplicableId
  /api/v4/geo/repositories/{gl_repository}/pipeline_refs:
    get:
      summary: Used by secondary runners to verify the secondary instance has the very latest version
      description: Returns the list of pipeline refs for the project
      produces:
      - application/json
      parameters:
      - in: path
        name: gl_repository
        description: The repository to check
        type: string
        required: true
      responses:
        '200':
          description: Returns the list of pipeline refs for the project
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_Geo_PipelineRefs'
        '401':
          description: 401 Unauthorized
        '404':
          description: 404 Not found
      tags:
      - geo
      operationId: getApiV4GeoRepositoriesGlRepositoryPipelineRefs
  /api/v4/geo/status:
    post:
      summary: Internal endpoint that posts the current node status
      description: Posts the current node status to the primary site
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: postApiV4GeoStatus
        in: body
        required: true
        schema:
          $ref: '#/definitions/postApiV4GeoStatus'
      responses:
        '200':
          description: Posts the current node status to the primary site
          schema:
            $ref: '#/definitions/API_Entities_GeoNodeStatus'
        '400':
          description: 400 Bad Request
        '401':
          description: 401 Unauthorized
      tags:
      - geo
      operationId: postApiV4GeoStatus
  /api/v4/geo/proxy_git_ssh/info_refs_upload_pack:
    post:
      summary: Internal endpoint that returns info refs upload pack for clone or pull operations
      description: "Responsible for making HTTP GET /repo.git/info/refs?service=git-upload-pack\n                  request from secondary gitlab-shell to primary"
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: postApiV4GeoProxyGitSshInfoRefsUploadPack
        in: body
        required: true
        schema:
          $ref: '#/definitions/postApiV4GeoProxyGitSshInfoRefsUploadPack'
      responses:
        '200':
          description: "Responsible for making HTTP GET /repo.git/info/refs?service=git-upload-pack\n                  request from secondary gitlab-shell to primary"
        '401':
          description: 401 Unauthorized
      tags:
      - geo
      operationId: postApiV4GeoProxyGitSshInfoRefsUploadPack
  /api/v4/geo/proxy_git_ssh/upload_pack:
    post:
      summary: Internal endpoint that posts git-upload-pack for clone or pull operations
      description: "Responsible for making HTTP POST /repo.git/git-upload-pack\n                  request from secondary gitlab-shell to primary"
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: postApiV4GeoProxyGitSshUploadPack
        in: body
        required: true
        schema:
          $ref: '#/definitions/postApiV4GeoProxyGitSshUploadPack'
      responses:
        '200':
          description: "Responsible for making HTTP POST /repo.git/git-upload-pack\n                  request from secondary gitlab-shell to primary"
        '401':
          description: 401 Unauthorized
      tags:
      - geo
      operationId: postApiV4GeoProxyGitSshUploadPack
  /api/v4/geo/proxy_git_ssh/info_refs_receive_pack:
    post:
      summary: Internal endpoint that returns git-received-pack output for git push
      description: "Responsible for making HTTP GET /repo.git/info/refs?service=git-receive-pack\n                  request from secondary gitlab-shell to primary"
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: postApiV4GeoProxyGitSshInfoRefsReceivePack
        in: body
        required: true
        schema:
          $ref: '#/definitions/postApiV4GeoProxyGitSshInfoRefsReceivePack'
      responses:
        '200':
          description: "Responsible for making HTTP GET /repo.git/info/refs?service=git-receive-pack\n                  request from secondary gitlab-shell to primary"
        '401':
          description: 401 Unauthorized
      tags:
      - geo
      operationId: postApiV4GeoProxyGitSshInfoRefsReceivePack
  /api/v4/geo/proxy_git_ssh/receive_pack:
    post:
      summary: Internal endpoint that posts git-receive-pack for git push
      description: "Responsible for making HTTP POST /repo.git/info/refs?service=git-receive-pack\n                  request from secondary gitlab-shell to primary"
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: postApiV4GeoProxyGitSshReceivePack
        in: body
        required: true
        schema:
          $ref: '#/definitions/postApiV4GeoProxyGitSshReceivePack'
      responses:
        '200':
          description: "Responsible for making HTTP POST /repo.git/info/refs?service=git-receive-pack\n                  request from secondary gitlab-shell to primary"
        '401':
          description: 401 Unauthorized
      tags:
      - geo
      operationId: postApiV4GeoProxyGitSshReceivePack
  /api/v4/geo/node_proxy/{id}/graphql:
    post:
      summary: Query the GraphQL endpoint of an existing Geo node
      description: Query the GraphQL endpoint of an existing Geo node
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        description: The ID of the Geo node
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Query the GraphQL endpoint of an existing Geo node
        '404':
          description: 404 GeoNode Not Found
        '500':
          description: 500 Internal Server Error
      tags:
      - geo
      operationId: postApiV4GeoNodeProxyIdGraphql
definitions:
  postApiV4GeoProxyGitSshUploadPack:
    type: object
    properties:
      secret_token:
        type: string
        description: "Secret token used to authenticate requests from gitlab-shell\n                to Geo proxy endpoints"
      data:
        type: object
        description: Object that contains the payload data for the Geo operation
        properties:
          gl_id:
            type: string
            description: ID of the user performing the operation
          primary_repo:
            type: string
            description: Primary repository to clone or pull from
        required:
        - gl_id
        - primary_repo
      output:
        type: string
        description: Output from git-upload-pack
    required:
    - secret_token
    - data
    - output
    description: "Responsible for making HTTP POST /repo.git/git-upload-pack\n                  request from secondary gitlab-shell to primary"
  API_Entities_GeoNodeStatus:
    type: object
    properties:
      geo_node_id:
        type: string
      projects_count:
        type: string
      container_repositories_replication_enabled:
        type: string
      ci_secure_files_count:
        type: string
      ci_secure_files_checksum_total_count:
        type: string
      ci_secure_files_checksummed_count:
        type: string
      ci_secure_files_checksum_failed_count:
        type: string
      ci_secure_files_synced_count:
        type: string
      ci_secure_files_failed_count:
        type: string
      ci_secure_files_registry_count:
        type: string
      ci_secure_files_verification_total_count:
        type: string
      ci_secure_files_verified_count:
        type: string
      ci_secure_files_verification_failed_count:
        type: string
      ci_secure_files_oldest_unsynced_time:
        type: string
      container_repositories_count:
        type: string
      container_repositories_checksum_total_count:
        type: string
      container_repositories_checksummed_count:
        type: string
      container_repositories_checksum_failed_count:
        type: string
      container_repositories_synced_count:
        type: string
      container_repositories_failed_count:
        type: string
      container_repositories_registry_count:
        type: string
      container_repositories_verification_total_count:
        type: string
      container_repositories_verified_count:
        type: string
      container_repositories_verification_failed_count:
        type: string
      container_repositories_oldest_unsynced_time:
        type: string
      dependency_proxy_blobs_count:
        type: string
      dependency_proxy_blobs_checksum_total_count:
        type: string
      dependency_proxy_blobs_checksummed_count:
        type: string
      dependency_proxy_blobs_checksum_failed_count:
        type: string
      dependency_proxy_blobs_synced_count:
        type: string
      dependency_proxy_blobs_failed_count:
        type: string
      dependency_proxy_blobs_registry_count:
        type: string
      dependency_proxy_blobs_verification_total_count:
        type: string
      dependency_proxy_blobs_verified_count:
        type: string
      dependency_proxy_blobs_verification_failed_count:
        type: string
      dependency_proxy_blobs_oldest_unsynced_time:
        type: string
      dependency_proxy_manifests_count:
        type: string
      dependency_proxy_manifests_checksum_total_count:
        type: string
      dependency_proxy_manifests_checksummed_count:
        type: string
      dependency_proxy_manifests_checksum_failed_count:
        type: string
      dependency_proxy_manifests_synced_count:
        type: string
      dependency_proxy_manifests_failed_count:
        type: string
      dependency_proxy_manifests_registry_count:
        type: string
      dependency_proxy_manifests_verification_total_count:
        type: string
      dependency_proxy_manifests_verified_count:
        type: string
      dependency_proxy_manifests_verification_failed_count:
        type: string
      dependency_proxy_manifests_oldest_unsynced_time:
        type: string
      design_management_repositories_count:
        type: string
      design_management_repositories_checksum_total_count:
        type: string
      design_management_repositories_checksummed_count:
        type: string
      design_management_repositories_checksum_failed_count:
        type: string
      design_management_repositories_synced_count:
        type: string
      design_management_repositories_failed_count:
        type: string
      design_management_repositories_registry_count:
        type: string
      design_management_repositories_verification_total_count:
        type: string
      design_management_repositories_verified_count:
        type: string
      design_management_repositories_verification_failed_count:
        type: string
      design_management_repositories_oldest_unsynced_time:
        type: string
      group_wiki_repositories_count:
        type: string
      group_wiki_repositories_checksum_total_count:
        type: string
      group_wiki_repositories_checksummed_count:
        type: string
      group_wiki_repositories_checksum_failed_count:
        type: string
      group_wiki_repositories_synced_count:
        type: string
      group_wiki_repositories_failed_count:
        type: string
      group_wiki_repositories_registry_count:
        type: string
      group_wiki_repositories_verification_total_count:
        type: string
      group_wiki_repositories_verified_count:
        type: string
      group_wiki_repositories_verification_failed_count:
        type: string
      group_wiki_repositories_oldest_unsynced_time:
        type: string
      job_artifacts_count:
        type: string
      job_artifacts_checksum_total_count:
        type: string
      job_artifacts_checksummed_count:
        type: string
      job_artifacts_checksum_failed_count:
        type: string
      job_artifacts_synced_count:
        type: string
      job_artifacts_failed_count:
        type: string
      job_artifacts_registry_count:
        type: string
      job_artifacts_verification_total_count:
        type: string
      job_artifacts_verified_count:
        type: string
      job_artifacts_verification_failed_count:
        type: string
      job_artifacts_oldest_unsynced_time:
        type: string
      lfs_objects_count:
        type: string
      lfs_objects_checksum_total_count:
        type: string
      lfs_objects_checksummed_count:
        type: string
      lfs_objects_checksum_failed_count:
        type: string
      lfs_objects_synced_count:
        type: string
      lfs_objects_failed_count:
        type: string
      lfs_objects_registry_count:
        type: string
      lfs_objects_verification_total_count:
        type: string
      lfs_objects_verified_count:
        type: string
      lfs_objects_verification_failed_count:
        type: string
      lfs_objects_oldest_unsynced_time:
        type: string
      merge_request_diffs_count:
        type: string
      merge_request_diffs_checksum_total_count:
        type: string
      merge_request_diffs_checksummed_count:
        type: string
      merge_request_diffs_checksum_failed_count:
        type: string
      merge_request_diffs_synced_count:
        type: string
      merge_request_diffs_failed_count:
        type: string
      merge_request_diffs_registry_count:
        type: string
      merge_request_diffs_verification_total_count:
        type: string
      merge_request_diffs_verified_count:
        type: string
      merge_request_diffs_verification_failed_count:
        type: string
      merge_request_diffs_oldest_unsynced_time:
        type: string
      package_files_count:
        type: string
      package_files_checksum_total_count:
        type: string
      package_files_checksummed_count:
        type: string
      package_files_checksum_failed_count:
        type: string
      package_files_synced_count:
        type: string
      package_files_failed_count:
        type: string
      package_files_registry_count:
        type: string
      package_files_verification_total_count:
        type: string
      package_files_verified_count:
        type: string
      package_files_verification_failed_count:
        type: string
      package_files_oldest_unsynced_time:
        type: string
      pages_deployments_count:
        type: string
      pages_deployments_checksum_total_count:
        type: string
      pages_deployments_checksummed_count:
        type: string
      pages_deployments_checksum_failed_count:
        type: string
      pages_deployments_synced_count:
        type: string
      pages_deployments_failed_count:
        type: string
      pages_deployments_registry_count:
        type: string
      pages_deployments_verification_total_count:
        type: string
      pages_deployments_verified_count:
        type: string
      pages_deployments_verification_failed_count:
        type: string
      pages_deployments_oldest_unsynced_time:
        type: string
      pipeline_artifacts_count:
        type: string
      pipeline_artifacts_checksum_total_count:
        type: string
      pipeline_artifacts_checksummed_count:
        type: string
      pipeline_artifacts_checksum_failed_count:
        type: string
      pipeline_artifacts_synced_count:
        type: string
      pipeline_artifacts_failed_count:
        type: string
      pipeline_artifacts_registry_count:
        type: string
      pipeline_artifacts_verification_total_count:
        type: string
      pipeline_artifacts_verified_count:
        type: string
      pipeline_artifacts_verification_failed_count:
        type: string
      pipeline_artifacts_oldest_unsynced_time:
        type: string
      project_repositories_count:
        type: string
      project_repositories_checksum_total_count:
        type: string
      project_repositories_checksummed_count:
        type: string
      project_repositories_checksum_failed_count:
        type: string
      project_repositories_synced_count:
        type: string
      project_repositories_failed_count:
        type: string
      project_repositories_registry_count:
        type: string
      project_repositories_verification_total_count:
        type: string
      project_repositories_verified_count:
        type: string
      project_repositories_verification_failed_count:
        type: string
      project_repositories_oldest_unsynced_time:
        type: string
      project_wiki_repositories_count:
        type: string
      project_wiki_repositories_checksum_total_count:
        type: string
      project_wiki_repositories_checksummed_count:
        type: string
      project_wiki_repositories_checksum_failed_count:
        type: string
      project_wiki_repositories_synced_count:
        type: string
      project_wiki_repositories_failed_count:
        type: string
      project_wiki_repositories_registry_count:
        type: string
      project_wiki_repositories_verification_total_count:
        type: string
      project_wiki_repositories_verified_count:
        type: string
      project_wiki_repositories_verification_failed_count:
        type: string
      project_wiki_repositories_oldest_unsynced_time:
        type: string
      snippet_repositories_count:
        type: string
      snippet_repositories_checksum_total_count:
        type: string
      snippet_repositories_checksummed_count:
        type: string
      snippet_repositories_checksum_failed_count:
        type: string
      snippet_repositories_synced_count:
        type: string
      snippet_repositories_failed_count:
        type: string
      snippet_repositories_registry_count:
        type: string
      snippet_repositories_verification_total_count:
        type: string
      snippet_repositories_verified_count:
        type: string
      snippet_repositories_verification_failed_count:
        type: string
      snippet_repositories_oldest_unsynced_time:
        type: string
      terraform_state_versions_count:
        type: string
      terraform_state_versions_checksum_total_count:
        type: string
      terraform_state_versions_checksummed_count:
        type: string
      terraform_state_versions_checksum_failed_count:
        type: string
      terraform_state_versions_synced_count:
        type: string
      terraform_state_versions_failed_count:
        type: string
      terraform_state_versions_registry_count:
        type: string
      terraform_state_versions_verification_total_count:
        type: string
      terraform_state_versions_verified_count:
        type: string
      terraform_state_versions_verification_failed_count:
        type: string
      terraform_state_versions_oldest_unsynced_time:
        type: string
      uploads_count:
        type: string
      uploads_checksum_total_count:
        type: string
      uploads_checksummed_count:
        type: string
      uploads_checksum_failed_count:
        type: string
      uploads_synced_count:
        type: string
      uploads_failed_count:
        type: string
      uploads_registry_count:
        type: string
      uploads_verification_total_count:
        type: string
      uploads_verified_count:
        type: string
      uploads_verification_failed_count:
        type: string
      uploads_oldest_unsynced_time:
        type: string
      packages_nuget_symbols_count:
        type: string
      packages_nuget_symbols_checksum_total_count:
        type: string
      packages_nuget_symbols_checksummed_count:
        type: string
      packages_nuget_symbols_checksum_failed_count:
        type: string
      packages_nuget_symbols_synced_count:
        type: string
      packages_nuget_symbols_failed_count:
        type: string
      packages_nuget_symbols_registry_count:
        type: string
      packages_nuget_symbols_verification_total_count:
        type: string
      packages_nuget_symbols_verified_count:
        type: string
      packages_nuget_symbols_verification_failed_count:
        type: string
      packages_nuget_symbols_oldest_unsynced_time:
        type: string
      supply_chain_attestations_count:
        type: string
      supply_chain_attestations_checksum_total_count:
        type: string
      supply_chain_attestations_checksummed_count:
        type: string
      supply_chain_attestations_checksum_failed_count:
        type: string
      supply_chain_attestations_synced_count:
        type: string
      supply_chain_attestations_failed_count:
        type: string
      supply_chain_attestations_registry_count:
        type: string
      supply_chain_attestations_verification_total_count:
        type: string
      supply_chain_attestations_verified_count:
        type: string
      supply_chain_attestations_verification_failed_count:
        type: string
      supply_chain_attestations_oldest_unsynced_time:
        type: string
      packages_helm_metadata_caches_count:
        type: string
      packages_helm_metadata_caches_checksum_total_count:
        type: string
      packages_helm_metadata_caches_checksummed_count:
        type: string
      packages_helm_metadata_caches_checksum_failed_count:
        type: string
      packages_helm_metadata_caches_synced_count:
        type: string
      packages_helm_metadata_caches_failed_count:
        type: string
      packages_helm_metadata_caches_registry_count:
        type: string
      packages_helm_metadata_caches_verification_total_count:
        type: string
      packages_helm_metadata_caches_verified_count:
        type: string
      packages_helm_metadata_caches_verification_failed_count:
        type: string
      packages_helm_metadata_caches_oldest_unsynced_time:
        type: string
      bulk_import_export_upload_uploads_count:
        type: string
      bulk_import_export_upload_uploads_checksum_total_count:
        type: string
      bulk_import_export_upload_uploads_checksummed_count:
        type: string
      bulk_import_export_upload_uploads_checksum_failed_count:
        type: string
      bulk_import_export_upload_uploads_synced_count:
        type: string
      bulk_import_export_upload_uploads_failed_count:
        type: string
      bulk_import_export_upload_uploads_registry_count:
        type: string
      bulk_import_export_upload_uploads_verification_total_count:
        type: string
      bulk_import_export_upload_uploads_verified_count:
        type: string
      bulk_import_export_upload_uploads_verification_failed_count:
        type: string
      bulk_import_export_upload_uploads_oldest_unsynced_time:
        type: string
      ai_vectorizable_file_uploads_count:
        type: string
      ai_vectorizable_file_uploads_checksum_total_count:
        type: string
      ai_vectorizable_file_uploads_checksummed_count:
        type: string
      ai_vectorizable_file_uploads_checksum_failed_count:
        type: string
      ai_vectorizable_file_uploads_synced_count:
        type: string
      ai_vectorizable_file_uploads_failed_count:
        type: string
      ai_vectorizable_file_uploads_registry_count:
        type: string
      ai_vectorizable_file_uploads_verification_total_count:
        type: string
      ai_vectorizable_file_uploads_verified_count:
        type: string
      ai_vectorizable_file_uploads_verification_failed_count:
        type: string
      ai_vectorizable_file_uploads_oldest_unsynced_time:
        type: string
      import_export_upload_uploads_count:
        type: string
      import_export_upload_uploads_checksum_total_count:
        type: string
      import_export_upload_uploads_checksummed_count:
        type: string
      import_export_upload_uploads_checksum_failed_count:
        type: string
      import_export_upload_uploads_synced_count:
        type: string
      import_export_upload_uploads_failed_count:
        type: string
      import_export_upload_uploads_registry_count:
        type: string
      import_export_upload_uploads_verification_total_count:
        type: string
      import_export_upload_uploads_verified_count:
        type: string
      import_export_upload_uploads_verification_failed_count:
        type: string
      import_export_upload_uploads_oldest_unsynced_time:
        type: string
      design_management_action_uploads_count:
        type: string
      design_management_action_uploads_checksum_total_count:
        type: string
      design_management_action_uploads_checksummed_count:
        type: string
      design_management_action_uploads_checksum_failed_count:
        type: string
      design_management_action_uploads_synced_count:
        type: string
      design_management_action_uploads_failed_count:
        type: string
      design_management_action_uploads_registry_count:
        type: string
      design_management_action_uploads_verification_total_count:
        type: string
      design_management_action_uploads_verified_count:
        type: string
      design_management_action_uploads_verification_failed_count:
        type: string
      design_management_action_uploads_oldest_unsynced_time:
        type: string
      user_uploads_count:
        type: string
      user_uploads_checksum_total_count:
        type: string
      user_uploads_checksummed_count:
        type: string
      user_uploads_checksum_failed_count:
        type: string
      user_uploads_synced_count:
        type: string
      user_uploads_failed_count:
        type: string
      user_uploads_registry_count:
        type: string
      user_uploads_verification_total_count:
        type: string
      user_uploads_verified_count:
        type: string
      user_uploads_verification_failed_count:
        type: string
      user_uploads_oldest_unsynced_time:
        type: string
      achievement_uploads_count:
        type: string
      achievement_uploads_checksum_total_count:
        type: string
      achievement_uploads_checksummed_count:
        type: string
      achievement_uploads_checksum_failed_count:
        type: string
      achievement_uploads_synced_count:
        type: string
      achievement_uploads_failed_count:
        type: string
      achievement_uploads_registry_count:
        type: string
      achievement_uploads_verification_total_count:
        type: string
      achievement_uploads_verified_count:
        type: string
      achievement_uploads_verification_failed_count:
        type: string
      achievement_uploads_oldest_unsynced_time:
        type: string
      group_uploads_count:
        type: string
      group_uploads_checksum_total_count:
        type: string
      group_uploads_checksummed_count:
        type: string
      group_uploads_checksum_failed_count:
        type: string
      group_uploads_synced_count:
        type: string
      group_uploads_failed_count:
        type: string
      group_uploads_registry_count:
        type: string
      group_uploads_verification_total_count:
        type: string
      group_uploads_verified_count:
        type: string
      group_uploads_verification_failed_count:
        type: string
      group_uploads_oldest_unsynced_time:
        type: string
      project_uploads_count:
        type: string
      project_uploads_checksum_total_count:
        type: string
      project_uploads_checksummed_count:
        type: string
      project_uploads_checksum_failed_count:
        type: string
      project_uploads_synced_count:
        type: string
      project_uploads_failed_count:
        type: string
      project_uploads_registry_count:
        type: string
      project_uploads_verification_total_count:
        type: string
      project_uploads_verified_count:
        type: string
      project_uploads_verification_failed_count:
        type: string
      project_uploads_oldest_unsynced_time:
        type: string
      abuse_report_uploads_count:
        type: string
      abuse_report_uploads_checksum_total_count:
        type: string
      abuse_report_uploads_checksummed_count:
        type: string
      abuse_report_uploads_checksum_failed_count:
        type: string
      abuse_report_uploads_synced_count:
        type: string
      abuse_report_uploads_failed_count:
        type: string
      abuse_report_uploads_registry_count:
        type: string
      abuse_report_uploads_verification_total_count:
        type: string
      abuse_report_uploads_verified_count:
        type: string
      abuse_report_uploads_verification_failed_count:
        type: string
      abuse_report_uploads_oldest_unsynced_time:
        type: string
      git_fetch_event_count_weekly:
        type: string
      git_push_event_count_weekly:
        type: string
      proxy_remote_requests_event_count_weekly:
        type: string
      proxy_local_requests_event_count_weekly:
        type: string
      repositories_checked_in_percentage:
        type: string
      replication_slots_used_in_percentage:
        type: string
      ci_secure_files_synced_in_percentage:
        type: string
      ci_secure_files_verified_in_percentage:
        type: string
      container_repositories_synced_in_percentage:
        type: string
      container_repositories_verified_in_percentage:
        type: string
      dependency_proxy_blobs_synced_in_percentage:
        type: string
      dependency_proxy_blobs_verified_in_percentage:
        type: string
      dependency_proxy_manifests_synced_in_percentage:
        type: string
      dependency_proxy_manifests_verified_in_percentage:
        type: string
      design_management_repositories_synced_in_percentage:
        type: string
      design_management_repositories_verified_in_percentage:
        type: string
      group_wiki_repositories_synced_in_percentage:
        type: string
      group_wiki_repositories_verified_in_percentage:
        type: string
      job_artifacts_synced_in_percentage:
        type: string
      job_artifacts_verified_in_percentage:
        type: string
      lfs_objects_synced_in_percentage:
        type: string
      lfs_objects_verified_in_percentage:
        type: string
      merge_request_diffs_synced_in_percentage:
        type: string
      merge_request_diffs_verified_in_percentage:
        type: string
      package_files_synced_in_percentage:
        type: string
      package_files_verified_in_percentage:
        type: string
      pages_deployments_synced_in_percentage:
        type: string
      pages_deployments_verified_in_percentage:
        type: string
      pipeline_artifacts_synced_in_percentage:
        type: string
      pipeline_artifacts_verified_in_percentage:
        type: string
      project_repositories_synced_in_percentage:
        type: string
      project_repositories_verified_in_percentage:
        type: string
      project_wiki_repositories_synced_in_percentage:
        type: string
      project_wiki_repositories_verified_in_percentage:
        type: string
      snippet_repositories_synced_in_percentage:
        type: string
      snippet_repositories_verified_in_percentage:
        type: string
      terraform_state_versions_synced_in_percentage:
        type: string
      terraform_state_versions_verified_in_percentage:
        type: string
      uploads_synced_in_percentage:
        type: string
      uploads_verified_in_percentage:
        type: string
      packages_nuget_symbols_synced_in_percentage:
        type: string
      packages_nuget_symbols_verified_in_percentage:
        type: string
      supply_chain_attestations_synced_in_percentage:
        type: string
      supply_chain_attestations_verified_in_percentage:
        type: string
      packages_helm_metadata_caches_synced_in_percentage:
        type: string
      packages_helm_metadata_caches_verified_in_percentage:
        type: string
      bulk_import_export_upload_uploads_synced_in_percentage:
        type: string
      bulk_import_export_upload_uploads_verified_in_percentage:
        type: string
      ai_vectorizable_file_uploads_synced_in_percentage:
        type: string
      ai_vectorizable_file_uploads_verified_in_percentage:
        type: string
      import_export_upload_uploads_synced_in_percentage:
        type: string
      import_export_upload_uploads_verified_in_percentage:
        type: string
      design_management_action_uploads_synced_in_percentage:
        type: string
      design_management_action_uploads_verified_in_percentage:
        type: string
      user_uploads_synced_in_percentage:
        type: string
      user_uploads_verified_in_percentage:
        type: string
      achievement_uploads_synced_in_percentage:
        type: string
      achievement_uploads_verified_in_percentage:
        type: string
      group_uploads_synced_in_percentage:
        type: string
      group_uploads_verified_in_percentage:
        type: string
      project_uploads_synced_in_percentage:
        type: string
      project_uploads_verified_in_percentage:
        type: string
      abuse_report_uploads_synced_in_percentage:
        type: string
      abuse_report_uploads_verified_in_percentage:
        type: string
      repositories_count:
        type: string
      replication_slots_count:
        type: string
      replication_slots_used_count:
        type: string
      healthy:
        type: string
      health:
        type: string
      health_status:
        type: string
      missing_oauth_application:
        type: string
      db_replication_lag_seconds:
        type: string
      replication_slots_max_retained_wal_bytes:
        type: string
      repositories_checked_count:
        type: string
      repositories_checked_failed_count:
        type: string
      last_event_id:
        type: string
      last_event_timestamp:
        type: string
      cursor_last_event_id:
        type: string
      cursor_last_event_timestamp:
        type: string
      last_successful_status_check_timestamp:
        type: string
      version:
        type: string
      revision:
        type: string
      selective_sync_type:
        type: string
      namespaces:
        $ref: '#/definitions/API_Entities_NamespaceBasic'
      updated_at:
        type: string
      storage_shards:
        $ref: '#/definitions/StorageShardEntity'
      storage_shards_match:
        type: string
      _links:
        type: object
        properties:
          self:
            type: string
          node:
            type: string
        required:
        - self
        - node
    required:
    - geo_node_id
    - projects_count
    - container_repositories_replication_enabled
    - ci_secure_files_count
    - ci_secure_files_checksum_total_count
    - ci_secure_files_checksummed_count
    - ci_secure_files_checksum_failed_count
    - ci_secure_files_synced_count
    - ci_secure_files_failed_count
    - ci_secure_files_registry_count
    - ci_secure_files_verification_total_count
    - ci_secure_files_verified_count
    - ci_secure_files_verification_failed_count
    - ci_secure_files_oldest_unsynced_time
    - container_repositories_count
    - container_repositories_checksum_total_count
    - container_repositories_checksummed_count
    - container_repositories_checksum_failed_count
    - container_repositories_synced_count
    - container_repositories_failed_count
    - container_repositories_registry_count
    - container_repositories_verification_total_count
    - container_repositories_verified_count
    - container_repositories_verification_failed_count
    - container_repositories_oldest_unsynced_time
    - dependency_proxy_blobs_count
    - dependency_proxy_blobs_checksum_total_count
    - dependency_proxy_blobs_checksummed_count
    - dependency_proxy_blobs_checksum_failed_count
    - dependency_proxy_blobs_synced_count
    - dependency_proxy_blobs_failed_count
    - dependency_proxy_blobs_registry_count
    - dependency_proxy_blobs_verification_total_count
    - dependency_proxy_blobs_verified_count
    - dependency_proxy_blobs_verification_failed_count
    - dependency_proxy_blobs_oldest_unsynced_time
    - dependency_proxy_manifests_count
    - dependency_proxy_manifests_checksum_total_count
    - dependency_proxy_manifests_checksummed_count
    - dependency_proxy_manifests_checksum_failed_count
    - dependency_proxy_manifests_synced_count
    - dependency_proxy_manifests_failed_count
    - dependency_proxy_manifests_registry_count
    - dependency_proxy_manifests_verification_total_count
    - dependency_proxy_manifests_verified_count
    - dependency_proxy_manifests_verification_failed_count
    - dependency_proxy_manifests_oldest_unsynced_time
    - design_management_repositories_count
    - design_management_repositories_checksum_total_count
    - design_management_repositories_checksummed_count
    - design_management_repositories_checksum_failed_count
    - design_management_repositories_synced_count
    - design_management_repositories_failed_count
    - design_management_repositories_registry_count
    - design_management_repositories_verification_total_count
    - design_management_repositories_verified_count
    - design_management_repositories_verification_failed_count
    - design_management_repositories_oldest_unsynced_time
    - group_wiki_repositories_count
    - group_wiki_repositories_checksum_total_count
    - group_wiki_repositories_checksummed_count
    - group_wiki_repositories_checksum_failed_count
    - group_wiki_repositories_synced_count
    - group_wiki_repositories_failed_count
    - group_wiki_repositories_registry_count
    - group_wiki_repositories_verification_total_count
    - group_wiki_repositories_verified_count
    - group_wiki_repositories_verification_failed_count
    - group_wiki_repositories_oldest_unsynced_time
    - job_artifacts_count
    - job_artifacts_checksum_total_count
    - job_artifacts_checksummed_count
    - job_artifacts_checksum_failed_count
    - job_artifacts_synced_count
    - job_artifacts_failed_count
    - job_artifacts_registry_count
    - job_artifacts_verification_total_count
    - job_artifacts_verified_count
    - job_artifacts_verification_failed_count
    - job_artifacts_oldest_unsynced_time
    - lfs_objects_count
    - lfs_objects_checksum_total_count
    - lfs_objects_checksummed_count
    - lfs_objects_checksum_failed_count
    - lfs_objects_synced_count
    - lfs_objects_failed_count
    - lfs_objects_registry_count
    - lfs_objects_verification_total_count
    - lfs_objects_verified_count
    - lfs_objects_verification_failed_count
    - lfs_objects_oldest_unsynced_time
    - merge_request_diffs_count
    - merge_request_diffs_checksum_total_count
    - merge_request_diffs_checksummed_count
    - merge_request_diffs_checksum_failed_count
    - merge_request_diffs_synced_count
    - merge_request_diffs_failed_count
    - merge_request_diffs_registry_count
    - merge_request_diffs_verification_total_count
    - merge_request_diffs_verified_count
    - merge_request_diffs_verification_failed_count
    - merge_request_diffs_oldest_unsynced_time
    - package_files_count
    - package_files_checksum_total_count
    - package_files_checksummed_count
    - package_files_checksum_failed_count
    - package_files_synced_count
    - package_files_failed_count
    - package_files_registry_count
    - package_files_verification_total_count
    - package_files_verified_count
    - package_files_verification_failed_count
    - package_files_oldest_unsynced_time
    - pages_deployments_count
    - pages_deployments_checksum_total_count
    - pages_deployments_checksummed_count
    - pages_deployments_checksum_failed_count
    - pages_deployments_synced_count
    - pages_deployments_failed_count
    - pages_deployments_registry_count
    - pages_deployments_verification_total_count
    - pages_deployments_verified_count
    - pages_deployments_verification_failed_count
    - pages_deployments_oldest_unsynced_time
    - pipeline_artifacts_count
    - pipeline_artifacts_checksum_total_count
    - pipeline_artifacts_checksummed_count
    - pipeline_artifacts_checksum_failed_count
    - pipeline_artifacts_synced_count
    - pipeline_artifacts_failed_count
    - pipeline_artifacts_registry_count
    - pipeline_artifacts_verification_total_count
    - pipeline_artifacts_verified_count
    - pipeline_artifacts_verification_failed_count
    - pipeline_artifacts_oldest_unsynced_time
    - project_repositories_count
    - project_repositories_checksum_total_count
    - project_repositories_checksummed_count
    - project_repositories_checksum_failed_count
    - project_repositories_synced_count
    - project_repositories_failed_count
    - project_repositories_registry_count
    - project_repositories_verification_total_count
    - project_repositories_verified_count
    - project_repositories_verification_failed_count
    - project_repositories_oldest_unsynced_time
    - project_wiki_repositories_count
    - project_wiki_repositories_checksum_total_count
    - project_wiki_repositories_checksummed_count
    - project_wiki_repositories_checksum_failed_count
    - project_wiki_repositories_synced_count
    - project_wiki_repositories_failed_count
    - project_wiki_repositories_registry_count
    - project_wiki_repositories_verification_total_count
    - project_wiki_repositories_verified_count
    - project_wiki_repositories_verification_failed_count
    - project_wiki_repositories_oldest_unsynced_time
    - snippet_repositories_count
    - snippet_repositories_checksum_total_count
    - snippet_repositories_checksummed_count
    - snippet_repositories_checksum_failed_count
    - snippet_repositories_synced_count
    - snippet_repositories_failed_count
    - snippet_repositories_registry_count
    - snippet_repositories_verification_total_count
    - snippet_repositories_verified_count
    - snippet_repositories_verification_failed_count
    - snippet_repositories_oldest_unsynced_time
    - terraform_state_versions_count
    - terraform_state_versions_checksum_total_count
    - terraform_state_versions_checksummed_count
    - terraform_state_versions_checksum_failed_count
    - terraform_state_versions_synced_count
    - terraform_state_versions_failed_count
    - terraform_state_versions_registry_count
    - terraform_state_versions_verification_total_count
    - terraform_state_versions_verified_count
    - terraform_state_versions_verification_failed_count
    - terraform_state_versions_oldest_unsynced_time
    - uploads_count
    - uploads_checksum_total_count
    - uploads_checksummed_count
    - uploads_checksum_failed_count
    - uploads_synced_count
    - uploads_failed_count
    - uploads_registry_count
    - uploads_verification_total_count
    - uploads_verified_count
    - uploads_verification_failed_count
    - uploads_oldest_unsynced_time
    - packages_nuget_symbols_count
    - packages_nuget_symbols_checksum_total_count
    - packages_nuget_symbols_checksummed_count
    - packages_nuget_symbols_checksum_failed_count
    - packages_nuget_symbols_synced_count
    - packages_nuget_symbols_failed_count
    - packages_nuget_symbols_registry_count
    - packages_nuget_symbols_verification_total_count
    - packages_nuget_symbols_verified_count
    - packages_nuget_symbols_verification_failed_count
    - packages_nuget_symbols_oldest_unsynced_time
    - supply_chain_attestations_count
    - supply_chain_attestations_checksum_total_count
    - supply_chain_attestations_checksummed_count
    - supply_chain_attestations_checksum_failed_count
    - supply_chain_attestations_synced_count
    - supply_chain_attestations_failed_count
    - supply_chain_attestations_registry_count
    - supply_chain_attestations_verification_total_count
    - supply_chain_attestations_verified_count
    - supply_chain_attestations_verification_failed_count
    - supply_chain_attestations_oldest_unsynced_time
    - packages_helm_metadata_caches_count
    - packages_helm_metadata_caches_checksum_total_count
    - packages_helm_metadata_caches_checksummed_count
    - packages_helm_metadata_caches_checksum_failed_count
    - packages_helm_metadata_caches_synced_count
    - packages_helm_metadata_caches_failed_count
    - packages_helm_metadata_caches_registry_count
    - packages_helm_metadata_caches_verification_total_count
    - packages_helm_metadata_caches_verified_count
    - packages_helm_metadata_caches_verification_failed_count
    - packages_helm_metadata_caches_oldest_unsynced_time
    - bulk_import_export_upload_uploads_count
    - bulk_import_export_upload_uploads_checksum_total_count
    - bulk_import_export_upload_uploads_checksummed_count
    - bulk_import_export_upload_uploads_checksum_failed_count
    - bulk_import_export_upload_uploads_synced_count
    - bulk_import_export_upload_uploads_failed_count
    - bulk_import_export_upload_uploads_registry_count
    - bulk_import_export_upload_uploads_verification_total_count
    - bulk_import_export_upload_uploads_verified_count
    - bulk_import_export_upload_uploads_verification_failed_count
    - bulk_import_export_upload_uploads_oldest_unsynced_time
    - ai_vectorizable_file_uploads_count
    - ai_vectorizable_file_uploads_checksum_total_count
    - ai_vectorizable_file_uploads_checksummed_count
    - ai_vectorizable_file_uploads_checksum_failed_count
    - ai_vectorizable_file_uploads_synced_count
    - ai_vectorizable_file_uploads_failed_count
    - ai_vectorizable_file_uploads_registry_count
    - ai_vectorizable_file_uploads_verification_total_count
    - ai_vectorizable_file_uploads_verified_count
    - ai_vectorizable_file_uploads_verification_failed_count
    - ai_vectorizable_file_uploads_oldest_unsynced_time
    - import_export_upload_uploads_count
    - import_export_upload_uploads_checksum_total_count
    - import_export_upload_uploads_checksummed_count
    - import_export_upload_uploads_checksum_failed_count
    - import_export_upload_uploads_synced_count
    - import_export_upload_uploads_failed_count
    - import_export_upload_uploads_registry_count
    - import_export_upload_uploads_verification_total_count
    - import_export_upload_uploads_verified_count
    - import_export_upload_uploads_verification_failed_count
    - import_export_upload_uploads_oldest_unsynced_time
    - design_management_action_uploads_count
    - design_management_action_uploads_checksum_total_count
    - design_management_action_uploads_checksummed_count
    - design_management_action_uploads_checksum_failed_count
    - design_management_action_uploads_synced_count
    - design_management_action_uploads_failed_count
    - design_management_action_uploads_registry_count
    - design_management_action_uploads_verification_total_count
    - design_management_action_uploads_verified_count
    - design_management_action_uploads_verification_failed_count
    - design_management_action_uploads_oldest_unsynced_time
    - user_uploads_count
    - user_uploads_checksum_total_count
    - user_uploads_checksummed_count
    - user_uploads_checksum_failed_count
    - user_uploads_synced_count
    - user_uploads_failed_count
    - user_uploads_registry_count
    - user_uploads_verification_total_count
    - user_uploads_verified_count
    - user_uploads_verification_failed_count
    - user_uploads_oldest_unsynced_time
    - achievement_uploads_count
    - achievement_uploads_checksum_total_count
    - achievement_uploads_checksummed_count
    - achievement_uploads_checksum_failed_count
    - achievement_uploads_synced_count
    - achievement_uploads_failed_count
    - achievement_uploads_registry_count
    - achievement_uploads_verification_total_count
    - achievement_uploads_verified_count
    - achievement_uploads_verification_failed_count
    - achievement_uploads_oldest_unsynced_time
    - group_uploads_count
    - group_uploads_checksum_total_count
    - group_uploads_checksummed_count
    - group_uploads_checksum_failed_count
    - group_uploads_synced_count
    - group_uploads_failed_count
    - group_uploads_registry_count
    - group_uploads_verification_total_count
    - group_uploads_verified_count
    - group_uploads_verification_failed_count
    - group_uploads_oldest_unsynced_time
    - project_uploads_count
    - project_uploads_checksum_total_count
    - project_uploads_checksummed_count
    - project_uploads_checksum_failed_count
    - project_uploads_synced_count
    - project_uploads_failed_count
    - project_uploads_registry_count
    - project_uploads_verification_total_count
    - project_uploads_verified_count
    - project_uploads_verification_failed_count
    - project_uploads_oldest_unsynced_time
    - abuse_report_uploads_count
    - abuse_report_uploads_checksum_total_count
    - abuse_report_uploads_checksummed_count
    - abuse_report_uploads_checksum_failed_count
    - abuse_report_uploads_synced_count
    - abuse_report_uploads_failed_count
    - abuse_report_uploads_registry_count
    - abuse_report_uploads_verification_total_count
    - abuse_report_uploads_verified_count
    - abuse_report_uploads_verification_failed_count
    - abuse_report_uploads_oldest_unsynced_time
    - git_fetch_event_count_weekly
    - git_push_event_count_weekly
    - proxy_remote_requests_event_count_weekly
    - proxy_local_requests_event_count_weekly
    - repositories_checked_in_percentage
    - replication_slots_used_in_percentage
    - ci_secure_files_synced_in_percentage
    - ci_secure_files_verified_in_percentage
    - container_repositories_synced_in_percentage
    - container_repositories_verified_in_percentage
    - dependency_proxy_blobs_synced_in_percentage
    - dependency_proxy_blobs_verified_in_percentage
    - dependency_proxy_manifests_synced_in_percentage
    - dependency_proxy_manifests_verified_in_percentage
    - design_management_repositories_synced_in_percentage
    - design_management_repositories_verified_in_percentage
    - group_wiki_repositories_synced_in_percentage
    - group_wiki_repositories_verified_in_percentage
    - job_artifacts_synced_in_percentage
    - job_artifacts_verified_in_percentage
    - lfs_objects_synced_in_percentage
    - lfs_objects_verified_in_percentage
    - merge_request_diffs_synced_in_percentage
    - merge_request_diffs_verified_in_percentage
    - package_files_synced_in_percentage
    - package_files_verified_in_percentage
    - pages_deployments_synced_in_percentage
    - pages_deployments_verified_in_percentage
    - pipeline_artifacts_synced_in_percentage
    - pipeline_artifacts_verified_in_percentage
    - project_repositories_synced_in_percentage
    - project_repositories_verified_in_percentage
    - project_wiki_repositories_synced_in_percentage
    - project_wiki_repositories_verified_in_percentage
    - snippet_repositories_synced_in_percentage
    - snippet_repositories_verified_in_percentage
    - terraform_state_versions_synced_in_percentage
    - terraform_state_versions_verified_in_percentage
    - uploads_synced_in_percentage
    - uploads_verified_in_percentage
    - packages_nuget_symbols_synced_in_percentage
    - packages_nuget_symbols_verified_in_percentage
    - supply_chain_attestations_synced_in_percentage
    - supply_chain_attestations_verified_in_percentage
    - packages_helm_metadata_caches_synced_in_percentage
    - packages_helm_metadata_caches_verified_in_percentage
    - bulk_import_export_upload_uploads_synced_in_percentage
    - bulk_import_export_upload_uploads_verified_in_percentage
    - ai_vectorizable_file_uploads_synced_in_percentage
    - ai_vectorizable_file_uploads_verified_in_percentage
    - import_export_upload_uploads_synced_in_percentage
    - import_export_upload_uploads_verified_in_percentage
    - design_management_action_uploads_synced_in_percentage
    - design_management_action_uploads_verified_in_percentage
    - user_uploads_synced_in_percentage
    - user_uploads_verified_in_percentage
    - achievement_uploads_synced_in_percentage
    - achievement_uploads_verified_in_percentage
    - group_uploads_synced_in_percentage
    - group_uploads_verified_in_percentage
    - project_uploads_synced_in_percentage
    - project_uploads_verified_in_percentage
    - abuse_report_uploads_synced_in_percentage
    - abuse_report_uploads_verified_in_percentage
    - repositories_count
    - replication_slots_count
    - replication_slots_used_count
    - healthy
    - health
    - health_status
    - missing_oauth_application
    - db_replication_lag_seconds
    - replication_slots_max_retained_wal_bytes
    - repositories_checked_count
    - repositories_checked_failed_count
    - last_event_id
    - last_event_timestamp
    - cursor_last_event_id
    - cursor_last_event_timestamp
    - last_successful_status_check_timestamp
    - version
    - revision
    - selective_sync_type
    - namespaces
    - updated_at
    - storage_shards_match
    - _links
    description: API_Entities_GeoNodeStatus model
  API_Entities_NamespaceBasic:
    type: object
    properties:
      id:
        type: integer
        format: int32
        example: 2
      name:
        type: string
        example: project
      path:
        type: string
        example: my_project
      kind:
        type: string
        example: project
      full_path:
        type: string
        example: group/my_project
      parent_id:
        type: integer
        format: int32
        example: 1
      avatar_url:
        type: string
        example: https://example.com/avatar/12345
      web_url:
        type: string
        example: https://example.com/group/my_project
    required:
    - id
    - name
    - path
    - kind
    - full_path
    - parent_id
    - avatar_url
    - web_url
  postApiV4GeoProxyGitSshInfoRefsReceivePack:
    type: object
    properties:
      secret_token:
        type: string
        description: "Secret token used to authenticate requests from gitlab-shell\n                to Geo proxy endpoints"
      data:
        type: object
        description: Object that contains the payload data for the Geo operation
        properties:
          gl_id:
            type: string
            description: ID of the user performing the operation
          primary_repo:
            type: string
            description: Primary repository to push to
        required:
        - gl_id
        - primary_repo
    required:
    - secret_token
    - data
    description: "Responsible for making HTTP GET /repo.git/info/refs?service=git-receive-pack\n                  request from secondary gitlab-shell to primary"
  postApiV4GeoProxyGitSshInfoRefsUploadPack:
    type: object
    properties:
      secret_token:
        type: string
        description: Secret token to authenticate by gitlab shell
      data:
        type: object
        description: Object that contains the payload data for the Geo operation
        properties:
          gl_id:
            type: string
            description: ID of the user performing the operation
          primary_repo:
            type: string
            description: Primary repository to clone or pull from
        required:
        - gl_id
        - primary_repo
    required:
    - secret_token
    - data
    description: "Responsible for making HTTP GET /repo.git/info/refs?service=git-upload-pack\n                  request from secondary gitlab-shell to primary"
  postApiV4GeoStatus:
    type: object
    properties:
      data:
        type: object
        description: "Object that contains status information\n              and replication metrics for the Geo node"
        properties:
          geo_node_id:
            type: integer
            format: int32
            description: Geo Node ID to look up its status
          db_replication_lag_seconds:
            type: integer
            format: int32
            description: DB replication lag in seconds
          last_event_id:
            type: integer
            format: int32
            description: Last event ID
          last_event_date:
            type: string
            format: date-time
            description: Last event date
          cursor_last_event_id:
            type: integer
            format: int32
            description: Cursor last event ID
          cursor_last_event_date:
            type: string
            format: date-time
            description: Cursor last event date
          last_successful_status_check_at:
            type: string
            format: date-time
            description: Last successful status check date
          status_message:
            type: string
            description: Status message
          replication_slots_count:
            type: integer
            format: int32
            description: Replication slots count
          replication_slots_used_count:
            type: integer
            format: int32
            description: Replication slots used count
          replication_slots_max_retained_wal_bytes:
            type: integer
            format: int32
            description: Maximum number of bytes retained in the WAL on the primary
          version:
            type: string
            description: Gitlab version
          revision:
            type: string
            description: Gitlab revision
          status:
            type: object
            description: "Object that contains information on replication and verification\n                status metrics for GitLab resources on Geo nodes"
            properties:
              projects_count:
                type: integer
                format: int32
                description: Projects count
              container_repositories_replication_enabled:
                type: boolean
                description: Container repositories replication enabled
              lfs_objects_count:
                type: integer
                format: int32
                description: LFS objects count
              lfs_objects_checksum_total_count:
                type: integer
                format: int32
                description: LFS objects checksum total count
              lfs_objects_checksummed_count:
                type: integer
                format: int32
                description: LFS objects checksummed count
              lfs_objects_checksum_failed_count:
                type: integer
                format: int32
                description: LFS objects checksum failed count
              lfs_objects_synced_count:
                type: integer
                format: int32
                description: LFS objects synced count
              lfs_objects_failed_count:
                type: integer
                format: int32
                description: LFS objects failed count
              lfs_objects_registry_count:
                type: integer
                format: int32
                description: LFS objects registry count
              lfs_objects_verification_total_count:
                type: integer
                format: int32
                description: LFS objects verification total count
              lfs_objects_verified_count:
                type: integer
                format: int32
                description: LFS objects verified count
              lfs_objects_verification_failed_count:
                type: integer
                format: int32
                description: LFS objects verification failed count
              merge_request_diffs_count:
                type: integer
                format: int32
                description: Merge request diffs count
              merge_request_diffs_checksum_total_count:
                type: integer
                format: int32
                description: Merge request diffs checksum total count
              merge_request_diffs_checksummed_count:
                type: integer
                format: int32
                description: Merge request diffs checksummed count
              merge_request_diffs_checksum_failed_count:
                type: integer
                format: int32
                description: Merge request diffs checksum failed count
              merge_request_diffs_synced_count:
                type: integer
                format: int32
                description: Merge request diffs synced count
              merge_request_diffs_failed_count:
                type: integer
                format: int32
                description: Merge request diffs failed count
              merge_request_diffs_registry_count:
                type: integer
                format: int32
                description: Merge request diffs registry count
              merge_request_diffs_verification_total_count:
                type: integer
                format: int32
                description: Merge request diffs verification total count
              merge_request_diffs_verified_count:
                type: integer
                format: int32
                description: Merge request diffs verified count
              merge_request_diffs_verification_failed_count:
                type: integer
                format: int32
                description: Merge request diffs verified count
              package_files_count:
                type: integer
                format: int32
                description: Packages files count
              package_files_checksum_total_count:
                type: integer
                format: int32
                description: Packages files checksum total count
              package_files_checksummed_count:
                type: integer
                format: int32
                description: Packages files checksummed count
              package_files_checksum_failed_count:
                type: integer
                format: int32
                description: Packages files checksum failed count
              package_files_synced_count:
                type: integer
                format: int32
                description: Packages files synced count
              package_files_failed_count:
                type: integer
                format: int32
                description: Packages files failed count
              package_files_registry_count:
                type: integer
                format: int32
                description: Packages files registry count
              package_files_verification_total_count:
                type: integer
                format: int32
                description: Packages files verification total count
              package_files_verified_count:
                type: integer
                format: int32
                description: Packages files verified count
              package_files_verification_failed_count:
                type: integer
                format: int32
                description: Packages files verification failed count
              packages_nuget_symbols_count:
                type: integer
                format: int32
                description: NuGet symbols count
              packages_nuget_symbols_checksum_total_count:
                type: integer
                format: int32
                description: NuGet symbols checksum total count
              packages_nuget_symbols_checksummed_count:
                type: integer
                format: int32
                description: NuGet symbols checksummed count
              packages_nuget_symbols_checksum_failed_count:
                type: integer
                format: int32
                description: NuGet symbols checksum failed count
              packages_nuget_symbols_synced_count:
                type: integer
                format: int32
                description: NuGet symbols synced count
              packages_nuget_symbols_failed_count:
                type: integer
                format: int32
                description: NuGet symbols failed count
              packages_nuget_symbols_registry_count:
                type: integer
                format: int32
                description: NuGet symbols registry count
              packages_nuget_symbols_verification_total_count:
                type: integer
                format: int32
                description: NuGet symbols verification total count
              packages_nuget_symbols_verified_count:
                type: integer
                format: int32
                description: NuGet symbols verified count
              packages_nuget_symbols_verification_failed_count:
                type: integer
                format: int32
                description: NuGet symbols verification failed count
              terraform_state_versions_count:
                type: integer
                format: int32
                description: Terraform state versions count
              terraform_state_versions_checksum_total_count:
                type: integer
                format: int32
                description: Terraform state versions checksum total count
              terraform_state_versions_checksummed_count:
                type: integer
                format: int32
                description: Terraform state versions checksummed count
              terraform_state_versions_checksum_failed_count:
                type: integer
                format: int32
                description: Terraform state versions checksum failed count
              terraform_state_versions_synced_count:
                type: integer
                format: int32
                description: Terraform state versions synced count
              terraform_state_versions_failed_count:
                type: integer
                format: int32
                description: Terraform state versions failed count
              terraform_state_versions_registry_count:
                type: integer
                format: int32
                description: Terraform state versions registry count
              terraform_state_versions_verification_total_count:
                type: integer
                format: int32
                description: Terraform state versions verification total count
              terraform_state_versions_verified_count:
                type: integer
                format: int32
                description: Terraform state versions verified count
              terraform_state_versions_verification_failed_count:
                type: integer
                format: int32
                description: Terraform state versions verification failed count
              snippet_repositories_count:
                type: integer
                format: int32
                description: Snippet repositories count
              snippet_repositories_checksum_total_count:
                type: integer
                format: int32
                description: Snippet repositories checksum total count
              snippet_repositories_checksummed_count:
                type: integer
                format: int32
                description: Snippet repositories checksummed count
              snippet_repositories_checksum_failed_count:
                type: integer
                format: int32
                description: Snippet repositories checksum failed count
              snippet_repositories_synced_count:
                type: integer
                format: int32
                description: Snippet repositories synced count
              snippet_repositories_failed_count:
                type: integer
                format: int32
                description: Snippet repositories failed count
              snippet_repositories_registry_count:
                type: integer
                format: int32
                description: Snippet repositories registry count
              snippet_repositories_verification_total_count:
                type: integer
                format: int32
                description: Snippet repositories verification total count
              snippet_repositories_verified_count:
                type: integer
                format: int32
                description: Snippet repositories verified count
              snippet_repositories_verification_failed_count:
                type: integer
                format: int32
                description: Snippet repositories verification failed count
              group_wiki_repositories_count:
                type: integer
                format: int32
                description: Group wiki repositories count
              group_wiki_repositories_checksum_total_count:
                type: integer
                format: int32
                description: Group wiki repositories checksum total count
              group_wiki_repositories_checksummed_count:
                type: integer
                format: int32
                description: Group wiki repositories checksummed count
              group_wiki_repositories_checksum_failed_count:
                type: integer
                format: int32
                description: Group wiki repositories checksum failed count
              group_wiki_repositories_synced_count:
                type: integer
                format: int32
                description: Group wiki repositories synced count
              group_wiki_repositories_failed_count:
                type: integer
                format: int32
                description: Group wiki repositories failed count
              group_wiki_repositories_registry_count:
                type: integer
                format: int32
                description: Group wiki repositories registry count
              group_wiki_repositories_verification_total_count:
                type: integer
                format: int32
                description: Group wiki repositories verification total count
              group_wiki_repositories_verified_count:
                type: integer
                format: int32
                description: Group wiki repositories verified count
              group_wiki_repositories_verification_failed_count:
                type: integer
                format: int32
                description: Group wiki repositories verification failed count
              pipeline_artifacts_count:
                type: integer
                format: int32
                description: Pipeline artifacts count
              pipeline_artifacts_checksum_total_count:
                type: integer
                format: int32
                description: Pipeline artifacts checksum total count
              pipeline_artifacts_checksummed_count:
                type: integer
                format: int32
                description: Pipeline artifacts checksummed count
              pipeline_artifacts_checksum_failed_count:
                type: integer
                format: int32
                description: Pipeline artifacts checksum failed count
              pipeline_artifacts_synced_count:
                type: integer
                format: int32
                description: Pipeline artifacts synced count
              pipeline_artifacts_failed_count:
                type: integer
                format: int32
                description: Pipeline artifacts failed count
              pipeline_artifacts_registry_count:
                type: integer
                format: int32
                description: Pipeline artifacts registry count
              pipeline_artifacts_verification_total_count:
                type: integer
                format: int32
                description: Pipeline artifacts verification total count
              pipeline_artifacts_verified_count:
                type: integer
                format: int32
                description: Pipeline artifacts verified count
              pipeline_artifacts_verification_failed_count:
                type: integer
                format: int32
                description: Pipeline artifacts verification failed count
              pages_deployments_count:
                type: integer
                format: int32
                description: Pages deployments count
              pages_deployments_checksum_total_count:
                type: integer
                format: int32
                description: Pages deployments checksum total count
              pages_deployments_checksummed_count:
                type: integer
                format: int32
                description: Pages deployments checksummed count
              pages_deployments_checksum_failed_count:
                type: integer
                format: int32
                description: Pages deployments checksum failed count
              pages_deployments_synced_count:
                type: integer
                format: int32
                description: Pages deployments synced count
              pages_deployments_failed_count:
                type: integer
                format: int32
                description: Pages deployments failed count
              pages_deployments_registry_count:
                type: integer
                format: int32
                description: Pages deployments registry count
              pages_deployments_verification_total_count:
                type: integer
                format: int32
                description: Pages deployments verification total count
              pages_deployments_verified_count:
                type: integer
                format: int32
                description: Pages deployments verified count
              pages_deployments_verification_failed_count:
                type: integer
                format: int32
                description: Pages deployments verification failed count
              uploads_count:
                type: integer
                format: int32
                description: Uploads count
              uploads_checksum_total_count:
                type: integer
                format: int32
                description: Uploads checksum total count
              uploads_checksummed_count:
                type: integer
                format: int32
                description: Uploads checksummed count
              uploads_checksum_failed_count:
                type: integer
                format: int32
                description: Uploads checksum failed count
              uploads_synced_count:
                type: integer
                format: int32
                description: Uploads synced count
              uploads_failed_count:
                type: integer
                format: int32
                description: Uploads failed count
              uploads_registry_count:
                type: integer
                format: int32
                description: Uploads registry count
              uploads_verification_total_count:
                type: integer
                format: int32
                description: Uploads verification total count
              uploads_verified_count:
                type: integer
                format: int32
                description: Uploads verified count
              uploads_verification_failed_count:
                type: integer
                format: int32
                description: Uploads verification failed count
              job_artifacts_count:
                type: integer
                format: int32
                description: Job artifacts count
              job_artifacts_checksum_total_count:
                type: integer
                format: int32
                description: Job artifacts checksum total count
              job_artifacts_checksummed_count:
                type: integer
                format: int32
                description: Job artifacts checksummed count
              job_artifacts_checksum_failed_count:
                type: integer
                format: int32
                description: Job artifacts checksum failed count
              job_artifacts_synced_count:
                type: integer
                format: int32
                description: Job artifacts synced count
              job_artifacts_failed_count:
                type: integer
                format: int32
                description: Job artifacts failed count
              job_artifacts_registry_count:
                type: integer
                format: int32
                description: Job artifacts registry count
              job_artifacts_verification_total_count:
                type: integer
                format: int32
                description: Job artifacts verification total count
              job_artifacts_verified_count:
                type: integer
                format: int32
                description: Job artifacts verified count
              job_artifacts_verification_failed_count:
                type: integer
                format: int32
                description: Job artifacts verification failed count
              ci_secure_files_count:
                type: integer
                format: int32
                description: CI secure files count
              ci_secure_files_checksum_total_count:
                type: integer
                format: int32
                description: CI secure files checksum total count
              ci_secure_files_checksummed_count:
                type: integer
                format: int32
                description: CI secure files checksummed count
              ci_secure_files_checksum_failed_count:
                type: integer
                format: int32
                description: CI secure files checksum failed count
              ci_secure_files_synced_count:
                type: integer
                format: int32
                description: CI secure files synced count
              ci_secure_files_failed_count:
                type: integer
                format: int32
                description: CI secure files failed count
              ci_secure_files_registry_count:
                type: integer
                format: int32
                description: CI secure files registry count
              ci_secure_files_verification_total_count:
                type: integer
                format: int32
                description: CI secure files verification total count
              ci_secure_files_verified_count:
                type: integer
                format: int32
                description: CI secure files verified count
              ci_secure_files_verification_failed_count:
                type: integer
                format: int32
                description: CI secure files verification failed count
              container_repositories_count:
                type: integer
                format: int32
                description: Container repositories count
              container_repositories_checksum_total_count:
                type: integer
                format: int32
                description: Container repositories checksum total count
              container_repositories_checksummed_count:
                type: integer
                format: int32
                description: Container repositories checksummed count
              container_repositories_checksum_failed_count:
                type: integer
                format: int32
                description: Container repositories checksum failed count
              container_repositories_synced_count:
                type: integer
                format: int32
                description: Container repositories synced count
              container_repositories_failed_count:
                type: integer
                format: int32
                description: Container repositories failed count
              container_repositories_registry_count:
                type: integer
                format: int32
                description: Container repositories registry count
              container_repositories_verification_total_count:
                type: integer
                format: int32
                description: Container repositories verification total count
              container_repositories_verified_count:
                type: integer
                format: int32
                description: Container repositories verified count
              container_repositories_verification_failed_count:
                type: integer
                format: int32
                description: Container repositories verification failed count
              git_fetch_event_count_weekly:
                type: integer
                format: int32
                description: Git fetch event count weekly
              git_push_event_count_weekly:
                type: integer
                format: int32
                description: Git push event count weekly
              proxy_remote_requests_event_count_weekly:
                type: integer
                format: int32
                description: Proxy remote requests event count weekly
              proxy_local_requests_event_count_weekly:
                type: integer
                format: int32
                description: Proxy local requests event count weekly
        required:
        - geo_node_id
    description: Posts the current node status to the primary site
  StorageShardEntity:
    type: object
    properties:
      name:
        type: string
    required:
    - name
  API_Entities_Geo_PipelineRefs:
    type: object
    properties:
      pipeline_refs:
        type: array
        items:
          type: string
        example:
        - refs/pipelines/1
    required:
    - pipeline_refs
    description: API_Entities_Geo_PipelineRefs model
  postApiV4GeoProxyGitSshReceivePack:
    type: object
    properties:
      secret_token:
        type: string
        description: "Secret token used to authenticate requests from gitlab-shell\n                to Geo proxy endpoints"
      data:
        type: object
        description: Object that contains the payload data for the Geo operation
        properties:
          gl_id:
            type: string
            description: ID of the user performing the operation
          primary_repo:
            type: string
            description: Primary repository to push to
        required:
        - gl_id
        - primary_repo
      output:
        type: string
        description: Output from git-receive-pack
    required:
    - secret_token
    - data
    - output
    description: "Responsible for making HTTP POST /repo.git/info/refs?service=git-receive-pack\n                  request from secondary gitlab-shell to primary"
securityDefinitions:
  access_token_header:
    type: apiKey
    name: PRIVATE-TOKEN
    in: header
  access_token_query:
    type: apiKey
    name: private_token
    in: query
