openapi: 3.2.0
info:
  title: GitLab access_requests Resource Events API
  version: v4
  description: Operations related to access requests
servers:
- url: https://gitlab.com
tags:
- name: resource_events
  description: Operations about resource_events
paths:
  /api/v4/projects/{id}/issues/{eventable_id}/resource_milestone_events:
    get:
      summary: List project Issue milestone events
      description: Gets a list of all milestone events for a single Issue
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: eventable_id
        description: The ID of the eventable
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: List project Issue milestone events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_ResourceMilestoneEvent'
      tags:
      - resource_events
      operationId: getApiV4ProjectsIdIssuesEventableIdResourceMilestoneEvents
  /api/v4/projects/{id}/issues/{eventable_id}/resource_milestone_events/{event_id}:
    get:
      summary: Get single Issue milestone event
      description: Returns a single milestone event for a specific project Issue
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: event_id
        description: The ID of a resource milestone event
        required: true
        schema:
          type: string
      - in: path
        name: eventable_id
        description: The ID of the eventable
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get single Issue milestone event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_ResourceMilestoneEvent'
        '404':
          description: Not found
      tags:
      - resource_events
      operationId: getApiV4ProjectsIdIssuesEventableIdResourceMilestoneEventsEventId
  /api/v4/projects/{id}/merge_requests/{eventable_id}/resource_milestone_events:
    get:
      summary: List project Merge request milestone events
      description: Gets a list of all milestone events for a single Merge request
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: eventable_id
        description: The ID of the eventable
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: List project Merge request milestone events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_ResourceMilestoneEvent'
      tags:
      - resource_events
      operationId: getApiV4ProjectsIdMergeRequestsEventableIdResourceMilestoneEvents
  /api/v4/projects/{id}/merge_requests/{eventable_id}/resource_milestone_events/{event_id}:
    get:
      summary: Get single Merge request milestone event
      description: Returns a single milestone event for a specific project Merge request
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: event_id
        description: The ID of a resource milestone event
        required: true
        schema:
          type: string
      - in: path
        name: eventable_id
        description: The ID of the eventable
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Get single Merge request milestone event
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_ResourceMilestoneEvent'
        '404':
          description: Not found
      tags:
      - resource_events
      operationId: getApiV4ProjectsIdMergeRequestsEventableIdResourceMilestoneEventsEventId
components:
  schemas:
    API_Entities_UserBasic:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 1
        username:
          type: string
          example: admin
        public_email:
          type: string
          example: john@example.com
        name:
          type: string
          example: Administrator
        state:
          type: string
          example: active
        locked:
          type: boolean
        avatar_url:
          type: string
          example: https://gravatar.com/avatar/1
        avatar_path:
          type: string
          example: /user/avatar/28/The-Big-Lebowski-400-400.png
        custom_attributes:
          type: array
          items:
            $ref: '#/components/schemas/API_Entities_CustomAttribute'
        web_url:
          type: string
          example: https://gitlab.example.com/root
      required:
      - id
      - username
      - public_email
      - name
      - state
      - locked
      - avatar_url
      - web_url
      description: API_Entities_UserBasic model
    API_Entities_ResourceMilestoneEvent:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 142
        user:
          $ref: '#/components/schemas/API_Entities_UserBasic'
        created_at:
          type: string
          format: date-time
          example: '2018-08-20T13:38:20.077Z'
        resource_type:
          type: string
          example: Issue
        resource_id:
          type: integer
          format: int32
          example: 253
        milestone:
          $ref: '#/components/schemas/API_Entities_Milestone'
        action:
          type: string
          example: add
        state:
          type: string
          example: active
      required:
      - id
      - user
      - created_at
      - resource_type
      - resource_id
      - milestone
      - action
      - state
      description: API_Entities_ResourceMilestoneEvent model
    API_Entities_CustomAttribute:
      type: object
      properties:
        key:
          type: string
          example: foo
        value:
          type: string
          example: bar
      required:
      - key
      - value
      description: API_Entities_CustomAttribute model
    API_Entities_Milestone:
      type: object
      properties:
        id:
          type: integer
          format: int32
        iid:
          type: integer
          format: int32
        project_id:
          type: integer
          format: int32
        group_id:
          type: string
        title:
          type: string
        description:
          type: string
        state:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        due_date:
          type: string
        start_date:
          type: string
        expired:
          type: boolean
        web_url:
          type: string
      required:
      - id
      - iid
      - title
      - description
      - state
      - created_at
      - updated_at
      - due_date
      - start_date
      - expired
      - web_url
  securitySchemes:
    access_token_header:
      type: apiKey
      name: PRIVATE-TOKEN
      in: header
    access_token_query:
      type: apiKey
      name: private_token
      in: query
