openapi: 3.2.0
info:
  title: GitLab access_requests Avatars API
  version: v4
  description: Operations related to access requests
servers:
- url: https://gitlab.com
tags:
- name: avatars
  description: Operations about avatars
paths:
  /api/v4/groups/{id}/avatar:
    get:
      summary: Download the group avatar
      description: This feature was introduced in GitLab 14.0
      parameters:
      - in: path
        name: id
        description: The ID of the group
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Download the group avatar
      tags:
      - avatars
      operationId: getApiV4GroupsIdAvatar
  /api/v4/projects/{id}/avatar:
    get:
      summary: Download a project avatar
      description: This feature was introduced in GitLab 16.9
      parameters:
      - in: path
        name: id
        description: ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Download a project avatar
      tags:
      - avatars
      operationId: getApiV4ProjectsIdAvatar
  /api/v4/avatar:
    get:
      description: Return avatar url for a user
      parameters:
      - in: query
        name: email
        description: Public email address of the user
        required: true
        schema:
          type: string
      - in: query
        name: size
        description: Single pixel dimension for Gravatar images
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Return avatar url for a user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Avatar'
      tags:
      - avatars
      operationId: getApiV4Avatar
components:
  schemas:
    API_Entities_Avatar:
      type: object
      properties:
        avatar_url:
          type: string
      required:
      - avatar_url
      description: API_Entities_Avatar model
  securitySchemes:
    access_token_header:
      type: apiKey
      name: PRIVATE-TOKEN
      in: header
    access_token_query:
      type: apiKey
      name: private_token
      in: query
