swagger: '2.0'
info:
  title: GitLab access_requests integrations API
  version: v4
  description: Operations related to access requests
host: gitlab.com
produces:
- application/json
tags:
- name: integrations
  description: Operations related to integrations
paths:
  /api/v4/groups/{id}/integrations:
    get:
      summary: List all active integrations
      description: Get a list of all active integrations.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: List all active integrations
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_IntegrationBasic'
        '401':
          description: Unauthorized
        '404':
          description: Not found
      tags:
      - integrations
      operationId: getApiV4GroupsIdIntegrations
  /api/v4/groups/{id}/integrations/apple-app-store:
    put:
      summary: Create/Edit Apple App Store integration
      description: Set Apple App Store integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsAppleAppStore
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsAppleAppStore'
      responses:
        '200':
          description: Create/Edit Apple App Store integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsAppleAppStore
  /api/v4/groups/{id}/integrations/asana:
    put:
      summary: Create/Edit Asana integration
      description: Set Asana integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsAsana
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsAsana'
      responses:
        '200':
          description: Create/Edit Asana integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsAsana
  /api/v4/groups/{id}/integrations/assembla:
    put:
      summary: Create/Edit Assembla integration
      description: Set Assembla integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsAssembla
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsAssembla'
      responses:
        '200':
          description: Create/Edit Assembla integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsAssembla
  /api/v4/groups/{id}/integrations/bamboo:
    put:
      summary: Create/Edit Bamboo integration
      description: Set Bamboo integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsBamboo
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsBamboo'
      responses:
        '200':
          description: Create/Edit Bamboo integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsBamboo
  /api/v4/groups/{id}/integrations/bugzilla:
    put:
      summary: Create/Edit Bugzilla integration
      description: Set Bugzilla integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsBugzilla
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsBugzilla'
      responses:
        '200':
          description: Create/Edit Bugzilla integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsBugzilla
  /api/v4/groups/{id}/integrations/buildkite:
    put:
      summary: Create/Edit Buildkite integration
      description: Set Buildkite integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsBuildkite
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsBuildkite'
      responses:
        '200':
          description: Create/Edit Buildkite integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsBuildkite
  /api/v4/groups/{id}/integrations/campfire:
    put:
      summary: Create/Edit Campfire integration
      description: Set Campfire integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsCampfire
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsCampfire'
      responses:
        '200':
          description: Create/Edit Campfire integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsCampfire
  /api/v4/groups/{id}/integrations/confluence:
    put:
      summary: Create/Edit Confluence integration
      description: Set Confluence integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsConfluence
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsConfluence'
      responses:
        '200':
          description: Create/Edit Confluence integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsConfluence
  /api/v4/groups/{id}/integrations/custom-issue-tracker:
    put:
      summary: Create/Edit Custom Issue Tracker integration
      description: Set Custom Issue Tracker integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsCustomIssueTracker
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsCustomIssueTracker'
      responses:
        '200':
          description: Create/Edit Custom Issue Tracker integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsCustomIssueTracker
  /api/v4/groups/{id}/integrations/datadog:
    put:
      summary: Create/Edit Datadog integration
      description: Set Datadog integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsDatadog
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsDatadog'
      responses:
        '200':
          description: Create/Edit Datadog integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsDatadog
  /api/v4/groups/{id}/integrations/diffblue-cover:
    put:
      summary: Create/Edit Diffblue Cover integration
      description: Set Diffblue Cover integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsDiffblueCover
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsDiffblueCover'
      responses:
        '200':
          description: Create/Edit Diffblue Cover integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsDiffblueCover
  /api/v4/groups/{id}/integrations/discord:
    put:
      summary: Create/Edit Discord integration
      description: Set Discord integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsDiscord
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsDiscord'
      responses:
        '200':
          description: Create/Edit Discord integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsDiscord
  /api/v4/groups/{id}/integrations/drone-ci:
    put:
      summary: Create/Edit Drone Ci integration
      description: Set Drone Ci integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsDroneCi
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsDroneCi'
      responses:
        '200':
          description: Create/Edit Drone Ci integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsDroneCi
  /api/v4/groups/{id}/integrations/emails-on-push:
    put:
      summary: Create/Edit Emails On Push integration
      description: Set Emails On Push integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsEmailsOnPush
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsEmailsOnPush'
      responses:
        '200':
          description: Create/Edit Emails On Push integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsEmailsOnPush
  /api/v4/groups/{id}/integrations/external-wiki:
    put:
      summary: Create/Edit External Wiki integration
      description: Set External Wiki integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsExternalWiki
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsExternalWiki'
      responses:
        '200':
          description: Create/Edit External Wiki integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsExternalWiki
  /api/v4/groups/{id}/integrations/gitlab-slack-application:
    put:
      summary: Create/Edit Gitlab Slack Application integration
      description: Set Gitlab Slack Application integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsGitlabSlackApplication
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsGitlabSlackApplication'
      responses:
        '200':
          description: Create/Edit Gitlab Slack Application integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsGitlabSlackApplication
  /api/v4/groups/{id}/integrations/google-play:
    put:
      summary: Create/Edit Google Play integration
      description: Set Google Play integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsGooglePlay
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsGooglePlay'
      responses:
        '200':
          description: Create/Edit Google Play integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsGooglePlay
  /api/v4/groups/{id}/integrations/hangouts-chat:
    put:
      summary: Create/Edit Hangouts Chat integration
      description: Set Hangouts Chat integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsHangoutsChat
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsHangoutsChat'
      responses:
        '200':
          description: Create/Edit Hangouts Chat integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsHangoutsChat
  /api/v4/groups/{id}/integrations/harbor:
    put:
      summary: Create/Edit Harbor integration
      description: Set Harbor integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsHarbor
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsHarbor'
      responses:
        '200':
          description: Create/Edit Harbor integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsHarbor
  /api/v4/groups/{id}/integrations/irker:
    put:
      summary: Create/Edit Irker integration
      description: Set Irker integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsIrker
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsIrker'
      responses:
        '200':
          description: Create/Edit Irker integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsIrker
  /api/v4/groups/{id}/integrations/jenkins:
    put:
      summary: Create/Edit Jenkins integration
      description: Set Jenkins integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsJenkins
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsJenkins'
      responses:
        '200':
          description: Create/Edit Jenkins integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsJenkins
  /api/v4/groups/{id}/integrations/jira:
    put:
      summary: Create/Edit Jira integration
      description: Set Jira integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsJira
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsJira'
      responses:
        '200':
          description: Create/Edit Jira integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsJira
  /api/v4/groups/{id}/integrations/jira-cloud-app:
    put:
      summary: Create/Edit Jira Cloud App integration
      description: Set Jira Cloud App integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsJiraCloudApp
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsJiraCloudApp'
      responses:
        '200':
          description: Create/Edit Jira Cloud App integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsJiraCloudApp
  /api/v4/groups/{id}/integrations/linear:
    put:
      summary: Create/Edit Linear integration
      description: Set Linear integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsLinear
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsLinear'
      responses:
        '200':
          description: Create/Edit Linear integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsLinear
  /api/v4/groups/{id}/integrations/matrix:
    put:
      summary: Create/Edit Matrix integration
      description: Set Matrix integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsMatrix
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsMatrix'
      responses:
        '200':
          description: Create/Edit Matrix integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsMatrix
  /api/v4/groups/{id}/integrations/mattermost-slash-commands:
    put:
      summary: Create/Edit Mattermost Slash Commands integration
      description: Set Mattermost Slash Commands integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsMattermostSlashCommands
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsMattermostSlashCommands'
      responses:
        '200':
          description: Create/Edit Mattermost Slash Commands integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsMattermostSlashCommands
  /api/v4/groups/{id}/integrations/packagist:
    put:
      summary: Create/Edit Packagist integration
      description: Set Packagist integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsPackagist
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsPackagist'
      responses:
        '200':
          description: Create/Edit Packagist integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsPackagist
  /api/v4/groups/{id}/integrations/phorge:
    put:
      summary: Create/Edit Phorge integration
      description: Set Phorge integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsPhorge
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsPhorge'
      responses:
        '200':
          description: Create/Edit Phorge integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsPhorge
  /api/v4/groups/{id}/integrations/pipelines-email:
    put:
      summary: Create/Edit Pipelines Email integration
      description: Set Pipelines Email integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsPipelinesEmail
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsPipelinesEmail'
      responses:
        '200':
          description: Create/Edit Pipelines Email integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsPipelinesEmail
  /api/v4/groups/{id}/integrations/pivotaltracker:
    put:
      summary: Create/Edit Pivotaltracker integration
      description: Set Pivotaltracker integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsPivotaltracker
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsPivotaltracker'
      responses:
        '200':
          description: Create/Edit Pivotaltracker integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsPivotaltracker
  /api/v4/groups/{id}/integrations/pumble:
    put:
      summary: Create/Edit Pumble integration
      description: Set Pumble integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsPumble
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsPumble'
      responses:
        '200':
          description: Create/Edit Pumble integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsPumble
  /api/v4/groups/{id}/integrations/pushover:
    put:
      summary: Create/Edit Pushover integration
      description: Set Pushover integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsPushover
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsPushover'
      responses:
        '200':
          description: Create/Edit Pushover integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsPushover
  /api/v4/groups/{id}/integrations/redmine:
    put:
      summary: Create/Edit Redmine integration
      description: Set Redmine integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsRedmine
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsRedmine'
      responses:
        '200':
          description: Create/Edit Redmine integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsRedmine
  /api/v4/groups/{id}/integrations/ewm:
    put:
      summary: Create/Edit Ewm integration
      description: Set Ewm integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsEwm
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsEwm'
      responses:
        '200':
          description: Create/Edit Ewm integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsEwm
  /api/v4/groups/{id}/integrations/youtrack:
    put:
      summary: Create/Edit Youtrack integration
      description: Set Youtrack integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsYoutrack
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsYoutrack'
      responses:
        '200':
          description: Create/Edit Youtrack integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsYoutrack
  /api/v4/groups/{id}/integrations/clickup:
    put:
      summary: Create/Edit Clickup integration
      description: Set Clickup integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsClickup
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsClickup'
      responses:
        '200':
          description: Create/Edit Clickup integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsClickup
  /api/v4/groups/{id}/integrations/slack:
    put:
      summary: Create/Edit Slack integration
      description: Set Slack integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsSlack
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsSlack'
      responses:
        '200':
          description: Create/Edit Slack integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsSlack
  /api/v4/groups/{id}/integrations/microsoft-teams:
    put:
      summary: Create/Edit Microsoft Teams integration
      description: Set Microsoft Teams integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsMicrosoftTeams
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsMicrosoftTeams'
      responses:
        '200':
          description: Create/Edit Microsoft Teams integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsMicrosoftTeams
  /api/v4/groups/{id}/integrations/mattermost:
    put:
      summary: Create/Edit Mattermost integration
      description: Set Mattermost integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsMattermost
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsMattermost'
      responses:
        '200':
          description: Create/Edit Mattermost integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsMattermost
  /api/v4/groups/{id}/integrations/teamcity:
    put:
      summary: Create/Edit Teamcity integration
      description: Set Teamcity integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsTeamcity
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsTeamcity'
      responses:
        '200':
          description: Create/Edit Teamcity integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsTeamcity
  /api/v4/groups/{id}/integrations/telegram:
    put:
      summary: Create/Edit Telegram integration
      description: Set Telegram integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsTelegram
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsTelegram'
      responses:
        '200':
          description: Create/Edit Telegram integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsTelegram
  /api/v4/groups/{id}/integrations/unify-circuit:
    put:
      summary: Create/Edit Unify Circuit integration
      description: Set Unify Circuit integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsUnifyCircuit
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsUnifyCircuit'
      responses:
        '200':
          description: Create/Edit Unify Circuit integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsUnifyCircuit
  /api/v4/groups/{id}/integrations/webex-teams:
    put:
      summary: Create/Edit Webex Teams integration
      description: Set Webex Teams integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsWebexTeams
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsWebexTeams'
      responses:
        '200':
          description: Create/Edit Webex Teams integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsWebexTeams
  /api/v4/groups/{id}/integrations/zentao:
    put:
      summary: Create/Edit Zentao integration
      description: Set Zentao integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsZentao
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsZentao'
      responses:
        '200':
          description: Create/Edit Zentao integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsZentao
  /api/v4/groups/{id}/integrations/squash-tm:
    put:
      summary: Create/Edit Squash Tm integration
      description: Set Squash Tm integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsSquashTm
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsSquashTm'
      responses:
        '200':
          description: Create/Edit Squash Tm integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsSquashTm
  /api/v4/groups/{id}/integrations/github:
    put:
      summary: Create/Edit Github integration
      description: Set Github integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsGithub
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsGithub'
      responses:
        '200':
          description: Create/Edit Github integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsGithub
  /api/v4/groups/{id}/integrations/git-guardian:
    put:
      summary: Create/Edit Git Guardian integration
      description: Set Git Guardian integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsGitGuardian
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsGitGuardian'
      responses:
        '200':
          description: Create/Edit Git Guardian integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsGitGuardian
  /api/v4/groups/{id}/integrations/google-cloud-platform-artifact-registry:
    put:
      summary: Create/Edit Google Cloud Platform Artifact Registry integration
      description: Set Google Cloud Platform Artifact Registry integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsGoogleCloudPlatformArtifactRegistry
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsGoogleCloudPlatformArtifactRegistry'
      responses:
        '200':
          description: Create/Edit Google Cloud Platform Artifact Registry integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsGoogleCloudPlatformArtifactRegistry
  /api/v4/groups/{id}/integrations/google-cloud-platform-workload-identity-federation:
    put:
      summary: Create/Edit Google Cloud Platform Workload Identity Federation integration
      description: Set Google Cloud Platform Workload Identity Federation integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsGoogleCloudPlatformWorkloadIdentityFederation
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsGoogleCloudPlatformWorkloadIdentityFederation'
      responses:
        '200':
          description: Create/Edit Google Cloud Platform Workload Identity Federation integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsGoogleCloudPlatformWorkloadIdentityFederation
  /api/v4/groups/{id}/integrations/mock-ci:
    put:
      summary: Create/Edit Mock Ci integration
      description: Set Mock Ci integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsMockCi
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsMockCi'
      responses:
        '200':
          description: Create/Edit Mock Ci integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsMockCi
  /api/v4/groups/{id}/integrations/mock-monitoring:
    put:
      summary: Create/Edit Mock Monitoring integration
      description: Set Mock Monitoring integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdIntegrationsMockMonitoring
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdIntegrationsMockMonitoring'
      responses:
        '200':
          description: Create/Edit Mock Monitoring integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4GroupsIdIntegrationsMockMonitoring
  /api/v4/groups/{id}/integrations/{slug}:
    delete:
      summary: Disable an integration
      description: Disable the integration. Integration settings are preserved.
      produces:
      - application/json
      parameters:
      - in: path
        name: slug
        description: The name of the integration
        type: string
        enum:
        - apple-app-store
        - asana
        - assembla
        - bamboo
        - bugzilla
        - buildkite
        - campfire
        - confluence
        - custom-issue-tracker
        - datadog
        - diffblue-cover
        - discord
        - drone-ci
        - emails-on-push
        - external-wiki
        - gitlab-slack-application
        - google-play
        - hangouts-chat
        - harbor
        - irker
        - jenkins
        - jira
        - jira-cloud-app
        - linear
        - matrix
        - mattermost-slash-commands
        - packagist
        - phorge
        - pipelines-email
        - pivotaltracker
        - pumble
        - pushover
        - redmine
        - ewm
        - youtrack
        - clickup
        - slack
        - microsoft-teams
        - mattermost
        - teamcity
        - telegram
        - unify-circuit
        - webex-teams
        - zentao
        - squash-tm
        - github
        - git-guardian
        - google-cloud-platform-artifact-registry
        - google-cloud-platform-workload-identity-federation
        - mock-ci
        - mock-monitoring
        required: true
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '204':
          description: Disable an integration
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      tags:
      - integrations
      operationId: deleteApiV4GroupsIdIntegrationsSlug
    get:
      summary: Get an integration settings
      description: Get the integration settings.
      produces:
      - application/json
      parameters:
      - in: path
        name: slug
        description: The name of the integration
        type: string
        enum:
        - apple-app-store
        - asana
        - assembla
        - bamboo
        - bugzilla
        - buildkite
        - campfire
        - confluence
        - custom-issue-tracker
        - datadog
        - diffblue-cover
        - discord
        - drone-ci
        - emails-on-push
        - external-wiki
        - gitlab-slack-application
        - google-play
        - hangouts-chat
        - harbor
        - irker
        - jenkins
        - jira
        - jira-cloud-app
        - linear
        - matrix
        - mattermost-slash-commands
        - packagist
        - phorge
        - pipelines-email
        - pivotaltracker
        - pumble
        - pushover
        - redmine
        - ewm
        - youtrack
        - clickup
        - slack
        - microsoft-teams
        - mattermost
        - teamcity
        - telegram
        - unify-circuit
        - webex-teams
        - zentao
        - squash-tm
        - github
        - git-guardian
        - google-cloud-platform-artifact-registry
        - google-cloud-platform-workload-identity-federation
        - mock-ci
        - mock-monitoring
        required: true
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get an integration settings
          schema:
            $ref: '#/definitions/API_Entities_Integration'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
      tags:
      - integrations
      operationId: getApiV4GroupsIdIntegrationsSlug
  /api/v4/projects/{id}/services:
    get:
      summary: List all active integrations
      description: Get a list of all active integrations.
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: List all active integrations
          schema:
            type: array
            items:
              $ref: '#/definitions/API_Entities_IntegrationBasic'
        '401':
          description: Unauthorized
        '404':
          description: Not found
      tags:
      - integrations
      operationId: getApiV4ProjectsIdServices
  /api/v4/projects/{id}/services/apple-app-store:
    put:
      summary: Create/Edit Apple App Store integration
      description: Set Apple App Store integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesAppleAppStore
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesAppleAppStore'
      responses:
        '200':
          description: Create/Edit Apple App Store integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesAppleAppStore
  /api/v4/projects/{id}/services/asana:
    put:
      summary: Create/Edit Asana integration
      description: Set Asana integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesAsana
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesAsana'
      responses:
        '200':
          description: Create/Edit Asana integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesAsana
  /api/v4/projects/{id}/services/assembla:
    put:
      summary: Create/Edit Assembla integration
      description: Set Assembla integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesAssembla
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesAssembla'
      responses:
        '200':
          description: Create/Edit Assembla integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesAssembla
  /api/v4/projects/{id}/services/bamboo:
    put:
      summary: Create/Edit Bamboo integration
      description: Set Bamboo integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesBamboo
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesBamboo'
      responses:
        '200':
          description: Create/Edit Bamboo integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesBamboo
  /api/v4/projects/{id}/services/bugzilla:
    put:
      summary: Create/Edit Bugzilla integration
      description: Set Bugzilla integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesBugzilla
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesBugzilla'
      responses:
        '200':
          description: Create/Edit Bugzilla integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesBugzilla
  /api/v4/projects/{id}/services/buildkite:
    put:
      summary: Create/Edit Buildkite integration
      description: Set Buildkite integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesBuildkite
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesBuildkite'
      responses:
        '200':
          description: Create/Edit Buildkite integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesBuildkite
  /api/v4/projects/{id}/services/campfire:
    put:
      summary: Create/Edit Campfire integration
      description: Set Campfire integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesCampfire
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesCampfire'
      responses:
        '200':
          description: Create/Edit Campfire integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesCampfire
  /api/v4/projects/{id}/services/confluence:
    put:
      summary: Create/Edit Confluence integration
      description: Set Confluence integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesConfluence
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesConfluence'
      responses:
        '200':
          description: Create/Edit Confluence integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesConfluence
  /api/v4/projects/{id}/services/custom-issue-tracker:
    put:
      summary: Create/Edit Custom Issue Tracker integration
      description: Set Custom Issue Tracker integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesCustomIssueTracker
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesCustomIssueTracker'
      responses:
        '200':
          description: Create/Edit Custom Issue Tracker integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesCustomIssueTracker
  /api/v4/projects/{id}/services/datadog:
    put:
      summary: Create/Edit Datadog integration
      description: Set Datadog integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesDatadog
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesDatadog'
      responses:
        '200':
          description: Create/Edit Datadog integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesDatadog
  /api/v4/projects/{id}/services/diffblue-cover:
    put:
      summary: Create/Edit Diffblue Cover integration
      description: Set Diffblue Cover integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesDiffblueCover
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesDiffblueCover'
      responses:
        '200':
          description: Create/Edit Diffblue Cover integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesDiffblueCover
  /api/v4/projects/{id}/services/discord:
    put:
      summary: Create/Edit Discord integration
      description: Set Discord integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesDiscord
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesDiscord'
      responses:
        '200':
          description: Create/Edit Discord integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesDiscord
  /api/v4/projects/{id}/services/drone-ci:
    put:
      summary: Create/Edit Drone Ci integration
      description: Set Drone Ci integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesDroneCi
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesDroneCi'
      responses:
        '200':
          description: Create/Edit Drone Ci integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesDroneCi
  /api/v4/projects/{id}/services/emails-on-push:
    put:
      summary: Create/Edit Emails On Push integration
      description: Set Emails On Push integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesEmailsOnPush
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesEmailsOnPush'
      responses:
        '200':
          description: Create/Edit Emails On Push integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesEmailsOnPush
  /api/v4/projects/{id}/services/external-wiki:
    put:
      summary: Create/Edit External Wiki integration
      description: Set External Wiki integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesExternalWiki
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesExternalWiki'
      responses:
        '200':
          description: Create/Edit External Wiki integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesExternalWiki
  /api/v4/projects/{id}/services/gitlab-slack-application:
    put:
      summary: Create/Edit Gitlab Slack Application integration
      description: Set Gitlab Slack Application integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesGitlabSlackApplication
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesGitlabSlackApplication'
      responses:
        '200':
          description: Create/Edit Gitlab Slack Application integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesGitlabSlackApplication
  /api/v4/projects/{id}/services/google-play:
    put:
      summary: Create/Edit Google Play integration
      description: Set Google Play integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesGooglePlay
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesGooglePlay'
      responses:
        '200':
          description: Create/Edit Google Play integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesGooglePlay
  /api/v4/projects/{id}/services/hangouts-chat:
    put:
      summary: Create/Edit Hangouts Chat integration
      description: Set Hangouts Chat integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesHangoutsChat
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesHangoutsChat'
      responses:
        '200':
          description: Create/Edit Hangouts Chat integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesHangoutsChat
  /api/v4/projects/{id}/services/harbor:
    put:
      summary: Create/Edit Harbor integration
      description: Set Harbor integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesHarbor
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesHarbor'
      responses:
        '200':
          description: Create/Edit Harbor integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesHarbor
  /api/v4/projects/{id}/services/irker:
    put:
      summary: Create/Edit Irker integration
      description: Set Irker integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesIrker
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesIrker'
      responses:
        '200':
          description: Create/Edit Irker integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesIrker
  /api/v4/projects/{id}/services/jenkins:
    put:
      summary: Create/Edit Jenkins integration
      description: Set Jenkins integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesJenkins
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesJenkins'
      responses:
        '200':
          description: Create/Edit Jenkins integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesJenkins
  /api/v4/projects/{id}/services/jira:
    put:
      summary: Create/Edit Jira integration
      description: Set Jira integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesJira
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesJira'
      responses:
        '200':
          description: Create/Edit Jira integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesJira
  /api/v4/projects/{id}/services/jira-cloud-app:
    put:
      summary: Create/Edit Jira Cloud App integration
      description: Set Jira Cloud App integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesJiraCloudApp
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesJiraCloudApp'
      responses:
        '200':
          description: Create/Edit Jira Cloud App integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesJiraCloudApp
  /api/v4/projects/{id}/services/linear:
    put:
      summary: Create/Edit Linear integration
      description: Set Linear integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesLinear
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesLinear'
      responses:
        '200':
          description: Create/Edit Linear integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesLinear
  /api/v4/projects/{id}/services/matrix:
    put:
      summary: Create/Edit Matrix integration
      description: Set Matrix integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesMatrix
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesMatrix'
      responses:
        '200':
          description: Create/Edit Matrix integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesMatrix
  /api/v4/projects/{id}/services/mattermost-slash-commands:
    put:
      summary: Create/Edit Mattermost Slash Commands integration
      description: Set Mattermost Slash Commands integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesMattermostSlashCommands
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesMattermostSlashCommands'
      responses:
        '200':
          description: Create/Edit Mattermost Slash Commands integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesMattermostSlashCommands
  /api/v4/projects/{id}/services/packagist:
    put:
      summary: Create/Edit Packagist integration
      description: Set Packagist integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesPackagist
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesPackagist'
      responses:
        '200':
          description: Create/Edit Packagist integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesPackagist
  /api/v4/projects/{id}/services/phorge:
    put:
      summary: Create/Edit Phorge integration
      description: Set Phorge integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesPhorge
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesPhorge'
      responses:
        '200':
          description: Create/Edit Phorge integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesPhorge
  /api/v4/projects/{id}/services/pipelines-email:
    put:
      summary: Create/Edit Pipelines Email integration
      description: Set Pipelines Email integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesPipelinesEmail
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesPipelinesEmail'
      responses:
        '200':
          description: Create/Edit Pipelines Email integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesPipelinesEmail
  /api/v4/projects/{id}/services/pivotaltracker:
    put:
      summary: Create/Edit Pivotaltracker integration
      description: Set Pivotaltracker integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesPivotaltracker
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesPivotaltracker'
      responses:
        '200':
          description: Create/Edit Pivotaltracker integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesPivotaltracker
  /api/v4/projects/{id}/services/pumble:
    put:
      summary: Create/Edit Pumble integration
      description: Set Pumble integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesPumble
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesPumble'
      responses:
        '200':
          description: Create/Edit Pumble integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesPumble
  /api/v4/projects/{id}/services/pushover:
    put:
      summary: Create/Edit Pushover integration
      description: Set Pushover integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesPushover
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesPushover'
      responses:
        '200':
          description: Create/Edit Pushover integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesPushover
  /api/v4/projects/{id}/services/redmine:
    put:
      summary: Create/Edit Redmine integration
      description: Set Redmine integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesRedmine
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesRedmine'
      responses:
        '200':
          description: Create/Edit Redmine integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesRedmine
  /api/v4/projects/{id}/services/ewm:
    put:
      summary: Create/Edit Ewm integration
      description: Set Ewm integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesEwm
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesEwm'
      responses:
        '200':
          description: Create/Edit Ewm integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesEwm
  /api/v4/projects/{id}/services/youtrack:
    put:
      summary: Create/Edit Youtrack integration
      description: Set Youtrack integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesYoutrack
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesYoutrack'
      responses:
        '200':
          description: Create/Edit Youtrack integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesYoutrack
  /api/v4/projects/{id}/services/clickup:
    put:
      summary: Create/Edit Clickup integration
      description: Set Clickup integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesClickup
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesClickup'
      responses:
        '200':
          description: Create/Edit Clickup integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesClickup
  /api/v4/projects/{id}/services/slack:
    put:
      summary: Create/Edit Slack integration
      description: Set Slack integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesSlack
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesSlack'
      responses:
        '200':
          description: Create/Edit Slack integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesSlack
  /api/v4/projects/{id}/services/microsoft-teams:
    put:
      summary: Create/Edit Microsoft Teams integration
      description: Set Microsoft Teams integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesMicrosoftTeams
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesMicrosoftTeams'
      responses:
        '200':
          description: Create/Edit Microsoft Teams integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesMicrosoftTeams
  /api/v4/projects/{id}/services/mattermost:
    put:
      summary: Create/Edit Mattermost integration
      description: Set Mattermost integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesMattermost
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesMattermost'
      responses:
        '200':
          description: Create/Edit Mattermost integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesMattermost
  /api/v4/projects/{id}/services/teamcity:
    put:
      summary: Create/Edit Teamcity integration
      description: Set Teamcity integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesTeamcity
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesTeamcity'
      responses:
        '200':
          description: Create/Edit Teamcity integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesTeamcity
  /api/v4/projects/{id}/services/telegram:
    put:
      summary: Create/Edit Telegram integration
      description: Set Telegram integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesTelegram
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesTelegram'
      responses:
        '200':
          description: Create/Edit Telegram integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesTelegram
  /api/v4/projects/{id}/services/unify-circuit:
    put:
      summary: Create/Edit Unify Circuit integration
      description: Set Unify Circuit integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesUnifyCircuit
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesUnifyCircuit'
      responses:
        '200':
          description: Create/Edit Unify Circuit integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesUnifyCircuit
  /api/v4/projects/{id}/services/webex-teams:
    put:
      summary: Create/Edit Webex Teams integration
      description: Set Webex Teams integration.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdServicesWebexTeams
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdServicesWebexTeams'
      responses:
        '200':
          description: Create/Edit Webex Teams integration
          schema:
            $ref: '#/definitions/API_Entities_IntegrationBasic'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Not found
        '422':
          description: Unprocessable entity
      tags:
      - integrations
      operationId: putApiV4ProjectsIdServicesWebexTeams
  /api/v4/projects/{id}/services/zentao:
    put:
      summary: Create/Edit Zentao integration
[...]
