openapi: 3.2.0
info:
  title: GitLab access_requests Unleash API
  version: v4
  description: Operations related to access requests
servers:
- url: https://gitlab.com
tags:
- name: unleash
  description: Operations about unleashes
paths:
  /api/v4/feature_flags/unleash/{project_id}:
    get:
      description: Get Unleash features
      parameters:
      - in: path
        name: project_id
        description: The ID of a project
        required: true
        schema:
          type: string
      - in: query
        name: instance_id
        description: The instance ID of Unleash Client
        required: false
        schema:
          type: string
      - in: query
        name: app_name
        description: The application name of Unleash Client
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Get Unleash features
      tags:
      - unleash
      operationId: getApiV4FeatureFlagsUnleashProjectId
  /api/v4/feature_flags/unleash/{project_id}/features:
    get:
      summary: Get a list of features (v2 client support)
      description: Deprecated in GitLab 15.6
      parameters:
      - in: path
        name: project_id
        description: The ID of a project
        required: true
        schema:
          type: string
      - in: query
        name: instance_id
        description: The instance ID of Unleash Client
        required: false
        schema:
          type: string
      - in: query
        name: app_name
        description: The application name of Unleash Client
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Get a list of features (v2 client support)
      tags:
      - unleash
      operationId: getApiV4FeatureFlagsUnleashProjectIdFeatures
      deprecated: true
  /api/v4/feature_flags/unleash/{project_id}/client/features:
    get:
      description: Get a list of features
      parameters:
      - in: path
        name: project_id
        description: The ID of a project
        required: true
        schema:
          type: string
      - in: query
        name: instance_id
        description: The instance ID of Unleash Client
        required: false
        schema:
          type: string
      - in: query
        name: app_name
        description: The application name of Unleash Client
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Get a list of features
      tags:
      - unleash
      operationId: getApiV4FeatureFlagsUnleashProjectIdClientFeatures
  /api/v4/feature_flags/unleash/{project_id}/client/register:
    post:
      description: Register Unleash client
      parameters:
      - in: path
        name: project_id
        description: The ID of a project
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Register Unleash client
      tags:
      - unleash
      operationId: postApiV4FeatureFlagsUnleashProjectIdClientRegister
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4FeatureFlagsUnleashProjectIdClientRegister'
        required: true
  /api/v4/feature_flags/unleash/{project_id}/client/metrics:
    post:
      description: Report Unleash client metrics
      parameters:
      - in: path
        name: project_id
        description: The ID of a project
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Report Unleash client metrics
      tags:
      - unleash
      operationId: postApiV4FeatureFlagsUnleashProjectIdClientMetrics
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4FeatureFlagsUnleashProjectIdClientMetrics'
        required: true
components:
  schemas:
    postApiV4FeatureFlagsUnleashProjectIdClientMetrics:
      type: object
      properties:
        instance_id:
          type: string
          description: The instance ID of Unleash Client
        app_name:
          type: string
          description: The application name of Unleash Client
      description: Report Unleash client metrics
    postApiV4FeatureFlagsUnleashProjectIdClientRegister:
      type: object
      properties:
        instance_id:
          type: string
          description: The instance ID of Unleash Client
        app_name:
          type: string
          description: The application name of Unleash Client
      description: Register Unleash client
  securitySchemes:
    access_token_header:
      type: apiKey
      name: PRIVATE-TOKEN
      in: header
    access_token_query:
      type: apiKey
      name: private_token
      in: query
