swagger: '2.0'
info:
  title: GitLab access_requests unleash API
  version: v4
  description: Operations related to access requests
host: gitlab.com
produces:
- application/json
tags:
- name: unleash
  description: Operations about unleashes
paths:
  /api/v4/feature_flags/unleash/{project_id}:
    get:
      description: Get Unleash features
      produces:
      - application/json
      parameters:
      - in: path
        name: project_id
        description: The ID of a project
        type: string
        required: true
      - in: query
        name: instance_id
        description: The instance ID of Unleash Client
        type: string
        required: false
      - in: query
        name: app_name
        description: The application name of Unleash Client
        type: string
        required: false
      responses:
        '200':
          description: Get Unleash features
      tags:
      - unleash
      operationId: getApiV4FeatureFlagsUnleashProjectId
  /api/v4/feature_flags/unleash/{project_id}/features:
    get:
      summary: Get a list of features (v2 client support)
      description: Deprecated in GitLab 15.6
      produces:
      - application/json
      parameters:
      - in: path
        name: project_id
        description: The ID of a project
        type: string
        required: true
      - in: query
        name: instance_id
        description: The instance ID of Unleash Client
        type: string
        required: false
      - in: query
        name: app_name
        description: The application name of Unleash Client
        type: string
        required: false
      responses:
        '200':
          description: Get a list of features (v2 client support)
      tags:
      - unleash
      operationId: getApiV4FeatureFlagsUnleashProjectIdFeatures
      deprecated: true
  /api/v4/feature_flags/unleash/{project_id}/client/features:
    get:
      description: Get a list of features
      produces:
      - application/json
      parameters:
      - in: path
        name: project_id
        description: The ID of a project
        type: string
        required: true
      - in: query
        name: instance_id
        description: The instance ID of Unleash Client
        type: string
        required: false
      - in: query
        name: app_name
        description: The application name of Unleash Client
        type: string
        required: false
      responses:
        '200':
          description: Get a list of features
      tags:
      - unleash
      operationId: getApiV4FeatureFlagsUnleashProjectIdClientFeatures
  /api/v4/feature_flags/unleash/{project_id}/client/register:
    post:
      description: Register Unleash client
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: project_id
        description: The ID of a project
        type: string
        required: true
      - name: postApiV4FeatureFlagsUnleashProjectIdClientRegister
        in: body
        required: true
        schema:
          $ref: '#/definitions/postApiV4FeatureFlagsUnleashProjectIdClientRegister'
      responses:
        '201':
          description: Register Unleash client
      tags:
      - unleash
      operationId: postApiV4FeatureFlagsUnleashProjectIdClientRegister
  /api/v4/feature_flags/unleash/{project_id}/client/metrics:
    post:
      description: Report Unleash client metrics
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: project_id
        description: The ID of a project
        type: string
        required: true
      - name: postApiV4FeatureFlagsUnleashProjectIdClientMetrics
        in: body
        required: true
        schema:
          $ref: '#/definitions/postApiV4FeatureFlagsUnleashProjectIdClientMetrics'
      responses:
        '201':
          description: Report Unleash client metrics
      tags:
      - unleash
      operationId: postApiV4FeatureFlagsUnleashProjectIdClientMetrics
definitions:
  postApiV4FeatureFlagsUnleashProjectIdClientMetrics:
    type: object
    properties:
      instance_id:
        type: string
        description: The instance ID of Unleash Client
      app_name:
        type: string
        description: The application name of Unleash Client
    description: Report Unleash client metrics
  postApiV4FeatureFlagsUnleashProjectIdClientRegister:
    type: object
    properties:
      instance_id:
        type: string
        description: The instance ID of Unleash Client
      app_name:
        type: string
        description: The application name of Unleash Client
    description: Register Unleash client
securityDefinitions:
  access_token_header:
    type: apiKey
    name: PRIVATE-TOKEN
    in: header
  access_token_query:
    type: apiKey
    name: private_token
    in: query
