openapi: 3.2.0
info:
  title: GitLab access_requests Search API
  version: v4
  description: Operations related to access requests
servers:
- url: https://gitlab.com
tags:
- name: search
  description: Operations about searches
paths:
  /api/v4/groups/{id}/(-/)search:
    get:
      summary: Search on GitLab within a group
      description: This feature was introduced in GitLab 10.5.
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the group
        required: true
        schema:
          type: string
      - in: query
        name: search
        description: The expression it should be searched for
        required: true
        schema:
          type: string
      - in: query
        name: scope
        description: The scope of the search
        required: true
        schema:
          type: string
          enum:
          - wiki_blobs
          - blobs
          - commits
          - notes
          - projects
          - issues
          - work_items
          - merge_requests
          - milestones
          - users
      - in: query
        name: state
        description: Filter results by state
        required: false
        schema:
          type: string
          enum:
          - all
          - opened
          - closed
          - merged
      - in: query
        name: confidential
        description: Filter results by confidentiality
        required: false
        schema:
          type: boolean
      - in: query
        name: type
        description: 'Filter work items by type. Only applies to work_items scope. Available types: issue, task, epic, incident, test_case, requirement, objective, key_result, ticket.'
        required: false
        schema:
          type: array
          items:
            type: string
      - in: query
        name: include_archived
        description: Includes archived projects in the search. Introduced in GitLab 18.9.
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: fields
        description: Array of fields you wish to search. Available with advanced search.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - title
      - in: query
        name: exclude_forks
        description: Excludes forked projects in the search. Available with exact code search. Introduced in GitLab 18.9.
        required: false
        schema:
          type: boolean
      - in: query
        name: num_context_lines
        description: Number of context lines around each match. Available with advanced and exact code search. Introduced in GitLab 18.11.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 20
          minimum: 0
      - in: query
        name: regex
        description: Performs a regex code search. Available with exact code search. Introduced in GitLab 18.9
        required: false
        schema:
          type: boolean
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: Search on GitLab within a group
      tags:
      - search
      operationId: getApiV4GroupsId(-)search
  /api/v4/projects/{id}/(-/)search:
    get:
      summary: Search on GitLab within a project
      description: This feature was introduced in GitLab 10.5.
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: query
        name: search
        description: The expression it should be searched for
        required: true
        schema:
          type: string
      - in: query
        name: scope
        description: The scope of the search
        required: true
        schema:
          type: string
          enum:
          - issues
          - work_items
          - merge_requests
          - milestones
          - notes
          - wiki_blobs
          - commits
          - blobs
          - users
      - in: query
        name: ref
        description: The name of a repository branch or tag. If not given, the default branch is used
        required: false
        schema:
          type: string
      - in: query
        name: state
        description: Filter results by state
        required: false
        schema:
          type: string
          enum:
          - all
          - opened
          - closed
          - merged
      - in: query
        name: confidential
        description: Filter results by confidentiality
        required: false
        schema:
          type: boolean
      - in: query
        name: type
        description: 'Filter work items by type. Only applies to work_items scope. Available types: issue, task, epic, incident, test_case, requirement, objective, key_result, ticket.'
        required: false
        schema:
          type: array
          items:
            type: string
      - in: query
        name: fields
        description: Array of fields you wish to search. Available with advanced search.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - title
      - in: query
        name: num_context_lines
        description: Number of context lines around each match. Available with advanced and exact code search. Introduced in GitLab 18.11.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 20
          minimum: 0
      - in: query
        name: regex
        description: Performs a regex code search. Available with exact code search. Introduced in GitLab 18.9
        required: false
        schema:
          type: boolean
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: Search on GitLab within a project
      tags:
      - search
      operationId: getApiV4ProjectsId(-)search
  /api/v4/search:
    get:
      summary: Search on GitLab
      description: This feature was introduced in GitLab 10.5.
      parameters:
      - in: query
        name: search
        description: The expression it should be searched for
        required: true
        schema:
          type: string
      - in: query
        name: scope
        description: The scope of the search
        required: true
        schema:
          type: string
          enum:
          - wiki_blobs
          - blobs
          - commits
          - notes
          - projects
          - issues
          - work_items
          - merge_requests
          - milestones
          - snippet_titles
          - users
      - in: query
        name: state
        description: Filter results by state
        required: false
        schema:
          type: string
          enum:
          - all
          - opened
          - closed
          - merged
      - in: query
        name: confidential
        description: Filter results by confidentiality
        required: false
        schema:
          type: boolean
      - in: query
        name: type
        description: 'Filter work items by type. Only applies to work_items scope. Available types: issue, task, epic, incident, test_case, requirement, objective, key_result, ticket.'
        required: false
        schema:
          type: array
          items:
            type: string
      - in: query
        name: include_archived
        description: Includes archived projects in the search. Introduced in GitLab 18.9.
        required: false
        schema:
          type: boolean
          default: false
      - in: query
        name: fields
        description: Array of fields you wish to search. Available with advanced search.
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - title
      - in: query
        name: exclude_forks
        description: Excludes forked projects in the search. Available with exact code search. Introduced in GitLab 18.9.
        required: false
        schema:
          type: boolean
      - in: query
        name: num_context_lines
        description: Number of context lines around each match. Available with advanced and exact code search. Introduced in GitLab 18.11.
        required: false
        schema:
          type: integer
          format: int32
          maximum: 20
          minimum: 0
      - in: query
        name: regex
        description: Performs a regex code search. Available with exact code search. Introduced in GitLab 18.9
        required: false
        schema:
          type: boolean
      - in: query
        name: page
        description: Current page number
        required: false
        example: 1
        schema:
          type: integer
          format: int32
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        required: false
        example: 20
        schema:
          type: integer
          format: int32
          default: 20
      responses:
        '200':
          description: Search on GitLab
      tags:
      - search
      operationId: getApiV4Search
components:
  securitySchemes:
    access_token_header:
      type: apiKey
      name: PRIVATE-TOKEN
      in: header
    access_token_query:
      type: apiKey
      name: private_token
      in: query
