openapi: 3.2.0
info:
  title: GitLab access_requests Database Dictionary API
  version: v4
  description: Operations related to access requests
servers:
- url: https://gitlab.com
tags:
- name: database_dictionary
  description: Operations about database_dictionaries
paths:
  /api/v4/admin/databases/{database_name}/dictionary/tables/{table_name}:
    get:
      description: Retrieve dictionary details
      parameters:
      - in: path
        name: database_name
        description: The database name
        required: true
        schema:
          type: string
          enum:
          - main
          - ci
      - in: path
        name: table_name
        description: The table name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Retrieve dictionary details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Dictionary_Table'
        '401':
          description: 401 Unauthorized
        '403':
          description: 403 Forbidden
        '404':
          description: 404 Not found
      tags:
      - database_dictionary
      operationId: getApiV4AdminDatabasesDatabaseNameDictionaryTablesTableName
  /api/v4/databases/{database_name}/dictionary/tables:
    get:
      summary: List dictionary tables
      description: Returns database dictionary tables filtered by database and optional table size
      parameters:
      - in: path
        name: database_name
        description: The database name
        required: true
        schema:
          type: string
          enum:
          - main
          - ci
          - sec
          - embedding
          - geo
      - in: query
        name: table_size
        description: Filter by table size classification
        required: false
        schema:
          type: string
          enum:
          - small
          - medium
          - large
          - over_limit
      responses:
        '200':
          description: List dictionary tables
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API_Entities_Dictionary_Table'
        '401':
          description: 401 Unauthorized
        '403':
          description: 403 Forbidden
      tags:
      - database_dictionary
      operationId: getApiV4DatabasesDatabaseNameDictionaryTables
components:
  schemas:
    API_Entities_Dictionary_Table:
      type: object
      properties:
        table_name:
          type: string
          example: users
        feature_categories:
          type: array
          items:
            type: string
          example:
          - database
        table_size:
          type: string
          example: small
      required:
      - table_name
      - feature_categories
      - table_size
      description: API_Entities_Dictionary_Table model
  securitySchemes:
    access_token_header:
      type: apiKey
      name: PRIVATE-TOKEN
      in: header
    access_token_query:
      type: apiKey
      name: private_token
      in: query
