swagger: '2.0'
info:
  title: GitLab access_requests custom_attributes API
  version: v4
  description: Operations related to access requests
host: gitlab.com
produces:
- application/json
tags:
- name: custom_attributes
  description: Operations about custom_attributes
paths:
  /api/v4/groups/{id}/custom_attributes:
    get:
      description: Get all custom attributes on a group
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get all custom attributes on a group
          schema:
            $ref: '#/definitions/API_Entities_CustomAttribute'
      tags:
      - custom_attributes
      operationId: getApiV4GroupsIdCustomAttributes
  /api/v4/groups/{id}/custom_attributes/{key}:
    get:
      description: Get a custom attribute on a group
      produces:
      - application/json
      parameters:
      - in: path
        name: key
        description: The key of the custom attribute
        type: string
        required: true
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get a custom attribute on a group
          schema:
            $ref: '#/definitions/API_Entities_CustomAttribute'
      tags:
      - custom_attributes
      operationId: getApiV4GroupsIdCustomAttributesKey
    put:
      description: Set a custom attribute on a group
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: key
        description: The key of the custom attribute
        type: string
        required: true
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4GroupsIdCustomAttributesKey
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4GroupsIdCustomAttributesKey'
      responses:
        '200':
          description: Set a custom attribute on a group
          schema:
            $ref: '#/definitions/API_Entities_CustomAttribute'
      tags:
      - custom_attributes
      operationId: putApiV4GroupsIdCustomAttributesKey
    delete:
      description: Delete a custom attribute on a group
      produces:
      - application/json
      parameters:
      - in: path
        name: key
        description: The key of the custom attribute
        type: string
        required: true
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '204':
          description: Delete a custom attribute on a group
      tags:
      - custom_attributes
      operationId: deleteApiV4GroupsIdCustomAttributesKey
  /api/v4/projects/{id}/custom_attributes:
    get:
      description: Get all custom attributes on a project
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get all custom attributes on a project
          schema:
            $ref: '#/definitions/API_Entities_CustomAttribute'
      tags:
      - custom_attributes
      operationId: getApiV4ProjectsIdCustomAttributes
  /api/v4/projects/{id}/custom_attributes/{key}:
    get:
      description: Get a custom attribute on a project
      produces:
      - application/json
      parameters:
      - in: path
        name: key
        description: The key of the custom attribute
        type: string
        required: true
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '200':
          description: Get a custom attribute on a project
          schema:
            $ref: '#/definitions/API_Entities_CustomAttribute'
      tags:
      - custom_attributes
      operationId: getApiV4ProjectsIdCustomAttributesKey
    put:
      description: Set a custom attribute on a project
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - in: path
        name: key
        description: The key of the custom attribute
        type: string
        required: true
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      - name: putApiV4ProjectsIdCustomAttributesKey
        in: body
        required: true
        schema:
          $ref: '#/definitions/putApiV4ProjectsIdCustomAttributesKey'
      responses:
        '200':
          description: Set a custom attribute on a project
          schema:
            $ref: '#/definitions/API_Entities_CustomAttribute'
      tags:
      - custom_attributes
      operationId: putApiV4ProjectsIdCustomAttributesKey
    delete:
      description: Delete a custom attribute on a project
      produces:
      - application/json
      parameters:
      - in: path
        name: key
        description: The key of the custom attribute
        type: string
        required: true
      - in: path
        name: id
        type: integer
        format: int32
        required: true
      responses:
        '204':
          description: Delete a custom attribute on a project
      tags:
      - custom_attributes
      operationId: deleteApiV4ProjectsIdCustomAttributesKey
definitions:
  putApiV4ProjectsIdCustomAttributesKey:
    type: object
    properties:
      value:
        type: string
        description: The value of the custom attribute
    required:
    - value
    description: Set a custom attribute on a project
  putApiV4GroupsIdCustomAttributesKey:
    type: object
    properties:
      value:
        type: string
        description: The value of the custom attribute
    required:
    - value
    description: Set a custom attribute on a group
  API_Entities_CustomAttribute:
    type: object
    properties:
      key:
        type: string
        example: foo
      value:
        type: string
        example: bar
    required:
    - key
    - value
    description: API_Entities_CustomAttribute model
securityDefinitions:
  access_token_header:
    type: apiKey
    name: PRIVATE-TOKEN
    in: header
  access_token_query:
    type: apiKey
    name: private_token
    in: query
