openapi: 3.2.0
info:
  title: GitLab access_requests Pypi Packages API
  version: v4
  description: Operations related to access requests
servers:
- url: https://gitlab.com
tags:
- name: pypi_packages
  description: Operations related to PyPI packages
paths:
  /api/v4/groups/{id}/-/packages/pypi/files/{sha256}/*file_identifier:
    get:
      summary: Download a package file from a group
      description: This feature was introduced in GitLab 13.12
      parameters:
      - in: path
        name: id
        description: The ID or full path of the group.
        required: true
        schema:
          type: integer
          format: int32
      - in: query
        name: file_identifier
        description: The PyPi package file identifier
        required: true
        example: my.pypi.package-0.0.1.tar.gz
        schema:
          type: string
      - in: path
        name: sha256
        description: The PyPi package sha256 check sum
        required: true
        example: 5y57017232013c8ac80647f4ca153k3726f6cba62d055cd747844ed95b3c65ff
        schema:
          type: string
      responses:
        '200':
          description: Download a package file from a group
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - pypi_packages
      operationId: getApiV4GroupsIdPackagesPypiFilesSha256*fileIdentifier
components:
  securitySchemes:
    access_token_header:
      type: apiKey
      name: PRIVATE-TOKEN
      in: header
    access_token_query:
      type: apiKey
      name: private_token
      in: query
