swagger: '2.0'
info:
  title: GitLab access_requests markdown API
  version: v4
  description: Operations related to access requests
host: gitlab.com
produces:
- application/json
tags:
- name: markdown
  description: Operations about markdowns
paths:
  /api/v4/markdown:
    post:
      summary: Render an arbitrary Markdown document
      description: This feature was introduced in GitLab 11.0.
      produces:
      - application/json
      consumes:
      - application/json
      parameters:
      - name: postApiV4Markdown
        in: body
        required: true
        schema:
          $ref: '#/definitions/postApiV4Markdown'
      responses:
        '201':
          description: Render an arbitrary Markdown document
          schema:
            $ref: '#/definitions/API_Entities_Markdown'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
      tags:
      - markdown
      operationId: postApiV4Markdown
definitions:
  postApiV4Markdown:
    type: object
    properties:
      text:
        type: string
        description: The Markdown text to render
      gfm:
        type: boolean
        description: Render text using GitLab Flavored Markdown. Default is false
      project:
        type: string
        description: Use project as a context when creating references using GitLab Flavored Markdown
    required:
    - text
    description: Render an arbitrary Markdown document
  API_Entities_Markdown:
    type: object
    properties:
      html:
        type: string
        example: <p dir=\"auto\">Hello world!</p>"
    required:
    - html
    description: API_Entities_Markdown model
securityDefinitions:
  access_token_header:
    type: apiKey
    name: PRIVATE-TOKEN
    in: header
  access_token_query:
    type: apiKey
    name: private_token
    in: query
