openapi: 3.2.0
info:
  title: GitLab access_requests Organizations API
  version: v4
  description: Operations related to access requests
servers:
- url: https://gitlab.com
tags:
- name: organizations
  description: Operations about organizations
paths:
  /api/v4/organizations:
    post:
      summary: Create an organization
      description: "This feature was introduced in GitLab 17.5. \\\n                    This feature is behind the `allow_organization_creation` feature flag. \\\n                    In GitLab 18.3, feature flag changed to `organization_switching`."
      responses:
        '201':
          description: Create an organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/API_Entities_Organizations_Organization'
      tags:
      - organizations
      operationId: postApiV4Organizations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postApiV4Organizations'
        required: true
components:
  schemas:
    postApiV4Organizations:
      type: object
      properties:
        name:
          type: string
          description: The name of the organization
        path:
          type: string
          description: The path of the organization
        description:
          type: string
          description: The description of the organization
        avatar:
          type: string
          description: The avatar image for the organization
          format: binary
      required:
      - name
      - path
      description: Create an organization
    API_Entities_Organizations_Organization:
      type: object
      properties:
        id:
          type: integer
          format: int32
          example: 1
        name:
          type: string
          example: GitLab
        path:
          type: string
          example: gitlab
        description:
          type: string
          example: My description
        created_at:
          type: string
          format: date-time
          example: '2022-02-24T20:22:30.097Z'
        updated_at:
          type: string
          format: date-time
          example: '2022-02-24T20:22:30.097Z'
        web_url:
          type: string
          example: https://example.com/o/gitlab/-/overview
        avatar_url:
          type: string
          example: https://example.com/uploads/-/system/organizations/organization_detail/avatar/1/avatar.png
      required:
      - id
      - name
      - path
      - description
      - created_at
      - updated_at
      - web_url
      - avatar_url
      description: API_Entities_Organizations_Organization model
  securitySchemes:
    access_token_header:
      type: apiKey
      name: PRIVATE-TOKEN
      in: header
    access_token_query:
      type: apiKey
      name: private_token
      in: query
