openapi: 3.2.0
info:
  title: GitLab access_requests Ml Model Registry API
  version: v4
  description: Operations related to access requests
servers:
- url: https://gitlab.com
tags:
- name: ml_model_registry
  description: Operations related to Model registry
paths:
  /api/v4/projects/{id}/packages/ml_models/{model_version_id}/files/(*path/){file_name}/authorize:
    put:
      summary: Workhorse authorize model package file
      description: Introduced in GitLab 16.8
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: file_name
        description: File name
        required: true
        schema:
          type: string
      - in: path
        name: model_version_id
        description: Model version id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Workhorse authorize model package file
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - ml_model_registry
      operationId: putApiV4ProjectsIdPackagesMlModelsModelVersionIdFiles(*path)FileNameAuthorize
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdPackagesMlModelsModelVersionIdFiles__path_FileNameAuthorize'
        required: true
  /api/v4/projects/{id}/packages/ml_models/{model_version_id}/files/(*path/){file_name}:
    put:
      summary: Workhorse upload model package file
      description: Introduced in GitLab 16.8
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: file_name
        description: File name
        required: true
        schema:
          type: string
      - in: path
        name: model_version_id
        description: Model version id
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Workhorse upload model package file
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - ml_model_registry
      operationId: putApiV4ProjectsIdPackagesMlModelsModelVersionIdFiles(*path)FileName
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/putApiV4ProjectsIdPackagesMlModelsModelVersionIdFiles__path_FileName'
        required: true
    get:
      summary: Download an ml_model package file
      description: This feature was introduced in GitLab 16.8
      parameters:
      - in: path
        name: id
        description: The ID or URL-encoded path of the project
        required: true
        schema:
          type: string
      - in: path
        name: file_name
        description: File name
        required: true
        schema:
          type: string
      - in: query
        name: path
        description: File directory path
        required: false
        schema:
          type: string
      - in: query
        name: status
        description: Package status
        required: false
        schema:
          type: string
          enum:
          - default
          - hidden
      - in: path
        name: model_version_id
        description: Model version id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Download an ml_model package file
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
      - ml_model_registry
      operationId: getApiV4ProjectsIdPackagesMlModelsModelVersionIdFiles(*path)FileName
components:
  schemas:
    putApiV4ProjectsIdPackagesMlModelsModelVersionIdFiles__path_FileName:
      type: object
      properties:
        path:
          type: string
          description: File directory path
        status:
          type: string
          description: Package status
          enum:
          - default
          - hidden
        file:
          type: string
          description: The package file to be published (generated by Multipart middleware)
          format: binary
      required:
      - file
      description: Workhorse upload model package file
    putApiV4ProjectsIdPackagesMlModelsModelVersionIdFiles__path_FileNameAuthorize:
      type: object
      properties:
        path:
          type: string
          description: File directory path
        status:
          type: string
          description: Package status
          enum:
          - default
          - hidden
      description: Workhorse authorize model package file
  securitySchemes:
    access_token_header:
      type: apiKey
      name: PRIVATE-TOKEN
      in: header
    access_token_query:
      type: apiKey
      name: private_token
      in: query
